<!-- Alert Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
  </button>
</div>
<div class="modal-body">
  <p class="txt">{{data.title}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="submit()">OK</button>
</div>
<!-- /Alert Modal -->