<label for="inputAddress3"><strong>Send to</strong></label>
<div class="modalTag">
    <ul class="cf">
        <li *ngFor="let selectedTag_1 of selectedTags_1;"><span>{{ selectedTag_1.IsHandle == true ? selectedTag_1.Name : '' }}</span> <span (click)="removeTag(selectedTag_1.TagId)"> x</span></li>
    </ul>
    <input #searchTagHandle type="text" name="" class="form-control" >
    <ul class="list-group custom-list" *ngIf="tags_1?.length > 0">
        <li class="list-group-item change-cursor" *ngFor="let tag_1 of tags_1; let i = index;" (click)="pushTags(i)">
            {{ tag_1.Name }}
        </li>
    </ul>
</div>