.custom-list {
    position: absolute;
    width: 93%;
    z-index: 99;
    background-color: #fff;
}
.change-cursor {
    cursor: pointer;
}

.list-group.custom-list{
    position: absolute;
    width: auto;
    z-index: 99;
    background-color: #fff;
    border: 1px solid #ccc;
    left: 16px;
    right: 16px;
    overflow: auto;
    max-height: 140px;
    li.list-group-item{
        margin: 5px 5px 0;
        width: auto;
        display: block;
        border: 1px solid #dcdcdc;
        font-weight: bold;
    }
}