<ul ngbNav #nav="ngbNav" class="nav-tabs vrplay" (navChange)="onNavChange($event)">
    <!-- <span class="closeBtn"></span> -->
    <li [ngbNavItem]="1">
        <a ngbNavLink>All Topics</a>
        <ng-template ngbNavContent>
            <app-play-list></app-play-list>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Joined Topics</a>
        <ng-template ngbNavContent>
            <app-play-list></app-play-list>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>Your Topics</a>
        <ng-template ngbNavContent>
            <app-play-list></app-play-list>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class=""></div>


<ng-template #contentJoinNow let-modal>
    <section class="popup bs-join-now-modal-lg">
        <div class="modal-header pt-3">
            <div class="modal-title" id="myModalLabel">
                <label class="title-lbl">Join Topic</label>
                <h5>Crazy Cranberry Vodka Recipes</h5>
            </div><!-- modal-title End//-->
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-0">
            <div class="btm-border mb-3"></div>
            <form class="join-form">
                <h5 class="modal-title-txt">Upload Your Content</h5>
                <div class="form-group">
                    <label for="">Content Title</label>
                    <input type="text" class="form-control" id="" placeholder="Peanut Butter & Jelly Shots">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea type="text" class="form-control" id="" placeholder="Description"></textarea>
                </div>
                <div class="fileUpload mb-3">
                    <label for="">Upload yor file</label>

                    <div class="uploadblock">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 px-4 mb-4 mb-lg-0">
                                <h3>Drag and drop your file here</h3>
                                <button class="tapUpload">Tap to upload</button>
                                <div class="or">or</div>
                                <div class="row align-items-center">
                                    <div class="col-2 pr-0">
                                        <img src="../../assets/img/yt.png" alt="">
                                    </div>
                                    <div class="col-10 pl-0">
                                        <div class="form-group m-0">
                                            <input type="text" class="pasteHere form-control" id=""
                                                placeholder="Paste link here">
                                        </div>
                                    </div>
                                </div>
                                <div class="or">or</div>
                                <div class="row align-items-center">
                                    <div class="col-2 pr-0">
                                        <img src="../../assets/img/fb.png" alt="">
                                    </div>
                                    <div class="col-10 pl-0">
                                        <div class="form-group m-0">
                                            <input type="text" class="pasteHere form-control" id=""
                                                placeholder="Paste link here">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="previewBox">
                                    <span>Preview here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mt-3">
                    <button class="btn-join-now">Save</button>
                    <button class="btn-join-submit ml-4">Submit</button>
                </div>
            </form>
        </div>
    </section>
</ng-template>

<ng-template #contentContentSubmit let-modal>
    <section class="popup bs-challenge-modal-lg">
        <div class="modal-header">
            <div class="modal-title" id="myModalLabel">
                <h2 class="box-title">Congratulation your content has been submitted</h2>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-frame">
                <div class="video-dtl-frame">
                    <h4 class="vid-ttl">Blue Shark attack Vodka</h4>
                    <p class="vid-dsc">PINK SHARK ATTACK 1 oz.(30 ml) watermelon Vodka 1 oz. (30 ml) Watermelon
                        Pucker Splash of Sour Mix Top with 7-up Dashes of Grenadine Watermelon</p>
                </div>
                <div class="video-container">
                    <!-- <img src="https://i.ndtvimg.com/i/2015-04/cocktails_625x350_61427970371.jpg" alt="dummy Video Img"
                        class="dummy-img" /> -->
                    <video controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div><!-- video-frame End// -->
            </div><!-- Video Frame End// -->
            <div class="social-share-frame">
                <label class="lbl">Share and make it public</label>
                <p class="social-icons">
                    <span class="scl-icon twitter"></span>
                    <span class="scl-icon facebook"></span>
                </p>
            </div><!-- social-share-frame End// -->
        </div>
    </section>
</ng-template>

<ng-template #contentRules let-modal>
    <section class="popup bs-rules-modal-lg">
        <div class="modal-header">
            <div class="modal-title" id="myModalLabel">
                <h2 class="box-title">Rules</h2>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="rules-listing-frame">
                <ol class="rl-list">
                    <li>Lorem Ipsum dolor sit ameut, consectetur adisciping elit</li>
                    <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
                    <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                </ol>
            </div><!-- rules-listing-frame End// -->
        </div>
    </section>
</ng-template>

<ng-template #contentPointRules let-modal>
    <section class="popup bs-rules02-modal-lg">
        <div class="modal-header">
            <div class="modal-title" id="myModalLabel">
                <h2 class="box-title">Rules</h2>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-0">
            <div class="rules-listing-frame">
                <h5>Actions in PLAY that earn points include</h5>
                <ol class="rl-list">
                    <li>25 pts (for posting a Topic)</li>
                    <li>100 pts (for winning a Topic)</li>
                </ol>
                <h5>Special notes include</h5>
                <ol class="rl-list-alpha">
                    <li>Points total can be diabled in the system (ranking and awards can not)</li>
                    <li>Points can be left on in the system but PRIZE STORE could be disabled </li>
                    <li>Prizes are CREATED/Uploaded by the trainer or admin</li>
                    <li>A prize library should be new with each PLAYLIST/traning OR you reuse an existing prize library.
                    </li>
                </ol>
            </div><!-- rules-listing-frame End// -->
        </div>
    </section>
</ng-template>

<ng-template #contentChallengeConfirm let-modal>
    <section class="popup bs-challenge-modal-lg">
        <div class="modal-header">
            <div class="modal-title" id="myModalLabel">
                <h2 class="box-title">Congratulation your content has been submitted</h2>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-frame">
                <div class="video-dtl-frame">
                    <h4 class="vid-ttl">Crazy Cranberry Vodka Recipes</h4>
                    <p class="vid-dsc">What are your ideas for Christmas themed cocktails using peppermint?</p>
                </div>
                <div class="video-container">
                    <!-- <img src="https://i.ndtvimg.com/i/2015-04/cocktails_625x350_61427970371.jpg" alt="dummy Video Img"
                    class="dummy-img" /> -->
                    <video controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div><!-- video-frame End// -->
                <div class="chalange-end-frame">
                    <div class="chalange-dtl-col">
                        <label class="lbl">Topic Ends on</label>
                        <strong class="date">24 January, 2020 at 5 pm</strong>
                    </div>
                </div>
            </div>

            <div class="social-share-frame">
                <label class="lbl">Share your content</label>
                <p class="social-icons">
                    <span class="scl-icon twitter"></span>
                    <span class="scl-icon facebook"></span>
                    <button class="shareBrodcast w-auto">Share in Brodcast folder</button>
                </p>
            </div><!-- social-share-frame End// -->
        </div>
    </section>
</ng-template>


<ng-template #contentStartContest let-modal>
    <section class="popup bs-join-now-modal-lg">
        <div class="modal-header pt-3">
            <div class="modal-title" id="myModalLabel">
                <h5>Start Topic</h5>
            </div><!-- modal-title End//-->
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-0">
            <form class="join-form">
                <div class="form-group">
                    <label for="">Content Title</label>
                    <input type="text" class="form-control" id="" placeholder="Peanut Butter & Jelly Shots">
                </div>
                <div class="form-group">
                    <label for="">Description Text (Topic description)</label>
                    <textarea type="text" class="form-control" id="" placeholder="Description"></textarea>
                </div>
                <div class="fileUpload mb-3">
                    <label for="">Upload yor content (You can upload up to 5 mins video) </label>

                    <div class="uploadblock">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 px-4 mb-4 mb-lg-0">
                                <h3>Drag and drop your file here</h3>
                                <button class="tapUpload">Tap to upload</button>
                                <div class="or">or</div>
                                <div class="row align-items-center">
                                    <div class="col-2 pr-0">
                                        <img src="../../assets/img/yt.png" alt="">
                                    </div>
                                    <div class="col-10 pl-0">
                                        <div class="form-group m-0">
                                            <input type="text" class="pasteHere form-control" id=""
                                                placeholder="Paste link here">
                                        </div>
                                    </div>
                                </div>
                                <div class="or">or</div>
                                <div class="row align-items-center">
                                    <div class="col-2 pr-0">
                                        <img src="../../assets/img/fb.png" alt="">
                                    </div>
                                    <div class="col-10 pl-0">
                                        <div class="form-group m-0">
                                            <input type="text" class="pasteHere form-control" id=""
                                                placeholder="Paste link here">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="previewBox">
                                    <span>Preview here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-6 col-md-12 rulesForGame">
                        <label for="">Type rules for the topic</label>
                        <p>You can type rules for your topic</p>
                        <textarea class="form-control">

                            </textarea>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label for="">Tags</label>
                        <p>The tags will help you to reach your audience</p>
                        <div class="tagsBlock">
                            <div class="tagRow">
                                <span>#Tag <i class="fa fa-close"></i></span>
                                <span>#Tag <i class="fa fa-close"></i></span>
                                <span>#Tag <i class="fa fa-close"></i></span>
                                <span>#Tag <i class="fa fa-close"></i></span>
                            </div>
                            <div class="addTag">
                                <div class="row">
                                    <div class="col-9 pr-0">
                                        <div class="form-group m-0">
                                            <input type="text" class="form-control" id="" placeholder="Add Tag">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button class="add">+ Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="row calenderBlock">
                            <div class="col-md-6">
                                <label for="exampleInputEmail1">Start Date</label>
                                <div class="date">
                                    <input type="text" class="form-control" placeholder="DDMMYYYY">
                                    <span class="clIcon"></span>
                                </div>
                            </div>
                            <div class="col-md-6 date">
                                <label for="exampleInputEmail1">End Date</label>
                                <div class="date">
                                    <input type="text" class="form-control" placeholder="DDMMYYYY">
                                    <span class="clIcon "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button class="btn-join-submit w-auto px-3">Submit Topic</button>
                </div>
            </form>
        </div>
    </section>
</ng-template>
<!-- <span (click)="openStartContModal(contentStartContest)">open</span> -->