.loginCover {padding: 50px 50px 80px;min-height: calc(100vh - 53px);display: flex;position: relative;z-index: 1;background-size: cover;font-family: 'Noto Sans', sans-serif;}
[data-slides] {background-image: url(/assets/img/login-bg-min.jpg);}
.loginCover .loginWrap {padding: 10px;margin: 10px auto}
// .loginCover .loginWrap .inputCol {margin: 0 0 50px;}
.loginCover .loginWrap .btn-grn {background: #8DC640;border: 2px solid #8DC640;text-align: center;font-weight: 700 !important;color: #fff;border-radius: 0 !important;font-weight: normal;font-size: 18px;}
// .loginCover .loginWrap .btn-grn:hover {background: #74b7c7;}
.loginCover .loginWrap .whiteBg {background: #fff;max-width: 593px;padding: 60px 100px;}
.loginCover .loginWrap .whiteBg p {margin: 0;}
.loginCover .loginWrap .whiteBg .sprtr {text-align: center;padding-bottom: 30px;font-size: 21px;color: #aaaaaa;font-weight: 400;}
.loginCover .loginWrap .whiteBg .socialLogin {margin: 60px 0 25px;}
.loginCover .loginWrap .whiteBg .socialLogin.text-col {margin: 0;font-size: 13px;}
.loginCover .loginWrap .whiteBg .socialLogin button.btn {border-radius: 0px !important;border: 2px solid;margin: 0 0 20px;border-width: 3px;position: relative;font-weight: 400;font-size: 21px;padding: 16px 18px;}
.loginCover .loginWrap .whiteBg .socialLogin .btn-outline-primary {color: #385ba2;border-color: #385ba2;}
.loginCover .loginWrap .whiteBg .socialLogin .btn-outline-primary:hover {color: #fff;background: #5d80c7;}
.loginCover .loginWrap .whiteBg .socialLogin p {line-height: 1rem;}
.loginCover .loginWrap .whiteBg .socialLogin a {color: #1E95D3;text-decoration: none; font-weight: 700;}
.loginCover .loginWrap .whiteBg .socialLogin a:hover {text-decoration: none;}
.loginCover .loginWrap .whiteBg .socialLogin button:first-child{border: 0;background-color: #3b65b9; color: #fff;}
.loginCover .loginWrap .whiteBg .socialLogin button:nth-child(2){border: 1px solid #ccc;color: #000;}
.loginCover .loginWrap .whiteBg .socialLogin button:first-child i,.loginCover .loginWrap .whiteBg .socialLogin button:nth-child(2) img{font-size: 40px; position: absolute;left: 20px;top: 50%;transform: translateY(-50%);}
.loginCover .loginWrap .whiteBg .socialLogin button:nth-child(2) img{left: 15px; width: 40px;}
.loginCover .loginWrap .custom-control-label {vertical-align: middle;}
.loginCover .loginWrap .custom-control-label:before {width: 18px;height: 18px;border: #8DC640 solid 2px;top: 1px; border-radius: 0;}
.loginCover .loginWrap .custom-control-label:after {width: 18px;height: 18px;top: 0px;}
.custom-control-input:checked ~ .custom-control-label::before{background-color: #8DC640;border-color: #8DC640;}
.custom-control-input:focus ~ .custom-control-label::before{box-shadow: none;}
.loginCover .loginWrap .checkCol {margin-bottom: 20px;}
.loginCover .loginWrap .checkCol .custom-control-label{font-size: 14px;color: #656565;}
.loginCover .loginWrap .checkCol a {font-size: 14px;color: #1E95D3;font-weight: 700;text-decoration: none;}
.loginCover .loginWrap .checkCol .custom-control-label {padding-left: 4px;}
.f-facebook{background: url(/assets/img/sprite.png);background-position:-17px -24px;width: 10px;height: 18px; }
.f-google{background: url(/assets/img/sprite.png);background-position: -39px -27px;width: 15px;height: 15px;}
.show-pswd {position: absolute;right: 30px; width: 70px; text-align: center; font-size: 14px; font-weight: 700; color: #727272; text-decoration: underline; top: 12px; cursor: pointer;}
.whiteBg a img.logo-img{
    display: block;
}
.whiteBg a img.logo-landscape{
    max-width: 100%;
    display: none;
}
.passwordWrap.wrap{
    margin-bottom: 14px;
}
.donthaveAccount{
    padding-top: 10px;
    padding-bottom: 10px;
}
.donthaveAccount a{
    margin-left: 8px;
}
@media screen and (max-width: 1365px){
    .loginCover .loginWrap .whiteBg .socialLogin button.btn,
    .loginCover .loginWrap .whiteBg .sprtr,
    .control{
        font-size: 15px;
    }
    .loginCover .loginWrap .whiteBg .sprtr{
        padding-bottom: 0;
    }
    .loginCover .loginWrap .whiteBg{
        padding: 45px 65px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin button:first-child i{
        font-size: 30px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin button:nth-child(2) img{
        width: 30px;
    }
    .wrap{
        margin-bottom: 15px;
    }
    .loginCover .loginWrap .btn-grn{
        font-size: 17px;
    }
}
@media screen and (max-width: 765px){
    .loginCover .loginWrap .whiteBg .socialLogin button.btn{
        padding: 12px 18px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin button.btn,
    .loginCover .loginWrap .whiteBg .sprtr,
    .control{
        font-size: 14px;
    }
    .loginCover .loginWrap .whiteBg{
        padding: 30px 50px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin button:first-child i{
        font-size: 20px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin button:nth-child(2) img{
        width: 20px;
    }
    .wrap{
        margin-bottom: 10px;
    }
    .loginCover .loginWrap .btn-grn{
        font-size: 16px;
        padding: 5px 0;
    }
    .loginCover .loginWrap .whiteBg .socialLogin{
        margin: 45px 0 10px;
    }
    .loginCover .loginWrap .whiteBg .sprtr{
        padding: 0;
    }
    .loginCover .loginWrap .whiteBg .inputCol{
        margin-top: 20px;
    }
    .loginCover .loginWrap .whiteBg .socialLogin.text-col{
        font-size: 12px;
    }
    .show-pswd{width: 50px; font-size: 12px; right: 20px;}
}
@media screen and (max-width: 680px){
    .donthaveAccount a{
        margin-left: 0px;
    }
}
@media only screen 
  and (min-device-width: 768px)
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
    .whiteBg a img.logo-img{
        display: none;
    }
    .whiteBg a img.logo-landscape{
    display: block;
    }
}
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) {
    .whiteBg a img.logo-img{
        display: none;
    }
    .whiteBg a img.logo-landscape{
        display: block;
    }
  }

  @media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 767px) 
  and (orientation: landscape) {
    .whiteBg a img.logo-img{
        display: none;
    }
    .whiteBg a img.logo-landscape{
        display: block;
    }
  }