
<div class="loginCover" data-slides>
    <div class="loginWrap">
      <div class="whiteBg">
        <a routerLink="/home">
          <img src="assets/img/logo-2.png" alt="logo" class="logo-img">
          <img src="assets/img/logo_vbx_big.svg" alt="logo-heading" class="logo-landscape">
        </a>
        <div class="socialLogin">
          <button type="button" class="btn btn-lg btn-block">
            <i class="fab fa-facebook-f"></i>
            <span>Continue with Facebook</span>
            
          </button>

          <button type="button" class="btn btn-lg btn-block" (click)="signInWithGoogle()">
            <img src="assets/img/google-logo.png" alt="">
            <span>Continue with Google</span>
            
          </button>
        </div>
        <p class="sprtr">or</p>
        <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value);">
          <div class="inputCol">
            <div class="wrap">
              <input type="text" class="control" placeholder="User Name/Handle Name" [formControl]="loginForm.controls['Email']" />
              <!-- <span class="floating-label">User Name</span> -->
              <div *ngFor="let messages of validationMessages.Email">
                  <small class="text-danger" *ngIf="(loginForm.controls['Email'].touched || loginForm.controls['Email'].dirty) && loginForm.controls['Email'].invalid && loginForm.controls['Email'].errors[messages.type]" >{{messages.message}}</small>
              </div>
            </div>
            <div class="wrap passwordWrap">
              <input type="{{inputType}}" class="control" placeholder="Password" [formControl]="loginForm.controls['Password']" />
              <!-- <span class="floating-label">Password</span> -->
              <span class="show-pswd" *ngIf="showPass == true" (click)="showHidePass()">Hide</span>
              <span class="show-pswd" *ngIf="showPass == false"  (click)="showHidePass()">show</span>
              <div *ngFor="let messages of validationMessages.Password">
                <small class="text-danger" *ngIf="messages.type == 'required' && (loginForm.controls['Password'].touched || loginForm.controls['Password'].dirty) && loginForm.controls['Password'].invalid && loginForm.controls['Password'].errors[messages.type]" >{{messages.message}}</small>
              </div>
            </div>
          </div>
        
          <div class="row checkCol">
           <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" [formControl]="loginForm.controls['RememberMe']" >
              <label class="custom-control-label mr-0" for="customCheck1">Keep me signed in</label>
            </div>
           </div>
            <div class="col-md-6 text-md-right mt-2 mt-md-0">
              <p>
                <a routerLink="/forgotpassword">Forgot Password?</a>
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-grn btn-lg btn-block">
            <span>Sign In</span>
          </button>
        </form>
         
          <div class="d-flex socialLogin align-items-center  text-col donthaveAccount">
            <p>Don't have an account?</p>
            <a (click)="signUp()">Sign Up</a>
          </div>
          <div class="d-flex socialLogin align-items-center  text-col donthaveAccount pt-0 ">
              <p>Need Help?</p>
              <a href="mailto:helpme@virtualbrandworks.com">helpme@virtualbrandworks.com</a>            
          </div>
      </div>
    </div>
  </div>