<div class="addQues">
    <div class="modal-header pb-0 px-4">
        <h5 class="modal-title">Add Question</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span class="closeBtn"></span>
        </button>
    </div>
    <div class="modal-body pt-0 px-4">
        <p class="subText">You can add up to 4 option to this question</p>

        <form #f="ngForm" [formGroup]="addQuestionForm" (ngSubmit)="submit(addQuestionForm.value);">
        <div class="form-group">
            <label for="">Type Question</label>
            <textarea class="form-control" id="" rows="3"
                [formControl]="addQuestionForm.controls['Question']" (value)="lastQuestion.Question.Question"></textarea>
            <div *ngFor="let messages of validationMessages.Question">
                <small class="text-danger"
                    *ngIf="(addQuestionForm.controls['Question'].touched || addQuestionForm.controls['Question'].dirty) && addQuestionForm.controls['Question'].invalid && addQuestionForm.controls['Question'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Type your answer options <span>(Select right option)</span></label>

            <div class="quesBlock">
                <div class="innerQue">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                            [formControl]="addQuestionForm.controls['IsRightAnswer']" value="1">
                        <label class="custom-control-label" for="customRadio1">
                            <span>A.</span>
                        </label>
                    </div>
                    <textarea name="" id="" placeholder="Type here" [formControl]="addQuestionForm.controls['Answer1']"></textarea>
                </div>
                <div *ngFor="let messages of validationMessages.Answer1">
                    <small class="text-danger"
                        *ngIf="(addQuestionForm.controls['Answer1'].touched || addQuestionForm.controls['Answer1'].dirty) && addQuestionForm.controls['Answer1'].invalid && addQuestionForm.controls['Answer1'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="innerQue">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                            [formControl]="addQuestionForm.controls['IsRightAnswer']" value="2">
                        <label class="custom-control-label" for="customRadio2">
                            <span>B.</span>
                        </label>
                    </div>
                    <textarea name="" id="" placeholder="Type here" [formControl]="addQuestionForm.controls['Answer2']"></textarea>
                </div>
                <div *ngFor="let messages of validationMessages.Answer2">
                    <small class="text-danger"
                        *ngIf="(addQuestionForm.controls['Answer2'].touched || addQuestionForm.controls['Answer2'].dirty) && addQuestionForm.controls['Answer2'].invalid && addQuestionForm.controls['Answer2'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="innerQue">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input"
                            [formControl]="addQuestionForm.controls['IsRightAnswer']" value="3">
                        <label class="custom-control-label" for="customRadio3">
                            <span>C.</span>
                        </label>
                    </div>
                    <textarea name="" id="" placeholder="Type here"
                        [formControl]="addQuestionForm.controls['Answer3']"></textarea>
                </div>
                <div *ngFor="let messages of validationMessages.Answer3">
                    <small class="text-danger"
                        *ngIf="(addQuestionForm.controls['Answer3'].touched || addQuestionForm.controls['Answer3'].dirty) && addQuestionForm.controls['Answer3'].invalid && addQuestionForm.controls['Answer3'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="innerQue">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input"
                            [formControl]="addQuestionForm.controls['IsRightAnswer']" value="4">
                        <label class="custom-control-label" for="customRadio4">
                            <span>D.</span>
                        </label>
                    </div>
                    <textarea name="" id="" placeholder="Type here"
                        [formControl]="addQuestionForm.controls['Answer4']"></textarea>
                </div>
                <div *ngFor="let messages of validationMessages.Answer4">
                    <small class="text-danger"
                        *ngIf="(addQuestionForm.controls['Answer4'].touched || addQuestionForm.controls['Answer4'].dirty) && addQuestionForm.controls['Answer4'].invalid && addQuestionForm.controls['Answer4'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div *ngFor="let messages of validationMessages.IsRightAnswer" class="margin-bottom">
                <small class="text-danger"
                    *ngIf="(addQuestionForm.controls['IsRightAnswer'].touched || addQuestionForm.controls['IsRightAnswer'].dirty) && addQuestionForm.controls['IsRightAnswer'].invalid && addQuestionForm.controls['IsRightAnswer'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
            <button class="btn btn-outline-secondary" type="submit">Preview</button>
        </div>
        </form>

        <div class="questEditBlock mt-4" *ngIf="lastQuestion">
            <span class="edit" (click)="update()">Edit</span>
            <h5>{{ lastQuestion.Question.Question }}</h5>
            <div class="row">
                <div class="col-md-6">
                    <p>A. {{ lastQuestion.Answers[0].Answer }}</p>
                </div>
                <div class="col-md-6">
                    <p>B. {{ lastQuestion.Answers[1].Answer }}</p>
                </div>
                <div class="col-md-6">
                    <p>C. {{ lastQuestion.Answers[2].Answer }}</p>
                </div>
                <div class="col-md-6">
                    <p> D. {{ lastQuestion.Answers[3].Answer }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer d-flex justify-content-between px-4">
        <button type="button" class="btn btn-primary" (click)="addNew()">+ Save and Add More</button>
        <button type="button" class="btn btn-success" (click)="uploadQuestions()" [disabled]="sendData?.length == 0">Done</button>
    </div>
</div>