<div class="tabList nav nav-tabs" id="nav-tab" role="tablist">
	<a [ngClass]="{'active': tabType == 'trainer'}" (click)="selectedTab('trainer')" *ngIf="loggedInUserRole == 'Admin'">Trainer</a>
	<a [ngClass]="{'active': tabType == 'user'}"(click)="selectedTab('user')">User</a>
	<a [ngClass]="{'active': tabType == 'all'}" (click)="selectedTab('all')" *ngIf="loggedInUserRole == 'Admin'">All</a>
</div>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150" (scrolled)="onScroll()"[alwaysCallback]="true">
	<div class="tab-content">
		<!-- /Tab User -->
		<div [ngClass]="{'tabUser': tabType == 'user', 'tabAll': tabType == 'trainer' || tabType == 'all'}">
			<div class="userCol">
				<div class="form-inline">
					<input #searchLoc class="form-control mr-sm-4 cust-field w320 searchIco" type="search" [ngModel]="searchUser" placeholder="Search" aria-label="Search"> 
					<label for="">Sort by :</label>
					<select class="custom-select cust-field ml-sm-2 w170" [(ngModel)]="sortDefaultValue" (change)="sortUserList($event.target.value)">
						<option *ngFor="let sortArr of sortByKey;" [value]="sortArr.value" [selected] = "sortArr.value === sortDefaultValue">
							{{sortArr.name}}
						</option>
					</select>
				</div>
				<p class="addMore" data-toggle="modal" (click)="addUser()" *ngIf="loggedInUserRole == 'Admin'">+ Add {{tabType == 'trainer' ? 'Trainer' : 'User'}}</p> 
				<p class="addMore" data-toggle="modal" (click)="addUser()" *ngIf="loggedInUserRole == 'Trainer' && tabType == 'user'">+ Add User</p> 
			</div>
			<!-- <p *ngIf="getUserData.length == 0">No Users found</p> -->
			<div class="listCol" [ngClass]="{'active': selectedIndex == i}" *ngFor="let userData of getUserData; let i=index">
				
				<div class="userCol">
					<div class="userDeatil" (click)="userProfile(userData)">
						<img alt="user profile" [src]="userData.ProfilePicture ? userData.ProfilePicture : '../../assets/img/img4-680x560.jpg'">
						<div>
							<h2>{{userData.FirstName}} {{userData.LastName}}</h2>
							<p>{{userData.Email}} / {{userData.HandleName}} </p> 
						</div>
					</div>
					
					<div class="d-flex">
						<div class="d-flex">
							<span>Role</span>
							<select class="custom-select cust-field ml-sm-2 w130" *ngIf="currentUserRoleId == 2" #selectedVal [ngModel]="userData.RoleId" (change)="changeUserRole($event.target.value, userData, selectedVal)">
								<option *ngFor="let user of userRole;" [value]="user.roleId" [selected] = "user.roleId == userData.RoleId">
									{{user.title}}
								</option>
							</select>
							<h4 *ngIf="currentUserRoleId != 2">
								<span *ngIf="userData.RoleId == 3">: Trainer</span>
								<span *ngIf="userData.RoleId == 4">: User</span>
							</h4>
						</div>

						<div class="d-flex">
							<span>Status</span>
							<label *ngIf="currentUserRoleId == 2" class="switch">
								<input type="checkbox" [checked]="userData.Status" (change)="changeUserStatus($event.target.checked, userData, i)">
								<span class="slider"></span>
							</label>
							<h4 *ngIf="currentUserRoleId != 2">
								<span *ngIf="userData.Status">: Active</span>
								<span *ngIf="!userData.Status">: Inactive</span>
							</h4>
						</div>
					</div>
				</div>

				<div class="userInfo">
					<div class="info contact">
						<p>Contact</p>
						<h3>{{userData.ContactNo}}</h3>
					</div>
					<div class="info handle">
						<p>User Handle</p>
						<h3>{{userData.HandleName}}</h3>
					</div>
					<div class="info location">
						<p>Location</p>
						<h3>{{userData.Location}}</h3>
					</div>
					<div class="info student" *ngIf="userData.RoleId == 3">
						<p>Total Student</p>
						<h3>{{userData.TotalStudent}}</h3>
					</div>
					<div class="info team" *ngIf="userData.RoleId == 3">
						<p>Total Team</p>
						<h3>{{userData.TotalTeam}}</h3>
					</div>
					<!-- <div class="info plyList">
						<p>Assigned Playlist</p>
						<h3>{{userData.AssignedPlayList}}</h3>
					</div> -->
				</div>
			</div>

		</div>
		<!-- /Tab User -->
	</div>
</div>