<div class="tabWrapper">
	<div ngbNav #nav="ngbNav" class="tabList nav nav-tabs" [(activeId)]="activeId" (navChange)="onNavChange($event)">

		<span [ngbNavItem]="1">
			<a ngbNavLink>Playlist Details</a>
			<ng-template ngbNavContent>
				<div class="dashbordArea">
                    <div class="tabSection tab-content">
                        <app-playlist-detail-view [playlistDetail]="playlistDetail"></app-playlist-detail-view>
                    </div>    
                    <app-top-performer></app-top-performer>
                </div>
			</ng-template>
		</span>

		<span [ngbNavItem]="2" *ngIf="loggedInUserRole == 'Admin' || loggedInUserRole == 'Trainer'">
			<a ngbNavLink>Associated Users and Teams</a>
			<ng-template ngbNavContent>
				<div class="tab-content">
					<app-my-playlist-associated-users-teams ></app-my-playlist-associated-users-teams>
				</div>
			</ng-template>
        </span> 
        
        <span [ngbNavItem]="loggedInUserRole == 'User' ? 2 : 3">
			<a ngbNavLink>Message</a>
			<ng-template ngbNavContent>
				<div class="tab-content">
				<app-chat-message></app-chat-message>
			</div>
			</ng-template>
        </span>
        <span class="closeBtn" (click)="close()"></span>  
	</div>

	<div [ngbNavOutlet]="nav" class="tabSection minMrin tab-content playListWrap"></div>
</div>
