<!-- modal image -->

<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true" class="closeBtn" (click)="close()"></span>
	</button>
</div>

<div class="modal-body">
	<div class="crop" [ngClass]="{'change-crop': !inputData.profileImage}">
		<input type="file" (change)="fileChangeEvent($event)" />
		<image-cropper
		[imageChangedEvent]="imageChangedEvent"
		[roundCropper]="inputData.profileImage"
		[maintainAspectRatio]="inputData.profileImage" 
		[containWithinAspectRatio]="inputData.profileImage"
		[aspectRatio]="1 / 1"
		format="png"
		(imageCropped)="imageCropped($event)"
		(imageLoaded)="imageLoaded()"
		(cropperReady)="cropperReady()"
		[cropperMinWidth]="100"
		[cropperMinHeight]="100"
		(loadImageFailed)="loadImageFailed()">
		</image-cropper>
	</div>
	
	<div [ngClass]="{'cropResult': inputData.profileImage, 'center-align': !inputData.profileImage}">
		<img [src]="croppedImage" />
	</div>
</div>

<div class="modal-footer justify-content-center">
	<button type="button" class="btn btn-primary" [disabled]="!croppedImage" (click)="submit()">Save changes</button>
</div>
<!-- modal image -->