.modal-dialog.w925{max-width: 925px;}
label{font-size: 13px;font-weight: bold;}
.form-control{font-size: 14px;}
// .modalTag li{width: auto;min-width: 114px;margin:2px;}
.borderDbox{
    border:2px dashed #afc6c6;align-items: center;min-height: 200px;display: flex;justify-content: center;flex-direction: column;
    p{margin: 2px 0;font-size: 14px;font-weight: bold;}
    
}
.modalTag.p12 .text-danger{
    padding-left: 15px;
}
.mt-10{margin-top: 15px;}
.modalTag.p12{
    padding: 12px;
}

.modalTag.nolines{border:none;padding: 0;}
// 
.modal-footer.btnFooter{
    display: flex;justify-content: space-between;flex-wrap:wrap;
    .btn-primary{
        margin-right: 5px;
    }
    .midBtn{align-items: center;display: flex;
    label{
        font-weight: normal;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        }
    }
    .custom-control-label::before {
        border: 2px solid #ccc;
        height: 23px;
        width: 23px;
        top:0;
    }
    .custom-control-label::after {
        height: 23px;
        width: 23px;
        background-position: 40% 15%;
        background-size: 60%;
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        background-color:#5ca375;
        border-color:#5ca375;
    }
}

.modal-body.textBdy{
    h4{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    p{
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .adMore{
        min-width: 100%;
        flex: 1;
    }
}

@media (max-width: 575px) {
    .modalTag.p12 .col-sm-7{margin-bottom: 15px;}
}
.fileInput { display: none;}