<!-- modal create content-->
<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Create Content</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #f="ngForm" [formGroup]="createContentForm" (ngSubmit)="create(createContentForm.value);">
<div class="modal-body">

        <div class="form-group">
            <label for="inputAddress">Content Title</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Content Title" [formControl]="createContentForm.controls['Name']">
            <div *ngFor="let messages of validationMessages.Name">
                <small class="text-danger"
                    *ngIf="(createContentForm.controls['Name'].touched || createContentForm.controls['Name'].dirty) && createContentForm.controls['Name'].invalid && createContentForm.controls['Name'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>
    

        <div class="form-row" *ngIf="!playlistFolderId">
            <div class="form-group col-md-4">
                <label for="inputCity">Folder</label>
                <select id="inputState" class="form-control custom-select" [formControl]="createContentForm.controls['FolderId']" (change)="checkOther($event.target.value)">
                    <option *ngFor="let folder of folders;" [value]="folder.FolderId">{{ folder.Name }}</option>
                    <option value="0">Other</option>
                </select>
                <div *ngFor="let messages of validationMessages.FolderId">
                    <small class="text-danger"
                        *ngIf="(createContentForm.controls['FolderId'].touched || createContentForm.controls['FolderId'].dirty) && createContentForm.controls['FolderId'].invalid && createContentForm.controls['FolderId'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Other (Create New Folder)</label>
                <input type="text" class="form-control" id="inputZip" placeholder="" [readonly]="!enableOtherFolderName" [formControl]="createContentForm.controls['FolderName']">
                <div *ngFor="let messages of validationMessages.FolderName">
                    <small class="text-danger"
                        *ngIf="(createContentForm.controls['FolderName'].touched || createContentForm.controls['FolderName'].dirty) && createContentForm.controls['FolderName'].invalid && createContentForm.controls['FolderName'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputZip">Element Short Name (two letters only eg:EL)</label>
                <input type="text" class="form-control" id="inputZip" placeholder="" [readonly]="!enableOtherFolderName" [formControl]="createContentForm.controls['FolderShortName']">
                <div *ngFor="let messages of validationMessages.FolderShortName">
                    <small class="text-danger"
                        *ngIf="(createContentForm.controls['FolderShortName'].touched || createContentForm.controls['FolderShortName'].dirty) && createContentForm.controls['FolderShortName'].invalid && createContentForm.controls['FolderShortName'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
        </div>

        <div *ngIf="playlistFolderId && selectedFolder">
            <label>Folder Name</label>
            <p>{{ selectedFolder.Name }}</p>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" [formControl]="createContentForm.controls['Description']"></textarea>
            <div *ngFor="let messages of validationMessages.Description">
                <small class="text-danger"
                    *ngIf="(createContentForm.controls['Description'].touched || createContentForm.controls['Description'].dirty) && createContentForm.controls['Description'].invalid && createContentForm.controls['Description'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>

        <div>
            <app-tags (sendTags)="getSelectedTags($event)"></app-tags>
        </div>

        <div class=" mt-10">
            <label for="inputAddress2">Attach File</label>
            <div class="modalTag p12">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="borderDbox" appUpload (files)="fileBrowserHandler($event)">
                            <p>Drag and drop your file here</p>
                            <p>Or</p>
                            <input type="file" #fileInput class="form-control fileInput" [formControl]="createContentForm.controls['file']" (change)="upload($event.target.files)" >
                            <button class="btn btn-outline-secondary" type="button" (click)="fileInput.click()">
                               Select from library</button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="borderDbox" *ngFor="let file of files">
                            <!-- <p>Preview</p> -->
                            <img *ngIf="fileType == 'image'" [src]="file.url" width="100px" height="100px">
                            <img *ngIf="fileType == 'pdf'" src="/assets/img/{{fileType}}.png" width="100px" height="100px">
                            <video *ngIf="fileType == 'video'" width="320" height="240" controls
                                [attr.src]="files[0].url" (loadedmetadata)="getDuration($event)">
                            </video>
                        </div>
                    </div>
                    <div *ngFor="let messages of validationMessages.file">
                        <small class="text-danger"
                            *ngIf="(createContentForm.controls['file'].touched || createContentForm.controls['file'].dirty) && createContentForm.controls['file'].invalid && createContentForm.controls['file'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer pt-0 btnFooter">
        <div>
            <button type="button" class="btn btn-primary" [disabled]="!createContentForm.valid" (click)="previewContent()">Preview</button>
            <button type="submit" class="btn btn-primary" *ngIf="!contentId">Save</button>
        </div>
        <div class="midBtn">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" *ngIf="!contentId" id="customCheck" name="example1" [formControl]="createContentForm.controls['IsBroadcasted']">
                <label class="custom-control-label" for="customCheck" *ngIf="!contentId">Broadcast it</label>
            </div>
            <button type="button" class="btn btn-success" *ngIf="contentId && !playlistFolderId" (click)="publishContent()">Publish</button>
        </div>
        <div class="adMore">
            <button class="btn btn-outline-secondary" (click)="reset()" type="button"> + Add more</button>
        </div>
    </div>
</form>
<!-- modal create content-->