<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{data.title}}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
  </button>
</div>
<div class="modal-body">
  <h6>{{data.subTitle}}</h6>
  <p class="txt">{{data.message}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addMore()" *ngIf="data.buttonOne">{{data.buttonOne}}</button>
  <button type="button" class="btn btn-outline-secondary" (click)="close()" *ngIf="data.buttonTwo">{{data.buttonTwo}}</button>
</div>