.image-height {
    height: 100px;
}
.videoCol { text-align: center;position: relative;
    .badgeTxt{
        position: absolute;
        top: -15px;
        border: 1px solid #D7D8D8;
        color: #1f6575;
        width: auto;
        font-size: 11px;
        right: -5px;
        background: #fff;
        padding: 1px 4px;
        text-align: left;
    }
}
.videoWrap.focused{
    position: relative;
    transform: scale(0.98);
 }
 .videoWrap.focused:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
 }
 .right-align {
     text-align: right;
 }
 .relPos.stepr{justify-content: flex-start;}
 .instrtion{justify-content: flex-end;padding: 20px 20px 0;}
 p.colorRed{color: #c2282c;}

 @media (max-width:580px){
    .instrtion{flex-direction:column;
        p{margin: 0;
            &.colorRed{margin-bottom: 5px;}
        }

    }
 }