<div class="pageHeader conentHead right-align">
    <button class="btn btn-primary" *ngIf="folder && !folder.IsMasterFolder" (click)="createContent()">+ Add Content</button>
</div>
<div class="relPos stepr">
    <div class="instrtion  d-flex">
        <p class="colorRed"><img src="../assets/img/eyeHide.png" alt=""> Tap to deselect the content</p>
        <p><img src="../assets/img/icon-hand.png" alt=""> Drag and drop to reorder the content</p>
    </div>

    <div class="libDetilsView">
        
        <div class="ldLeft" *ngIf="folder">
            <div class="libWrapper">
                <div class="libCol orngYelw" [ngClass]="{'acitve': folder.IsSelectedFolder}">
                    <div class="innerData">
                        <div class="d-flex">
                            <span></span>
                            <span>{{ folder.NumberOfContent || "" }}</span>
                        </div>
                        <h1>{{ folder.ShortName || "" }}</h1>
                        <p>{{ folder.Name || "" }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ldRight" *ngIf="folderDetails?.length > 0" cdkDropList (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="videoWrap" *ngFor="let details of folderDetails; let i = index;"
                (click)="selectContents(i)" [ngClass]="{'focused': !details.IsContentSaved}">
                <div class="videoCol">
                    <img [src]="details.ThumbnailURL" class="image-height" *ngIf="!checkType(details.MimeType)">
                    <video class="card-img-top image-height" controls
                        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
                        *ngIf="checkType(details.MimeType)">
                        <source [src]="details.ContentURL" type="video/mp4" />
                    </video>
                    <p>
                        <span>{{ details.ViewCount }} views</span>
                        <span>{{ details.CreatedDate | date: "mediumDate" }}</span>
                    </p>
                </div>
                <div class="p10">
                    <h3><a>{{ details.ContentName }}</a></h3>
                    <p>{{ details.ContentDescription }}
                    </p>
                </div>
            </div>
        </div>
        <div class="ldRight m0" *ngIf="folderDetails?.length == 0">
            <h4>No content available</h4>
        </div>
    </div>
</div>
<div class="selectedDir rightAlgn">
    <div class="closeBtnWrap">
        <button class="btn btn-success" (click)="saveContent()">Done</button>
    </div>
</div>