<div class="pageHeader minFlex">
    <div class="breadcum-col">
    <span class="breadcum-txt link" routerLink="/leaderboard">Leaderboard</span>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span class="breadcum-txt current">{{ playlist }}</span>
    </div>
</div>
<div class="dashbordArea">
    <div class="tabSection tab-content">
        <app-playlist-detail-view [playlistDetail]="'userPlaylistDetail'"></app-playlist-detail-view>
    </div>
    <app-top-performer></app-top-performer>
</div>