.pageHeader{
    display: flex !important;
    align-items: center ;
    background: #e5f2f2;
    padding: 30px 40px;
    position: relative;
    .breadcum-col {
    color: #1F6575 !important;
    font-size: 14px;

    .breadcum-txt {
        color: #1F6575 !important;
        font-size: 14px;
        margin-right: 10px;
    }
    i.fa {
        margin-right: 10px;
    }
    a, .link {
        color: #1F6575;
        cursor: pointer;
    }
    .current {
        font-weight: 600;
    }
}
}