<div class="col-sm-12">
    <label [ngClass]="{'locationLabelCustom': customStyle}"  for="exampleInputEmail1">Filter By Location</label>
    <!-- <input [ngClass]="{'locationCustom': customStyle}" #searchLoc class="form-control" type="text" [(ngModel)]="selectedLocation"> -->
    <!-- <ul class="list-group custom-list" *ngIf="locations?.length > 0">
        <li class="list-group-item change-cursor" *ngFor="let location of locations; let i = index;" (click)="getSelectedLocation(i)">
            {{ location.LocationName }}
        </li>
    </ul> -->
    <select class="form-control" (change)="getSelectedLocation($event.target.value)">
        <option value="-1">Select</option>
        <option *ngFor="let location of locations; let i = index;" [value]="i">
            {{ location.LocationName }}
        </option>
    </select>
</div>