.custom-list {
    position: absolute;
    width: 93%;
    z-index: 99;
}
.change-cursor {
    cursor: pointer;
}

.locationCustom {
    height: 32px; 
    padding: 8px; 
    margin: -5px 0px 0px 0px;
    width:100%;
}
.locationLabelCustom {
    font-weight: 900; font-size: 15px;justify-content: flex-start;
    margin-bottom: 10px
}