<!-- modal  content created-->
  
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle"  *ngIf="confirmContentData.CompanyLibraryContentId">Congratulation your content has been Created</h5>
    <h5 class="modal-title" id="exampleModalLongTitle"  *ngIf="confirmContentData.CompanyLibraryContentId == null">Preview Content</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
    </button>
</div>
<div class="modal-body textBdy">
    <h4>Content Title</h4>
    <p>{{confirmContentData.Description}}</p>
    <div class="videoWrappr">
    <video controls="" *ngIf="fileType=='video'">
        <source [src]="confirmContentData.ContentUrl" [type]="confirmContentData.MimeType">
    </video>
    <img *ngIf="fileType=='image'" [src]="confirmContentData.ContentUrl" width="100%" height="300px">
    <img *ngIf="fileType == 'doc'" src="/assets/img/{{fileType}}.png" width="100px" height="100px">
    <embed *ngIf="(fileType=='text' || fileType=='pdf') && confirmContentData.CompanyLibraryContentId" [src]="confirmContentData.ContentUrl" width="100%" height="400px" frameborder="0" scrolling="no"/>
    <iframe *ngIf="(fileType=='text' || fileType=='pdf') && confirmContentData.CompanyLibraryContentId == null" [src]="confirmContentData.ContentUrl" width="100%" height="400px" frameborder="0" scrolling="no"></iframe>
    </div>

    <div>
    <div class="modalTag nolines" *ngIf="confirmContentData.Tags">
        <ul class="cf">
        <li *ngFor="let tag of confirmContentData.Tags"><span>#{{tag.Name}}</span> <span>X</span></li>
        </ul>
    </div>
    </div>
</div>
<div class="modal-footer" *ngIf="confirmContentData.CompanyLibraryContentId">
    <button class="btn btn-outline-secondary" (click)="createContent()"> + Create More</button>
    <a routerLink="/company-content">
        <button type="button" class="btn btn-primary" (click)="close()">Go to Company's Content</button>
    </a>
</div>
      
<!-- modal  content created-->