<section class="popup bs-join-now-modal-lg">
    <div class="modal-header pt-4">
        <div class="modal-title" id="myModalLabel">
            <h5>Create Prize</h5>
        </div><!-- modal-title End//-->
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <form #f="ngForm" [formGroup]="createPrizeForm" (ngSubmit)="create(createPrizeForm.value);">
            <div class="join-form">
                <div class="form-group">
                    <label for="">Prize Category</label>
                    <select class="form-control" id="" [formControl]="createPrizeForm.controls['PrizeCategoryId']"
                        (change)="changeType($event.target.value)">
                        <option *ngFor="let prizeCategory of prizeCategories; let i = index;"
                            [value]="prizeCategory.PrizeCategoryId">{{ prizeCategory.Name }}</option>
                    </select>
                    <div *ngFor="let messages of validationMessages.PrizeCategoryId">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['PrizeCategoryId'].touched || createPrizeForm.controls['PrizeCategoryId'].dirty) && createPrizeForm.controls['PrizeCategoryId'].invalid && createPrizeForm.controls['PrizeCategoryId'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="categoryType == 1">
                    <label for="">Time Off</label>
                    <select class="form-control" id="" placeholder="Type" [formControl]="createPrizeForm.controls['TimeOffDuration']">
                        <option *ngFor="let time of timeOff; let i = index;" [value]="time">{{ time }}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="categoryType == 2 || categoryType == 3 || categoryType == 6">
                    <label for="">Brand Name</label>
                    <input type="text" class="form-control" id="" [formControl]="createPrizeForm.controls['BrandName']">
                    <div *ngFor="let messages of validationMessages.BrandName">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['BrandName'].touched || createPrizeForm.controls['BrandName'].dirty) && createPrizeForm.controls['BrandName'].invalid && createPrizeForm.controls['BrandName'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="categoryType == 5">
                    <label for="">Prize Amount</label>
                    <input type="number" class="form-control" id="" [formControl]="createPrizeForm.controls['PrizeAmount']">
                    <div *ngFor="let messages of validationMessages.PrizeAmount">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['PrizeAmount'].touched || createPrizeForm.controls['PrizeAmount'].dirty) && createPrizeForm.controls['PrizeAmount'].invalid && createPrizeForm.controls['PrizeAmount'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Prize Title</label>
                    <input type="text" class="form-control" id="" [formControl]="createPrizeForm.controls['Title']">
                    <div *ngFor="let messages of validationMessages.Title">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['Title'].touched || createPrizeForm.controls['Title'].dirty) && createPrizeForm.controls['Title'].invalid && createPrizeForm.controls['Title'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="textarea" class="form-control" id=""
                        [formControl]="createPrizeForm.controls['Description']">
                    <div *ngFor="let messages of validationMessages.Description">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['Description'].touched || createPrizeForm.controls['Description'].dirty) && createPrizeForm.controls['Description'].invalid && createPrizeForm.controls['Description'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Prize Quantity</label>
                    <input type="number" class="form-control" id=""
                        [formControl]="createPrizeForm.controls['Quantity']" (blur)="createVoucher($event.target.value)">
                    <div *ngFor="let messages of validationMessages.Quantity">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['Quantity'].touched || createPrizeForm.controls['Quantity'].dirty) && createPrizeForm.controls['Quantity'].invalid && createPrizeForm.controls['Quantity'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="(categoryType == 2 || categoryType == 3) && voucherArray.length > 0">
                    <label for="">Voucher Code</label>
                    <input type="text" maxlength="100" (blur)="insertValue(i, $event.target.value)" class="form-control voucher" [id]="vouch.id" [name]="vouch.name" [placeholder]="vouch.placeholder" *ngFor="let vouch of voucherArray; let i = index">
                    <button class="btn btn-primary" (click)="save()" type="button">SAVE</button>
                </div>
                <div class="form-group">
                    <label for="">Thumbnail Image</label>
                    <div class="imageSelect">
                        <input #fileInput type="file" class="form-control file-input" id="" placeholder="Select file" (change)="upload($event.target.files)">
                        <button class="add" (click)="fileInput.click()" type="button">Select</button>
                    </div>
                    <p class="image-name" *ngIf="imageName">{{ imageName }}</p>
                </div>

                <div class="form-group">
                    <label for="">Points</label>
                    <input type="number" class="form-control" id="" [formControl]="createPrizeForm.controls['Points']">
                    <div *ngFor="let messages of validationMessages.Points">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['Points'].touched || createPrizeForm.controls['Points'].dirty) && createPrizeForm.controls['Points'].invalid && createPrizeForm.controls['Points'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>

                <div class="row calenderBlock">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Start Date</label>
                        <div class="date">
                            <input type="text" class="form-control" placeholder="DD/MM/YYYY"
                                [formControl]="createPrizeForm.controls['StartDate']" readonly (click)="d.toggle()" 
                                ngbDatepicker #d="ngbDatepicker" [minDate]="minStartDate">
                            <span class="clIcon"></span>
                        </div>
                        <div *ngFor="let messages of validationMessages.StartDate">
                            <small class="text-danger"
                                *ngIf="(createPrizeForm.controls['StartDate'].touched || createPrizeForm.controls['StartDate'].dirty) && createPrizeForm.controls['StartDate'].invalid && createPrizeForm.controls['StartDate'].errors[messages.type]">{{messages.message}}
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6 date">
                        <label for="exampleInputEmail1">End Date</label>
                        <div class="date">
                            <input type="text" class="form-control"
                                [formControl]="createPrizeForm.controls['EndDate']" readonly [formControl]="createPrizeForm.controls['EndDate']" (click)="e.toggle()" placeholder="DD/MM/YYYY"
                                ngbDatepicker #e="ngbDatepicker" [minDate]="minEndDate">
                            <span class="clIcon "></span>
                            <div *ngFor="let messages of validationMessages.EndDate">
                                <small class="text-danger"
                                    *ngIf="(createPrizeForm.controls['EndDate'].touched || createPrizeForm.controls['EndDate'].dirty) && createPrizeForm.controls['EndDate'].invalid && createPrizeForm.controls['EndDate'].errors[messages.type]">{{messages.message}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Remarks (This will appear in the email)</label>
                    <input type="textarea" class="form-control" id=""
                        [formControl]="createPrizeForm.controls['Remarks']">
                    <div *ngFor="let messages of validationMessages.Remarks">
                        <small class="text-danger"
                            *ngIf="(createPrizeForm.controls['Remarks'].touched || createPrizeForm.controls['Remarks'].dirty) && createPrizeForm.controls['Remarks'].invalid && createPrizeForm.controls['Remarks'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="btn-join-now" type="button" (click)="preview()">Preview</button>
                    <button class="btn-join-submit ml-3" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>