.btn-add-prize{
    color: #fff;
    background: #4e72b1;
    i{
        margin-right: 5px;
    }
}
.awardsBlock {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .awardsCol {    
    width: calc(100% / 4 - 20px);
    margin: 15px 10px 0;
    @media (max-width: 1500px) {
      width: calc(100% / 3 - 20px);
    }
    @media (max-width: 1300px) {
      width: calc(100% / 2 - 20px);
    }
    @media (max-width: 991px) {
      width: calc(100% / 1 - 20px);
    }

    .listCol {
      padding: 18px 15px;
      background: #fff;
      max-height: 415px;
      &.active{
        padding: 15px;
      }
    }

    h4 {
      color: #1f6575;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
    }

    .awardBox {
      min-height: 250px;
      width: 100%;
      background: #afc6c6;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      img{
        display: block;
        margin:0px auto;
        max-height: 250px;
      }
    }

    .pointsBox {
      text-align: center;
      margin-bottom: 10px;
      p {
        font-size: 18px;
        font-weight: bold;
        color: #1f6575;
        margin: 0;
        line-height: 7px;
      }
      span {
        font-size: 12px;
        color: #1f6575;
        line-height: 10px;
      }
    }

    .editBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .switchBox{
        input:checked + .slider:before {
            transform: translateX(29px);
            background: #f8f8f8;
        }
        input:checked + .slider{
            background: #4ab486;
        }
        p{
            font-size: 11px;
            margin: 0 0 3px;
            text-align: center;
            line-height: 11px; 
            font-weight: bold;
        }
      }
      .avail {
        background: #4ab486;
        font-size: 14px;
        color: #fff;
        padding: 8px 14px;
        line-height: 14px;
        border: 0;
        font-weight: bold; 
      }
      .edit {
        background: #6ABCCE;
        font-size: 14px;
        color: #fff;
        padding: 8px 14px;
        line-height: 14px;
        border: 0;
        font-weight: bold; 
      }
      .available{
          text-align: right;
          span{
            font-size: 11px;
            margin: 0;
            line-height: 11px;
            font-weight: bold;
          }
          p{
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            line-height: 13px;
          }
      }
    }
  }
}


.popup {
  h2{
      font-size: 20px;
      color: #5e6f6f;
      font-weight: bold;
  }
  .modal-header {
      h2{
          font-size: 20px;
          color: #5e6f6f;
          font-weight: bold;
      }
      .close {
          float: inherit;
          position: absolute;
          padding: 0;
          top: 40px;
          right: 30px;
          text-indent: -9999px;
          display: block;
          width: 31px;
          height: 31px;
          background: url(/assets/img/sprite.png) no-repeat -595px -14px;          
          
          &:hover{
              outline: none;
          }
          &:focus{
              outline: none;
          }
      }
  }
}

.btn-join-submit{
  background: #5CA375;
  width: 103px;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  border: 0 none;
}
.btn-join-now{
  width: 103px;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  background-color: #6abcce;
  border: 0 none;
}
.join-form{
  .form-control{
      border: 1px solid #c8d6d6;
  }
  .selectBtn{
      border: 2px solid #83a6a6;
      border-radius: 0;
      font-size: 14px;
      color: #5e6f6f;
      padding: 6px 12px;
      font-weight: bold;
      background: #fff;
  }
  textarea{
      height: 100px;
      resize: none;
  }
  .modal-title-txt{
      font-weight: 700;
  }
  label{
      font-size: 14px;
      font-weight: 700;
  }
  .subtext{
      font-size: 13px;
  }
  .uploadblock{
      border: 1px solid #c8d6d6;
      padding: 15px;
      h3{
          font-weight: 600;
          text-align: center;
          font-size: 22px;
      }
      button.tapUpload{
          display: block;
          padding: 7px ;
          text-align: center;
          margin-bottom: 15px;
          width: 100%;
          border: 1px solid #83a6a6;
          font-weight: 600;
      }
      .or{
          margin-bottom: 7px;
          text-align: center;
      }

      .previewBox{
          border: 2px dashed #c8d6d6;
          height: 290px;
          display: flex;
          justify-content: center;
          align-items: center;
          span{
              font-size: 14px;
              font-weight: 600;   
          }
      }
  }

  .calenderBlock{
      .date{
          position: relative;
      }
      .form-control{
          padding-right: 22px;
      }
      .clIcon{
          background: url(/assets/img/sprite.png) no-repeat -693px -379px;
          height: 15px;
          width: 15px;
          position: absolute;
          top: 10px;
          right: 10px;
      }
  }
  .rulesForGame{
      p{
          font-size: 14px;
      }
  }
  
  .imageSelect{
    display: flex;

    input[type="text"]{
        border: 1px solid #afc6c6;
        border-radius: 0;
        color: #5e6f6f;
        width: calc(100% - 80px);
    }
    .add{
        margin-left:10px;
        border: 2px solid #83a6a6;
        border-radius: 0;
        font-size: 14px;
        color: #5e6f6f;
        padding: 6px 12px;
        font-weight: bold;
        background: #fff;
        &:focus{
            outline: none;
        }
    }
  }
}
.voucher {
  margin-bottom: 10px;
}
.file-input {
  display: none;
}