﻿@model IEnumerable<VirtualBrandWork.Entity.ViewModels.TagViewModel>

@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .border-primary {
        border: 1px solid #007bff;
    }
    .border-danger {
        border: 1px solid #dc3545;
    }

</style>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
        var table = $('#table_id').DataTable();

        $('#ddlCategory').on('change', function () {
            var selectedCategory = $("#ddlCategory option:selected").text();
            if (selectedCategory != '' && selectedCategory != 'Select Industry') {
                $.fn.dataTable.ext.search.push(
                       function( settings, data, dataIndex ) {
                           return IsValueExist(data[1], selectedCategory)
                       }
                   );
                table.draw();
                $.fn.dataTable.ext.search.pop();
            }
            else  table.columns(3).search("").draw();
        });
        LoadCategory();
    });

    function IsValueExist(data, val){
        var array = data.split(',')
        for (var i = 0, l = array.length; i < l; ++i) {
            array[i] = $.trim(array[i]);
        }
        if (array.indexOf(val) !== -1)
            return true;
        else return false;
    }

    function LoadCategory() {
        $.ajax({
            url: '../Categories/GetCategories',
            success: function (data) {
                var select = $("#ddlCategory");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select Industry"
                }));
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.CategoryId,
                        text: itemData.CategoryName
                    }));
                });
            },
            error: function (xhr) {
            },
            complete: function (jqXHR, status) {
            }
        });
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function Delete(id) {
        if (confirm("Are you sure you want to delete this tag?")) {
            $.ajax({
                type: "POST",
                url: '../Tag/Delete',
                data: addRequestVerificationToken({ "id": id }),
                success: function (data) {
                    if (data.status == "Success") {
                        location.reload();
                    } else {
                        alert('Issue in delete process.Please contact administrator');
                    }
                }
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
    }

</script>
<style type="text/css">
    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    select {
        width: 100%;
        height: 30px;
        border-radius: 4px;
    }

    .select-panel {
        background-color: #f1f1f1;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .btn-content {
        margin-top: 6%;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }

    .txt-question {
        height: 60px;
        max-height: 60px;
        border-radius: 4px;
        width: 100%;
        max-width: 100% !important;
    }

    .ans-section textarea {
        height: 40px;
        max-height: 40px;
        margin-left: 5px;
        border-radius: 4px;
        width: 93%;
        max-width: 93% !important;
    }

    .ans-section input[type=radio] {
        vertical-align: top;
        cursor: pointer;
        height: 15px !important;
        width: 15px !important;
    }

    .ans-option {
        vertical-align: top;
    }

    .close {
        font-weight: 100 !important;
        font-size: 45px !important;
    }

    .btn-done, .btn-done:hover {
        background-color: #65865a !important;
        color: white;
        text-align: right;
    }

    .btn-add-more-ques {
        text-align: left !important;
    }

        .btn-add-more-ques button {
            width: 150px !important;
        }

    button {
        width: 100px !important;
        padding: 0px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        text-align: center !important;
    }
</style>
<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Manage Tags</h4>
        <button type="button" class="btn btn-outline-primary border-primary" onclick="location.href='@Url.Action("Create", "Tag")';return false;">
            Add New
        </button>
    </div>
</div>
<hr />
<div class="row select-panel align-items-end">
    <div class="col-lg-3">
        Filter By
        @Html.DropDownList("ddlCategory", new SelectList(new List<VirtualBrandWork.Entity.ViewModels.CategoryViewModel>()), new { @class = "form-control input-sm" })
    </div>
</div>
@using (Html.BeginForm("Delete", "Tag", FormMethod.Post, new { @id = "deleteform" }))
{
    @Html.AntiForgeryToken()
    <div class="custom-datatable-class">
        <table id="table_id" class="display table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Industry)
                    </th>
                    <th><P>Actions</P></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Industry)
                        </td>
                        <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TagId }, new { @class = "btn btn-outline-primary border-primary" })
                                <input type="button" value="Delete" onclick="Delete(@item.TagId);" class="btn btn-outline-danger border-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
