<div class="resultModal">
    <div class="modal-header">
      <h5 class="modal-title" id="">Congratulation you have completed the game.</h5>
      <!-- <h5 class="modal-title" id="">Sorry! Unfortunately You have not succeded to complete the game.</h5> -->
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="closeBtn"></span>
      </button>
    </div>
    <div class="modal-body pb-4">
      <p class="mb-1">Here is your result</p>
      <div class="resultable">
        <table>
          <thead>
            <tr>
              <th colspan="2" class="pass" *ngIf="result.IsUserPassed">Pass | Gained {{ result.MarksObtained }}/{{ result.TotalMarks }} points </th>
              <th colspan="2" class="fail" *ngIf="!result.IsUserPassed">Fail</th>
            </tr>
          </thead>
          <tbody *ngIf="result.IsUserPassed">
            <tr>
              <td>
                  <span class="grnCheck"></span>
                  <span class="correct">{{ result.NumberOfRightAnswer }}</span>
              </td>
              <td>
                  <span class="redCRoss"></span>
                  <span class="wrong">{{ result.NumberOfWrongAnswer }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="!result.IsUserPassed"><em>Better luck next time</em></p>
      </div> 
      <div class="mt-4">
          <button type="button" class="btn btn-primary" (click)="close()">Play more</button>            
          <button type="button" class="btn btn-primary ml-3" routerLink="/my-playlist" (click)="close()">Go to My Playlist</button>
      </div>
    </div>
  </div>