<!-- <div class="planToggle bgBlue">
    <h4 [ngClass]="{'opc1': togglePlanTypeClass}">Monthly</h4>
    <label class="switch">
      <input type="checkbox" (change)="changePlanType($event.target.checked ? true : false)">
      <span class="slider"></span>
    </label>
    <h5 [ngClass]="{'opc1': !togglePlanTypeClass}">Yearly (Save 10%)</h5>
  </div>
  <div class="planWrap planNewWrap">
    <div class="plns" [ngClass]="{'active': selectedPlan.PlanId == plan.PlanId}" *ngFor="let plan of plans;" (click)="selectPlan(plan)">
      <h2>{{ plan.PlanName }}</h2>
      <p class="users">up to {{ plan.NumberOfUsers }} users</p>
      <div class="price showF">
        <span>$</span> <strong>{{ plan.Price }}</strong>
        <p *ngIf="plan.PlanType == 2">/ Per Month</p>
        <p *ngIf="plan.PlanType == 1">/ Yearly</p>
      </div>
    </div>
  </div> -->

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="month-tab" data-toggle="tab" href="#month" role="tab"
            aria-controls="month" aria-selected="true" (click)="changePlanType(2)">Monthly</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="annual-tab" data-toggle="tab" href="#annual" role="tab"
            aria-controls="annual" aria-selected="false" (click)="changePlanType(1)">Annually</a>
    </li>
    
</ul>
<div class="tab-content" id="myTabContent">
    <div [ngClass]="{'tab-pane fade show active':planType == 2,'tab-pane fade': planType != 2}" id="month" role="tabpanel" aria-labelledby="month-tab">
        <div class="row justify-content-center">
            <div class="col-20 col-xl-3 col-lg-4 col-md-6 mb-3" *ngFor="let plan of plans;" (click)="selectPlan(plan)">
                <div class="inner-div">
                    <h2 class="planTitle">{{plan.PlanName}}</h2>
                    <div class="count">{{ plan.NumberOfUsers == 10 ?  0 : plan.NumberOfUsers-9}} - {{ plan.NumberOfUsers }}</div>
                    <div class="team">Team Members</div>
                    <div class="price">${{ plan.Price }} / {{plan.PlanType == '2' ? 'MO' : 'YR'}}</div>
                    <div class="save">Save 10% a year</div>
                    <a routerLink="/signup">Sign-up</a>
                </div>
            </div>
            <div class="col-20 col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="inner-div">
                    <h2 class="planTitle">More users</h2>
                    <div class="count">70+</div>
                    <div class="team">Team Members</div>
                    <!-- <div class="price">123</div> -->
                    <div class="save"></div>
                    <a (click)="contactus()">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'tab-pane fade show active':planType == 1,'tab-pane fade': planType != 1}" id="annual" role="tabpanel" aria-labelledby="annual-tab">
        <div class="row justify-content-center">
            <div class="col-20 col-xl-3 col-lg-4 col-md-6 mb-3" *ngFor="let plan of plans;" (click)="selectPlan(plan)">
                <div class="inner-div">
                    <h2 class="planTitle">{{plan.PlanName}}</h2>
                    <div class="count">{{ plan.NumberOfUsers == 10 ?  0 : plan.NumberOfUsers-9}} - {{ plan.NumberOfUsers }}</div>
                    <div class="team">Team Members</div>
                    <div class="price">${{ plan.Price }} / {{plan.PlanType == '2' ? 'MO' : 'YR'}}</div>
                    <div class="save">Save 10% a year</div>
                    <a routerLink="/signup">Sign-up</a>
                </div>
            </div>

            <div class="col-20 col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="inner-div">
                    <h2 class="planTitle">More users</h2>
                    <div class="count">70+</div>
                    <div class="team">Team Members</div>
                    <!-- <div class="price">123</div> -->
                    <div class="save"></div>
                    <a (click)="contactus()">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>