.nav-tabs {
    background: transparent;
    padding: 0;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    .nav-item{
        width: auto;
    }
   .nav-link{
       font-size: 21px;
       letter-spacing: 2px;
       color: #FFFFFF;
       text-transform: uppercase;
       background-color: #d8d8d8;
       border-radius: 0;
       font-family: "Oswald", sans-serif;
       font-weight: 500;
       padding: 14px 0;
       width: 186px;
       margin: 0;

       &.active{
           background-color: #1E95D3;
       }
      
   }
}
.tab-content{
    padding: 0;
   .tab-pane{
       overflow: hidden;
   }
   .inner-div{
       background-color: #f4f4f4;
       padding: 60px 10px;
       font-family: "Oswald", sans-serif;
       font-weight: 600;
       height: 100%;
       margin-bottom: 20px;

       &:hover{
           background-color: #1E95D3;
           color: #fff;
           h2.planTitle,
           .count,.team ,.price ,.save {
               color: #fff;
           }
           a {
               background-color: #fff;
               color: #1E95D3;
           }
       }
       .count {
           font-size: 37px;
           color: #000;
           margin-bottom: 15px;
       }
       .team {
           font-size: 26px;
           color: #000;
           text-transform: uppercase;
           margin-bottom: 17px;
          
       }
       .price {
           font-size: 45px;
           color: #1E95D3;
           margin-bottom: 0px!important;
           @media (max-width: 1500px){
               font-size: 40px;
           }
       }
       .save {
           font-size: 19px;
           color: #8DC640;
           margin-bottom: 25px;
       }
       a {
           font-size: 16px;
           background-color: #1E95D3;
           color: #fff;
           text-transform: uppercase;
           padding: 7px 40px;
           display: inline-block;
           font-weight: 400;
           &:hover{
               text-decoration: none;
           }
       }
   }
   @media (min-width: 1500px){
       .col-20 {
           flex: 0 0 20%;
           max-width: 20%;
       }
   }
}
@media screen and (max-width: 1360px){
    .nav-tabs {
        margin-top: 35px;
        margin-bottom: 45px;
       .nav-link{
           font-size: 19px;
           padding: 13px 0;
           width: 180px;           
       }
    }
    .tab-content{
       .inner-div{
           padding: 55px 10px;
           .count {
               font-size: 35px;
               margin-bottom: 12px;
           }
           .team {
               font-size: 24px;               
           }
           .price {
               font-size: 40px;
               margin-bottom: 30px;
           }
           .save {
               font-size: 18px;
               margin-bottom: 22px;
           }
           a {
               font-size: 15px;
               padding: 5px 35px;
           }
       }
    }
}
@media screen and (max-width: 1200px){

    .nav-tabs {
        margin-top: 30px;
        margin-bottom: 40px;
       .nav-link{
           font-size: 18px;
           padding: 12px 0;
           width: 170px;           
       }
    }
    .tab-content{
       .inner-div{
           padding: 50px 10px;
           .count {
               font-size: 30px;
               margin-bottom: 12px;
           }
           .team {
               font-size: 20px;               
           }
           .price {
               font-size: 36px;
               margin-bottom: 25px;
           }
           .save {
               font-size: 17px;
               margin-bottom: 20px;
           }
           a {
               font-size: 14px;
               padding: 5px 30px;
           }
       }
    }

}
@media screen and (max-width: 991px){
    .nav-tabs {
        margin-top: 20px;
        margin-bottom: 30px;
       .nav-link{
           font-size: 17px;
           padding: 10px 0;
           width: 150px;           
       }
    }
    .tab-content{
       .inner-div{
           padding: 45px 10px;
           .count {
               font-size: 26px;
               margin-bottom: 10px;
           }
           .team {
               font-size: 18px;               
           }
           .price {
               font-size: 30px;
               margin-bottom: 20px;
           }
           .save {
               font-size: 16px;
               margin-bottom: 15px;
           }
       }
    }
   
}

@media screen and (max-width: 767px){
    .nav-tabs {
        margin-top: 15px;
        margin-bottom: 25px;
       .nav-link{
           font-size: 15px;
           width: 130px;           
       }
    }
    .tab-content{
       .inner-div{
           padding: 40px 10px;
           .count {
               font-size: 22px;
           }
           .team {
               font-size: 16px;               
           }
           .price {
               font-size: 26px;
               margin-bottom: 15px;
           }
           .save {
               font-size: 15px;
               margin-bottom: 10px;
           }
           a {
               font-size: 13px;
               padding: 5px 20px;
           }
       }
    }

}