<div class="addQues">
    <div class="modal-header pb-0 px-4">
        <h5 class="modal-title">Rename Playlist</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span class="closeBtn"></span>
        </button>
    </div>
    <div class="modal-body pt-0 px-4">
        <form #f="ngForm" [formGroup]="createPlaylistForm" (ngSubmit)="submit(createPlaylistForm.value);">
        <div class="form-group">
            <label for="">Enter Name</label>
            <input class="form-control" id="" rows="3"
                [formControl]="createPlaylistForm.controls['Name']">
            <div *ngFor="let messages of validationMessages.Name">
                <small class="text-danger"
                    *ngIf="(createPlaylistForm.controls['Name'].touched || createPlaylistForm.controls['Name'].dirty) && createPlaylistForm.controls['Name'].invalid && createPlaylistForm.controls['Name'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="">Enter Description</label>
            <input class="form-control" id="" rows="3"
                [formControl]="createPlaylistForm.controls['Description']">
            <div *ngFor="let messages of validationMessages.Description">
                <small class="text-danger"
                    *ngIf="(createPlaylistForm.controls['Description'].touched || createPlaylistForm.controls['Description'].dirty) && createPlaylistForm.controls['Description'].invalid && createPlaylistForm.controls['Description'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-between px-4">
            <button type="submit" class="btn btn-success">UPDATE</button>
        </div>
        </form>
    </div>
</div>