.tabSection .listCol{
    padding: 0;
    border:none;
    box-shadow: none !important;
    margin: 0;
}

.performerWrap {
    height:100%;
    padding-top: 40px;
}

.plylistDetails.plylistTableDts td{
    height: 80px;
}

.performerWrap h3{margin:0 0 10px;}
.btn.btn-danger{
    margin-left: 0;
}
.tabSection.minMrin .listCol{
    border:none;box-shadow: none !important;padding: 0;margin: 0;
}
.plyListAbout{
    max-width: 100%;
}
.lowerBdgCol .ico.loader{
    display: block;
    width: 41px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    padding: 11px 0px;
    font-weight: bold;
}
.lowerBdgCol p{
    color: #959595;
}
.lowerBdgCol strong{font-size: 12px;}
.badgeCol .lowerBdgCol{
    padding:2px 5px 5px
}
.lowerBdgCol .btn{
    width: 100%;margin: 10px 0 0;padding: 4px;
}
.teamData ul li:last-child{
    padding-left: 20px;
}
.teamData ul li .madelList li{
    padding: 0;border:none;
}
.teamDetailsBox .tableWrapBorder{
    max-height:600px;
}

.teamDetailsBox.fullWidth{
    width: 100%;
    border:2px solid #afc6c6;
}
.flexTbl .w50{
    min-width: 180px;
}

.performerWrap h3 span {
    cursor: pointer;
}

@media screen and (max-width: 840px) {
    .teamData ul li:last-child{
        padding-left: 10px;
    }
    .teamData ul li .madelList li{
        margin: 0 2px;
    }
    .flexTbl .w50{
        min-width: 50%;
    }
    
}
@media screen and (max-width: 800px) {
    .teamData ul li .madelList{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .teamData ul li:last-child{
        padding: 10px 0 0;
    }
}

.performerWrap ul li{position: relative;cursor: pointer;}
.performerWrap ul li .innerItem{position: absolute;top: 70px;background: #fff;left: 5px;z-index: 1;border-radius: 1px;right: 5px;border:1px solid rgba(0,0,0,0.1);overflow: hidden;display: none;}
.performerWrap ul li:hover .innerItem{display: block;}
.performerWrap ul li .innerItem li{padding: 5px 10px;font-size: 13px;font-weight: 600;}
.performerWrap ul li .innerItem li:hover{background: #e5e5e5}
.btn-primary {
    width: 100%;
}
.innerItem li {
    display: inline-block;
    
}

ul.innerItem {
    z-index: 999 !important;
}