<div class="performerWrap">
  <h3>Top Performer
    <span class="points-level" (click)="openPointsLevel()">Points Level</span>
  </h3>

  <!-- <div class="topLevel">
    <strong>1</strong>
    <div class="fstDtls">
      <img src="https://cxl.com/wp-content/uploads/2015/08/raphael_paulin_daigle.jpg">
      <div>
        <h3>Heather S.</h3>
        <p>6539</p>
      </div>
    </div>
    <span class="madl"></span>
  </div> -->

  <ul>
    <li *ngFor="let topPerformer of topPerformerData; let i = index">
      
      <div style="width:100%" *ngIf="(isTopTen)?i < 10:i>=0"> 
        <div >
          <i>{{i+1}}.</i>
          <img [src]="topPerformer.ProfilePicture">
          <i>{{topPerformer.FirstName}} {{topPerformer.LastName}}</i>
        </div>
        <i>{{topPerformer.Points}}</i>
        <ul class="innerItem" *ngIf="topPerformer.Badges?.length > 0">
          <li *ngFor="let badge of topPerformer.Badges;"><img src="/assets/img/badge_{{badge}}.png"><p *ngIf="badge.NumberOfAwardees">{{ badge.NumberOfAwardees }}</p></li>
        </ul>
        <ul class="innerItem" *ngIf="topPerformer.Badges?.length == 0">
          <p>No Badges</p>
        </ul>
      </div>
    </li>
    <li *ngIf="!isTopPerformer">No top performer found.</li>
  </ul>
  <button class="btn btn-primary" *ngIf="isTopTen && topPerformerData?.length > 10" routerLink="/my-playlist/top-performer/{{playlistId}}">View More</button>
</div>