<div [ngClass]="{'heightBox' : currRoute.match('contentView')}">
    <div class="viewBox">    
        <div class="modal-header pb-1">
            <div class="modal-title" id="myModalLabel">
                <h2 class="box-title"><a href="javascript:void(0)">{{ storeData.Name }}</a></h2>
                <p class="lbl-txt">{{ storeData.Description }}</p>
            </div>
            <button type="button" class="close" (click)="close()" *ngIf="!currRoute.match('contentView')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-0">
            <div class="video-frame">
                <div class="video-container">
                    <video *ngIf="(type == 'video' && storeData.IsCompanyLibraryContent) || (storeData.IsAwsContent && !storeData.IsCompanyLibraryContent)" #videoContainer controls storeData-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                        <source [src]="storeData.ContentUrl" type="video/mp4">
                    </video>
                    <embed *ngIf="type == 'docs' && storeData.IsCompanyLibraryContent" [src]="contentUrl" height="400px" width="400px">
                    <img *ngIf="type == 'image' && storeData.IsCompanyLibraryContent" [src]="storeData.ContentUrl">
                    <iframe *ngIf="storeData.IsYoutubeContent || storeData.IsFacebookContent" [src]="storeData.ContentUrl" frameborder="0" allowfullscreen></iframe>
                </div><!-- video-frame End// -->
                <div class="social-share-count" *ngIf="loggedInUser">
                    <a class="social-lbl like" (click)="like()" [ngClass]="{'is-liked': storeData.IsLikedByUser}" *ngIf="!storeData.IsCompanyLibraryContent">
                        <i class="sprite icon-like"></i>
                        <span class="text">{{ storeData.Likes }} {{ storeData.Likes > 1 ? "Likes" : "Like"}}</span>
                    </a>
                    <a class="social-lbl views">
                        <i class="sprite icon-view"></i>
                        <span class="text">{{ storeData.Views }} Views</span>
                    </a>
                    <a class="social-lbl users" *ngIf="!storeData.IsCompanyLibraryContent">
                        <i class="sprite icon-user"></i>
                        <span class="text">{{ storeData.Users }} Users</span>
                    </a>
                    <button class="btn-join-now btn-lgreen" *ngIf="!storeData.IsCompanyLibraryContent && !storeData.IsJoinedByUser && !currRoute.match('contentView') && !currRoute.match('broadcast') && !storeData.ContestEntryId" (click)="startGame('join', storeData.ContestId)">
                        Join Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>