﻿@model VirtualBrandWork.Entity.ViewModels.MasterContentViewModel
@using VirtualBrandWork.Entity.ViewModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">

    window.onload = function () {
        document.getElementById("loader-wrapper").style.display = "none";
    };

    $(document).ready(function () {

        $('#ddlTags').select2({
            tags: true,
            createTag: function (params) {
                var term = $.trim(params.term);

                if (term === '') {
                    return null;
                }

                return {
                    id: term,
                    text: term,
                    newTag: true // add additional parameters
                }
            }
        }).on("select2:unselecting", function (e) {
            // check if originalEvent.currentTarget.className is "select2-results__option" (in other words if it was raised by a item in the dropdown)
            if ($(e.params.args.originalEvent.currentTarget).hasClass("select2-results__option")) {
                e.preventDefault();
                // close the dropdown
                $("#ddlTags").select2().trigger("close");
            }
        });

        $("#ddlTags").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            var $option = $(this).find('option:selected');
            $option.append($element);

            $element.detach();
            $(this).prepend($option);
            $(this).trigger("change");
        });

        $('#table_id').DataTable();

        $("#ddlCategory").change(function () {

            var id = $(this).val();
            $.getJSON("../GetFoldersByCategoyId", { categoryId: id },
                   function (data) {
                       var select = $("#ddlFolders");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select Folder"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.MasterFolderId,
                               text: itemData.Name
                           }));
                       });
                       select.append($('<option/>', {
                           value: 999,
                           text: "Other"
                       }));
                       document.getElementById("loader-wrapper").style.display = "none";
                   });
            if (id == 999) {
                $("#txtNameText").val("")
                $("#CreateCategory").toggle();
            }
        });


        $("#btnCancelFolder").click(function () {
            $("#folderNameText").val("");
            $("#folderShortNameText").val("");
            $("#folderNameText-error").text("");
            $("#folderShortNameText-error").text("");
            $("#CreateFolder").hide();
        });
        $("#btnCancelCategory").click(function () {
            $("#txtNameText").val("");
            $("#txtDescriptionText").val("");
            $("#txtNameText-error").text("");
            $("#CreateCategory").hide();
        });

        $("#ddlFolders").change(function () {
            var id = $(this).val();
            $("#CreateFolder").hide();
            if (id == 999) {
                $("#FolderNameText").val("")
                $("#CreateFolder").toggle();
            }
        });

        $("#btnAdd").click(function () {
            clearMessage();
            //hide messages
            if (!validateCategoryAdd()) return false;

            var category = {};
            category.CategoryName = $("#txtNameText").val();
            category.CategoryShortName = $("#txtShortNameText").val();

            var categorylist = $("select[id$=ddlCategory]").length;

            document.getElementById("loader-wrapper").style.display = "block";
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateCategory", "MasterContent")',
                data: JSON.stringify(category),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Status == true) {
                        var select = $("#ddlCategory");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select Category"
                        }));
                        $.each(data.Data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.CategoryId,
                                text: itemData.CategoryName
                            }));
                        });
                        $('#ddlCategory option').map(function () {
                            if ($(this).text() == $("#txtNameText").val()) return this;
                        }).attr('selected', 'selected');

                        $("#txtNameText").val("");
                        $("#txtShortNameText").val("");
                        $("#CreateCategory").hide();
                        document.getElementById("loader-wrapper").style.display = "none";
                    }
                    else
                    {
                        document.getElementById("loader-wrapper").style.display = "none";
                        $("#divError").css('display', 'block');
                        $("#lblError").text(data.Message);
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        });


        function validateFolderNameForFolderAdd() {
            var isValid = false;
            $.ajax({
                url: '@Url.Action("ValidateFolderName", "MasterFolder")',
                data: { Name: $("#folderNameText").val(), ShortName: $("#folderShortNameText").val(), SelectedCategoryIds: $("#ddlCategory").val() },
                type: 'POST',
                async: false,
                success:
                 function (data) {
                     if (data != null) {
                         isValid = data.Status;
                         if (!data.Status) {
                             document.getElementById("divError").style.display = 'block';
                             $("#lblError").text(data.Message);
                         } else {
                             document.getElementById("divError").style.display = 'none';
                             isValid = true;
                         }
                     }
                 }
            });
            return isValid;
        }

        $("#btnAddFolder").click(function () {
            clearMessage();
            //hide error message
            if (!validateFolderAdd() == false) {
                if (!validateFolderNameForFolderAdd())
                    return false;
            }

            var folder = {};
            folder.CategoryId = $("#ddlCategory").val();
            folder.Name = $("#folderNameText").val();
            folder.ShortName = $("#folderShortNameText").val();
            folder.SelectedCategoryIds = $("#ddlCategory").val();

            var folderlist = $("select[id$=ddlFolders]").length;

            document.getElementById("loader-wrapper").style.display = "block";
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateFolder", "MasterContent")',
                data: JSON.stringify(folder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Status == true) {
                        var select = $("#ddlFolders");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select Folder"
                        }));
                        $.each(data.Data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.MasterFolderId,
                                text: itemData.Name
                            }));
                        });
                        $('#ddlFolders option').map(function () {
                            if ($(this).text() == $("#folderNameText").val()) return this;
                        }).attr('selected', 'selected');

                        $("#folderNameText").val("");
                        $("#folderShortNameText").val("");
                        $("#CreateFolder").hide();
                        document.getElementById("loader-wrapper").style.display = "none";
                    }
                    else
                    {
                        if (data.Message != null) {
                            $("#divError").css('display', 'block');
                            $("#lblError").text(data.Message);
                        }
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        });


        function clearMessage() {
            $("#divSuccess").css('display', 'none');
            $("#lblSuccess").text("");
            $("#divError").css('display', 'none');
            $("#lblError").text("");
        }
    });

    function validateCategoryAdd() {
        var isValid = true;

        if (!($("#ddlCategory").val() == "" && $("#ddlCategory").val() == "0")) {
            if ($("#txtNameText").val() == "") {
                $("#txtNameText-error").text("The Industry name cannot be blank");
                isValid = false;
            }
            else if ($("#txtNameText").val().length > 30) {
                $("#txtNameText-error").text("The field Industry must be a string with a maximum length of 30.");
                isValid = false;
            }
            else {
                $("#txtNameText-error").text("");
            }
        }
        return isValid;
    }

    function validateFolderAdd() {
        var isValid = true;
        var $regexname = /^[a-zA-Z]+$/;
        if (!($("#ddlFolders").val() == "" && $("#ddlFolders").val() == "0")) {
            if ($("#folderNameText").val() == "") {
                $("#folderNameText-error").text("The folder name cannot be blank");
                isValid = false;
            }
            else if ($("#folderNameText").val().length > 30) {
                $("#folderNameText-error").text("The field Folder Name must be a string with a maximum length of 30.");
                isValid = false;
            }
            else {
                $("#folderNameText-error").text("");
            }
            if ($("#folderShortNameText").val() == "") {
                $("#folderShortNameText-error").text("The folder short name cannot be blank");
                isValid = false;
            }

            else if ($("#folderShortNameText").val().length > 2 || $("#folderShortNameText").val().length < 2) {
                $("#folderShortNameText-error").text("Must be 2 characters long");
                isValid = false;
            }
            else if (!$("#folderShortNameText").val().match($regexname)) {
                $("#folderShortNameText-error").text("This is not a valid short form. Please input only alphabets");
                isValid = false;
            }
            else {
                $("#folderShortNameText-error").text("");
            }
        }
        return isValid;
    }

    function validateForm() {
        var isValid = true;
        $("#Name-error").text("");
        //category
        if ($("#ddlCategory").val() == "" || $("#ddlCategory").val() == "0") {
            $("#ddlCategory-error").text("The Industry cannot be blank");
            isValid = false;
        }
        else {
            $("#ddlCategory-error").text("");
            $("#btnCancelCategory").click();
        }

        //folder
        if ($("#ddlFolders").val() == "" || $("#ddlFolders").val() == "0") {
            $("#ddlFolders-error").text("The Folder cannot be blank");
            isValid = false;
        }
        else {
            $("#ddlFolders-error").text("");
            $("#btnCancelFolder").click();
        }
        //content title
        if ($("#Name").val() == "") {
            $("#Name-error").text("The content title cannot be blank");
            isValid = false;
        }
        else if ($("#Name").val().length > 30) {
            $("#Name-error").text("The field Content Title must be a string with a maximum length of 30.");
            isValid = false;
        }
        else {
            $("#Name-error").text("");
        }

        if (!($('#fileUpload').val() == "")) {
            if (isValid == true) {
                if (!validateFileUploaded()) return false
                else return true;
            }
        }
        return isValid;
    }

    function validateFileUploaded() {
        var isValid = true;
        var extArray = new Array(".jpeg", ".jpg", ".png", ".mp4", ".pdf", ".mov");

        if ($('#fileUpload').val() == "") {
            $("#fileUpload-error").text("Please choose file for upload");
            isValid = false;
        }
        else if ($('#fileUpload')[0].files[0] != undefined) {
            //Getting the file extension
            var ext = $('#fileUpload')[0].files[0].name.slice($('#fileUpload')[0].files[0].name.lastIndexOf(".")).toLowerCase();
            var size = $('#fileUpload')[0].files[0].size;

            //matching extension with our given extensions.
            var a = extArray.indexOf(ext);
            if (a == -1) {
                $("#fileUpload-error").text("File format not supported. Please upload .jpeg, .jpg, .png, .mp4, .mov, .pdf files only");
                isValid = false;
            }
            else {
                $("#fileUpload-error").text("");
            }
            //test the duration of the video if its a video
            if (ext == '.mp4' || ext == '.mov') {
                var seconds = $("#vid")[0].duration;
                //var myVideo = document.getElementById("vid");
                //myVideo.onloadedmetadata = function () {
                //    console.log('metadata loaded!');
                //    seconds = this.duration;//this refers to myVideo
                //};
                if (seconds > 300) {
                    $("#fileUpload-error").text("Video duration cannot be longer than 5 minutes.");
                    isValid = false;
                }
            }
        }
        else {
            $("#fileUpload-error").text("");
        }

        return isValid;
    }

    function validateFormForOther() {
        var isValid = true;
        if (($("#ddlFolders").val() == "999")) {
            $("#ddlFolders-error").text("Select valid folder");
            isValid = false;
        }
        else {
            $("#ddlFolders-error").text("");
            $("#btnCancelFolder").click();
        }
        if (($("#ddlCategory").val() == "999")) {
            $("#ddlCategory-error").text("Select valid Industry");
            isValid = false;
        }
        else {
            $("#ddlCategory-error").text("");
            $("#btnCancelCategory").click();
        }
        return isValid;
    }
    var filenamePre = null;
    var objectUrl;
    function validateUploadFile() {
        var isValid = true;
        var extArray = new Array(".jpeg", ".jpg", ".png", ".mp4", ".pdf", ".mov");
        if ($('#fileUpload').val() == "") {
            $("#fileUpload-error").text("Please choose file for upload");
            isValid = false;
        }
        else if ($('#fileUpload')[0].files[0] != undefined) {
            //Getting the file extension
            var ext = $('#fileUpload')[0].files[0].name.slice($('#fileUpload')[0].files[0].name.lastIndexOf(".")).toLowerCase();
            if (ext == '.mp4' || ext == '.mov') {
                objectUrl = URL.createObjectURL($('#fileUpload')[0].files[0]);
                $("#vid").prop("src", objectUrl);
                //$("#vid").load();
            }
            var size = $('#fileUpload')[0].files[0].size;
            //matching extension with our given extensions.
            var a = extArray.indexOf(ext);
            if (a == -1) {
                $("#fileUpload-error").text("File format not supported. Please upload .jpeg, .jpg, .png, .mp4, .mov, .pdf files only");
                isValid = false;
            }
            else {
                $("#fileUpload-error").text("");
            }

        }
        else {
            $("#fileUpload-error").text("");
        }
        if (isValid) {

            @*if ($('#fileUpload').val() != "" && filenamePre != $('#fileUpload').val()) {
                var ext = $('#fileUpload')[0].files[0].name.slice($('#fileUpload')[0].files[0].name.lastIndexOf(".")).toLowerCase();
                var filename = $('#fname').val("@Model.FileUploadViewModel.FileId" + ext);

                $.getJSON("../getBase64policy", { fileId: $('#fname').val() },
                       function (data) {
                           if (data) {
                               $("#policy").val(data.policy);
                               $("#signature").val(data.signature);
                               $('#fname').val(filename[0].value);
                               filenamePre = $('#fileUpload').val();
                           }
                       });
            }*@
        }
        return isValid;
    }

    function getSign() {
        if ($('#fileUpload').val() != "") {
            var ext = $('#fileUpload')[0].files[0].name.slice($('#fileUpload')[0].files[0].name.lastIndexOf(".")).toLowerCase();
            var filename = $('#fname').val("@Model.FileUploadViewModel.FileId" + ext);

            //$.getJSON("../MasterContent/getBase64policy", { fileId: $('#fname').val() },
            //       function (data) {
            //           if (data) {
            //               $("#policy").val(data.policy);
            //               $("#signature").val(data.signature);
            //               $('#fname').val(filename[0].value);
            //           }
            //       });


            $.ajax({
                async: false,
                type: "GET",
                url: '../getBase64policy?fileId=' + $('#fname').val(),
                success: function (data) {
                    if (data) {
                           $("#policy").val(data.policy);
                           $("#signature").val(data.signature);
                           $('#fname').val(filename[0].value);
                       }
                }
        ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });

        }
    }

    $(document).ready(() => {
        $("#btnSave").click((event) => {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            document.getElementById("loader-wrapper").style.display = "block";
            //clear validations
            var isValid = true;
            if (objectUrl != "" && objectUrl != undefined) {
                var seconds = $("#vid")[0].duration;
                if (seconds > 300) {
                    //   debugger;
                    $("#fileUpload-error").text("Video duration cannot be longer than 5 minutes.");
                    isValid = false;
                }
            }
            if (validateForm() && validateFormForOther()) {
                // SaveForm();
                getSign();
                SaveFormNew();
            } else {
                document.getElementById("loader-wrapper").style.display = "none";
                return false;
            }
        });
    });

    function SaveForm() {

        var f = $("#frmUpload");
        var url = f.attr('action');

        // Get form
        var form = $('#frmUpload')[0];
        var data = new FormData(form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: url,
            data: data,
            processData: false, //prevent jQuery from automatically transforming the data into a query string
            contentType: false,
            cache: false,
            success: (data) => {
                document.getElementById("loader-wrapper").style.display = "none";
                AddFileInDataBase();
            },
            error: (e) => {
                document.getElementById("loader-wrapper").style.display = "none";
                alert(e.responseText);
            },
            beforeSend: function () {
                document.getElementById("loader-wrapper").style.display = "block";
            }
        });
    }

    function SaveFormNew() {

        if ($('#fileUpload').val() != "") {
            var f = $("#frmUpload");
            var url = f.attr('action');

            // Get form
            var form = $('#frmUpload')[0];
            var data = new FormData(form);
            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            document.getElementById("progressBar").style.display = 'block';
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            //console.log(percentComplete);
                            var elem = document.getElementById("progressBar");
                            elem.style.width = percentComplete + '%';
                            elem.innerHTML = percentComplete * 1 + '%';
                            if (percentComplete === 100) {
                                document.getElementById("loader-wrapper").style.display = "none";
                                //AddFileInDataBase();
                            }

                        }
                    }, false);

                    return xhr;
                },
                type: "POST",
                enctype: 'multipart/form-data',
                url: url,
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                success: function (result) {
                    document.getElementById("loader-wrapper").style.display = "none";
                    AddFileInDataBase();
                }
            });
        }
        else {
            AddFileInDataBase();
        }

    }

    function AddFileInDataBase() {
        var data = $('#editcontentform').serializeArray();
        var file;
        var ext ="";
        var type = "";
        if ($('#fileUpload').val() == "") {
            data.push({ name: 'IsFileChanged', value: 'false' });
        }
        else {
            data.push({ name: 'IsFileChanged', value: 'true' });
            file = $('#frmUpload').serializeArray();
            ext = $('#fileUpload')[0].files[0].name.slice($('#fileUpload')[0].files[0].name.lastIndexOf(".")).toLowerCase();
            type = $('#fileUpload')[0].files[0].type;
            if (ext == ".doc") {
                type = "application/doc"
            }
            else if (ext == ".mov" || ext == ".MOV") {
                // mime type for mov file is required as mp4 by angular developer
                type = "video/mp4"
            }
        }

        //get all selected tags
        var tagIds = [];
        $('ul.select2-selection__rendered li.select2-selection__choice').each(function () {
            tagIds.push($(this).attr('title'));
        })

        for (index = 0; index < data.length; ++index) {
            if (data[index].name == "ContentUrl" && $('#fileUpload').val() != "") {
                data[index].value = file[0].value.concat(ext);
            }
            if (data[index].name == "TagIdStrings") {
                data[index].value = tagIds;
            }
            if (data[index].name == "MimeType") {
                data[index].value = type;
            }
        }

        document.getElementById("loader-wrapper").style.display = "block";
        $.ajax({
            type: "POST",
            url: '../Edit',
            data: data,
            datatype: 'json',
            success: function (result) {
                if (result) {
                    window.location.href = "@Url.Action("Index", "MasterContent")";
                }
                document.getElementById("loader-wrapper").style.display = "none";
            }
        ,
            error: function (xhr) {
            },
            complete: function (jqXHR, status) {
            }
        });
    }

</script>

<style type="text/css">
    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    select {
        width: 100%;
        height: 30px;
        border-radius: 4px;
    }

    .select-panel {
        background-color: #f1f1f1;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .btn-content {
        margin-top: 6%;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }

     .pb-light-grey, .pb-hover-light-grey:hover, .pb-light-gray, .pb-hover-light-gray:hover {
        color: #000 !important;
        background-color: #f1f1f1 !important;
    }

    .pb-green, .pb-hover-green:hover {
        color: #fff !important;
        background-color: #6ABCCE !important;
    }

    .pb-center {
        text-align: center !important;
    }

    .pb-container, .pb-panel {
        padding: 0.01em 16px;
        margin-top: 10px;
    }

    #progressBar {
    display:none;
    }
</style>


<div class="alert alert-danger" role="alert" id="divError" style="display:none">
    <label id="lblError"></label>
</div>
<div class="alert alert-success" role="alert" id="divSuccess" style="display:none">
    <label id="lblSuccess"></label>
</div>

<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Content</h4>
    </div>
</div>

@using (Ajax.BeginForm("Edit", "MasterContent", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @id = "editcontentform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal customMinFrm">
        @Html.HiddenFor(model => model.MasterContentId)
        <div class="form-group">
            @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(Model => Model.CategoryId, Model.Categories == null ? new List<SelectListItem>
                () : Model.Categories, "Select Industry",
                new { @class = "form-control", @id = "ddlCategory", @onchange = "validateForm();" })
                <span class="text-danger field-validation-error" data-valmsg-for="ddlCategory" data-valmsg-replace="true"><span id="ddlCategory-error" class=""></span></span>
            </div>
        </div>
        <div class="form-group" id="CreateCategory" style="display:none">
            @Html.Label("Add New Industry", htmlAttributes: new { @class = "control-label" })
            <div>
                <div class="form-group">
                    <label for="name" class="sr-only"></label>
                    <input id="txtNameText" class="form-control input-group-lg reg_name" type="text" name="categorytname"
                           title="Industry name"
                           placeholder="Industry name" onkeyup="validateCategoryAdd();" />
                    <span class="text-danger field-validation-error" data-valmsg-for="txtNameText" data-valmsg-replace="true"><span id="txtNameText-error" class=""></span></span>

                </div>
                <div class="form-group"></div>
                <div class="form-group">
                    <label for="lbldescription" class="sr-only"></label>
                    <textarea maxlength="200" id="txtDescriptionText" class="form-control input-group-lg reg_name" type="text" name="txtdescription"
                              title="Description"
                              placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" id="btnAdd" value="Add" class="btn btn-primary" />
                    <input type="button" id="btnCancelCategory" value="Cancel" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Folders, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(Model => Model.MasterFolderId, Model.Folders == null ? new List<SelectListItem>
                () : Model.Folders, "Select Folder",
                new { @class = "form-control", @id = "ddlFolders", @onchange = "validateForm();" })
                <span class="text-danger field-validation-error" data-valmsg-for="ddlFolders" data-valmsg-replace="true"><span id="ddlFolders-error" class=""></span></span>

            </div>
        </div>
        <div class="form-group" id="CreateFolder" style="display:none">
            @Html.Label("Add New Folder", htmlAttributes: new { @class = "control-label" })
            <div>
                <div class="form-group">
                    <label for="name" class="sr-only"></label>
                    <input id="folderNameText" class="form-control input-group-lg reg_name" type="text" name="foldername"
                           title="Folder name"
                           placeholder="Folder name" onkeyup="validateFolderAdd();" />
                    <span class="text-danger field-validation-error" data-valmsg-for="folderNameText" data-valmsg-replace="true"><span id="folderNameText-error" class=""></span></span>

                </div>
                <div class="form-group"></div>
                <div class="form-group">
                    <label for="shortname" class="sr-only"></label>
                    <input id="folderShortNameText" class="form-control input-group-lg reg_name" type="text" name="foldershortname"
                           title="Folder short name"
                           placeholder="Folder short name" onkeyup="validateFolderAdd();" />
                    <span class="text-danger field-validation-error" data-valmsg-for="folderShortNameText" data-valmsg-replace="true"><span id="folderShortNameText-error" class=""></span></span>

                </div>
                <div class="form-group">
                    <input type="button" id="btnAddFolder" value="Add" class="btn btn-primary" />
                    <input type="button" id="btnCancelFolder" value="Cancel" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label" })
            <div class="form-control">
                @*@Html.ListBoxFor(Model => Model.TagIds, Model.Tags == null ? new List<SelectListItem>
                    () : Model.Tags, new { @class = "chosen-select", @multiple = "multiple", @id = "ddlTags" })*@
                @*        @Html.DropDownListFor(Model => Model.TagIds, Model.Tags == null ? new List<SelectListItem>() : Model.Tags, new { @multiple = "multiple", @id = "ddlTags" })*@
                @Html.DropDownListFor(Model => Model.TagIdStrings, Model.Tags == null ? new List<SelectListItem>() : Model.Tags, new { @multiple = true, @id = "ddlTags", @name = "TagIdStrings" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validateForm();" } })
                <span class="text-danger field-validation-error" data-valmsg-for="Name" data-valmsg-replace="true"><span id="Name-error" class=""></span></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(x => x.IsAddDynamicFolder, new { @class = "form-check-input", @id = "isAddDynamicFolder" })  @Html.DisplayNameFor(x => x.IsAddDynamicFolder)</label>
            </div>
        </div>
        @Html.HiddenFor(model => model.ContentUrl)
        @Html.HiddenFor(model => model.MimeType)
        @if (ViewBag.FileName != null)
        {
            <div class="form-group">
                @Html.Label("File Uploaded", htmlAttributes: new { @class = "control-label" })
                <div>
                    <label disabled="disabled">@ViewBag.FileName</label>
                </div>
            </div>
        }
    </div>
            }
@if (Model.FileUploadViewModel != null)
{
    <div class="form-group">
        <div>
            <label class="control-label">Choose File for upload: </label>
        </div>
        <div id="fileuploaddiv">
            <form id="frmUpload" action="@Model.FileUploadViewModel.FormAction" method="@Model.FileUploadViewModel.FormMethod" enctype="@Model.FileUploadViewModel.FormEnclosureType">
                <input id="fname" type="hidden" name="key" value="" />
                <input type="hidden" name="AWSAccessKeyId" value="@Model.FileUploadViewModel.AWSAccessKey" />
                <input type="hidden" name="acl" value="@Model.FileUploadViewModel.Acl" />
                <input type="hidden" name="policy" id="policy" value="@Model.FileUploadViewModel.Base64EncodedPolicy" />
                <input type="hidden" name="signature" id="signature" value="@Model.FileUploadViewModel.Signature" />
                <input id="fileUpload" type="file" name="file" onchange="validateUploadFile();" />
                <div class="pb-light-grey">
                    <div id="progressBar" class="pb-container pb-green pb-center"></div>
                </div>
                 <div> <span class="text-danger field-validation-error" data-valmsg-for="fileUpload" data-valmsg-replace="true"><span id="fileUpload-error" class=""></span></span></div>
                <br />
                <br />
                <input id="btnSave" type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </form>
        </div>
        <video controls width="500px" id="vid" style="display:none"></video>
    </div>


}
