<section class="popup bs-challenge-modal-lg">
    <div class="modal-header">
        <div class="modal-title" id="myModalLabel">
            <h2 class="box-title">Congratulation your content has been submitted</h2>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="video-frame">
            <div class="video-dtl-frame">
                <h4 class="vid-ttl">{{ data.Name || ""}}</h4>
                <p class="vid-dsc">{{ data.Description || "" }}</p>
            </div>
            <div class="video-container">
                <video *ngIf="data.IsAwsContent" controls>
                    <source [src]="data.ContentUrl" type="video/mp4">
                </video>
                <iframe *ngIf="!data.IsAwsContent" [src]="data.ContentUrl" frameborder="0" allowfullscreen></iframe>
            </div><!-- video-frame End// -->
            <div class="chalange-dtl-col">
                <label class="lbl">Topic Ends on</label>
                <strong class="date">{{ data.EndDate | date: "mediumDate" }} at
                    {{ data.EndDate | date: "shortTime" }}</strong>
            </div>
        </div><!-- Video Frame End// -->
        <div class="social-share-frame">
            <label class="lbl">Share and make it public</label>
            <p class="social-icons">
                <app-social-share [contentId]="data.ContestId" type="2"></app-social-share>
                <button class="shareBrodcast w-auto" (click)="broadcast()">Share in Broadcast folder</button>
            </p>
        </div><!-- social-share-frame End// -->
    </div>
</section>