/*Sign Up*/
.mainWrap {max-width: 1006px;margin: 0 auto;padding: 95px 15px;font-family: 'Noto Sans', sans-serif;}
.mainWrap h3 {font-size: 21px;color: #727272;font-weight: 700;padding: 28px 0;margin: 0;}
.mainWrap .frmBox h3 {margin: 20px 0 28px;padding: 0;font-size: 21px;}
.mainWrap .frmBox h3 span {color: #6ABCCE;font-size: 14px;text-decoration: underline;}
.bgCover {background: #E5F2F2;padding-bottom: 1px;width: 100%;    background-image: url(/assets/img/VirtualBrandworks_BlueBackground-min.jpg);
    background-size: cover;}
.frmBox {background: #fff;padding: 40px;border-radius: 2px;margin-bottom: 50px;border: none;}
.planWrap {display: flex;flex-wrap: wrap;max-width: 810px;}
.planWrap .plns {padding: 20px 18px;min-height: 250px;width: 250px;border: 2px solid #C8D6D6;border-radius: 2px;margin: 0 20px 20px 0;box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);position: relative;background: #fff;}
.planWrap .plns:before {opacity: 0;content: '';border: 8px solid;border-image-slice: 1;
border-image-source: rgb(54,166,60);
border-image-source: -moz-linear-gradient(top,  rgba(180,204,87,1)0%,  rgba(54,166,60,1)  100%);
border-image-source: -webkit-linear-gradient(top, rgba(180,204,87,1) 0%,  rgba(54,166,60,1) 100%);
border-image-source: linear-gradient(to bottom, rgba(180,204,87,1) 0%,  rgba(54,166,60,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4cc57', endColorstr='#36a63c',GradientType=0 );left: -8px;right: -8px;bottom: -8px;top: -8px;border-radius: 2px;position: absolute;}
.planWrap .plns h2 {font-size: 30px;text-transform: uppercase;color: #656565;font-weight: bold;}
.planWrap .plns p.users {font-size: 13px;border-top: 1px solid #B0B1B1;border-bottom: 1px solid #B0B1B1;margin: 5px 0;padding: 20px 2px 20px 45px;background: url(/assets/img/icon_users1.png) no-repeat left center;}
.planWrap .plns .price {display: flex;align-items: center;}
.planWrap .plns .price span {font-weight: bold;font-size: 20px;}
.planWrap .plns .price strong {font-weight: bold;font-size: 30px;margin: 0 5px;min-width: 72px;}
.planWrap .plns .price p {font-size: 12px;font-weight: bold;margin: 0;}
.planWrap .plns.active:before,
.planWrap .plns:hover:before {opacity: 1;}
.planWrap .plns.active h2,
.planWrap .plns:hover h2 {color: #36A63C;}
/*new*/
.planWrap.planNewWrap{max-width: 1240px;margin: 0px -11px 0 0px;}
.subsWrap .mainWrap{max-width: inherit;}
.planWrap.planNewWrap .plns{margin: -1px;min-width: 16.66%;min-height: 205px;padding: 20px 15px;box-shadow: none;}

.planWrap.planNewWrap .plns:before{
border-image-source: -moz-linear-gradient(top,  #a2d293 0%, #42b6d0 100%); /* FF3.6-15 */
border-image-source: -webkit-linear-gradient(top,  #a2d293 0%,#42b6d0 100%); /* Chrome10-25,Safari5.1-6 */
border-image-source: linear-gradient(to bottom,  #a2d293 0%,#42b6d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d293', endColorstr='#42b6d0',GradientType=0 ); /* IE6-9 */z-index: 1;} 
.planWrap.planNewWrap .plns:hover{background:#ecf2e7;} 
/*.planWrap.planNewWrap .plns:first-child{border-left: 2px solid #C8D6D6;}*/
.planWrap.planNewWrap .plns .price.showS{display: none;}
.planWrap.planNewWrap .plns .price strong{min-width: 1px;}
.planWrap.planNewWrap .plns h2{font-size: 21px;}
.planWrap.planNewWrap .plns p.users{margin: 12px 0;}
.planToggle{display: flex;align-items: center;justify-content: center;margin-bottom: 20px;}
.planToggle.bgBlue{background-color: #75bcc8;padding: 13px;margin-bottom: 10px;}
.planToggle h5,.planToggle h4{color: #fff;font-weight: bold;font-size: 17px;text-transform: uppercase;margin: 0;}
.planToggle h4.opc1,
.planToggle h5.opc1{opacity: 0.6}
/*.planToggle h5{opacity: 0.6}*/
.planToggle .switch{margin: 0 20px;height: 34px;width: 85px;}
.planToggle .switch .slider{border-color:#fff;background-color: #fff;}
.planToggle .switch .slider::before {left: 4px;bottom: 3px;}
.planToggle input:checked + .slider::before{-webkit-transform: translateX(34px);-ms-transform: translateX(34px);transform: translateX(34px);background: #8DC640!important;}
.planToggle .slider::before {background-color: #46a6cc;}

/*new*/
.form-check {font-size: 14px;margin: 5px 0 20px;}
/*.form-check.pl-0{padding-left: 0;}*/
.form-check.pl span{color: #e7a9b6;padding-right: 5px;}
.form-check.pl label{margin-right: 10px}
.form-check label {font-weight: bold;color: #656565;}
.form-check label a {color: #1E95D3;}
.form-check label span {color: #DD7D90;padding-left: 5px;}
.text-right {color: #666;font-weight: bold;font-size: 14px;}
.text-right a {color: #1E95D3;font-weight: bold;text-decoration: none;}
.color-change {color: #E6AAB6 !important;}
.btn.btn-primary{margin-top: 10px;}
.form-check{margin-bottom: 10px;}
/*Sign UP*/

.frmBox a img.logo-img{display: block;max-width: 350px;margin: auto;width: 100%;}
.frmBox a img.logo-landscape{max-width: 100%;display: none;max-width: 550px;width: 100%;margin: auto;}
.btn.btn-primary {background: #8DC640;}
.custom-control-label::before{border: 2px solid #8DC640; border-radius: 0;top: 1px;}
.custom-control-input:checked ~ .custom-control-label::before{background-color: #8DC640; border-color: #8DC640;}
.form-check-input{margin: 0;}
.custom-control-input:focus ~ .custom-control-label::before{box-shadow: none;}
.custom-control{
    margin-top: 30px;
}
.custom-control-label::after {
    top: 0.1rem;
}

.btn.btn-primary.continueBtn {
	border-radius: 0px !important;
	max-width: 140px;
	width: 100%;
	padding: 13px 10px;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
    .frmBox a img.logo-img{
        display: none;
    }
    .frmBox a img.logo-landscape{
    display: block;
    }
}
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) {
    .frmBox a img.logo-img{
        display: none;
    }
    .frmBox a img.logo-landscape{
        display: block;
    }
  }

  @media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 767px) 
  and (orientation: landscape) {
    .frmBox a img.logo-img{
        display: none;
    }
    .frmBox a img.logo-landscape{
        display: block;
    }
  }

  ::ng-deep .modalwidth .modal-dialog {
      width: 100% !important;
  }

@media only screen and (max-width: 767px){
    .loginCover{
        padding: 15px!important;
    }
}