<!-- Signup page -->
<div class="bgCover" *ngIf="!showPayment">
  <div class="mainWrap">
    
    <div class="frmBox">
      <a (click)="navigateToHome()">
        <img src="assets/img/logo-2.png" alt="logo" class="logo-img">
        <img src="assets/img/logo-landscape.png" alt="logo-heading" class="logo-landscape">
      </a>
      <h3>Sign up</h3>
     
      <form #f="ngForm" [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value);">
        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="User Type" [value]="userRole" disabled />
              <!-- <span class="floating-label">User Type<small>*</small></span> -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="@ User handle" [formControl]="signupForm.controls['handleName']" (keypress)="keyPressAlphanumeric($event)" />
              <div *ngFor="let messages of validationMessages.handleName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['handleName'].touched || signupForm.controls['handleName'].dirty) && signupForm.controls['handleName'].invalid && signupForm.controls['handleName'].errors[messages.type]">{{messages.message}}</small>
              </div>
              <!-- <span class="floating-label">Team Handle<small>*</small></span> -->
            </div>
          </div>
          <div class="col-sm-6" *ngIf="userRole != 'Admin'">
            <div class="wrap">
              <input type="text" class="control" placeholder="Company Name" [formControl]="signupForm.controls['CompanyName']" (blur)="checkEmailAndCompany()" [(ngModel)]="company" disabled="true" />
              <!-- <span class="floating-label">Company Name <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.CompanyName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['CompanyName'].touched || signupForm.controls['CompanyName'].dirty) && signupForm.controls['CompanyName'].invalid && signupForm.controls['CompanyName'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="userRole == 'Admin'">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Company Name" [formControl]="signupForm.controls['CompanyName']" (blur)="checkEmailAndCompany()" [(ngModel)]="company" />
              <!-- <span class="floating-label">Company Name <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.CompanyName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['CompanyName'].touched || signupForm.controls['CompanyName'].dirty) && signupForm.controls['CompanyName'].invalid && signupForm.controls['CompanyName'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select"
                [formControl]="signupForm.controls['SelectedCategoryId']">
                <option value="">Select Category</option>
                <option *ngFor="let industry of industries" [value]="industry.CategoryId">{{ industry.CategoryName }}
                </option>
              </select>
              <!-- <span class="floating-label">Industry <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.SelectedCategoryId">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['SelectedCategoryId'].touched || signupForm.controls['SelectedCategoryId'].dirty) && signupForm.controls['SelectedCategoryId'].invalid && signupForm.controls['SelectedCategoryId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="First Name" [formControl]="signupForm.controls['FirstName']" />
              <!-- <span class="floating-label">First Name <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.FirstName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['FirstName'].touched || signupForm.controls['FirstName'].dirty) && signupForm.controls['FirstName'].invalid && signupForm.controls['FirstName'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Last Name" [formControl]="signupForm.controls['LastName']" />
              <!-- <span class="floating-label">Last Name <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.LastName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['LastName'].touched || signupForm.controls['LastName'].dirty) && signupForm.controls['LastName'].invalid && signupForm.controls['LastName'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Email" [formControl]="signupForm.controls['Email']" (blur)="checkEmailAndCompany()" [(ngModel)]="email" [attr.disabled]="(userRole != 'Admin')?'':null" />
              <!-- <span class="floating-label">Email<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.Email">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['Email'].touched || signupForm.controls['Email'].dirty) && signupForm.controls['Email'].invalid && signupForm.controls['Email'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Phone No." [formControl]="signupForm.controls['PhoneNo']" />
              <!-- <span class="floating-label">Phone No. <small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.PhoneNo">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['PhoneNo'].touched || signupForm.controls['PhoneNo'].dirty) && signupForm.controls['PhoneNo'].invalid && signupForm.controls['PhoneNo'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="password" class="control" placeholder="Password" [formControl]="signupForm.controls['Password']" />
              <!-- <span class="floating-label">Password<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.Password">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['Password'].touched || signupForm.controls['Password'].dirty) && signupForm.controls['Password'].invalid && signupForm.controls['Password'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="password" class="control" placeholder="Confirm Password"
                [formControl]="signupForm.controls['ConfirmPassword']" />
              <!-- <span class="floating-label">Confirm Password<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.ConfirmPassword">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['ConfirmPassword'].touched || signupForm.controls['ConfirmPassword'].dirty) && signupForm.controls['ConfirmPassword'].invalid && signupForm.controls['ConfirmPassword'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Address 1" [formControl]="signupForm.controls['AddressOne']" />
              <!-- <span class="floating-label">Address 1</span> -->
              <div *ngFor="let messages of validationMessages.AddressOne">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['AddressOne'].touched || signupForm.controls['AddressOne'].dirty) && signupForm.controls['AddressOne'].invalid && signupForm.controls['AddressOne'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" class="control" placeholder="Address 2" [formControl]="signupForm.controls['AddressTwo']" />
              <!-- <span class="floating-label">Address 2</span> -->
              <div *ngFor="let messages of validationMessages.AddressTwo">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['AddressTwo'].touched || signupForm.controls['AddressTwo'].dirty) && signupForm.controls['AddressTwo'].invalid && signupForm.controls['AddressTwo'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select"
                [formControl]="signupForm.controls['SelectedCountryId']" (change)="getStates($event.target.value)">
                <option value="">Select Country</option>
                <option *ngFor="let country of countries;" [value]="country.ID">{{ country.Name }}</option>
              </select>
              <!-- <span class="floating-label">Country<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.SelectedCountryId">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['SelectedCountryId'].touched || signupForm.controls['SelectedCountryId'].dirty) && signupForm.controls['SelectedCountryId'].invalid && signupForm.controls['SelectedCountryId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select" [formControl]="signupForm.controls['SelectedStateId']"
                (change)="getCities($event.target.value)">
                <option value="">Select State</option>
                <option *ngFor="let state of states;" [value]="state.ID">{{ state.Name }}</option>
              </select>
              <div *ngFor="let messages of validationMessages.SelectedStateId">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['SelectedStateId'].touched || signupForm.controls['SelectedStateId'].dirty) && signupForm.controls['SelectedStateId'].invalid && signupForm.controls['SelectedStateId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select" [formControl]="signupForm.controls['SelectedCityId']">
                <option value="">Select City</option>
                <option *ngFor="let city of cities;" [value]="city.ID">{{ city.Name }}</option>
              </select>
              <!-- <span class="floating-label">City<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.SelectedCityId">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['SelectedCityId'].touched || signupForm.controls['SelectedCityId'].dirty) && signupForm.controls['SelectedCityId'].invalid && signupForm.controls['SelectedCityId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="userRole != 'Admin'">
            <div class="wrap">
              <select name="" id="" class="control custom-select" [formControl]="signupForm.controls['LocationId']">
                <option value="">Select Location</option>
                <option *ngFor="let location of locationListData;" [value]="location.LocationId">{{ location.LocationName }}</option>
              </select>
              <span *ngIf="userRole == 'Trainer'"><b class="text-danger">*Note: Please use your work address and location</b></span>
              <div *ngFor="let messages of validationMessages.LocationName">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['LocationId'].touched || signupForm.controls['LocationId'].dirty) && signupForm.controls['LocationId'].invalid && signupForm.controls['LocationId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" placeholder="Zip/ Postal Code" class="control" [formControl]="signupForm.controls['ZipCode']">
              <!-- <span class="floating-label">Zip/ Postal Code<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.ZipCode">
                <small class="text-danger"
                  *ngIf="(signupForm.controls['ZipCode'].touched || signupForm.controls['ZipCode'].dirty) && signupForm.controls['ZipCode'].invalid && signupForm.controls['ZipCode'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <h3 *ngIf="!submitForm && userRole == 'Admin'">Subscription Plan<small class="color-change">*</small></h3>
        <app-plans *ngIf="!submitForm && userRole == 'Admin'" (planData)="getPlanData($event)"></app-plans>
        <h3 *ngIf="submitForm && signupForm.valid && planData && userRole == 'Admin'">Your selected plan <span (click)="toggleChangePlan() " data-toggle="modal" data-target="#changePlan" class="hover-change">Change Plan</span></h3>
        <div class="planWrap planNewWrap" *ngIf="submitForm && signupForm.valid && planData && userRole == 'Admin'">
          <div class="plns">
            <h2>{{ planData.PlanName }}</h2>
            <p class="users">up to {{ planData.NumberOfUsers }} users</p>
            <div class="price showF">
              <span>$</span> <strong>{{ planData.Price }}</strong>
              <p *ngIf="planData.PlanType == 2">/ Per Months</p>
              <p *ngIf="planData.PlanType == 1">/ Yearlys</p>
            </div>
          </div>
        </div>
        <div class="form-check pl pl-0" *ngIf="!submitForm">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input" id="customCheck1"
            [formControl]="signupForm.controls['IsPolicyAccepted']">
            <label class="custom-control-label form-check-label" for="customCheck1">Accept <a routerLink="/privacypolicy" target="_blank">Privacy policy</a> and <a routerLink="/tnc" target="_blank">terms</a><small class="color-change">*</small></label>
          </div>
          <div *ngFor="let messages of validationMessages.IsPolicyAccepted">
            <small class="text-danger"
              *ngIf="(signupForm.controls['IsPolicyAccepted'].touched || signupForm.controls['IsPolicyAccepted'].dirty) && signupForm.controls['IsPolicyAccepted'].invalid && signupForm.controls['IsPolicyAccepted'].errors[messages.type]">{{messages.message}}</small>
          </div>
        </div>
       

        <!--   <div class="form-check pl" *ngIf="!submitForm">
          <input type="checkbox" class="form-check-input"
            [formControl]="signupForm.controls['IsPolicyAccepted']" >
          <label class="form-check-label" for="exampleCheck1">Accept <a routerLink="/privacypolicy" target="_blank">Privacy policy</a> and <a routerLink="/tnc" target="_blank">terms</a><small class="color-change">*</small></label>
          <div *ngFor="let messages of validationMessages.IsPolicyAccepted">
            <small class="text-danger"
              *ngIf="(signupForm.controls['IsPolicyAccepted'].touched || signupForm.controls['IsPolicyAccepted'].dirty) && signupForm.controls['IsPolicyAccepted'].invalid && signupForm.controls['IsPolicyAccepted'].errors[messages.type]">{{messages.message}}</small>
          </div>
        </div> -->
        <div class="form-check pl pl-0" *ngIf="!submitForm">
          <span>*</span>Mandatory fields
        </div>

        <div class="row" *ngIf="userRole == 'Admin'">
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary continueBtn" *ngIf="!submitForm"
              [disabled]="!signupForm.valid || !planData || !emailCompanyCheck" (click)="submitForm = true">Continue</button>
            <button type="submit" class="btn btn-primary"
              *ngIf="submitForm && signupForm.valid && planData" [disabled]="!signupForm.valid || !planData || !emailCompanyCheck">{{ submitButton }}</button>
          </div>
          <div class="col-sm-6 text-right">
            Already a member? <a routerLink="/login">Log In</a>
          </div>
        </div>
        <div class="row" *ngIf="userRole != 'Admin'">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" *ngIf="!submitForm"
              [disabled]="!signupForm.valid">Sign Up</button>
          </div>
          <div class="col-sm-6 text-right">
            Already member? <a routerLink="/login">Log In</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<app-payment *ngIf="showPayment && userRole == 'Admin'" [planData]="planData" [personalInfo]="personalInfo"></app-payment>