<div class="pageHeader minFlex">
    <div class="navbar justify-content-between align-item-center">
      <h4 *ngIf="!teamId">Create Team</h4>
      <h4 *ngIf="teamId">Update Team</h4>
      <a routerLink="/teams"><span class="closeBtn"></span></a>
    </div>
  </div>
  
  <div class="relPos">
    <div class="sideSpace">
      <div class="teamTophedr">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
              <label for="exampleInputEmail1">Team Name</label>
              <input type="text" class="form-control" [(ngModel)]="teamName" placeholder="Enter Team Name">
          </div>
          <div class="col-sm-6 col-lg-3">
            <label for="exampleInputEmail1">Team Handle</label>
            <input type="text" class="form-control" [(ngModel)]="teamHandle" placeholder="Enter Team Handle">
        </div>
          <div class="col-sm-6 col-lg-3">
            <label for="exampleInputEmail1">Status</label>
            <select class="form-control" (change)="teamStatus = $event.target.value">
              <option value="true" [selected]="teamStatus == 'true'">Active</option>
              <option value="false" [selected]="teamStatus == 'false'">Inactive</option>
            </select>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="row">
          <app-location-selector></app-location-selector>
          </div>
          </div>
        </div>
      </div>
      <div class="teamTable">
  
        <div class="createTeam">
          <h5>Select Member</h5>
          <div class="pr-20">
            <table class="membrHead">
              <tr>
                <th width="10%">#</th>
                <th width="20%">Pic</th>
                <th width="35%" (click)="sortName('user')">Name<span><i class="up"></i><i class="down"></i></span></th>
                <th width="35%">
                  <input type="text" placeholder="Search" [(ngModel)]="searchValue">
                </th>
              </tr>
            </table>
          </div>
          <div class="tableItemCover">
            <table>
              <tr class="selectItem" *ngFor="let user of teamUsers | searchPipe : searchValue; let i = index;" (click)="pushSelectedUsers(user.UserId)">
                <td width="10%">{{ i+1 }}</td>
                <td width="20%"><img [src]="user.ProfilePicture" alt="no-image"></td>
                <td width="35%">{{ user.FirstName + " " + user.LastName }}</td>
                <td width="35%"><span class="grnCheck" *ngIf="user.IsSelected"></span></td>
              </tr>
            </table>
          </div>
        </div>
  
        <div class="createTeam">
          <h5>Your Selected Team</h5>
          <div class="pr-20">
            <table>
              <tr>
                <th width="10%">#</th>
                <th width="20%">Pic</th>
                <th width="70%" colspan="2" (click)="sortName('selectedUser')">Name <span><i class="up"></i><i class="down"></i></span></th>
              </tr>
            </table>
          </div>
          <div class="tableItemCover">
            <table>
              <tr class="selectItem" *ngFor="let selectedUser of selectedUsers; let i = index;" (click)="unselectUser(i)">
                <td width="10%">{{ i+1 }}</td>
                <td width="20%"><img [src]="selectedUser.ProfilePicture" alt="no-image"></td>
                <td width="35%">{{ selectedUser.FirstName + " " + selectedUser.LastName }}</td>
                <td width="35%"><span class="redCRoss"></span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="inputLocation">
        <div class="width50">
         <strong><app-tags (sendTags)="getSelectedTags($event)"></app-tags></strong> 
        </div>
        <div class="width50">
          <label  for="exampleInputEmail1">Select Location</label>
         <!-- <input #searchLoc class="form-control inputLocation" type="text" [(ngModel)]="selectedLocation" >
          <ul class="list-group custom-list" *ngIf="locations?.length > 0">
              <li class="list-group-item change-cursor" *ngFor="let location of locations; let i = index;" (click)="getSelectedLocation(location)">
                  {{ location.LocationName }}
              </li>
          </ul> -->
          <select class="form-control" [(ngModel)]="selectedLocation" (change)="getSelectedLocation($event.target.value)">
            <option *ngFor="let location of locations; let i = index;" [value]="location.LocationName">
                {{ location.LocationName }}
            </option>
        </select>
        </div>
      </div>
     
    </div>
    <div class="selectedDir">
      <button class="btn-primary btn" (click)="createTeam()" *ngIf="!teamId">Create Team</button>
      <button class="btn-primary btn" (click)="createTeam()" *ngIf="teamId">Update Team</button>
    </div>
  </div>