<div class="modalInnerWrap">
    <div class="modal-body">
        <h2>Write to us</h2>
        <p>curious to learn more? Let's connect.</p>
        <form [formGroup]="mailForm" (ngSubmit)="mailData()">
        <div class="form-group">
            <input type="email" formControlName="email" class="form-control" placeholder="Your Email*">
        </div>
        <div >
            <small class="text-danger"
              *ngIf="(!formValid || mailForm.controls['email'].touched || mailForm.controls['email'].dirty) && mailForm.controls['email']?.errors?.required">Email is Required</small>
              <small class="text-danger"
              *ngIf="(!formValid || mailForm.controls['email'].touched || mailForm.controls['email'].dirty) && mailForm.controls['email']?.errors?.email">Email is Invalid</small>
          </div>
        <div class="form-group">
            <textarea  class="form-control" rows="5" formControlName="message" placeholder="Type Here"></textarea>
        </div>
        <div>
            <small class="text-danger"
              *ngIf="(!formValid || mailForm.controls['message'].touched || mailForm.controls['message'].dirty) && mailForm.controls['message'].invalid">Message is required</small>
        </div>
        <button class="submitBtn">Submit</button>
    </form>
    </div>
</div>