.modalInnerWrap{
    padding: 15px;
    h2{
        font-size: 30px;
        color: #812c8f;
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }
    .form-control{
        min-height: 50px;
        font-size: 18px;
        &:focus{
            box-shadow: 0 0 0 0.2rem #812c8f42;
            border-color: #812c8f;
        }
    }
    .submitBtn{
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        background-color: #812c8f;
        padding: 5px 30px;
        display: block;
        border:none;
        cursor: pointer;
        margin: 0 auto;
    }
}