<!-- <div class="headerWrap" [ngClass]="{'fixedHeader': isHomePage}" *ngIf="!isLoginPage">
  <div class="header d-flex justify-content-between align-items-center">

    <div class="logo">
      <a routerLink="/"><img src="../../assets/img/logo-sml.svg" alt="logo"></a>
    </div>

    <div class="navBeforLogin" *ngIf="showSignup">
      <ul>
        <li><a (click)="routeTo('home#overview')" [ngClass]="{'select': (selectedHeader == 'overview')}">Overview</a></li>
        <li><a (click)="routeTo('home#subscription')" [ngClass]="{'select': (selectedHeader == 'subscription')}">Subscription Plans</a></li>
        <li><a (click)="routeTo('home#writetous')" [ngClass]="{'select': (selectedHeader == 'writetous')}">Write to us</a></li>
      </ul>
    </div>

    <div class="rightHead">
      <div class="dropdown" *ngIf="showSignup">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Login<span *ngIf="showSignup">/ Signup</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="routeTo('login')">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item asp" (click)="routeTo('signup')">Signup</a>
        </div>
      </div>
      <div class="navBeforLogin" *ngIf="!showSignup">
        <ul>
          <li>
            <a class="select" (click)="routeTo('login')">Login</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div> -->

<header routerLinkActive="top-header" [ngClass]="isBlackBgClass == true ? 'black-bg' : ''">
  <div class="container">
      <nav class="navbar navbar-expand-lg">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <a class="navbar-brand" (click)="scrollToTop()">
            <img src="../../assets/img/home-new/logo.png" alt="logo" class="home-logo">
            <img src="../../assets/img/logo-sml.svg" alt="logo" class="sign-logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNav()">
              <img src="../../assets/img/home-new/hamburger.png" alt="logo">
          </button>

          <div class="collapse navbar-collapse" [ngClass]="showHideClass">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link"routerLink="/home" (click)="scrollToTop()">Home</a>
                      <!-- <a class="nav-link" (click)="routeTo('home#overview')" [ngClass]="{'select': (selectedHeader == 'overview')}">Overview</a> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="home#process">Process</a>
                      <!-- <a class="nav-link" (click)="routeTo('home#subscription')" [ngClass]="{'select': (selectedHeader == 'subscription')}">Subscription Plans</a> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="home#features">Features</a>
                      <!-- <a class="nav-link" (click)="routeTo('home#writetous')" [ngClass]="{'select': (selectedHeader == 'writetous')}">Write to us</a> -->
                  </li>
                  <li class="nav-item">
                      <!-- <a class="nav-link" href="#">Page3</a> -->
                      <div class="dropdown" *ngIf="showSignup">
                        <a class="dropdown-toggle"class="nav-link" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Login<span *ngIf="showSignup">/ Signup</span>
                      </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="routeTo('login')">Login</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item asp" (click)="routeTo('signup')">Signup</a>
                        </div>
                      </div>
                      <div class="navBeforLogin" *ngIf="!showSignup">
                       
                            <a class="select nav-link" (click)="routeTo('login',true)">Login</a>
                         
                      </div>
                  </li>
                  <li class="nav-item d-none d-lg-block" *ngIf="!isDesktop">
                     <img src="../../assets/img/home-new/hamburger.png" alt="logo">
                  </li>
              </ul>
              
          </div>
          
      </nav>
  </div>
</header>