header{
    padding-top: 20px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    @media only screen and (max-width: 1500px) {
        padding-top: 10px;
    }
    &:focus{
        outline: none;
    }
    
    &.top-header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        &.black-bg{
            padding-top: 10px;
            nav{
                padding: 0 0 12px;
            }
        }
        nav {
            border-bottom: 2px solid #bebabb;
            .navbar-brand{
               
                img.home-logo{
                    display: inline-block;
                }
                img.sign-logo{
                    display: none;
                }
            }
            
            .nav-link{
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
            }
            .dropdown .nav-link,.navBeforLogin .nav-link{
                color: #fff;
            }
            
        }
    }
    &.black-bg{
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        nav{
            border-bottom: none;
        }
    }
    nav{
       
        padding: 0 0 30px;
        @media only screen and (max-width: 1500px) {
           padding: 0 0 12px;
        }

        .navbar-brand{
            max-width: 235px;
            @media only screen and (max-width: 1500px) {
                max-width: 225px;
            }
            img.home-logo{
                display: none;
            }
        }
        .nav-link{
            color: #656565;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 20px;
            padding-left: 35px;
            padding-right: 35px;
        }
        .dropdown .nav-link,.navBeforLogin .nav-link{
            color: #1E95D3;
        }
        .dropdown-item{
            font-size: 18px;
        }
    }
    @media (min-width: 1500px){
        .container {max-width: 1586px;
        }
    }
}
@media screen and (max-width: 1360px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 25px;
            
            .navbar-brand{
                max-width: 200px;
            }

            .nav-link{
                font-size: 18px;
                text-transform: uppercase;
                padding-left: 30px;
                padding-right: 30px;

                img{
                    width: 55px;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 20px;

            .navbar-brand{
                max-width: 180px;
            }

            .nav-link{
                font-size: 16px;
                text-transform: uppercase;
                padding-left: 25px;
                padding-right: 25px;

                img{
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 15px;

            .nav-link{
                font-size: 15px;
                text-transform: uppercase;
                padding-left: 20px;
                padding-right: 20px;

                img{
                    width: 45px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    header{
        padding-top: 20px;
        z-index: 2;
        backdrop-filter: blur(10px);

        nav{
            padding-bottom: 10px;

            .nav-link{
                font-size: 14px;
                text-transform: uppercase;
                padding-left: 15px;
                padding-right: 15px;

                img{
                    width: 40px;
                }
            }
            .navbar-toggler {
                border: 0;

                &:focus{
                    outline: none;
                }
                img{
                    width: 40px;
                }
            }
        }
    }
}