﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/font.css">

    <title>Welcome to Virtual Brand Works</title>
    <style type="text/css">
        body {
            font-family: 'gothic', sans-serif !important;
        }

        a {
            color: #3AAFCA;
            text-decoration: none;
        }

            a:hover {
                color: #2F8EA3;
            }

        p {
            color: #202020;
        }
    </style>
</head>
<body>
    <table cellspacing="0" cellpadding="0" style="width: 100%; max-width:700px; min-width:320px; margin: 20px auto;">
        <thead style="background-color: #E5F2F2;">
            <tr>
                <th style="text-align: left; padding-top: 24px; padding-bottom: 24px; border-bottom: 3px solid #6CBDCD; text-align: center;">
                    <img src="{BaseUrl}Images/logo-sml.png" alt="VBW logo" title="Welcome to Virtual Brand Works" style="max-width: 100%; margin: 0 auto;" />
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="padding: 55px 0 15px;">
                    <strong>{Greeting} {UserName}</strong>,
                </td>
            </tr>

            <tr>
                <td style="padding-bottom: 55px;">
                    {Content}
                    <!--<p style="color: #202020;">
                        We have received a request to reset the password on your account.
                    </p>
                    <p style="color: #202020;">
                        <strong>899153</strong>
                    </p>
                    <p style="color: #202020;">
                        Enter this Code to complete the reset.
                    </p>
                    <p style="color: #202020;">
                        The OTP is valid for 10 minutes or 1 successful attempt whichever is earlier.
                    </p>
                    <p style="color: #202020;">
                        Thanks for helping us keep your account secure.
                    </p>-->
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td style="padding-top: 4px; padding-bottom: 4px; text-align: center; border-top: 3px solid #6CBDCD; background-color: #E5F2F2;">
                    <p style="margin: 5px 0; font-size: 14px;">
                        <strong>Virtual BrandWorks Team</strong>
                    </p>
                    <p style="margin: 5px 0; font-size: 14px;"><a href="">vbwteam@gmail.com</a></p>
                   @* <p style="margin: 5px 0; color: #777777; font-size: 12px;"><span style="line-height: 1.5;">3416 Hidden Meadow Drive, Whiteville, <br />West Virginia, 24984</span></p>*@

                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>