﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/font.css" />

    <title>Welcome to Virtual Brand Works</title>
    <style type="text/css">
        body {
            font-family: 'gothic', sans-serif !important;
        }

        a {
            color: #3AAFCA;
            text-decoration: none;
        }

            a:hover {
                color: #2F8EA3;
            }

        p {
            color: #202020;
            line-height: 1.3;
            font-size: 15px;
        }

        .tbl-subscription {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

            .tbl-subscription th {
                font-size: 14px;
                color: #404040;
                padding: 15px 15px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                background: #f1f1f1;
            }

            .tbl-subscription td {
                font-size: 14px;
                color: #404040;
                padding: 15px 15px;
                border-bottom: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }

        .btn-get-started {
            color: #fff;
            width: 240px;
            height: 45px;
            margin: 30px auto;
            border: 0 none;
            background: #6CBDCD;
            display: block;
        }

            .btn-get-started:hover {
                background: #3E95A6;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <table cellspacing="0" cellpadding="0" style="width: 100%; max-width:700px; min-width:320px; margin: 20px auto;">
        <thead style="background-color: #E5F2F2;">
            <tr>
                <th style="text-align: left; padding-top: 24px; padding-bottom: 24px; border-bottom: 3px solid #6CBDCD; text-align: center;">
                    <img src="{BaseUrl}Images/logo-sml.png" alt="VBW logo" title="Welcome to Virtual Brand Works" style="max-width: 100%; margin: 0 auto;" />
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="padding: 55px 0 15px;">
                    <strong>Hi {UserName}</strong>,
                </td>
            </tr>

            <tr>
                <td style="padding-bottom: 25px;">
                    <p style="color: #202020;">
                        Thanks for subscribing! Your account has been created successfully. Please find the details of your subscription plan below:
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" style="width: 70%; min-width: 320px; margin: auto;">
                        <tr>
                            <td style="text-align: center; background: #6CBDCD;">
                                <h3 style="color: #fff;">
                                    <strong>Subscription Details</strong>
                                </h3>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 25px;">
                    <table cellspacing="0" cellpadding="0" class="tbl-subscription" style="width: 70%; min-width: 320px; margin:0 auto;">
                        <tr>
                            <th>Plan Name</th>
                            <td>{SubscriptionPlan}</td>
                        </tr>
                        <tr>
                            <th>Subscription Start Date</th>
                            <td>{StartDate}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>{Currency}{Amount}/per month</td>
                        </tr>
                        <tr>
                            <th>Billing Cycle</th>
                            <td>{BillingCycle}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 25px;">
                    <p style="color: #202020;">
                        Virtual Brandworks is a centralized source of content and information sharing to help optimize trainings,
                        build efficiencies and enhance the operation of small to medium sized businesses.
                    </p>
                    <p style="color: #202020;">
                        We are committed to building the words’ best teams – come see how we do it.
                    </p>
                    <p>
                        <button class="btn-get-started" style="font-size: 18px; border-radius: 24px; text-transform: uppercase;">Get Started</button>
                    </p>
                    <p>
                        <span>Thanks</span><br />
                        <strong>Virtual Brandworks Team</strong>
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="padding-top: 4px; padding-bottom: 4px; text-align: center; border-top: 3px solid #6CBDCD; background-color: #E5F2F2;">
                    <p style="margin: 5px 0; font-size: 14px;">
                        <strong>Virtual BrandWorks Team</strong>
                    </p>
                    <p style="margin: 5px 0; font-size: 14px;"><a href="">vbwteam@gmail.com</a></p>
                   @* <p style="margin: 5px 0; color: #777777; font-size: 12px;"><span style="line-height: 1.5;">3416 Hidden Meadow Drive, Whiteville, <br />West Virginia, 24984</span></p>*@

                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>