.listColUsers{
    padding: 0  !important;
    border:none  !important;
    box-shadow: none !important;
    margin: 0  !important;
}

.listColUsers:hover{
    box-shadow: none !important;
}
.btn-info.btn{
    white-space: nowrap;
}
.plylistDetails.plylistTableDts td{
    height: 80px;
}

.performerWrap h3{margin:0 0 10px;}
.tabSection .listColUsers{
    border:none;box-shadow: none !important;padding: 0;margin: 0;
}
.plyListAbout{
    max-width: 100%;
}
.lowerBdgCol .ico.loader{
    display: block;
    width: 41px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    padding: 11px 0px;
    font-weight: bold;
}
.lowerBdgCol p{
    color: #959595;
}
.badgeCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #c8d6d6;
    .lowerBdgCol{
        padding:2px 5px 5px;
        border:none;
        background: #fff;
    }
    .upperBdgCol{
        margin: -2px;
        h1{
            font-size: 3.4rem;
        }
    }
}
.lowerBdgCol .btn{
    width: 100%;margin: 10px 0 0;padding: 4px;
}
.teamData ul li:last-child{
    padding-left: 20px;
}
.teamData ul li .madelList li{
    padding: 0;border:none;
}
.teamDetailsBox .tableWrapBorder{
    max-height:600px;
}

.teamDetailsBox.fullWidth{
    width: 100%;
    border:2px solid #afc6c6;
}

.flexTbl .w50{
    min-width: 180px;
}

@media screen and (max-width: 840px) {
    .teamData ul li:last-child{
        padding-left: 10px;
    }
    .teamData ul li .madelList li{
        margin: 0 2px;
    }
}
@media screen and (max-width: 800px) {
    .teamData ul li .madelList{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .teamData ul li:last-child{
        padding: 10px 0 0;
    }
}

 .listCol h4{
    margin-top: 15px;
}
.pointsLevel{
    ul{
        padding-left: 20px;
    }
    h4{
        font-size: 16px;
        color: #666666;
        font-weight: bold;
        margin-bottom: 2px;
    }
    p{
        font-size: 13px;
        color: #666666;
    }
}
.popup {
    .modal-header {
        .box-title{
            font-size: 20px;
            color: #5e6f6f;
            font-weight: bold;
        }
        .close {
            float: inherit;
            position: absolute;
            padding: 0;
            top: 40px;
            right: 30px;
            text-indent: -9999px;
            display: block;
            width: 31px;
            height: 31px;
            // background: url(../../assets/img/sprite.png) no-repeat -595px -14px;        
            
            &:hover{
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }
    }
}



.resultBlockWrap{
	.userResultDetail{
		display: flex;
		margin-bottom: 30px;
		.userResultDetailCol{
			padding-right: 30px;
			margin-right: 30px;
			border-right: 2px solid #afc6c6;
			&:last-child{
				border: 0;
			}
			p{
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			h3{
				font-size: 20px;
				font-weight: bold;
            }
            .fbScore{
                p{
                    color:#4ab486;
                }
                h3{
                    color:#4ab486;
                }
            }
		}
	}
	.vResult{
		flex-wrap: nowrap;
		margin: 0;
		border: 2px solid #c8d6d6;
		.verTab{
			max-height: 675px;
			overflow: auto;
			min-width: 150px;
			max-width: 150px;
			@media (max-width: 930px){
				min-width: 100%;
				max-width: 100%;
			}
		}
		.tabContent{
			overflow: hidden;
			padding: 0;
			border: 0;
			.tabSection{
				padding: 0;
			}
		}

		.resultTable{
			max-height: 660px;
			overflow: auto;
			table{
				border-left: 1px solid #c8d6d6;
				th{
					padding: 20px 15px;
					border-bottom: 2px solid #afc6c6;
					white-space: nowrap;
					font-size: 16px;
					color: #97b1b1;
				}
				td{
					padding: 20px 15px;
					border-bottom: 1px solid #cedddd;
					white-space: nowrap;
					font-size: 16px;
					font-weight: bold;
					video{
						margin: 0;
					}
					p.title{
						font-weight: normal;
					}
					.madel{
						margin: 0 auto 4px;
					}
					.medalNm{
						display: block;
						text-align: center;
						font-size: 12px;
						font-weight: bold;
					}
					.btn .arowRight{
						background-position: -228px -31px;
					}
				}
			}
		}
	}
}
.cursor-change {
    cursor: text !important;
}