<!-- Associated PlayList -->
<div class="listCol" [ngClass]="{'listColUsers': playlistDetail == 'userPlaylistDetail'}">
    <div class="titlL borderbotm">
      <span class="listIcon"></span>
      <div class="pl-10p">
        <h2>{{playlistDetailData && playlistDetailData.Name ? playlistDetailData.Name : ''}}</h2>
      </div>

      <span class="btn cursor-change" *ngIf="playlistDetailData && playlistDetailData.IsCompleted && !isSelfCreated" [ngClass]="{'btn-success': playlistDetailData && playlistDetailData.IsUserPass, 'btn-danger': playlistDetailData && !playlistDetailData.IsUserPass}">
        {{playlistDetailData && playlistDetailData.IsUserPass ? 'Pass' : 'Fail'}}
      </span>

      <button class="btn btn-success cursor-change" *ngIf="playlistDetailData && !playlistDetailData.IsCompleted && !isSelfCreated && !playlistDetailData.IsExpired">
        Running
      </button>

      <button class="btn btn-success cursor-change" *ngIf="isSelfCreated">
        Assigned
      </button>
      
      <div class="mlAuto">
        <button class="btn-info btn" *ngIf="!isSelfCreated" (click)="viewResult()">View Result <i class="arowRight"></i></button>
        <button class="btn-info btn" *ngIf="isSelfCreated && !playlistDetailData?.IsExpired" (click)="assignToMore()">Assign To More<i class="arowRight"></i></button>
        <button class="btn-info btn" *ngIf="isSelfCreated" (click)="clone()">Clone</button>
      </div>
    </div>
    
    <div class="plyListAbout">
      <h4>About Playlist</h4>
      <p>{{playlistDetailData && playlistDetailData.Description ? playlistDetailData.Description : ''}}</p>
    </div>
    
    <table class="plylistDetails plylistTableDts" *ngIf="playlistDetail == 'associatedPlaylistDetail'">
      <tbody>
        <tr>
          <td>
            <div class="flexTbl">
              <span class="ico date"></span>
              <div class="text-right">
                <p>Course Date</p>
                <h3>{{playlistDetailData && playlistDetailData.StartDate | date : 'd MMM, y'}} - {{playlistDetailData && playlistDetailData.EndDate | date : 'd MMM, y'}}</h3>
                <!-- <h3>{{24th - 31st Dec, 1019}}</h3> -->
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <span class="ico user"></span>
              <div class="text-right">
                <p>Total user</p>
                <h3>{{playlistDetailData && playlistDetailData.NumberOfUsers}}</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <span class="ico team"></span>
              <div class="text-right">
                <p>Total team</p>
                <h3>{{playlistDetailData && playlistDetailData.NumberOfTeams}}</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <!-- <span class="ico loader"></span> -->
              <circle-progress
                [percent]="playlistDetailData &&  playlistDetailData.PlaylistCompletePercentage"
                [radius]="20"
                [maxPercent]="100"
                [titleFontSize]="15"
                [showSubtitle]="false"
                [outerStrokeColor]="'#666666'"
                [innerStrokeColor]="'#cccccc'"
                [outerStrokeWidth]="4"
                [space]="-4"
              ></circle-progress>
 
              <div class="text-right">
                <p>Completed</p>
              </div>
            </div>
          </td>
          <td>
            <ul class="madelList" *ngIf="playlistDetailData && playlistDetailData.IsCompleted">
              <li *ngFor="let badge of playlistDetailData.Badges;"><img src="/assets/img/badge_{{badge.BadgeId}}.png"><p *ngIf="badge.NumberOfAwardees">{{ badge.NumberOfAwardees }}</p></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="plylistDetails plylistTableDts" *ngIf="playlistDetail == 'userPlaylistDetail'">
      <tbody>
        <tr>
          <td>
            <div class="flexTbl">
              <span class="ico date"></span>
              <div class="text-right">
                <p>Course Date</p>
                <h3>{{playlistDetailData && playlistDetailData.StartDate | date : 'd MMM, y'}} - {{playlistDetailData && playlistDetailData.EndDate | date : 'd MMM, y'}}</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <span class="ico user"></span>
              <div class="text-right">
                <p>Total user</p>
                <h3>{{playlistDetailData && playlistDetailData.NumberOfUsers}}</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <span class="ico team"></span>
              <div class="text-right">
                <p>Total team</p>
                <h3>{{playlistDetailData && playlistDetailData.NumberOfTeams}}</h3>
              </div>
            </div>
          </td>
          <td>
            <div class="flexTbl">
              <!-- <span class="ico loader"></span> -->
              <circle-progress
                [percent]="playlistDetailData &&  playlistDetailData.PlaylistCompletePercentage"
                [radius]="20"
                [maxPercent]="100"
                [showTitle]="false"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeColor]="'#666666'"
                [innerStrokeColor]="'#cccccc'"
                [outerStrokeWidth]="4"
                [space]="-4"
              ></circle-progress>

              <div class="text-right">
                <h3>{{playlistDetailData &&  playlistDetailData.PlaylistCompletePercentage}}%</h3>
                <p>Completed</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" *ngIf="playlistDetailData && playlistDetailData.IsCompleted">
            <ul class="madelList" *ngIf="playlistDetailData.Badges?.length > 0">
              <li *ngFor="let badge of playlistDetailData.Badges;"><img src="/assets/img/badge_{{badge.BadgeId}}.png"><p *ngIf="badge.NumberOfAwardees">{{ badge.NumberOfAwardees }}</p></li>
            </ul>
          </td>
          <td colspan="4" *ngIf="playlistDetailData && !playlistDetailData.IsCompleted">
            <ul class="madelList" *ngIf="playlistDetailData.Badges?.length > 0">
              <li *ngFor="let badge of playlistDetailData.Badges;"><img src="/assets/img/badge_{{badge.BadgeId}}.png"><p *ngIf="badge.NumberOfAwardees">{{ badge.NumberOfAwardees }}</p></li>
            </ul>
          </td>
          <td colspan="2" *ngIf="playlistDetailData && playlistDetailData.IsCompleted && !isSelfCreated">
            <div class="flexTbl">
              <div class="text-right pl-0 w50">
                <p>Total Percentage</p>
                <h3>{{playlistDetailData &&  playlistDetailData.TotalPercentage}}%</h3>
              </div>
            
              <div class="text-right pl-0">
                <p>Total Score</p>
                <h3>{{playlistDetailData && playlistDetailData.TotalMarksObtained}}</h3>
              </div>
            </div>
          </td>
        </tr>
      </tbody> 
    </table>

    <div class="badgeWrapper">
      <h4>Playlist Content</h4>
      <div class="badgeWrap">
        <div class="badgeCol" *ngFor="let folder of playlistDetailData && playlistDetailData.Folders; let i = index">
          <div class="upperBdgCol" [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3}">
            <p>{{folder.NumberOfContent}}</p>
            <h1>{{folder.FolderShortName}}</h1>
            <p><span>{{folder.FolderName}}</span></p>
          </div>
          <div class="lowerBdgCol">
            <circle-progress
              [percent]="folder.PlaylistFolderCompletePercentage"
              [radius]="20"
              [maxPercent]="100"
              [showSubtitle]="false"
              [outerStrokeColor]="'#666666'"
              [innerStrokeColor]="'#cccccc'"
              [outerStrokeWidth]="4"
              [space]="-4"
              [titleFontSize]="15"
            ></circle-progress>            
            <p *ngIf="!playlistDetailData.IsCompleted">Competed</p>
            <p *ngIf="playlistDetailData.IsCompleted && !isSelfCreated">{{ folder.MarksObtained }}/{{ folder.TotalMarks }}</p>
            <button class="btn btn-success" *ngIf="playlistDetail == 'userPlaylistDetail' && !isSelfCreated && !playlistDetailData.IsExpired" (click)="folderContentDetail(playlistDetailData, folder)">
              {{playlistDetailData && !playlistDetailData.IsCompleted ? 'Play': 'View'}}
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Associated PlayList -->
