<section class="popup bs-join-now-modal-lg">
    <div class="modal-header pt-4">
        <div class="modal-title" id="myModalLabel">
            <h5>Update Prize</h5>
        </div><!-- modal-title End//-->
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <form #f="ngForm" [formGroup]="updatePrizeForm" (ngSubmit)="update(updatePrizeForm.value);">
            <div class="join-form">
                <div class="form-group">
                    <label for="">Prize Title</label>
                    <input type="text" class="form-control" id="" [formControl]="updatePrizeForm.controls['Title']">
                    <div *ngFor="let messages of validationMessages.Title">
                        <small class="text-danger"
                            *ngIf="(updatePrizeForm.controls['Title'].touched || updatePrizeForm.controls['Title'].dirty) && updatePrizeForm.controls['Title'].invalid && updatePrizeForm.controls['Title'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="textarea" class="form-control" id=""
                        [formControl]="updatePrizeForm.controls['Description']">
                    <div *ngFor="let messages of validationMessages.Description">
                        <small class="text-danger"
                            *ngIf="(updatePrizeForm.controls['Description'].touched || updatePrizeForm.controls['Description'].dirty) && updatePrizeForm.controls['Description'].invalid && updatePrizeForm.controls['Description'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Thumbnail Image</label>
                    <div class="imageSelect">
                        <input #fileInput type="file" class="form-control file-input" id="" placeholder="Select file" (change)="upload($event.target.files)">
                        <button class="add" (click)="fileInput.click()" type="button">Select</button>
                    </div>
                    <p class="image-name" *ngIf="imageName">{{ imageName }}</p>
                </div>
                <div class="form-group">
                    <label for="">Points</label>
                    <input type="number" class="form-control" id="" [formControl]="updatePrizeForm.controls['Points']">
                    <div *ngFor="let messages of validationMessages.Points">
                        <small class="text-danger"
                            *ngIf="(updatePrizeForm.controls['Points'].touched || updatePrizeForm.controls['Points'].dirty) && updatePrizeForm.controls['Points'].invalid && updatePrizeForm.controls['Points'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="row calenderBlock">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Start Date</label>
                        <div class="date">
                            <input type="text" class="form-control" placeholder="DD/MM/YYYY"
                                [formControl]="updatePrizeForm.controls['StartDate']" readonly (click)="d.toggle()" 
                                ngbDatepicker #d="ngbDatepicker" [minDate]="minStartDate">
                            <span class="clIcon"></span>
                        </div>
                        <div *ngFor="let messages of validationMessages.StartDate">
                            <small class="text-danger"
                                *ngIf="(updatePrizeForm.controls['StartDate'].touched || updatePrizeForm.controls['StartDate'].dirty) && updatePrizeForm.controls['StartDate'].invalid && updatePrizeForm.controls['StartDate'].errors[messages.type]">{{messages.message}}
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6 date">
                        <label for="exampleInputEmail1">End Date</label>
                        <div class="date">
                            <input type="text" class="form-control" [formControl]="updatePrizeForm.controls['EndDate']" readonly [formControl]="updatePrizeForm.controls['EndDate']" (click)="e.toggle()" placeholder="DD/MM/YYYY" ngbDatepicker #e="ngbDatepicker" [minDate]="minEndDate">
                            <span class="clIcon "></span>
                            <div *ngFor="let messages of validationMessages.EndDate">
                                <small class="text-danger"
                                    *ngIf="(updatePrizeForm.controls['EndDate'].touched || updatePrizeForm.controls['EndDate'].dirty) && updatePrizeForm.controls['EndDate'].invalid && updatePrizeForm.controls['EndDate'].errors[messages.type]">{{messages.message}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Remarks (This will appear in the email)</label>
                    <input type="textarea" class="form-control" id=""
                        [formControl]="updatePrizeForm.controls['Remarks']">
                    <div *ngFor="let messages of validationMessages.Remarks">
                        <small class="text-danger"
                            *ngIf="(updatePrizeForm.controls['Remarks'].touched || updatePrizeForm.controls['Remarks'].dirty) && updatePrizeForm.controls['Remarks'].invalid && updatePrizeForm.controls['Remarks'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="btn-join-now" type="button" (click)="preview()">Preview</button>
                    <button class="btn-join-submit ml-3" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>