<div class="tabUser" *ngIf="teamTypeSelection.isCreated || teamTypeSelection.IsAssigned">
  <div class="plylistHead">
    <select name="cars" class="custom-select cust-field w270" (change)="getTrainerTeams($event.target.value)"
      *ngIf="teamService.tabIndex == 2">
      <option value="0">select</option>
      <option *ngFor="let trainer of trainers;" [value]="trainer.TrainerId" [selected]="trainer.TrainerId == trainerId">
        {{ trainer.FirstName + " " + trainer.LastName }}</option>
    </select>
    <span></span>
    <a *ngIf="roleID == 1 || roleID == 2 || roleID == 3" routerLink="/teams/create-team">+ Create Team</a>
  </div>

  <div class="teamWrapper" *ngIf="teams?.length > 0">
    <div class="teamName">
      <ul>
        <li [ngClass]="{'active': team.TeamId == teamId}" *ngFor="let team of teams; let i = index"
          (click)="getTeamDetail(i)">{{i+1}}. {{team.Name}}</li>
      </ul>
    </div>
    <div class="teamDetailsBox" *ngIf="teamDetails">
      <div class="teamData">
        <ul>
          <li>
            <p>Team Name</p>
            <h2>{{ teamDetails.TeamName }}</h2>
          </li>
          <li>
            <p>Team Handle</p>
            <h2>{{ teamDetails.HandleName }}</h2>
          </li>
          <li>
            <p>Users</p>
            <h2>{{ teamDetails.NumberOfUsers }}</h2>
          </li>
          <li>
            <p>Associated Content</p>
            <h2>{{ teamDetails.AssociatedPlayList.join(', ') }}</h2>
          </li>
          <li>
            <p>Associated Trainer</p>
            <h2>{{ teamDetails.TrainerFirstName + " " + teamDetails.TrainerLastName }}</h2>
          </li>
          <li>
            <p>Action</p>
            <button class="btn btn-outline-danger" (click)="deleteTeam()" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-alt"></i></button>
            <button class="btn btn-outline-warning" (click)="editTeam()" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></button>
          </li>
        </ul>
        <ul class="tagsList" *ngIf="teamDetails.Tags">
          <li *ngFor="let tag of teamDetails.Tags">{{ tag.Name }}</li>
        </ul>
      </div>
      <div class="tableWrapBorder">
        <table>
          <tbody>
            <tr>
              <th>#</th>
              <th>
                <div class="thWrap">
                  Pic
                </div>
              </th>
              <th (click)="sort('')" class="hover-change">
                <div class="thWrap">
                  Name <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
              <th class="hover-change">
                <div class="thWrap">
                 User Handle <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
              <!-- <th (click)="sort('Score')" class="hover-change">
                <div class="thWrap">
                  Score <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
              <th (click)="sort('CourseCompleted')" class="hover-change">
                <div class="thWrap">
                  Course Completed <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th> -->
              <th (click)="sort('Email')" class="hover-change">
                <div class="thWrap">
                  Email <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
              <th (click)="sort('ContactNo')" class="hover-change">
                <div class="thWrap">
                  Phone <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
              <th (click)="sort('Location')" class="hover-change">
                <div class="thWrap">
                  Location <span><i class="up"></i><i class="down"></i></span>
                </div>
              </th>
            </tr>

            <tr *ngFor="let user of teamDetails.Users; let i = index;">
              <td>{{ i+1 }}.</td>
              <td>
                <img [src]="user.ProfilePicture" alt="user profile" class="avatar">
              </td>
              <td>{{ user.FirstName + " " + user.LastName }}</td>
              <td>{{ user.HandleName }}</td>
              <!-- <td>{{ user.Score }}</td>
              <td>{{ user.CourseCompleted }}%</td> -->
              <td>{{ user.Email }}</td>
              <td>{{ user.ContactNo }}</td>
              <td>{{ user.Location }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="teamWrapper" *ngIf="teams?.length == 0">
    <p>No teams found</p>
  </div>
</div>

<section *ngIf="teamTypeSelection.IsContent" class="tabUser tab-pane fade show tabSection" id="nav-all-games" role="tabpanel"
        aria-labelledby="nav-allGames-tab">
        <!-- <div class="userCol">
            <div class="form-inline">
            </div>
            <button class="btn-info btn">Start your game <i class="arowRight"></i></button>
        </div> -->
        <div class="container-fluid box-container" >
            <div class="row">
                <section class="vbpCol" *ngFor="let content of contentData; let i=index;">
                    <div class="listCol">
                        <div class="user-name">
                            <a href="javascript:void(0)">
                                <img src="{{content.ProfilePicture}}" class="pic-block" />
                                <span class="name">{{content.FirstName}} {{content.LastName}}</span>
                            </a>
                            <!-- <span class="fa fa-trash pull-right" data-tooltip-text="Remove"></span> -->
                            <span *ngIf="content.IsCompleted == true" class="completedText"><b>Completed</b></span>
                        </div>
                        <h2 class="box-title"><a>{{content.Name}}</a></h2>
                        <p class="lbl-txt">{{content.Name}}</p>
                        <div class="video-frame">
                          <div class="video-container" (click)="openVideo(i,content)">
                            <img [src]="content.ThumbnailUrl">
                            <span class="play-btn"></span>
                          </div>
                            <div class="social-share-count">
                                <a class="social-lbl like">
                                    <i class="sprite icon-like"></i>
                                    <span class="text">{{content.Likes > 0 ? content.Likes : 0}} Like</span>
                                </a>
                                <a class="social-lbl views">
                                    <i class="sprite icon-view"></i>
                                    <span class="text">{{content.Views > 0 ? content.Views : 0}} Views</span>
                                </a>
                                <a class="social-lbl users">
                                    <i class="sprite icon-user"></i>
                                    <span class="text">{{content.Users > 0 ? content.Users : 0}} Users</span>
                                </a>
                            </div>
                        </div>

                        <div class="chalange-end-frame">
                            <div class="chalange-dtl-col">
                                <label class="lbl">Topic Ends on</label>
                                <strong class="date">{{ content.EndDate | date: "d MMM, y" }}</strong>
                            </div>
                            <label class="rules-lbl" (click)="openRules(i)" data-toggle="modal" focus-element="autofocus"
                                data-tooltip-text="Rule">
                                <span>Rules</span>
                            </label>
                        </div>
                        <div class="social-share-frame">
                            <label class="lbl">Share</label>
                            <p class="social-icons">
                                <a *ngIf="content.IsBroadCasted">
                                    <i class="bcast" data-tooltip-text="Broadcast"></i>
                                </a>
                                <app-social-share></app-social-share>

                            </p>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>