a:hover {
    text-decoration: none;
}
.vbpCol{
    width: calc(100% / 4 - 20px);
    margin:0 10px 0;
    @media (max-width: 1500px) {
      width: calc(100% / 3 - 20px);
    }
    @media (max-width: 1300px) {
      width: calc(100% / 2 - 20px);
    }
    @media (max-width: 991px) {
      width: calc(100% / 1 - 20px);
    }
}

.tabSection .userCol{
    flex-wrap: wrap;
}
.tab-content .userCol .form-inline{
    @media (max-width: 700px){
        margin-bottom: 10px;
    }
}
.tabSection {
    padding:0;
    .listCol {
        padding: 15px 15px 7px;
        background: #fff;
        margin-top:0;
    }
    
    .box-container {
        padding: 20px 0 0 5px;
        
        .listCol {
            .user-name {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                border-bottom: 2px solid #afc6c6;
                padding-bottom: 10px;
                margin-bottom: 5px;

                a {
                    color: #1F6575;
                    cursor: text;
                }

                .pic-block {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;
                    overflow: hidden;
                    position: relative;
                }
                .name {
                    font-size: 14px;
                    font-weight: 600;
                }
                .completedText{
                    font-size: 14px;
                    color: #c2282c;
                }
            }

            .chalange-end-frame {
                position: relative;
                margin: 10px 0;
                padding-bottom: 10px;
                border-bottom: 1px solid #BED1D1;

                .chalange-dtl-col {
                    width: calc(100% - 60px);
                    position: relative;
                    padding-left: 37px;
                    
                    &::before {
                        content:'';
                        display: block;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        background: url(/assets/img/sprite.png) no-repeat;
                        background-position: -770px -250px;  
                    }

                    .lbl, .date {
                        display: block;
                    }
                    .lbl {
                        font-size: 12px;
                        margin-bottom: 0;
                    }
                    .date {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.3;
                    }
                }

                .rules-lbl {
                    width: 55px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 12px;
                    color: #666;
                    font-weight: bold;
                    padding-left: 18px;
                    cursor: pointer;             

                    &:before {
                        content:'';
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        top: 3px;
                        background: url(/assets/img/sprite.png) no-repeat;
                        background-position: -607px -381px;                        
                    }
                    a { color: #666; }
                }
            }// chalange-end-frame //

            .tag-listing { 
                display: flex;
                flex-wrap: wrap;
                
                .tag {
                    background: #E5F2F2;
                    padding: 3px 7px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #666;
                    margin: 0 4px 4px 0;
                }                
            }//tag-listing End//

            .btn-join-now {
                background: #5CA375;
                height: 36px;
                font-size: 14px;
                color: #ffffff;
                font-weight: bold;
                text-align: center;
                width: 100%;
                margin: 15px 0 10px;
                border: 0 none;
                border-radius: 0;
            }

            .social-share-frame {
                display: flex;
                justify-content: space-between;
                align-content: center;                

                .lbl {
                    margin-bottom: 0;
                    margin-top: 8px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #666;
                }
                .social-icons {
                    margin-bottom: 0;
                    align-items: center;
                    a{display: inherit;}
                    .bcast{display: inline-block;height: 24px;width: 24px;background: url(/assets/img/broadcast.png) no-repeat;margin-right: 4px;}
                }
                .scl-icon {
                    width: 24px;
                    height: 23px;
                    display: inline-block;
                    position: relative;
                    margin: 10px 10px 0 0;                    
                    background: url(/assets/img/sprite.png) no-repeat;
                }
                .twitter {
                    background-position:  -630px -373px;
                    margin-right: 8px;
                }
                .facebook {
                    background-position: -660px -373px;
                }
            }//Social Share Frame End//

            .btn.btn-view-contest {
                width: 100%;
                margin: 10px 0;
                color: #fff;
                font-weight: 500;
                background: #6ABCCE;
                border-radius: 2px !important;
            }

            .view-contest-content-frame {
                border-top: 1px solid #afc6c6;
                padding-top: 10px;
                margin-top: 5px;
                .user-name {
                    border-bottom: 0 none;
                    padding-bottom: 0;
                }
                a {
                    cursor: text;
                }

                .box-title {
                    a {
                        color: #C32A2E;
                        cursor: text;
                    }
                }
                .video-frame {
                    padding: 12px 0;
                    border: 0 none;

                    .status.not-submitted {
                        background-color: rgba($color: #C2282C, $alpha: 0.85);
                        width: 100%;
                        font-size: 14px;
                        text-align: center;
                        padding: 10px 0;

                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
                .btn-frame {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0 0;

                    .btn {
                        margin-left: 0;
                        text-align: center;
                        color: #fff;
                        width: 45%;
                        border-radius: 0 !important;
                    }
                    .btn-submit {
                        background: #5CA375;
                    }
                    .btn-edit {
                        background: #6ABCCE;
                    }
                }
            }
        }// List Col End//
    }// Box Container End //
}

.box-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
    cursor: pointer;
    color: #1f6575;

    a {
        color: #1f6575;
        text-decoration: underline;
        word-wrap: break-word;
    }
}
.lbl-txt {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 1.2;
    margin: 5px 0 0;
    word-wrap: break-word;
}

.video-frame {
    margin: 6px 0;
    padding: 10px 0;
    border-bottom: 1px solid #BED1D1;
    h4{
        font-weight: 600;
    }
    video, iframe, .video-container {
        // width: 100%;
        // position: relative;
    }
    .video-container {
        cursor: pointer;

        .play-btn {
            background: url(/assets/img/sprite.png) no-repeat -652px -174px;
            width: 41px;
            height: 32px;
            margin: auto;
            display: block;
            position: absolute;
            left: 50%;
            top: 51%;
            cursor: pointer;
            transform: translate(-50%, -50%);
            
        }
    }
    

    .social-share-count {
        display: flex;
        justify-content: space-between;                    
        padding-top: 10px;
        align-items: center;

        .social-lbl {
            font-size: 12px;
            font-weight: 500;
            display: flex;
            align-content: center;

            .sprite {
                width: 20px;
                max-height: 20px;
                margin-right: 4px;
                background: url(/assets/img/sprite.png) no-repeat;
            }
            .icon-like {
                background-position: -487px -377px;
            }
            .icon-view {
                width: 24px;
                background-position: -539px -379px;
            }
            .icon-user {
                background-position: -516px -379px;
                width: 16px;
            }
        }
    }


    .chalange-end-frame {
        position: relative;
        margin: 10px 0;
        // padding-bottom: 10px;
        // border-bottom: 1px solid #BED1D1;

        .chalange-dtl-col {
            width: calc(100% - 60px);
            position: relative;
            padding-left: 37px;
            
            &::before {
                content:'';
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 5px;
                background: url(/assets/img/sprite.png) no-repeat;
                background-position: -770px -250px;  
            }

            .lbl, .date {
                display: block;
            }
            .lbl {
                font-size: 12px;
                margin-bottom: 0;
            }
            .date {
                font-size: 14px;
                font-weight: bold;
                line-height: 1.3;
            }
        }

        .rules-lbl {
            width: 55px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 12px;
            color: #666;
            font-weight: bold;
            padding-left: 18px;
            cursor: pointer;             

            &:before {
                content:'';
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 3px;
                background: url(/assets/img/sprite.png) no-repeat;
                background-position: -607px -381px;                        
            }
            a { color: #666; }
        }
    }// chalange-end-frame //
}// Video Frame //

.social-share-frame {
    display: flex;
    justify-content: space-between;
    align-content: center;                

    .lbl {
        margin-bottom: 0;
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
    }
    .social-icons {
        margin-bottom: 0;
        display: flex;
    }
    .scl-icon {
        width: 24px;
        height: 23px;
        display: inline-block;
        position: relative;
        margin: 10px 10px 0 0;                    
        background: url(/assets/img/sprite.png) no-repeat;
    }
    .twitter {
        background-position:  -630px -373px;
        margin-right: 8px;
    }
    .facebook {
        background-position: -660px -373px;
    }
}
.pic-block {
    max-width: 100% !important;
}
// .is-liked {
//     color: #007bff !important;
// }
// .is-liked:hover {
//     color: #007bff
// }

.fa {
    cursor: pointer;
}

[data-tooltip-text]:hover:after {
	top: -27px;
    left: 0;
}


@media only screen and  (max-width: 1700px) {
    .teamData ul li{
        flex: 0 0 16.6%;
        max-width: 16.6%;
        padding:0 10px;
    }
    .teamData ul li:last-child{
        padding-right: 0px;
        padding-left: 10px;
    }
    .teamData ul li h2{
        white-space: normal;
        word-break: break-all;
        font-size: 18px;
    }
}

@media (max-width: 991px){
    .vbpCol{width: calc(100% - 30px);margin:0 auto;}
    .teamData ul li .btn{
        padding: 5px 9px;
    }
}

@media only screen and  (max-width: 800px) {
    .teamData ul li{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

img {
    max-height: 180px;
}

.plylistHead {
    margin-top: 10px;
}