<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Address</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
    </button>
</div>
<form #f="ngForm" [formGroup]="billingForm" (ngSubmit)="update(billingForm.value);">
    <div class="modal-body">
        
            <div class="row">
                <div class="col-sm-6">
                    <div class="wrap">
                        <input type="text" class="control" placeholder="" [formControl]="billingForm.controls['AddressOne']" />
                        <span class="floating-label headingAlign">Address 1</span>
                        <div *ngFor="let messages of validationMessages.AddressOne">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['AddressOne'].touched || billingForm.controls['AddressOne'].dirty) && billingForm.controls['AddressOne'].invalid && billingForm.controls['AddressOne'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="wrap">
                        <input type="text" class="control" placeholder="" [formControl]="billingForm.controls['AddressTwo']" />
                        <span class="floating-label headingAlign">Address 2</span>
                        <div *ngFor="let messages of validationMessages.AddressTwo">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['AddressTwo'].touched || billingForm.controls['AddressTwo'].dirty) && billingForm.controls['AddressTwo'].invalid && billingForm.controls['AddressTwo'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="wrap">
                        <select name="" id="" class="control custom-select"
                            [formControl]="billingForm.controls['SelectedCountryId']" (change)="getStates($event.target.value)">
                            <option value="">select</option>
                            <option *ngFor="let country of countries;" [value]="country.ID">{{ country.Name }}</option>
                        </select>
                        <span class="floating-label headingAlign">Country<small>*</small></span>
                        <div *ngFor="let messages of validationMessages.SelectedCountryId">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['SelectedCountryId'].touched || billingForm.controls['SelectedCountryId'].dirty) && billingForm.controls['SelectedCountryId'].invalid && billingForm.controls['SelectedCountryId'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="wrap">
                        <select name="" id="" class="control custom-select"
                            [formControl]="billingForm.controls['SelectedStateId']" (change)="getCities($event.target.value)">
                            <option value="">select</option>
                            <option *ngFor="let state of states;" [value]="state.ID">{{ state.Name }}</option>
                        </select>
                        <span class="floating-label headingAlign">State/ Province<small>*</small></span>
                        <div *ngFor="let messages of validationMessages.SelectedStateId">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['SelectedStateId'].touched || billingForm.controls['SelectedStateId'].dirty) && billingForm.controls['SelectedStateId'].invalid && billingForm.controls['SelectedStateId'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="wrap">
                        <select name="" id="" class="control custom-select"
                            [formControl]="billingForm.controls['SelectedCityId']" (change)="getCityName($event.target.value)">
                            <option value="">select</option>
                            <option *ngFor="let city of cities;" [value]="city.Name">{{ city.Name }}</option>
                        </select>
                        <span class="floating-label headingAlign">City<small>*</small></span>
                        <div *ngFor="let messages of validationMessages.SelectedCityId">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['SelectedCityId'].touched || billingForm.controls['SelectedCityId'].dirty) && billingForm.controls['SelectedCityId'].invalid && billingForm.controls['SelectedCityId'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="wrap">
                        <input type="text" class="control" [formControl]="billingForm.controls['ZipCode']">
                        <span class="floating-label headingAlign">Zip/ Postal Code<small>*</small></span>
                        <div *ngFor="let messages of validationMessages.ZipCode">
                            <small class="text-danger"
                                *ngIf="(billingForm.controls['ZipCode'].touched || billingForm.controls['ZipCode'].dirty) && billingForm.controls['ZipCode'].invalid && billingForm.controls['ZipCode'].errors[messages.type]">{{messages.message}}</small>
                        </div>
                    </div>
                </div>
                
            </div>
        
    </div>

    <div class="modal-footer">
        <button class="btn btn-success">Submit</button>
    </div>
</form>
