
<app-header></app-header>
<div class="mainWrapper">
  <!-- <div> -->
  <app-sidemenu class="leftContent"></app-sidemenu>
  <!-- </div> -->
  <div class="rightContent" [ngClass]="{'mainMaxWidth': toggleRightSide}">
    <section class="tabUser tab-pane" id="nav-earned-points" role="tabpanel" aria-labelledby="nav-earnedPoints-tab">
        <div class="userCol right-content">
    
            <button class="btn-info btn" (click)="openPointsPopup()">Points Rules <i
                    class="arowRight"></i></button>
        </div>
        <div class="container-fluid box-container" *ngIf="points">
            <div class="points-result-row mb-5">
                <div class="points">
                    <h4>Earned Points</h4>
    
                    <div class="pointsRow">
                        <div class="pointsList">
                            <div class="numbers">
                                <span class="bt">Topic Created</span>
                                <h4>{{ points.NumberOfContestCreated }}</h4>
                            </div>
                            <div class="numbers">
                                <span class="bt">Earned Points</span>
                                <h4>{{ points.ContestCreatedEarnedPoints }}</h4>
                            </div>
                        </div>
    
                        <div class="pointsList">
                            <div class="numbers">
                                <span class="bt">Topic Played</span>
                                <h4>{{ points.NumberOfContestPlayed }}</h4>
                            </div>
                            <div class="numbers">
                                <span class="bt">Earned Points</span>
                                <h4>{{ points.ContestPlayedEarnedPoints }}</h4>
                            </div>
                        </div>
    
                        <div class="pointsList">
                            <div class="numbers">
                                <span class="bt">Total earned points</span>
                                <h4>{{ points.TotalEarnedPoints }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="points">
                    <h4>Points Redeemed</h4>
                    <div class="pointsRow">
                        <div class="pointsList">
                            <div class="numbers">
                                <span class="bt">Redeemed</span>
                                <h4>{{ points.PointsRedeemed }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="points">
                    <h4>Balance Points</h4>
    
                    <div class="pointsRow">
                        <div class="pointsList">
                            <div class="numbers">
                                <span class="bt">Points</span>
                                <h4>{{ points.BalancePoints }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <h6 class="font-weight-bolder">Points History</h6>
    
                    <div class="pointsTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Earned/ Redeemed</th>
                                    <th scope="col">Points</th>
                                    <th scope="col">Balance points</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="points.PointsHistory">
                                <tr *ngFor="let pointHistory of pointsHistory; let i = index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ pointHistory.Type }}</td>
                                    <td>{{ pointHistory.CreatedDate | date : "mediumDate" }}</td>
                                    <td>{{ pointHistory.Contest }}</td>
                                    <td>{{ pointHistory.IsEarned ? "Earned" : "Redeemed" }}</td>
                                    <td *ngIf="pointHistory.Type == 'Redeemed'">-{{ pointHistory.Points }}</td>
                                    <td *ngIf="pointHistory.Type != 'Redeemed'">+{{ pointHistory.Points }}</td>
                                    <td>{{ pointHistory.Balance }}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!points.PointsHistory">
                                <tr>
                                    <td>
                                        No Data
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- -->
    </section><!-- nav-earned-points End// -->
  </div>
</div>