<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Enter Quiz Name</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
  </button>
</div>
<div class="modal-body">
  <input type="text" placeholder="Enter Name" [(ngModel)]="name" class="form-control">
</div>
<div class="modal-footer">            
  <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="submit()">OK</button>
</div>
