<div class="pageHeader">
  <div class="navbar justify-content-between align-item-center">
    <h4>Build Playlist</h4>
  </div>
</div>
<div class="relPos stepr">
  
  <div class="libWrapper colm">
    <div class="bottomFrm" form-group="dates" *ngIf="isChange == 'false'">
      <form class="form-inline" [formGroup]="assignUserTeamForm" (ngSubmit)="save()">
        <div class="w290">
          <label for="startDate">Start Date</label>
          <input type="text" formControlName="frmStartDate" [(ngModel)]="startDate" class="form-control is-valid"
            readonly (click)="d.toggle()" placeholder="DD/MM/YYYY" (dateSelect)="selectDate('startDate',$event)"
            ngbDatepicker #d="ngbDatepicker" [minDate]="minStartDate">
          <small class="text-danger"
            *ngIf="(assignUserTeamForm.controls['frmStartDate'].touched || assignUserTeamForm.controls['frmStartDate'].dirty) && assignUserTeamForm.controls['frmStartDate'].invalid">Start
            Date is Required
          </small>
        </div>

        <div class="w290 mr-4 ml-4">
          <label for="endDate">End Date</label>
          <input type="text" readonly formControlName="frmEndDate" [(ngModel)]="endDate" class="form-control is-valid"
            (dateSelect)="selectDate('endDate',$event)" (click)="e.toggle()" placeholder="DD/MM/YYYY" ngbDatepicker
            #e="ngbDatepicker" [minDate]="minEndDate">
          <small class="text-danger"
            *ngIf="(assignUserTeamForm.controls['frmEndDate'].touched || assignUserTeamForm.controls['frmEndDate'].dirty) && assignUserTeamForm.controls['frmEndDate'].invalid">End
            Date is Required
          </small>
        </div>

        <div class="w290">
          <app-location-selector [customStyle]="locationStyle"></app-location-selector>
        </div>

      </form>
    </div>
    <div class="teamTophedr">
    </div>
    <div class="teamTable">
      <div class="leftTabl">
        <div class="createTeam">
          <h5>Assign to individual
          </h5>
          <div class="select-all">
            <input type="checkbox" id="SelectAll" [(ngModel)]="selectedAllUsers" (change)="selectAll()">
            <label for="SelectAll">Select All</label>
          </div>

          <div class="pr-20">
            <table class="membrHead">
              <tr>
                <th width="10%">#</th>
                <th width="15%">Pic</th>
                <th width="30%" (click)="sortName('')">Name <span><i class="up"></i><i class="down"></i></span></th>
                <th width="45%" class="remove-pad" data-tooltip-text="Search by Name and Tag">
                  <input type="" name="" placeholder="Search" [(ngModel)]="userSearch">
                </th>

              </tr>
            </table>
          </div>
          <div class="tableItemCover" *ngIf="users">
            <table>
              <tr class="selectItem" *ngFor="let user of users | searchPipe : userSearch; let i = index;"
                (click)="pushSelectedUsers(user.UserId)">
                <td width="10%">{{ i+1 }}</td>
                <td width="15%"><img [src]="user.ProfilePicture" alt="no-image"></td>
                <td width="30%">{{ user.FirstName + " " + user.LastName }}</td>
                <td width="45%"><span class="grnCheck" *ngIf="user.IsSelected"></span></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="createTeam">
          <h5>&nbsp;</h5>
          <div class="pr-20">
            <table>
              <tr>
                <th width="10%">#</th>
                <th width="20%">Pic</th>
                <th width="70%" colspan="2">Name </th>
              </tr>
            </table>
          </div>
          <div class="tableItemCover">
            <table *ngIf="selectedUsers">
              <tr class="selectItem" *ngFor="let selectedUser of selectedUsers; let i = index;"
                (click)="unselectUser(i)">
                <td width="10%">{{ i+1 }}</td>
                <td width="20%"><img [src]="selectedUser.ProfilePicture" alt="no-image"></td>
                <td width="35%">{{ selectedUser.FirstName + " " + selectedUser.LastName }}</td>
                <td width="35%"><span class="redCRoss"></span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="rightTabl">
        <div class="createTeam">
          <h5>Assign to teams</h5>
          <div class="select-all">
            <input type="checkbox" id="SelectAllTeams" [(ngModel)]="selectedAllTeams" (change)="selectAll('teams')" />
            <label for="SelectAllTeams">Select All</label>
          </div>

          <div class="pr-20">
            <table class="membrHead">
              <tr>
                <th width="10%">#</th>
                <th width="40%" (click)="sortName('TeamName','team')">Team Name <span><i class="up"></i><i class="down"></i></span>
                </th>
                <th width="40%" class="remove=-pad" data-tooltip-text="Search by Team Name and Tag">
                  <input type="" name="" placeholder="Search" [(ngModel)]="teamSearch">
                </th>

              </tr>
            </table>
          </div>
          <div class="tableItemCover">
            <table>
              <tr class="selectItem" *ngFor="let team of teams | searchPipe : teamSearch; let i = index;"
                (click)="pushSelectedTeams(team.TeamId)">
                <td width="10%">{{ i+1 }}</td>
                <td width="45%">{{ team.TeamName }}</td>
                <td width="45%"><span class="grnCheck" *ngIf="team.IsSelected"></span></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="createTeam">
          <h5>&nbsp;</h5>
          <div class="pr-20">
            <table>
              <tr>
                <th width="15%">#</th>
                <th width="85%" colspan="2">Team Name </th>
              </tr>
            </table>
          </div>
          <div class="tableItemCover">
            <table>
              <tr class="selectItem" *ngFor="let selectedTeam of selectedTeams; let i = index;"
                (click)="unselectTeam(i)">
                <td width="15%">{{ i+1 }}</td>
                <td width="35%">{{ selectedTeam.TeamName }}</td>
                <td width="35%"><span class="redCRoss"></span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>


  </div>


  <div class="selectedDir rightAlgn">

    <div class="closeBtnWrap">
      <button class="btn btn-secondary" (click)="save()" *ngIf="isChange == 'true'">Save</button>
      <button class="btn btn-primary" routerLink="/build-playlist/playlist-content/{{ playlistId }}" *ngIf="isChange == 'false'"><i
          class="arowRight arowLeft"></i> Prev </button>
      <button class="btn btn-success" *ngIf="isChange == 'false'" (click)="save()">Next <i
          class="arowRight"></i></button>
    </div>
  </div>
</div>