.teamTable{display: flex;min-width: 50%;}
.leftTabl , .rightTabl{display: flex;}
.leftTabl{margin-right: 8px;flex: 2;}
.rightTabl{margin-left: 8px;flex: 2;}
.createTeam{min-width: 25%;border-right: none;}
.createTeam:last-child{border-right: 2px solid #afc6c6;}
.tableItemCover{max-height: 569px;}
.libWrapper.colm{max-width: 100%;}
.createTeam table td img{height: 40px;width: 40px;}
th{font-size: 15px;}
td{height: 60px;}
.btn.btn-primary{margin: 0 5px;}
.bottomFrm{
    margin-top: 30px;
    .w290{min-width: 290px;
        .form-control{
            min-width: 100%;
            height: 32px;
            padding: 8px;
        }
    }
}
.bottomFrm label{font-weight: bold;font-size: 15px;justify-content:flex-start;margin-bottom: 10px;}
.form-control.is-valid{border-color: #ced4da;background-image:url(../../../../assets/img/clndr.JPG);}


.locationSelector {
    height: 32px !important;
    padding: 8px !important;
    margin: 4px 0px 0px 0px !important; 
}

.locSel > label {
    background-color: red;
}
  
@media screen and (max-width: 1590px) {
    .teamTable{display:block;min-width: 100%;margin:0 !important;}
    .leftTabl , .rightTabl{margin: 0;}
    .rightTabl{margin: 40px 0 0;}
}

@media screen and (max-width: 1200px) {
    .row{margin-left: -10px;margin-right: -10px;}
    .col-sm-7, .col-sm-5{padding-left: 10px;padding-right: 10px;}
    .bottomFrm .w290{min-width: 30%;}

}
@media screen and (max-width: 768px) {
    .leftTabl , .rightTabl{display: block;}
    .leftTabl{margin-bottom: 50px;}
    .createTeam{min-width: 100%;margin-top: 5px;}
    .teamTable{margin-top: 50px !important;}
}
@media screen and (max-width: 768px) {
    .bottomFrm .w290{min-width: 100%;margin: 0;
        &.mr-4.ml-4{
            margin:10px 0 !important
        }
    }
    
}

.select-all {
    float: right;
    margin: -42px 44px 0px 0px;
    cursor: pointer;
}
.createTeam table th{cursor: default;}

.select-all label {
    padding:5px;
    cursor: pointer;
}




