<div class="tabWrapper">
	<div ngbNav #nav="ngbNav" class="tabList nav nav-tabs" [(activeId)]="activeId" (navChange)="onNavChange($event)">

		<span [ngbNavItem]="1"  *ngIf="loggedInUserRole == 'User' && loggedInUserId == userId">
			<p>My Profile</p>
			<ng-template ngbNavContent>
				<user-profile></user-profile>
			</ng-template>
		</span>

		<span [ngbNavItem]="1" *ngIf="loggedInUserRole != 'User'">
			<a ngbNavLink>Profile</a>
			<ng-template ngbNavContent>
				<user-profile></user-profile>
			</ng-template>
		</span>

		<span [ngbNavItem]="4"  *ngIf="loggedInUserRole == 'Admin' && loggedInUserId == userId">
			<a ngbNavLink>Company Profile</a>
			<ng-template ngbNavContent>
				<app-about-company></app-about-company>
			</ng-template>
		</span>

		<span [ngbNavItem]="2"  *ngIf="loggedInUserRole == 'Admin' && loggedInUserId == userId">
			<a ngbNavLink>My Plan</a>
			<ng-template ngbNavContent>
				<app-my-plan></app-my-plan>
			</ng-template>
		</span>
		
		
		<!-- <span [ngbNavItem]="2"  *ngIf="loggedInUserRole == 'Trainer' || userRole == 'Trainer' || userRole == 'User'">
			<a ngbNavLink>Associated Contest</a>
			<ng-template ngbNavContent>
				<app-associated-playlist *ngIf="routePlaylistId == 0"></app-associated-playlist>
				<app-playlist-detail-view [playlistDetail]="playlistDetail" *ngIf="routePlaylistId != 0"></app-playlist-detail-view>
			</ng-template>
		</span> -->
		<span [ngbNavItem]="3"  *ngIf="(loggedInUserRole == 'Trainer' && loggedInUserId == userId) || userRole == 'Trainer'">
			<a ngbNavLink>Associated Users</a>
			<ng-template ngbNavContent>
				<app-associated-users></app-associated-users>
			</ng-template>
		</span>
	</div>

	<div [ngbNavOutlet]="nav" class="tabSection"></div>
</div>
