<!-- Header -->
<div class="header afterLogin d-flex justify-content-between align-items-center">
    <div class="logo">
        <img class="max-height" [src]="logoImage ? logoImage : '../../assets/img/logo-sml.svg'" alt="logo" routerLink="/">
    </div>
    <div class="rightHead">
        <div class="rightAction">
            <div class="notify notifycheck" (click)="showPanel()" #openPanel>
                <span class="notifycheck" *ngIf="unReadCount > 0" >{{ unReadCount }}</span>
                
                    <!-- <ul *ngFor="let notifi of notifications;">
                        <li>{{notifi?.Title}}</li>
                        <li>{{notifi?.Body}}</li>
                    </ul> -->

                    <div id="notificationContainer" *ngIf="showNotification" >
                        <div id="notificationTitle">Notifications</div>
                        <div id="notificationsBody" class="notifications scrollDiv">
                            <ul>
                                <li *ngFor="let notifi of notifications;">
                                    <div attr.notificationId="{{notifi.NotificationId}}" class="notifycheck" [innerHTML]="notifi.Body | sanitizeHtml"></div>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
               

            </div>
            <img [src]="profilePicture ? profilePicture : '../../assets/img/no-profile.png'" alt="user profile">
            <div class="dropdown">
                <button class="btn dropdown-toggle logoutBtn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, {{ name }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="logout()" >Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Header -->