<div class="bgCover">
  <div class="mainWrap fPassWrp">
    <h3>Reset your Password</h3>
    <div class="frmBox forgetPass">

      <!-- <div class="alert alert-success" role="alert">
        Success! aker including versions of Lore aker including versions of Lore.
      </div> -->
      <form #f="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value);">
      <div class="row">
        <div class="col-sm-12">
          <div class="wrap">
            <input type="text" class="control" placeholder="" [ngModel]="email" disabled [formControl]="resetPasswordForm.controls['Email']" />
            <span class="floating-label">Email<small>*</small></span>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="wrap">
            <input type="text" class="control" placeholder="" [formControl]="resetPasswordForm.controls['ResetCode']" />
            <span class="floating-label">Reset Code<small>*</small></span>
            <div *ngFor="let messages of validationMessages.ResetCode">
              <small class="text-danger"
                *ngIf="(resetPasswordForm.controls['ResetCode'].touched || resetPasswordForm.controls['ResetCode'].dirty) && resetPasswordForm.controls['ResetCode'].invalid && resetPasswordForm.controls['ResetCode'].errors[messages.type]"><strong>Error
                  Message </strong>{{messages.message}}</small>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="wrap">
            <input type="password" class="control" placeholder="" [formControl]="resetPasswordForm.controls['NewPassword']" />
            <span class="floating-label">Password<small>*</small></span>
            <div *ngFor="let messages of validationMessages.NewPassword">
              <small class="text-danger"
                *ngIf="(resetPasswordForm.controls['NewPassword'].touched || resetPasswordForm.controls['NewPassword'].dirty) && resetPasswordForm.controls['NewPassword'].invalid && resetPasswordForm.controls['NewPassword'].errors[messages.type]">{{messages.message}}</small>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="wrap">
            <input type="password" class="control" placeholder="" [formControl]="resetPasswordForm.controls['ConfirmPassword']" />
            <span class="floating-label">Confirm Password<small>*</small></span>
            <div *ngFor="let messages of validationMessages.ConfirmPassword">
              <small class="text-danger"
                *ngIf="(resetPasswordForm.controls['ConfirmPassword'].touched || resetPasswordForm.controls['ConfirmPassword'].dirty) && resetPasswordForm.controls['ConfirmPassword'].invalid && resetPasswordForm.controls['ConfirmPassword'].errors[messages.type]">{{messages.message}}</small>
            </div>
          </div>
        </div>
      
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Reset Password</button>
          <button type="button" class="btn btn-primary" (click)="resendCode($event)">Resend Code</button>
        </div>
      </div>
    </form>

    </div>
  </div>
</div>