<div class="pageHeader minFlex">
    <div class="navbar justify-content-between align-item-center">
      <h4>Manage Location</h4>
    </div>
</div>
<div class="tabUser">
  <div class="plylistHead">
    <span></span>
    <a routerLink="/manage-location/add-location/0">+ Add Location</a>
  </div>

  <div class="tableWrapBorder" *ngIf="locationListData?.length > 0">
    <table>
      <tbody>
        <tr>
          <th>#</th>
          <th>
            <div class="thWrap">
              Country
            </div>
          </th>
          <th class="hover-change">
            <div class="thWrap">
              State 
            </div>
          </th>
          <th class="hover-change">
            <div class="thWrap">
             City
            </div>
          </th>
          <th class="hover-change">
            <div class="thWrap">
              Location
            </div>
          </th>
          <th class="hover-change">
            <div class="thWrap">
              Actions
            </div>
          </th>
        </tr>

        <tr *ngFor="let location of locationListData; let i = index;">
          <td>{{i+1}}.</td>
          <td>{{location.CountryName}}</td>
          <td>{{location.StateName}}</td>
          <td>{{location.CityName}}</td>
          <td>{{location.LocationName}}</td>
          <td>
            <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="deleteLocation(location.LocationId)">
              <i class="fa fa-trash-alt"></i>
            </button>
            <button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="editLocation(location)"> 
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="teamWrapper" *ngIf="locationListData?.length == 0 || !locationListData">
    <p>No locations found</p>
  </div>
</div>
