app-location-selector {
    width: 100%;
}
.btn-primary {
    cursor: pointer;
}
.width50 {
    width: 50%;
    padding-right: 20px;
}

.inputLocation {
    margin-top: 13px;
    display: flex;
}
 
label[for=exampleInputEmail1]
{
    font-weight: bold;
}

.tabUser {
    padding: 20px;
}


