<div class="leftContent">
	<div class="sideNav" [ngClass]="{'toggleNav': (!showSideMenu || (innerWidth < 1100))}">
		<div class="toggleBtn" (click)="toggleNavBtn()">
			<span class="closeBtn"></span>
		</div>
		<ul>
			<!-- <li routerLink="/dashboard" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico dashbord"></span><small> My Dashboard</small> </a> 
			</li>
			<li routerLink="/masterlibrary" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico mstLib"></span><small>Master Library</small> </a> 
			</li>
			
			<li routerLink="/build-playlist" *ngIf="userRole != 'User'" routerLinkActive="active">
				<a> <span class="ico buldPlist"></span><small>Build Playlist</small> </a> 
			</li> -->
			<!-- <li routerLink="/company-content" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico compnyContnt"></span><small>Company's Content</small> </a>
			</li> -->
			<li routerLink="/my-playlist" routerLinkActive="active">
				<a> <span class="ico plylist"></span><small>Learn</small> </a> 
			</li>
			<li routerLink="/brandworks-play" routerLinkActive="active">
				<a> <span class="ico vbp"></span><small>Go</small> </a> 
			</li>
			<li routerLink="/users" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico user"></span><small> Users</small> </a> 
			</li>
			<li routerLink="/teams" routerLinkActive="active">
				<a> <span class="ico team"></span><small>Teams</small> </a> 
			</li>
			<li routerLink="/manage-location" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico location"></span><small>Manage Location</small> </a> 
			</li>
			<li routerLink="/broadcast" routerLinkActive="active">
				<a> <span class="ico brodcst"></span><small>Broadcast</small> </a> 
			</li>
			<li routerLink="/prize-store" routerLinkActive="active">
				<a> <span class="ico ps"></span><small>Prizes<span *ngIf="userRole != 'User'">/ Create Prize</span> </small> </a>
			</li>
			<li routerLink="/earned-points" routerLinkActive="active">
				<a> <span class="ico ep"></span><small>Points</small> </a>
			</li>
			<li [routerLink]="['/my-profile/profile/', userId]" routerLinkActive="active">
				<a> <span class="ico prfile"></span><small>Me</small> </a>
			</li>   
			<!-- <li routerLink="/leaderboard" *ngIf="userRole != 'User'" routerLinkActive="active">
				<a> <span class="ico ep"></span><small>Leaderboard</small> </a> 
			</li> -->
			<li routerLink="/change-password" routerLinkActive="active">
				<a> <span class="ico plylist"></span><small>Settings</small> </a> 
			</li>
			<li routerLink="/reportedVideo" routerLinkActive="active" *ngIf="userRole != 'User'">
				<a> <span class="ico plylist"></span><small >Reported Videos</small> </a> 
			</li>
		</ul>
	</div>
</div>