<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
        </ol>
        <div class="carousel-inner">
            <!-- <div class="main-text hidden-xs"> -->
            <div class="sldierCover">
                <div class="carousel-caption">
                    <h5>Building the World's Best Teams</h5>
                    <a routerLink="/signup">Join us now</a>
                </div>
            </div>

            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/img/banner-img4.jpg" alt="First slide">
                <img class="d-none" src="../../assets/img/img4-680x560.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/banner-img2.jpg" alt="First slide">
                <img class="d-none" src="../../assets/img/img5-680x560.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/banner-img3.jpg" alt="First slide">
                <img class="d-none" src="../../assets/img/img3-680x560.jpg" alt="First slide">
            </div>
        </div>
    </div>
</div>

<div class="grdntBG">
    <div class="mainWrap" id="overview">
        <div class="row">
            <div class="col-sm-6">
                <h1>Ready to get started?</h1>
                <p>Virtual Brandworks is the world's first Team Building Ecosystem. We have many of the same features of
                    a traditional Learning Management System and we are built with a passion for learning science,
                    gamification, social learning and dynamic, user created content. Virtual Brandworks is committed to
                    building the world's best teams – come see how we do it.</p>
                <h5 class="linkHeading">
                    <span>Key Features</span>
                </h5>
                <ul class="feature">
                    <li>
                        <img src="../../assets/img/home/icon1.png" alt="">
                        <p>Create Playlist</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon2.png" alt="">
                        <p>Assign to the students</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon3.png" alt="">
                        <p>Result and points</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon-4.png" alt="">
                        <p>Create Topic</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon-5.png" alt="">
                        <p>Challenge others</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon-6.png" alt="">
                        <p>Earn and win</p>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon-7.png" alt="">
                        <p>Webcast</p>
                        <strong>(Coming Soon)</strong>
                    </li>
                    <li>
                        <img src="../../assets/img/home/icon-8.png" alt="">
                        <p>Prize Store</p>
                    </li>
                </ul>
                <div class="btnWrap">
                    <div class="space">
                        <a routerLink="/signup"><button>Start</button></a>
                    </div>
                    <em></em>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/img/home/main-image.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="subsWrap" id="subscription">
    <div class="mainWrap">
        <div class="text-center">
            <h1>Our Subscription Plans</h1>
            <p>Virtual Brandworks offers the flexibility to scale with any company. Whether you are a team of one or a
                global enterprise, we offer subscription plans for where you are today and options to stay with you as
                you grow.</p>
        </div>

        <app-plans></app-plans>
        <div class="globlWrap">
            <div class="globlCol">
                <div>
                    <h2>Global</h2>
                    <h5>If you need plan for more than 1000 Users</h5>
                </div>
                <a class="btn btn-primary" (click)="routeTo('home#writetous')">Contact us</a>
            </div>
        </div>
    </div>
</div>

<div class="grdntBG" id="writetous">
    <div class="writetous">
        <h1>Write to us</h1>
        <p>Want to know more? Let's connect.</p>

        <form #f="ngForm" [formGroup]="writeToUsForm" (ngSubmit)="writeToUs(writeToUsForm.value);">
            <input type="text" [formControl]="writeToUsForm.controls['Email']" placeholder="Your email *">
            <div *ngFor="let messages of validationMessages.Email">
                <small class="text-danger"
                    *ngIf="(writeToUsForm.controls['Email'].touched || writeToUsForm.controls['Email'].dirty) && writeToUsForm.controls['Email'].invalid && writeToUsForm.controls['Email'].errors[messages.type]">{{messages.message}}</small>
            </div>
            <input type="text" [formControl]="writeToUsForm.controls['Message']" placeholder="Type here *">
            <div *ngFor="let messages of validationMessages.Message">
                <small class="text-danger"
                    *ngIf="(writeToUsForm.controls['Message'].touched || writeToUsForm.controls['Message'].dirty) && writeToUsForm.controls['Message'].invalid && writeToUsForm.controls['Message'].errors[messages.type]">{{messages.message}}</small>
            </div>
            <button type="submit" [disabled]="!writeToUsForm.valid">submit</button>
        </form>

        <h3>Spread Across</h3>
        <ul class="socialIcon">
            <li><a [href]="facebookLink" target="_blank"><span class="sico fb"></span></a></li>
            <li><a [href]="instagramLink" target="_blank"><span class="sico insta"></span></a></li>
            <li><a [href]="twitterLink" target="_blank"><span class="sico twt"></span></a></li>
            <li><a [href]="linkedinLink" target="_blank"><span class="sico in"></span></a></li>
        </ul>
    </div>
</div>
<!-- home page -->