﻿@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#sidebar-layout").toggleClass("active");
            });
        });
    </script>
    <style>
        #wrapper.active #sidebar-aside-content {
            left: 50px;
        }
    </style>

</head>
<body>
    <header>
        <div class="content-wrapper">
            @*@Html.Partial("_Header")*@
            <div class="navbar navbar-inverse navbar-fixed-top sidebar-navbar-inverse">
                <div class="container sidebar-navbar-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Virtual Brand Works Admin Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Company", "CompanyManagement", "Home")</li>
                                <li>@Html.ActionLink("Library", "MasterLibraryManagement", "Home")</li>*@
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div class="sidebar-layout">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div class="sidebar-aside-content">
                        <!-- Content of sidebar -->
                        <ul class="sidebar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Company", "CompanyManagement", "Home")</li>
                            <li>@Html.ActionLink("Library", "MasterLibraryManagement", "Home")</li>
                        </ul>
                    </div>
                }
                <div class="container body-content sidebar-body-content">
                    @RenderBody()
                    <hr />
                </div>

            </div>
        </section>
    </div>
    <footer>
        @*class="content-wrapper"*@
        <div class="float-left" style="position: fixed;top: 730px;left: 0;width: 100%;height: 100%;z-index:10001;background-color: white;border-top: solid;border-width: thin; ">
            <table>
                <tr>
                    <td><p style="text-align:left;">&copy; virtualbrandworks.com</p></td>
                    <td width="1000px"></td>
                    <td><p style="text-align:right;">Terms and Condition &nbsp;&nbsp;&nbsp;<text>|</text></p></td>
                    <td></td>
                    <td><p style="text-align:right;">&nbsp;&nbsp;&nbsp;Privacy Policy</p></td>
                </tr>
            </table>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
