<div class="tabWrapper">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="onNavChange($event)">
    <li [ngbNavItem]="1" >
      <a ngbNavLink>My Team</a>
      <ng-template ngbNavContent>
        <app-team-options></app-team-options>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" *ngIf="isAdmin">
      <a ngbNavLink>Trainer's Team</a>
      <ng-template ngbNavContent>
        <app-team-common></app-team-common>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="tabSection"></div>
</div>