<div class="libWrapper" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()" [alwaysCallback]="true">
    <div class="dcFoldr">
        <div class="libCol grnBlue" [ngClass]="{'acitve': dynamicFolder.IsSelectedFolder}" (dblclick)="details(-1)">
            <div class="innerData">
                <div class="d-flex">
                    <span cass="minMenu">
                        <i class="navPointr" *ngIf="folderType == 'master'" data-toggle="modal" data-target="#folderDetails"
                            (click)="toggleFolderModal(-1)"></i>
                    </span>
                    <span (click)="selectFolder(-1)">{{ dynamicFolder.NumberOfContent }}</span>
                </div>
                <h1 (click)="selectFolder(-1)">{{ dynamicFolder.ShortName }}</h1>
                <p (click)="selectFolder(-1)">{{ dynamicFolder.Name }}</p>
            </div>
        </div>
    </div>
    <div class="otherFoldr" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="libCol"
            [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3, 'acitve': folder.IsSelectedFolder, 'editable': folder.IsEditable }"
            cdkDrag *ngFor="let folder of folders; let i = index;" (dblclick)="details(i)">
            <div class="innerData">
                <button class="checkBtn" *ngIf="folder.IsEditable" (click)="updateFolder(i)"></button>
                <div class="d-flex">
                    <span cass="minMenu">
                        <i class="navPointr" *ngIf="folderType == 'master'" data-toggle="modal" data-target="#folderDetails"
                            (click)="toggleFolderModal(i)"></i>
                        <i class="editIco" *ngIf="folderType == 'company-content'" (click)="editFolder(i)"></i>
                    </span>
                    <span (click)="selectFolder(i)">{{ folder.NumberOfContent }}</span>
                </div>
                <h1 (click)="selectFolder(i)">{{ folder.ShortName }}</h1>
                <input type="text" name="ShortName" class="lgInput" [(ngModel)]="folders[i].ShortName" *ngIf="folder.IsEditable" required>
                <p (click)="selectFolder(i)">{{ folder.Name }}</p>
                <input type="" name="" class="mdInput" [(ngModel)]="folders[i].Name" *ngIf="folder.IsEditable" required>
            </div>
        </div>
    </div>
</div>
<app-folder-details *ngIf="showFolderModal" [folderPopUp]="folderPopUp" (showFolderModal)="showFolderModal = false">
</app-folder-details>