.btn.btn-danger{margin-left: 0;}
// modal
.modal-body.resultBody{
    padding: 0 25px 25px;
    ul{
        display: flex;
        justify-content: space-between;
        background: #eef5f5;
        border:2px solid #c8d6d6;
        padding: 15px 8px;
        margin-bottom: 18px;
        li{
            border-right:2px solid #cedddd;flex:1;list-style: none;padding-left:20px;
            p{font-size: 12px;margin: 0;font-weight: bold;}
            strong {font-size: 15px;font-weight: bold;}
            &:last-child{border:none;}
        }
    }
    hr{
        border:none;
        border-bottom:2px solid #d7e2e2;
        margin:8px 0;
    }
    table{width: 100%;       
       td{
           height: 40px;
           width: 50%;
            h5{
                font-weight: bold;
                font-size: 16px;
                margin:0;
            }
            .custom-control{
                display: flex;
                align-items: center;
                &.true .custom-control-label{
                    color: #4ab486;
                }
                &.false .custom-control-label{
                    color: #c65c5c;
                }
            }
            .grnCheck, .redCRoss{display: block;float: right;}
       }
    }
}

@media screen and (max-width:600px) {
    .modal-body.resultBody table td{
        display: block;
        width: 100%;
        height: auto;
        padding: 4px 0;
         .grnCheck,
         .redCRoss{
             float: none;
         }
    }
    .modal-body.resultBody ul {
        padding:8px;
        li{
            padding-left: 0;
            border:none;
        }
    }
}
@media screen and (max-width:480px) {
    .modal-body.resultBody ul{
        flex-wrap: wrap;
        li{
            flex: 2;
            min-width: 50%;
        }
    }
}