<div class="modal-header">
  <h5 class="modal-title">{{quizData && quizData.QuizName ? quizData.QuizName : ''}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="closeBtn"></span>
  </button>
</div>
<div class="modal-body resultBody">
  <ul>
    <li>
      <p>Total Question</p>
      <strong>{{quizData && quizData.TotalQuestion ? quizData.TotalQuestion : ''}}</strong>
    </li>
    <li>
      <p>Correct</p>
      <strong class="text-success">{{quizData && quizData.CorrectCount}}</strong>
    </li>
    <li>
      <p>Wrong</p>
      <strong class="text-danger">{{quizData && quizData.IncorrectCount}}</strong>
    </li>
    <li>
      <p>Marks Obtained</p>
      <strong>{{quizData && quizData.MarksObtained}}</strong>
    </li>
  </ul>

  <table *ngFor="let quiz of quizData.QuestionAnswers; let i = index">
    <tr>
      <td>
        <h5>Q{{i+1}}. {{quiz.Question.Question}}</h5>
      </td>
      <td>
        <span [ngClass]="{'grnCheck': quiz.UserAnswerId == quiz.RightAnsId, 'redCRoss': quiz.UserAnswerId != quiz.RightAnsId}"></span>
      </td>
    </tr>

    <tr> 
      <td>
        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'true': quiz.RightAnsId == quiz.Answers[0].AnswerId, 'false':  quiz.RightAnsId != quiz.Answers[0].AnswerId && quiz.UserAnswerId == quiz.Answers[0].AnswerId}">

          <input type="radio" id="customRadioInline{{quiz.Answers[0].AnswerId}}" name="customRadioInline{{quiz.Answers[0].AnswerId}}" class="custom-control-input" [checked]="quiz.UserAnswerId == quiz.Answers[0].AnswerId" disabled>

          <label class="custom-control-label" for="customRadioInline{{quiz.Answers[0].AnswerId}}">{{quiz.Answers[0].Answer}}</label>
        </div>
      </td>
      <td>
        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'true': quiz.RightAnsId == quiz.Answers[1].AnswerId, 'false':  quiz.RightAnsId != quiz.Answers[1].AnswerId && quiz.UserAnswerId == quiz.Answers[1].AnswerId}">

          <input type="radio" id="customRadioInline{{quiz.Answers[1].AnswerId}}" name="customRadioInline{{quiz.Answers[1].AnswerId}}" class="custom-control-input" [checked]="quiz.UserAnswerId == quiz.Answers[1].AnswerId" disabled>

          <label class="custom-control-label" for="customRadioInline{{quiz.Answers[1].AnswerId}}">{{quiz.Answers[1].Answer}}</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'true': quiz.RightAnsId == quiz.Answers[2].AnswerId, 'false':  quiz.RightAnsId != quiz.Answers[2].AnswerId && quiz.UserAnswerId == quiz.Answers[2].AnswerId}">

          <input type="radio" id="customRadioInline{{quiz.Answers[2].AnswerId}}" name="customRadioInline{{quiz.Answers[2].AnswerId}}" class="custom-control-input" [checked]="quiz.UserAnswerId == quiz.Answers[2].AnswerId" disabled>

          <label class="custom-control-label" for="customRadioInline{{quiz.Answers[2].AnswerId}}">{{quiz.Answers[2].Answer}}</label>
        </div>
      </td>
      <td>
        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'true': quiz.RightAnsId == quiz.Answers[3].AnswerId, 'false':  quiz.RightAnsId != quiz.Answers[3].AnswerId && quiz.UserAnswerId == quiz.Answers[3].AnswerId}">

          <input type="radio" id="customRadioInline{{quiz.Answers[3].AnswerId}}" name="customRadioInline{{quiz.Answers[3].AnswerId}}" class="custom-control-input" [checked]="quiz.UserAnswerId == quiz.Answers[3].AnswerId" disabled>
          
          <label class="custom-control-label" for="customRadioInline{{quiz.Answers[3].AnswerId}}">{{quiz.Answers[3].Answer}}</label>
        </div>
      </td>
    </tr>       
  </table>

  <hr>
</div>