﻿@using VirtualBrandWork.Entity.ViewModels
@model WriteToUsViewModel
<style>
    .button{
        cursor:pointer;
    }
</style>
<div id="divMessage" class="text-success">
    @TempData["Message"]
</div>
<h1>Write to us</h1>
<p>Curious to learn more? Let's connect.</p>

<form class="frm" id="writetousform">
    <div >
        @Html.TextBoxFor(m => m.Email, new
   {
       placeholder = "Your email *",
       @id = "SendFrom",
       @onkeyup = "validate()"
   })
        @Html.ValidationMessage("", new { @class = "text-danger", @id = "validateSendFrom" })
        </div>
    <div>
        @Html.TextBoxFor(m => m.Message, new { placeholder = "Type here *", @id = "Message" , @onkeyup = "validate()" })
        @Html.ValidationMessage("", new { @class = "text-danger" , @id = "validateMessage" })
        </div>
        <button type="submit" id="btnSubmit" class="button" >submit</button>
</form>

<h3>Spread Across</h3>
<ul class="socialIcon">
    <li><a href="https://www.facebook.com/virtualbrandworks" target="_blank" rel="noopener noreferrer"><span class="sico fb"></span></a></li>
    <li><a href="https://twitter.com/VrBrWk" target="_blank" rel="noopener noreferrer"><span class="sico twt"></span></a></li>
    <li><a href="https://www.instagram.com/virtualbrandworks/" target="_blank" rel="noopener noreferrer"><span class="sico insta"></span></a></li>
    <li><a href="https://www.linkedin.com/company/virtualbrandworks" target="_blank" rel="noopener noreferrer"><span class="sico in"></span></a></li>
</ul>
<script>
    $('#btnSubmit').click(function (e) {
        document.getElementById('divMessage').innerText = "";
        e.preventDefault();
        var valid = validate();
        if (valid) {
            SendWriteToUs();
        }        
    });


    function validate() {
        document.getElementById('validateSendFrom').innerText = "";
        document.getElementById('validateMessage').innerText = "";
        var emailValid = validateEmail($("#SendFrom").val());
        let valid = true;
        if ($('#Message').val().trim() == "") {
            $('#Message').css('border-bottom', '2px solid Red');
            valid = false;

        }
        else {
            $('#Message').css('border-bottom', '2px solid #cccccc');
        }
        if (!valid) {
            document.getElementById('validateMessage').innerText = "This field cannot be left blank";
        }
        else {
            document.getElementById('validateMessage').innerText = "";
        }
        return valid;
    }



    function validateEmail(emailField) {
        if (emailField.trim() == "") {
            $('#SendFrom').css('border-bottom', '2px solid Red');
            document.getElementById('validateSendFrom').innerText = "Email cannot be left blank";
            // alert('Email cannot be left blank')
            return false;
        }
        var reg = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        if (reg.test(emailField) == false) {
            $('#SendFrom').css('border-bottom', '2px solid Red');
            document.getElementById('validateSendFrom').innerText = "Please enter a valid Email";
            return false;
        }
        $('#SendFrom').css('border-bottom', '2px solid #cccccc');
        return true;
    }



    function SendWriteToUs() {
        document.getElementById('divMessage').innerText = "";
        let valid = false;
        var writetous = {};       
        writetous.Message = $("#Message").val();
        writetous.Email = $("#SendFrom").val();
            $.ajax({
                type: "POST",
                url: '../Home/WriteToUs',
                data: JSON.stringify(writetous),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        valid = true;
                        $("#Message").val("");
                        $("#SendFrom").val("");
                    } else {
                        valid = false;
                    }
                    if (valid) {
                        document.getElementById('divMessage').innerText = "Thank you for getting in touch. We will get back to you soon.";
                    }
                }
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });           
    }
</script>