﻿@model List<VirtualBrandWork.Entity.ViewModels.SubscriptionViewModel>
@{

    Layout = null;
    Html.EnableClientValidation(true);
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/media.css">

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <title>Welcome to Virtual brandworks!</title>
</head>
<body>
    <!-- Header -->
    <div class="headerWrap beforeLogin">
        <div class="header d-flex justify-content-between align-items-center">

            <div class="logo">
                <img src="~/Images/logo-sml.png" alt="logo" />
            </div>

            <div class="navBeforLogin">
                <ul>
                    <li><a href="#banner">Overview</a></li>
                    <li><a href="#subsciption">Subscription Plan</a></li>
                    <li><a href="#writetous">Write to us</a></li>
                </ul>
            </div>

            <div class="rightHead">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login/  Signup
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("Login","Account")">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item asp" href="@Url.Action("SignUp","Account")">Signup</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item asp" href="@Url.Action("UserInvite","Account")">Signup as user/trainer</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Header -->
    <!-- home page -->
    <div class="banner" id="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!-- <div class="main-text hidden-xs"> -->
                <div class="sldierCover">
                    <div class="carousel-caption">
                        <h5>Building the World's Best Teams</h5>
                        <a href="@Url.Action("SignUp","Account")">Join us now</a>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Images/banner-img1.jpg" alt="First slide">
                    <img class="d-none" src="~/Images/img1-680x560.jpg" alt="First slide">

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/banner-img2.jpg" alt="First slide">
                    <img class="d-none" src="~/Images/img2-680x560.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/banner-img3.jpg" alt="First slide">
                    <img class="d-none" src="~/Images/img3-680x560.jpg" alt="First slide">
                </div>
            </div>
        </div>
    </div>

    <div class="grdntBG">
        <div class="mainWrap" id="overview">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Ready to get started?</h1>
                    <p>Virtual Brandworksis the world's first Team Building Ecosystem.  We have many of the same features of a traditional Learning Management System and we are built with a passion for learning science, gamification, social learning and dynamic, user created content. Virtual Brandworks is committed to building the world's best teams –come see how we do it.</p>
                    <h5 class="linkHeading">
                        <span>Key Features</span>
                    </h5>
                    <ul class="feature">
                        <li>
                            <img src="~/Images/home/icon1.png" alt="">
                            <p>Create Playlist</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon2.png" alt="">
                            <p>Assign to the students</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon3.png" alt="">
                            <p>Result and points</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon-4.png" alt="">
                            <p>Create Challenges</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon-5.png" alt="">
                            <p>Challenge others</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon-6.png" alt="">
                            <p>Earn and win</p>
                        </li>
                        <li>
                            <img src="~/Images/home/icon-7.png" alt="">
                            <p>Webcast</p>
                            <strong>(Coming Soon)</strong>
                        </li>
                        <li>
                            <img src="~/Images/home/icon-8.png" alt="">
                            <p>Prize Store</p>
                        </li>
                    </ul>
                    <div class="btnWrap">
                        <div class="space">
                            <button onclick="@("window.location.href='" + @Url.Action("SignUp", "Account") + "'");">Start</button>
                        </div>
                        <em></em>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/home/main-image.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="subsWrap" id="subsciption">
        <div class="mainWrap">
            <div class="text-center">
                <h1>Our Subscription Plans</h1>
                <p>Virtual Brandworks offers the flexibility to scale with any company. Whether you are a team of one or a global enterprise, we offer subscription plans for where you are today and options to stay with you as you grow.</p>
            </div>


            <div class="planToggle">
                <h4 class="">Monthly</h4>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                <h5 class="opc1">Yearly (Save 10%)</h5>
            </div>

            <div class="planWrap planNewWrap">
                @for (int index = 0; index < Model.Count; index++)
                {
                    if (Model[index].Status == true)
                    {
                        if (Model[index].PlanType == (int)VirtualBrandWork.Entity.Constants.PlanType.Monthly)
                        {
                            <div class="plns monthly">
                                <h2>@Model[index].PlanName</h2>
                                <p class="users">up to @Model[index].NumberOfUsers users</p>
                                <div class="price">
                                    <span>$</span> <strong>@Model[index].Price</strong> <p>/ Per Month</p>
                                </div>
                            </div>
                        }
                        else if (Model[index].PlanType == (int)VirtualBrandWork.Entity.Constants.PlanType.Yearly)
                        {
                            <div class="plns yearly">
                                <h2>@Model[index].PlanName</h2>
                                <p class="users">up to @Model[index].NumberOfUsers users</p>
                                <div class="price">
                                    <span>$</span> <strong>@Model[index].Price</strong> <p>/ Per Year</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>


        <div class="globlCol">
            <div>
                <h2>Global</h2>
                <h5>If you need plan for more than 1000 Users</h5>
            </div>
            <a class="btn btn-primary" href="#writetous">Contact us</a>
        </div>
    </div>


    @*<div class="subsWrap" id="subsciption">
            <div class="mainWrap">
                <div class="text-center">
                    <h1>Our Subscription Plans</h1>
                    <p>Virtual Brandworks offers the flexibility to scale with any company. Whether you are a team of one or a global enterprise, we offer subscription plans for where you are today and options to stay with you as you grow.</p>
                </div>

                <div class="planWrap">
                    @for (int index = 0; index < Model.Count; index++)
                    {
                        if (Model[index].Status == true)
                        {
                            <div class="plns">
                                <h2>@Model[index].PlanName</h2>
                                <p class="users">up to @Model[index].NumberOfUsers users</p>
                                <div class="price">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="subscriptionOption" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1"></label>
                                    </div>
                                    <span>$</span> <strong>@Model[index].CostForMonthlyBilling</strong> <p>Per Month<br>billed monthly</p>
                                </div>
                                @if (Model[index].CostForAnnualBilling > 0)
                                {
                                    <div class="price">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="subscriptionOption" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3"></label>
                                        </div>
                                        <span>$</span> <strong> @Model[index].CostForAnnualBilling</strong> <p>Per Month<br>billed yearly</p>
                                    </div>
                                }
                            </div>
                        }
                    }

                </div>

                <div class="globlCol">
                    <div>
                        <h2>Global</h2>
                        <h5>If you need plan for more than 1000 Users</h5>
                    </div>
                    <a class="btn btn-primary" href="#writetous">Contact us</a>
                </div>

            </div>
        </div>*@



    <div class="grdntBG" id="writetous">
        <div class="writetous">
            @Html.Partial("_WriteToUs", new VirtualBrandWork.Entity.ViewModels.WriteToUsViewModel())
        </div>
    </div>
    <!-- home page -->
    <!-- footer? -->
    <div class="footer">
        <p>&copy;Virtualbrandworks.com</p>
        <p>
            <a href="@Url.Action("TermsAndConditions","Home")">Terms and Conditions</a>
            <a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a>
        </p>
    </div>
    <!-- footer? -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>