﻿@model VirtualBrandWork.Entity.ViewModels.ManageUserViewModel

<style>
    /* add styles only to for 'ul' element, inside the id="one" div */
    div#companySubscription ul {
        list-style-type: none;
    }

    h5 {
        display: block;
        /*font-size: .83em;*/
        font-weight: bold;
    }
</style>

<h6 style="color:#3CA1CE; font-weight:bold">Company Details:</h6>
<div class="pageHeader">
    <div id="companySubscription">
        <ul>
            <li>
                <label id="lblName" style="font-size : x-large">@Model.CompanyName (@Model.Industry)</label>
                <span>
                    &nbsp;&nbsp;&nbsp;
                    @if (Model.CompanyStatus)
                    {
                        <input type="button" value="Deactivate" class="btn btn-danger" onclick="ActivateOrDeactivateCompany()" />
                            <label style="float:right; color:forestgreen">Status: Active</label>
                    }
                    else
                    {
                        <input type="button" value="Activate" class="btn btn-success" onclick="ActivateOrDeactivateCompany()" />
                            <label style="float:right; color:red">Status: Deactivated</label>}

                </span>
            </li>
            <li><hr /></li>
            <li>
                <div class="userInfo">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="info">
                                    <p>Plan</p>
                                    <h5>@Model.SubscriptionName</h5>
                                </div>
                            </td>
                            <td>
                                <div class="info">
                                    <p>Billing Cycle</p>
                                    <h5>@Model.BillingCycle</h5>
                                </div>
                            </td>
                            <td>
                                <div class="info">
                                    <p>Billed Amount</p>
                                    <h5>$@Model.BilledAmount</h5>
                                </div>
                            </td>
                            <td>
                                <div class="info">
                                    <p>Users up to</p>
                                    <h5>@Model.UsersUpTo</h5>
                                </div>
                            </td>
                            <td>
                                <div class="info">
                                    <p>Active from</p>
                                    <h5>@Model.ActiveFrom</h5>
                                </div>
                            </td>
                            <td>
                                <div class="info">
                                    <p>Valid till</p>
                                    <h5>@Model.ValidTill</h5>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>

</div>
<br />
<h6 style="color:#3CA1CE; font-weight:bold">Users:</h6>

<div class="custom-datatable-class">
    <table id="table_id" class="display table-bordered table-hover">
        <thead>
            <tr>
                <th width="33%">
                    @Html.DisplayName("Name")
                </th>
                <th width="33%">
                    @Html.DisplayName("Email")
                </th>
                <th width="34%">
                    @Html.DisplayName("Role")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable({
            "order": [[2, 'asc']]
        });
    });
</script>