﻿@model VirtualBrandWork.Entity.ViewModels.ManageUserViewModel
@using VirtualBrandWork.Entity.ViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }

    .btn {
        width: 100px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal ">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.DropDownListFor(Model => Model.CompanyId, new SelectList(Model.Companies == null ? new List<CompanyViewModel>() : Model.Companies, "CompanyId", "Name"), "Select a Company",
   new { @class = "control custom-select customMinFrm", @id = "ddlCompany" })
                <span class="text-danger field-validation-error" data-valmsg-for="ddlCategory" data-valmsg-replace="true"><span id="ddlCategory-error" class=""></span></span>
            </div>

        </div>
        <div id="divPartialView">
            @*<%: Html.RenderPartial("__CompanyUsers", Model) %>*@
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
        $("#divPartialView").hide();
    });
        $("#ddlCompany").change(function () {

            CreateTableForCompany();
        });


        function ActivateOrDeactivateCompany() {
            document.getElementById("loader-wrapper").style.display = "block";
        var id = $("#ddlCompany").val();
        $.ajax({
            type: "POST",
                    url: '@Url.Action("ActivateOrDeactivaeCompany", "UserInformation")',
                    data: JSON.stringify({ 'companyId': id }),
                    datatype: 'html',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        CreateTableForCompany();
                        document.getElementById("loader-wrapper").style.display = "none";
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                    }
        });
    }

    function CreateTableForCompany() {
        document.getElementById("loader-wrapper").style.display = "block";
        var id = $("#ddlCompany").val();
        if (id != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetUsersByCompanyId", "UserInformation")',
                data: JSON.stringify({ 'companyId': id }),
                datatype: 'html',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    document.getElementById("loader-wrapper").style.display = "none";
                    $("#divPartialView").html(data);
                    $("#divPartialView").show();
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        else {
            $("#divPartialView").hide();
            document.getElementById("loader-wrapper").style.display = "none";
        }
    }

</script>