<div class="pageHeader conentHead">
    <div class="navbar justify-content-between align-item-center">
        <app-ng-dynamic-breadcrumb symbol="" bgColor="none" class="pageLoctin"></app-ng-dynamic-breadcrumb>
    </div>
    <!-- <span class="closeBtn"></span> -->
</div>
<app-playlist-content-detail></app-playlist-content-detail>