header{

    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    left: 0;
    font-family: 'Oswald', sans-serif;

    nav{
        border-bottom: 2px solid #bebabb;
        padding: 0 0 30px;

        .nav-link{
            font-weight: 700;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    @media (min-width: 1500px){
        .container {max-width: 1586px;
        }
    }
}
@media screen and (max-width: 1360px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 25px;
            
            .navbar-brand{
                max-width: 200px;
            }

            .nav-link{
                font-size: 18px;
                text-transform: uppercase;
                padding-left: 30px;
                padding-right: 30px;

                img{
                    width: 55px;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 20px;

            .navbar-brand{
                max-width: 180px;
            }

            .nav-link{
                font-size: 16px;
                text-transform: uppercase;
                padding-left: 25px;
                padding-right: 25px;

                img{
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    header{
        padding-top: 20px;

        nav{
            padding-bottom: 15px;

            .nav-link{
                font-size: 15px;
                text-transform: uppercase;
                padding-left: 20px;
                padding-right: 20px;

                img{
                    width: 45px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    header{
        padding-top: 20px;
        z-index: 2;
        backdrop-filter: blur(10px);

        nav{
            padding-bottom: 10px;

            .nav-link{
                font-size: 14px;
                text-transform: uppercase;
                padding-left: 15px;
                padding-right: 15px;

                img{
                    width: 40px;
                }
            }
            .navbar-toggler {
                border: 0;

                &:focus{
                    outline: none;
                }
                img{
                    width: 40px;
                }
            }
        }
    }
}