<header>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a class="navbar-brand" routerLink="/"><img src="../../assets/img/home-new/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../assets/img/home-new/hamburger.png" alt="logo">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page3</a>
                    </li>
                    <li class="nav-item d-none d-sm-block">
                        <a class="nav-link pr-0" href="#"><img src="../../assets/img/home-new/hamburger.png" alt="logo"></a>
                    </li>
                </ul>
                
            </div>
            
        </nav>
    </div>
</header>