<div class="vdoRightTab">
    <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeId" (navChange)="onNavChange($event)">
        <li [ngbNavItem]="2">
            <a ngbNavLink>Video</a>
            <ng-template ngbNavContent>
                <div class="card" *ngFor="let folderDetail of folderDetails; let i = index;">
                    <div class="row no-gutters">
                        <div class="col-md-5 center">
                            <video *ngIf="!folderDetail.IsYoutubeContent && !folderDetail.IsFacebookContent" class="card-img-top" controls data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                                <source [src]="folderDetail.ContentURL" type="video/mp4" />
                            </video>
                            <img *ngIf="folderDetail.IsYoutubeContent || folderDetail.IsFacebookContent" [src]="folderDetail.ThumbnailUrl">
                        </div>
                        <div class="col-md-7 cursor" (click)="openContentDetails(i)">
                            <div class="card-body">
                                <h5 class="card-title">{{ folderDetail.ContentName }}</h5>
                                <p class="card-text">{{ folderDetail.ViewCount }} Views | {{ folderDetail.CreatedDate | date: 'mediumDate' }} </p>
                                <p class="card-text">{{ folderDetail.ContentDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="1">
            <a ngbNavLink>Images</a>
            <ng-template ngbNavContent>
                <div class="card" *ngFor="let folderDetail of folderDetails; let i = index;">
                    <div class="row no-gutters">
                        <div class="col-md-5 center">
                            <img [src]="folderDetail.ThumbnailURL">
                        </div>
                        <div class="col-md-7 cursor" (click)="openContentDetails(i)">
                            <div class="card-body">
                                <h5 class="card-title">{{ folderDetail.ContentName }}</h5>
                                <p class="card-text">{{ folderDetail.ViewCount }} Views | {{ folderDetail.CreatedDate | date: 'mediumDate' }} </p>
                                <p class="card-text">{{ folderDetail.ContentDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Docs</a>
            <ng-template ngbNavContent>
                <div class="card" *ngFor="let folderDetail of folderDetails; let i = index;">
                    <div class="row no-gutters">
                        <div class="col-md-5 center">
                            <img [src]="folderDetail.ThumbnailURL">
                        </div>
                        <div class="col-md-7 cursor" (click)="openContentDetails(i)">
                            <div class="card-body">
                                <h5 class="card-title">{{ folderDetail.ContentName }}</h5>
                                <p class="card-text">{{ folderDetail.ViewCount }} Views | {{ folderDetail.CreatedDate | date: 'mediumDate' }} </p>
                                <p class="card-text">{{ folderDetail.ContentDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="tab-content"></div>
</div>