<!-- Add Folder Modal -->

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Create New Folder </h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="closeBtn"></span>
  </button>
</div>
<form #f="ngForm" [formGroup]="createFolder" (ngSubmit)="create(createFolder.value);">
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Example" [formControl]="createFolder.controls['Name']" [(ngModel)]="name">
      <div *ngFor="let messages of validationMessages.Name">
        <small class="text-danger"
          *ngIf="(createFolder.controls['Name'].touched || createFolder.controls['Name'].dirty) && createFolder.controls['Name'].invalid && createFolder.controls['Name'].errors[messages.type]">{{messages.message}}</small>
      </div>
    </div>
    <div class="form-group">
      <label>Type Folder short form (eg. MK)</label>
      <input type="text" class="form-control" placeholder="eg" [formControl]="createFolder.controls['ShortName']" [(ngModel)]="shortName">
      <div *ngFor="let messages of validationMessages.ShortName">
        <small class="text-danger"
          *ngIf="(createFolder.controls['ShortName'].touched || createFolder.controls['ShortName'].dirty) && createFolder.controls['ShortName'].invalid && createFolder.controls['ShortName'].errors[messages.type]">{{messages.message}}</small>
      </div>
    </div>
    <div class="libWrapper modalFoldrExmpl">
      <div class="libCol violetBlu">
        <div class="innerData">
          <div class="d-flex">
            <span></span>
          </div>
          <h1>{{ shortName }}</h1>
          <p>{{ name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" type="submit"> + Create</button>
  </div>
</form>



<!-- /Add Folder Modal -->