<div class="pageHeader conentHead">
    <div class="navbar justify-content-between align-item-center">
        <!-- <div class="pageLoctin"><a href="">Master Library</a>  <h4>Marketing</h4></div> -->
        <app-ng-dynamic-breadcrumb symbol="" bgColor="none" class="pageLoctin"></app-ng-dynamic-breadcrumb>
        <div class="form-inline">
            <input #searchContent class="form-control mr-sm-4 cust-field w320 searchIco" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-primary" *ngIf="folderType != 'master'" (click)="createContent()">+ Create Your own content</button>
        </div>
    </div>
</div>
<div class="libDetilsView">
    <div class="ldLeft" *ngIf="folder">
        <div class="libWrapper">
            <div class="libCol orngYelw" [ngClass]="{'acitve': folder.IsSelectedFolder}">
                <div class="innerData">
                    <div class="d-flex">
                        <span></span>
                        <span>{{ folder.NumberOfContent || "" }}</span>
                    </div>
                    <h1>{{ folder.ShortName || "" }}</h1>
                    <p>{{ folder.Name || "" }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ldRight" *ngIf="folderDetails?.length > 0">
        <div class="videoWrap" *ngFor="let details of folderDetails; let i = index;">
            <div class="videoCol" (click)="openContentDetails(i)">
                <div class="badgeTxt" *ngIf="!details.IsPublished && folderType != 'master'"><strong>Not Published</strong></div>
                <img [src]="details.ThumbnailURL" class="image-height" *ngIf="!checkType(details)">
                <video class="card-img-top image-height" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' *ngIf="checkType(details)">
                    <source [src]="details.ContentURL" type="video/mp4" />
                </video>
                <p>
                    <span>{{ details.ViewCount }} views</span>
                    <span>{{ details.CreatedDate | date: "mediumDate" }}</span>
                </p>
            </div>
            <div class="p10">
                <h3><a (click)="openContentDetails(i)">{{ details.ContentName }}</a><i class="fa fa-trash float-right" *ngIf="folderType != 'master'" (click)="delete(i)"></i></h3>
                <p (click)="openContentDetails(i)">{{ details.ContentDescription }}
                </p>
            </div>
        </div>
    </div>
    <div class="ldRight m0" *ngIf="folderDetails?.length == 0">
        <h4>No content available</h4>
    </div>
</div>