.image-height {
    height: 100px;
}
.videoCol { text-align: center;position: relative; cursor: pointer;
    .badgeTxt{
        position: absolute;
        top: -15px;
        border: 1px solid #D7D8D8;
        color: #1f6575;
        width: auto;
        font-size: 11px;
        right: -5px;
        background: #fff;
        padding: 1px 4px;
        text-align: left;
    }
}
.fa-trash {
    margin-left: 4px;
    cursor: pointer;
}