<h2 *ngIf="planDetails">Plan Details</h2>
<div class="listCol" *ngIf="planDetails">
  <div class="userCol">
    <div class="userDeatil">
      <div>
        <h1>{{ planDetails.SubscriptionName }} <span class="cancel" *ngIf="planDetails.IsCancelled">( Cancelled )</span></h1>
        <p>{{ planDetails.BillingCycle }} Plan</p>
      </div>
    </div>

    <div class="d-flex">
      <button class="btn btn-primary" (click)="changePlanConfirm()">Change Plan</button>
      <button class="btn btn-danger" (click)="cancelPlan()" *ngIf="!planDetails.IsCancelled">Cancel Plan</button>
    </div>
  </div>

  <div class="userInfo">
    <div class="info userUT">
      <p>User up to</p>
      <h3>{{ planDetails.UsersUpTo }}</h3>
    </div>
    <div class="info student">
      <p>Total billed amount</p>
      <h3>$ {{ planDetails.BilledAmount }} <small *ngIf="planDetails.PlanType == 1">/ ${{ planDetails.BilledAmount / 12 }}</small> <span *ngIf="planDetails.PlanType == 2">per month</span> </h3>
    </div>
    <div class="info clndr">
      <p>Active From</p>
      <h3>{{ planDetails.ActiveFrom | date : "mediumDate" }}</h3>
    </div>
    <div class="info clndr">
      <p>Valid till</p>
      <h3>{{ planDetails.ValidTill | date : "mediumDate" }}</h3>
    </div>
  </div>
</div>

<h2 *ngIf="planDetails">Billing Details</h2>
<div class="listCol myPlan" *ngIf="planDetails">
  <h4>Card Info</h4>
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/img/icon-card.png" alt="card">
      <span>XXXX XXXX XXXX {{ planDetails.PaymentCard.Last4Digit }}</span>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-primary" (click)="paymentUpdate()">Update Payment info</button>
    </div>
  </div>

  <hr>

  <h4>Billing Details</h4>
  <table>
    <tr>
      <td>Global | {{ planDetails.BillingCycle }} plan</td>
      <td><span>Users :</span> Up to {{ planDetails.UsersUpTo }}</td>
      <td> <span>Total Amount paid :</span> ${{ planDetails.BilledAmount }} </td>
      <td>
        <span>Plan Duration : </span> {{ planDetails.ActiveFrom | date : "mediumDate" }} - {{ planDetails.ValidTill | date : "mediumDate" }}
      </td>
    </tr>
  </table>

  <hr>

  <h4>Billing Address</h4>
  <div class="row">
    <div class="col-sm-6">
      <p>{{ planDetails.PaymentCard.BillingDetails.name }}</p>
      <p>{{ planDetails.PaymentCard.BillingDetails.address.line1 + " " + planDetails.PaymentCard.BillingDetails.address.line2}}
        <span *ngIf="(planDetails.PaymentCard.BillingDetails.address.city || planDetails.PaymentCard.BillingDetails.address.state || planDetails.PaymentCard.BillingDetails.address.country) 
        && (planDetails.PaymentCard.BillingDetails.address.line1 || planDetails.PaymentCard.BillingDetails.address.line2)">
         {{ ", " }} 
        </span>
         {{ planDetails.PaymentCard.BillingDetails.address.city + " " + planDetails.PaymentCard.BillingDetails.address.state + " " + planDetails.PaymentCard.BillingDetails.address.country + " " + planDetails.PaymentCard.BillingDetails.address.postal_code }}
      </p>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-primary" (click)="updateAddress()">Update</button>
    </div>
  </div>
</div>