.mainWrapper{
    display: flex;
    position: relative;   
    min-height: calc(100% - 150px);
    .leftContent{
        background: url(/assets/img/bg.png) repeat-x #abd6bf;
    }
    .rightContent{
        width: 100%;
        background: #f8f8f8;
    }
}
