﻿@model IEnumerable<VirtualBrandWork.Entity.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function isCompanyAssociated(id){
        var message =""; 
            $.ajax({
                type: "POST",
                url: '../Categories/IsCompanyAssociated',
                data: addRequestVerificationToken({ "id": id }),
                success: function (data) {
                    if (data.status == "True") {
                        message = "The registered companies associated to this industry will get deactivated. Are you sure you want to delete this industry?";
                    } else {
                        message = "Are you sure you want to delete this industry?";
                    } 
                    if(confirm(message)){
                        Delete(id);
                    }
                }                            
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });       
    }

    function Delete(id){
            $.ajax({
                type: "POST",
                url: '../Categories/Delete',
                data: addRequestVerificationToken({ "id": id }),
                success: function (data) {
                    if (data.status == "Success") {
                        location.reload();
                    } else {
                        alert('Issue in delete process.Please contact administrator');
                    } 
                }                            
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });
    }

</script>
<style type="text/css">
    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    select {
        width: 100%;
        height: 30px;
        border-radius: 4px;
    }

    .select-panel {
        background-color: #f1f1f1;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .btn-content {
        margin-top: 6%;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }

    .txt-question {
        height: 60px;
        max-height: 60px;
        border-radius: 4px;
        width: 100%;
        max-width: 100% !important;
    }

    .ans-section textarea {
        height: 40px;
        max-height: 40px;
        margin-left: 5px;
        border-radius: 4px;
        width: 93%;
        max-width: 93% !important;
    }

    .ans-section input[type=radio] {
        vertical-align: top;
        cursor: pointer;
        height: 15px !important;
        width: 15px !important;
    }

    .ans-option {
        vertical-align: top;
    }

    .close {
        font-weight: 100 !important;
        font-size: 45px !important;
    }

    .btn-done, .btn-done:hover {
        background-color: #65865a !important;
        color: white;
        text-align: right;
    }

    .btn-add-more-ques {
        text-align: left !important;
    }

        .btn-add-more-ques button {
            width: 150px !important;
        }

    button {
        width: 100px !important;
        padding: 0px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        text-align: center !important;
    }
</style>
<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Industry</h4>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Categories")';return false;">
            Add New
        </button>
    </div>
</div>
<hr />
@using (Html.BeginForm("Delete", "Categories", FormMethod.Post, new { @id = "deleteform" }))
{
    @Html.AntiForgeryToken()
    <div class="custom-datatable-class category-table">
        <table id="table_id" class="display table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th><P>Actions</P></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-primary" })
                            <input type="button" value="Delete" onclick="isCompanyAssociated(@item.CategoryId);" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}