<!-- Add User Modal -->
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="closeBtn"></span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="addNewUserForm">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="FirstName" placeholder="Type Here">
            <div *ngFor="let messages of validationMessages.FirstName">
                <small class="text-danger"
                  *ngIf="(!isAddUserFormValid || addNewUserForm.controls['FirstName'].touched || addNewUserForm.controls['FirstName'].dirty) && addNewUserForm.controls['FirstName'].invalid && addNewUserForm.controls['FirstName'].errors[messages.type]">
                  {{messages.message}}
                </small>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="LastName" placeholder="Type Here">
            <div *ngFor="let messages of validationMessages.LastName">
                <small class="text-danger"
                *ngIf="(!isAddUserFormValid || addNewUserForm.controls['LastName'].touched || addNewUserForm.controls['LastName'].dirty) && addNewUserForm.controls['LastName'].invalid && addNewUserForm.controls['LastName'].errors[messages.type]">
                    {{messages.message}}
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label>Position</label>
            <select class="custom-select form-control" formControlName="RoleId">
                <option *ngFor="let user of userRole;" [value]="user.roleId">
                    {{user.title}}
                </option>
            </select>
        </div> -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="EmailId" placeholder="Type Here">
            <div *ngFor="let messages of validationMessages.Email">
                <small class="text-danger"
                  *ngIf="(!isAddUserFormValid || addNewUserForm.controls['EmailId'].touched || addNewUserForm.controls['EmailId'].dirty) && addNewUserForm.controls['EmailId'].invalid && addNewUserForm.controls['EmailId'].errors[messages.type]">
                  {{messages.message}}
                </small>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">            
    <button type="button" class="btn btn-primary" (click)="addUser(addNewUserForm.valid)"> + Add</button>            
</div>
  <!-- /Add User Modal -->