.msgIco {
    cursor: pointer;
}
.colorGreen {
    color:green !important;
}

.colorRed {
    color: red !important;
}

.pointerDisable {
    cursor: text !important;
}

.timeDiff {
    margin: 0px;
    font-size: 20px;
    padding-left: 15px;
}
.fa-pencil {
    margin-left: 4px;
    cursor: pointer;
}
.form-inline .form-control{
    flex: 1;
    min-width: 1px;
}

select.form-control{padding: 4px;margin-right: 10px;}

@media screen and (max-width: 840px) {
    .form-inline.col-md-4{margin-top: 10px;}
    .tableRadioBtn.col-md-8{text-align: right;}
}
@media screen and (max-width: 480px) {
    .form-inline .form-control{
        flex: auto;
        margin-bottom: 10px !important;
    }    
}