<div class="tabUser tab-pane fade  show active">
  <!-- Associated PlayList -->
  <div class="userCol">
    <span></span>
    <div class="tableRadioBtn col-md-8" *ngIf="routeRole != 'User'">
      <div class="custom-control custom-radio custom-control-inline" *ngFor="let checkboxOption of playlistOption">
        <input type="radio" id="{{checkboxOption.id}}" name="{{checkboxOption.id}}" class="custom-control-input"
          [value]=checkboxOption.value (change)="getSelectedCheckboxValue($event)" [(ngModel)]="checkedValue">
        <label class="custom-control-label" for="{{checkboxOption.id}}">{{checkboxOption.title}}</label>
      </div>
      
    </div>

    <div class="form-inline col-md-4" >
      
        <select class="form-control cust-field" (change)="selectStatus($event.target.value)">
          <option value="">Select Status</option>
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
      
      <input #searchPlaylist class="form-control cust-field " *ngIf="playlistType == 'associatedPlaylist'" type="search" placeholder="Search" aria-label="Search"
        [ngModel]="searchKey">
    </div>
  </div>

  <div class="listCol assoList" *ngFor="let playList of userPlaylistData | filterPipe : selectedStatus : 'IsExpired'; let i = index;">
    <div class="titlL borderbotm">
      <h2 [ngClass]="{ 'pointerDisable': checkedValue == 'unpublished' || checkedValue == 'notassigned' }" (click)="playlistDetail(playList, 1)">{{playList.Name}}
        <i class="fa fa-pencil" (click)="rename(i)" *ngIf="playlistType == 'createdPlaylist'"></i>
      </h2>
      
      <p *ngIf="checkedValue == 'assigned' && playlistType == 'myPlaylist' && !playList.IsExpired" class="timeDiff">{{showRemainingTime(playList)}}</p>
      <div class="mlAuto">
        <span class="msgIco"
          *ngIf="(playlistType == 'myPlaylist' || playlistType == 'createdPlaylist') && !playList.IsExpired && (checkedValue == 'assigned' || checkedValue == 'completed')"
          (click)="playlistDetail(playList, loggedInUserRole == 'User' ? 2 : 3)">
          <i *ngIf="playList.MessageCount > 0">{{playList.MessageCount}}</i>
        </span>
        <button class="btn-info btn" *ngIf="playlistType == 'myPlaylist' && !playList.IsExpired"
          (click)="playlistDetail(playList, 1)">
          {{checkedValue == 'assigned' ? 'Play' : 'View'}}
          <i class="arowRight"></i>
        </button>
        <button class="btn-info btn" *ngIf="playlistType == 'createdPlaylist' && !playList.IsExpired"
          (click)="routeTo(playList)">
          {{checkedValue == 'assigned' ? 'Assign to more' : 'Launch'}}
          <i class="arowRight"></i>
        </button>
        <button class="btn-info btn" *ngIf="playlistType == 'createdPlaylist' && !playList.IsExpired && checkedValue == 'assigned'"
          (click)="deactivate(i)">
          Deactivate
        </button>
        <button class="btn-info btn" *ngIf="(playlistType == 'createdPlaylist' && playList.IsExpired) || (checkedValue == 'notassigned' && playlistType == 'createdPlaylist')"
          (click)="delete(i)">
          Delete
        </button>
      </div>
    </div>

    <div class="badgeWrapper">
      <div class="badgeWrap">
        <div class="badgeCol" *ngFor="let folder of playList.Folders; let i = index">
          <div class="upperBdgCol"
            [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3}">
            <p>{{folder.NumberOfContent}}</p>
            <h1>{{folder.FolderShortName}}</h1>
            <p><span>{{folder.FolderName}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="userInfo plystInfo">
      <div class="info">
        <p>Start Date</p>
        <h3>{{playList.StartDate | date : 'dd/MM/yyyy'}}</h3>
      </div>
      <div class="info">
        <p>End Date</p>
        <h3>{{playList.EndDate | date : 'dd/MM/yyyy'}}</h3>
      </div>
      <div class="info">
        <p>No. of Users</p>
        <h3>{{playList.NumberOfUsers}}</h3>
      </div>
      <div class="info">
        <p>No. of Team</p>
        <h3>{{playList.NumberOfTeams}}</h3>
      </div>
      <div class="info" *ngIf="(playlistType == 'createdPlaylist' && checkedValue != 'notassigned') || playlistType != 'createdPlaylist'">
        <p>Status</p>
        <h3 [ngClass]="{'colorGreen':playList.IsUserPass && checkedValue=='completed','colorRed':!playList.IsUserPass && checkedValue=='completed'}">
          {{getStatus(playList)}}
        </h3>
      </div>
    </div>
  </div>

  <div class="teamWrapper" *ngIf="!isResult">
    <p>No playlist found</p>
  </div>
  <!-- Associated PlayList -->
</div>