
  <div class="resultBlockWrap">
    <div class="modal-header px-4">
      <h5 class="modal-title">Results</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span class="closeBtn"></span>
      </button>
    </div>
    <div class="modal-body pt-0 px-4">
        <div class="userResultDetail">
          <div class="userResultDetailCol">
            <p>Total Percentage</p>
            <h3>{{playlistFolderResult && playlistFolderResult.TotalPercentage ? playlistFolderResult.TotalPercentage: 0}}%</h3>
          </div> 
          <div class="userResultDetailCol">
            <p>Total Score</p>
            <h3>{{playlistFolderResult && playlistFolderResult.TotalScore ? playlistFolderResult.TotalScore: 0}}</h3>
          </div> 
          <div class="userResultDetailCol">
              <div class="fbScore">
                <p>{{playlistContentName}}</p>
                <h3>{{playlistMarkObtained}}</h3>
              </div>
            </div>
          

        </div>
        <div class="row vResult" *ngIf="playlistFolderResult">
            <div class="verTab" >
              <ul  ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav nav-pills flex-column" orientation="vertical" (navChange)="onNavChange($event)">
                <li [ngbNavItem]="i+1" *ngFor="let folders of playlistFolderResult.folders; let i = index" (click)="getFolderContent(i)">
                  <a ngbNavLink>
                    <div class="badgeCol">
                      <div class="upperBdgCol" [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3}">
                        <div class="innerData">
                          <p>{{folders.NumberOfContent}}</p>
                          <h1>{{folders.FolderShortName}}</h1>
                          <p><span>{{folders.FolderName}}</span></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="resultTable table-responsive">
                      <table>
                        <thead>
                          <tr>
                            <th width="180px">Thumbnail</th>
                            <th>View Title</th>
                            <th>Score</th>
                            <th>Result</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let contentList of folderContentData.Data">
                            <td>
                              <video *ngIf="contentList.Content.MimeType.match('video') == 'video'" class="card-img-top" controls data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                                <source [src]="contentList.Content.ContentURL" [type]="contentList.MimeType">
                              </video>
      
                              <img *ngIf="contentList.Content.MimeType.match('image') == 'image' || contentList.Content.MimeType.match('docs') == 'docs' || contentList.Content.MimeType.match('pdf') == 'pdf' || contentList.Content.MimeType.match('text') == 'text'" [src]="contentList.Content.ThumbnailURL" [ngClass]="{'resultImage': contentList.Content.MimeType.match('image') == 'image'}">
                            </td>
                            <td>
                              <p class="title">{{contentList.Content.ContentName}}</p>
                            </td>
                            <td>{{contentList.MarksObtained || '-' }}</td>
                            <td>{{contentList.IsUserPassed == true ? 'Pass' : contentList.IsUserPassed == false ? 'Fail' : '-'}}</td>
                            <td>
                              <div  *ngIf="contentList.IsUserPassed || (contentList.NumberOfQuizAttempts == 3 && contentList.IsUserPassed)">
                                <button class="btn-outline-secondary btn" (click)="viewQuizResult(contentList, folders)">View Quiz <i class="arowRight"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr *ngIf="folderContentData.Data.length == 0" align="center" >No content found</tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
            <div class="tabContent">
              <div [ngbNavOutlet]="nav" class="tabSection"></div>
            </div>
          </div>

    </div>
  </div>