
.resultBlockWrap{
	.userResultDetail{
		display: flex;
		margin-bottom: 30px;
		.userResultDetailCol{
			padding-right: 30px;
			margin-right: 30px;
			border-right: 2px solid #afc6c6;
			&:last-child{
				border: 0;
			}
			p{
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			h3{
				font-size: 20px;
				font-weight: bold;
            }
            .fbScore{
                p{
                    color:#4ab486;
                }
                h3{
                    color:#4ab486;
                }
            }
		}
	}
	.vResult{
		flex-wrap: nowrap;
		margin: 0;
		border: 2px solid #c8d6d6;
		.verTab{
			max-height: 675px;
			overflow: auto;
			min-width: 150px;
			max-width: 150px;
			@media (max-width: 930px){
				min-width: 100%;
				max-width: 100%;
			}
		}
		.tabContent{
			overflow: hidden;
			padding: 0;
			border: 0;
			.tabSection{
				padding: 0;
			}
		}

		.resultTable{
			max-height: 660px;
			overflow: auto;
			table{
				border-left: 1px solid #c8d6d6;
				th{
					padding: 20px 15px;
					border-bottom: 2px solid #afc6c6;
					white-space: nowrap;
					font-size: 16px;
					color: #97b1b1;
				}
				td{
					padding: 20px 15px;
					border-bottom: 1px solid #cedddd;
					white-space: nowrap;
					font-size: 16px;
					font-weight: bold;
					video{
						margin: 0;
					}
					p.title{
						font-weight: normal;
					}
					.madel{
						margin: 0 auto 4px;
					}
					.medalNm{
						display: block;
						text-align: center;
						font-size: 12px;
						font-weight: bold;
					}
					.btn .arowRight{
						background-position: -228px -31px;
					}
				}
			}
		}
	}

	.resultImage {
		width:100%;
	}
}