
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="closeBtn" (click)="close()"></span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editProfileFrom"> 
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
        <div *ngFor="let messages of validationMessages.FirstName">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['FirstName'].touched || editProfileFrom.controls['FirstName'].dirty) && editProfileFrom.controls['FirstName'].invalid && editProfileFrom.controls['FirstName'].errors[messages.type]">
            {{messages.message}}
          </small>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="text " class="form-control" placeholder="Last Name" formControlName="LastName">
        <div *ngFor="let messages of validationMessages.LastName">
          <small class="text-danger"
          *ngIf="(!isFormValid || editProfileFrom.controls['LastName'].touched || editProfileFrom.controls['LastName'].dirty) && editProfileFrom.controls['LastName'].invalid && editProfileFrom.controls['LastName'].errors[messages.type]">
              {{messages.message}}
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>About</label>
      <textarea class="form-control" formControlName="Description"></textarea>
      <div *ngFor="let messages of validationMessages.Description">
        <small class="text-danger"
          *ngIf="(!isFormValid || editProfileFrom.controls['Description'].touched || editProfileFrom.controls['Description'].dirty) && editProfileFrom.controls['Description'].invalid && editProfileFrom.controls['Description'].errors[messages.type]">{{messages.message}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">Email id</label>
      <input type="Email" class="form-control" placeholder="email@xyz.com" formControlName="Email">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">Address 1</label>
        <input type="text" class="form-control"  placeholder="Address 1" formControlName="AddressOne">
        <div *ngFor="let messages of validationMessages.AddressOne">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['AddressOne'].touched || editProfileFrom.controls['AddressOne'].dirty) && editProfileFrom.controls['AddressOne'].invalid && editProfileFrom.controls['AddressOne'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="">Address 2</label>
        <input type="text " class="form-control" id="" placeholder="Address 2" formControlName="AddressTwo">
        <div *ngFor="let messages of validationMessages.AddressTwo">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['AddressTwo'].touched || editProfileFrom.controls['AddressTwo'].dirty) && editProfileFrom.controls['AddressTwo'].invalid && editProfileFrom.controls['AddressTwo'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Country</label>
        <select id="inputState" class="form-control custom-select" formControlName="CountryId" (change)="getStates($event.target.value)">
          <option value="">select</option>
          <option *ngFor="let country of countries;" [value]="country.ID">{{ country.Name }}</option>
        </select>
        <div *ngFor="let messages of validationMessages.SelectedCountryId">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['CountryId'].touched || editProfileFrom.controls['CountryId'].dirty) && editProfileFrom.controls['CountryId'].invalid && editProfileFrom.controls['CountryId'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control custom-select" formControlName="StateId" (change)="getCities($event.target.value)">
          <option value="">select</option>
          <option *ngFor="let state of states;" [value]="state.ID">{{ state.Name }}</option>
        </select>
        <div *ngFor="let messages of validationMessages.SelectedStateId">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['StateId'].touched || editProfileFrom.controls['StateId'].dirty) && editProfileFrom.controls['StateId'].invalid && editProfileFrom.controls['StateId'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <select id="inputState" class="form-control custom-select" formControlName="CityId">
          <option value="">select</option>
          <option *ngFor="let city of cities;" [value]="city.ID">{{ city.Name }}</option>
        </select>
        <div *ngFor="let messages of validationMessages.SelectedCityId">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['CityId'].touched || editProfileFrom.controls['CityId'].dirty) && editProfileFrom.controls['CityId'].invalid && editProfileFrom.controls['CityId'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip" formControlName="Zip">
        <div *ngFor="let messages of validationMessages.ZipCode">
          <small class="text-danger"
            *ngIf="(!isFormValid || editProfileFrom.controls['Zip'].touched || editProfileFrom.controls['Zip'].dirty) && editProfileFrom.controls['Zip'].invalid && editProfileFrom.controls['Zip'].errors[messages.type]">{{messages.message}}</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress2">Phone Number</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Phone Number" formControlName="PhoneNumber">
      <div *ngFor="let messages of validationMessages.PhoneNo">
        <small class="text-danger"
          *ngIf="(!isFormValid || editProfileFrom.controls['PhoneNumber'].touched || editProfileFrom.controls['PhoneNumber'].dirty) && editProfileFrom.controls['PhoneNumber'].invalid && editProfileFrom.controls['PhoneNumber'].errors[messages.type]">{{messages.message}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">Handle Name</label>
      <input type="text" class="form-control" formControlName="HandleName">
    </div> 

    <div>
      <app-tags (sendTags)="getSelectedTags($event)"></app-tags>
    </div> 

    
    
  </form>
</div>
<div class="modal-footer pt-0">
  <button type="button" class="btn btn-primary" (click)="submitForm(editProfileFrom.valid)">Save</button>
</div>