<section class="popup bs-join-now-modal-lg">
    <div class="modal-header pt-4">
        <div class="modal-title" id="myModalLabel">
            <h5>Prize Preview</h5>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0 pb-3">
        <div class="awardsBlock">
            <div class="awardsCol w-100">
                <div class="listCol mt-0" *ngIf="data">
                    <h4>{{ data.title }}</h4>

                    <div class="awardBox">
                        <img *ngIf="data.image" [src]="data.image">
                       <!-- <img *ngIf="!data.image" src="../../../../assets/img/prize.jpg"> -->
                    </div>

                    <div class="pointsBox">
                        <p>{{ data.points }}</p>
                        <span>points</span>
                    </div>

                    <div class="editBox">
                        <button class="btn-join-submit">Redeem</button>
                        <div class="available">
                            <span>Available till</span>
                            <p>{{ data.endDate | date: 'mediumDate' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>