<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Master Library</h4>
        <div class="form-inline">
            <input class="form-control mr-sm-4 cust-field w320 searchIco" type="search" placeholder="Search"
                aria-label="Search" #searchFolder>
        </div>
    </div>
</div>

<div class="relPos">
    <app-folder [folderType]="folderType"></app-folder>

    <app-folder-footer *ngIf="showFooterFolderVar" (showFooterFolderVar)="showFooterFolder()" [folderType]="folderType"></app-folder-footer>
</div>



<div class="playBtn" (click)="showFooterFolder()" *ngIf="!showFooterFolderVar">
    <span *ngIf="countSelect && countSelect > 0">{{ countSelect }}</span>
</div>