.libWrapper.colm{
    padding-bottom: 100px !important;
}
.closeBtnWrap{
    position: relative;
    padding-right: 110px;
}
.custmLnchBtn{
    height: 104px;
    width: 105px;
    border: none;
    position: absolute;
    right: 0;
    top: -60px;
    padding: 0;
}
@media screen and (max-width: 1903px) {
    .foldrEdit{
        width:calc(100% - 18px);
        margin: 0 9px;
    }
    .libWrapper .libCol{
        margin: 10px 9px;
        width:auto;
    }
    .libWrapper .libCol .innerData{
        height: 166px;
        width: 166px;
    }
}

@media screen and (max-width: 1499px) {
    .libWrapper .libCol {margin: 10px 4px;}
    .foldrEdit{width:calc(100% - 8px);margin: 0 4px;}
}

@media screen and (max-width: 480px) {
    .libWrapper .libCol .innerData{
        height: auto;
        width: 100%;
    }
}
.libWrapper.colm{max-width: 100%;}
.pl-10{
    padding-left: 10px;
}
.btn{margin: 0 5px;}
.aHead{
    display: flex;justify-content: space-between;
    margin: 15px 0 10px;
    h4{
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }
    span{
        color:#3aacc5;
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;;
    }
}
.dataBox{
    border:2px solid #afc6c6;
    border-radius: 5px;
    padding:18px 33px;
    min-height: 90px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            margin: 5px 35px 5px 0;
            img{
                height: 40px;width: 40px;border-radius: 100%;margin-right: 5px;
            }
            strong{
                font-size: 13px;
            }
        }
    }
    &.tableList{
        padding:0;
        border:none;
        overflow: hidden;
        table {
            width:100%;
            border-collapse: collapse;
            td{
                border:2px solid #afc6c6;
                width:33%;
                padding:30px;
                &:first-child{border-radius: 5px 0 0 5px;}
                &:last-child{border-radius:  0 5px 5px 0;}
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dataBox{padding:10px}
    .dataBox.tableList table td{padding:10px;}
}
@media screen and (max-width: 575px) {
    .pl-10{padding-left: 0;}
}
@media screen and (max-width: 480px) {
    .dataBox.tableList{
        overflow: visible;
         table{
        display: block;
       
            tbody{
                display: block;
                width: 100%;
                tr {
                    display: block;
                        width: 100%;
                td{
                    display: block;
                    width: 100%;
                    border-radius: 0 !important;
                    margin: 4px 0;
                    }
                }
            }
        }
}        
    
}
.aHead span {
    cursor: pointer;
}