<div class="pageHeader">
  <div class="navbar justify-content-between align-item-center">
    <h4>Build Playlist</h4>
  </div>
</div>



<div class="relPos stepr">
  <div class="libWrapper colm">
    <h2 *ngIf="showLaunchSuccess">Congratulations your playlist have been assigned</h2>
    <div class="pageHeader conentHead" *ngIf="showLaunchSuccess">
      <button class="btn btn-success" routerLink="/build-playlist/assign-users-teams/{{ playlistId }}/true">+ Assign to
        more</button>
      <button class="btn btn-primary" routerLink="/my-playlist">Go to My playlist</button>
    </div>
    <div class="instrtion" *ngIf="playlistData">
      <h5>{{ playlistData.Name }}</h5>
    </div>

    <div class="otherFoldr" id="sortable">
      <!--  -->
      <div *ngFor="let folder of folders; let i = index;">
        <div class="libCol acitve"
          [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3}">
          <div class="innerData">
            <div class="d-flex">
              <span> </span>
              <span>{{ folder.NumberOfContent }}</span>
            </div>
            <h1>{{ folder.FolderShortName }}</h1>
            <p>{{ folder.FolderName }}</p>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="pl-10">
      <div class="aHead">
        <h4>Assign to individual</h4>
        <span routerLink="/build-playlist/assign-users-teams/{{ playlistId }}/false" *ngIf="!showLaunchSuccess">Edit</span>
      </div>
      <div class="dataBox">
        <ul *ngIf="users?.length > 0">
          <li *ngFor="let user of users;">
            <img alt="user profile" [src]="user.ProfilePicture">
            <strong>{{ user.FirstName + " " + user.LastName }}</strong>
          </li>
        </ul>
        <ul *ngIf="users?.length == 0">
          <li *ngFor="let user of users;">
            <strong>No users found</strong>
          </li>
        </ul>
      </div>

      <div class="aHead">
        <h4>Assign to team</h4>
        <span routerLink="/build-playlist/assign-users-teams/{{ playlistId }}/false" *ngIf="!showLaunchSuccess">Edit</span>
      </div>
      <div class="dataBox">
        <ul *ngIf="teams?.length > 0">
          <li *ngFor="let team of teams; let i = index;"><strong>{{ i+1 }}. {{ team.TeamName }}</strong>
            ({{ team.NumberOfUsers }} users)</li>
        </ul>
        <ul *ngIf="teams?.length == 0">
          <li><strong>No teams found</strong></li>
        </ul>
      </div>

      <div class="aHead">
        <h4>Duration</h4>
        <span routerLink="/build-playlist/assign-users-teams/{{ playlistId }}/false" *ngIf="!showLaunchSuccess">Edit</span>
      </div>

      <div class="dataBox tableList">
        <table>
          <tr>
            <td>
              <div class="col-md-12" style="display:flex;">
                <strong class="col-md-4">Start Date :</strong>
                <strong class="col-md-8" *ngIf="playlistData">{{ playlistData.StartDate | date : "mediumDate" }}</strong>
              </div>

            </td>
            <td>
              <div class="col-md-12" style="display:flex;">
                <strong class="col-md-4">End Date :</strong>
                <strong class="col-md-8" *ngIf="playlistData"> {{ playlistData.EndDate | date: "mediumDate" }}</strong>
              </div>
              
            </td>
            <!-- <td>
              <strong>Location</strong>
              <p *ngIf="playlistData">{{ playlistData.Location }}</p>
            </td> -->
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="selectedDir rightAlgn">

    <div class="closeBtnWrap" *ngIf="!showLaunchSuccess">
      <!-- <button class="btn btn-secondary">Save</button> -->
      <button class="btn btn-primary" routerLink="/build-playlist/assign-users-teams/{{ playlistId }}/false"> <i
          class="arowRight arowLeft"></i> Prev</button>
      <button class="custmLnchBtn" (click)=launch()>
        <img src="../../assets/img/btnLaunch.PNG">
      </button>
    </div>
  </div>
</div>