<div class="dashbordArea">
    <div class="tabWrapper">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="onNavChange($event)">
            <li ngbNavItem>
                <a ngbNavLink>All</a>
                <ng-template ngbNavContent>
                    <div class="userCol">
                        <div class="form-inline">
                            <label for="">Select Playlist :</label>
                            <select name="cars" class="custom-select cust-field"
                                (change)="selectPlaylist($event.target.value)">
                                <option *ngFor="let playlist of playlists; let i = index;"
                                    [value]="playlist.PlaylistId" [selected]="playlist.PlaylistId == playlistId">{{ playlist.Name }}</option>
                            </select>
                            <label for="">Sort by :</label>
                            <select name="cars" class="custom-select cust-field" (change)="sort($event.target.value)">
                                <option value="1">Name</option>
                                <option value="2">Max Completion</option>
                                <option value="3">Min Completion</option>
                            </select>
                        </div>
                    </div>
                    <div class="loaderWrap" *ngIf="leaders?.length > 0">
                        <div class="loadrCol" *ngFor="let leader of leaders; let i = index;"
                            (click)="routeToPlaylistDetailsOfUser(i)">
                            <circle-progress [percent]="leader.PlaylistCompletePercentage"
                                [outerStrokeColor]="leader.Color" [innerStrokeColor]="leader.Color"></circle-progress>
                            <p>{{ leader.FirstName + " " + leader.LastName }}</p>
                        </div>
                    </div>
                    <div class="loaderWrap" *ngIf="leaders?.length == 0">
                        <p>No result found</p>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Team</a>
                <ng-template ngbNavContent>
                    <div class="userCol">
                        <div class="form-inline">
                            <label for="">Select Playlist :</label>
                            <select name="cars" class="custom-select cust-field"
                                (change)="selectPlaylist($event.target.value)">
                                <option *ngFor="let playlist of playlists; let i = index;"
                                    [value]="playlist.PlaylistId" [selected]="playlist.PlaylistId == playlistId">{{ playlist.Name }}</option>
                            </select>
                            <label for="">Sort by :</label>
                            <select name="cars" class="custom-select cust-field" (change)="sort($event.target.value)">
                                <option value="1">Name</option>
                                <option value="2">Max Completion</option>
                                <option value="3">Min Completion</option>
                            </select>
                        </div>
                    </div>
                    <div class="loaderWrap" *ngIf="teams?.length > 0">
                        <div class="loadrCol" *ngFor="let team of teams; let i = index;"
                            (click)="routeToTeams()">
                            <circle-progress [percent]="team.PlaylistCompletePercentage"
                                [outerStrokeColor]="team.Color" [innerStrokeColor]="team.Color"></circle-progress>
                            <p>{{ team.Name }}</p>
                        </div>
                        <div class="loaderWrap" *ngIf="teams?.length == 0">
                            <p>No result found</p>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="tabSection"></div>
    </div>

    <div class="performerWrap">
        <app-top-performer [playlistId]="playlistId" *ngIf="playlistId"></app-top-performer>
    </div>
</div>