
.loaderWrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .loadrCol{
        min-width: 20%;
        p{
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            text-align: center;
            font-size: 13px;
            margin-bottom: 50px;
        }
    }
}
.userCol {
    margin-bottom: 20px;
    .custom-select{
        min-width: 275px;
        margin-left:10px;
    }
}

@media screen and (max-width: 855px) {
    .userCol .custom-select{
        min-width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .userCol .custom-select{
        min-width: 100%;
    }
}