<app-header></app-header>
<div class="mainWrapper">
  <app-sidemenu class="leftContent"></app-sidemenu>
  <div class="rightContent" [ngClass]="{'mainMaxWidth': toggleRightSide}">
    <router-outlet></router-outlet>
  </div>
</div>