.bgCover{
    background: #E5F2F2;
    padding-bottom: 1px;
    width: 100%;
    background-image: url('../../../../assets/img/VirtualBrandworks_BlueBackground-min.jpg');
    background-size: cover;
}

.frmBox {
    border: 2px solid #C8D6D6;
}