<div class="dashbordArea">
    <div class="tabWrapper">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>My Dashboard</a>
                <ng-template ngbNavContent>

                    <div class="playListWrap" *ngIf="playlists?.length > 0">
                        <div class="plylistHead">
                            <h5>My Playlist</h5>
                            <a (click)="openCreatePlaylist()">+ Create Playlist</a>
                        </div>


                        <div class="listCol " *ngFor="let playlist of playlists; let i = index;"
                            [ngClass]="{'active': playlist.Selected}" (click)="selectPlaylist(i)">
                            <div class="titlL">
                                <span class="listIcon"></span>
                                <div class="pl-10p">
                                    <h2>{{ playlist.Name }}</h2>
                                    <p>{{ playlist.Status ? "Active" : "Inactive" }}</p>
                                </div>
                            </div>
                            <table class="plylistDetails">
                                <tr>
                                    <td>
                                        <div class="flexTbl">
                                            <span class="ico team"></span>
                                            <div class="text-right">
                                                <h3>{{ playlist.NumberOfTeams }}</h3>
                                                <p>Total Team</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flexTbl">
                                            <span class="ico team"></span>
                                            <div class="text-right">
                                                <h3>{{ playlist.NumberOfUsers }}</h3>
                                                <p>Total Students</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flexTbl">
                                            <span class="ico plyr"></span>
                                            <div class="text-right">
                                                <h3>{{ playlist.StartDate | date: "d" }} -
                                                    {{ playlist.EndDate | date: "d MMM, y" }}</h3>
                                                <p>Assigned Date</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flexTbl">
                                            <circle-progress [percent]="playlist.PlaylistCompletePercentage" [radius]="20" [maxPercent]="100"
                                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false"
                                                [outerStrokeColor]="'#666666'" [innerStrokeColor]="'#cccccc'"
                                                [outerStrokeWidth]="4" [space]="-4">
                                            </circle-progress>
                                            <div class="text-right">
                                                <h3>{{ playlist.PlaylistCompletePercentage }}%</h3>
                                                <p>Completed</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="flexTbl fst">
                                            <span class="ico assigne"></span>
                                            <div class="pl10">
                                                <h3>Assign to</h3>
                                                <p>{{ playlist.AssignedTo.join("/ ") }}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="tabSection"></div>
    </div>
    <app-top-performer [playlistId]="playlistId" *ngIf="playlistId"></app-top-performer>
</div>