.changeImage {
    border-radius: 0;
    margin-top: 2em;
    width: auto;
    max-width: 165px;
    height: auto;
    max-height: 150px;
}
.changeImage img {
    border-radius: 0 !important;
}
.max-height {
    max-height: 140px;
}
.uploadCover{
    width:165px;
}
@media  screen and (max-width: 800px) {
    .uploadCover{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .changeImage{
            margin-top: 0;
            .uploaadBtn{
                left:-21px;
                right: auto;
            }
        }       
    }
}
@media  screen and (max-width: 480px) {
    .uploadCover{
        display: block;
        .profileImg{
            margin: 5px auto;
        }
        .changeImage{
            margin-top: 0;
            .uploaadBtn{
                right:-21px;
                left: auto;
            }
        }
    }
}