<div class="tabUser">
	<div class="profileCol">
		<div class="uploadCover">
			<div class="profileImg">
				<span class="uploaadBtn revomeProfileImg"></span>
				<img [src]="userProfileData && userProfileData.ProfilePicture ? userProfileData.ProfilePicture : '../../assets/img/no-profile.png'">
				<span class="uploaadBtn" (click)="openCropImage()" *ngIf="loggedInUserId == userId"></span>
			</div>
		</div>
		<div class="userRightDetails" *ngIf="userProfileData">
			<div class="d-flex justify-content-between align-items-end">
			<div class="pleft40">
				<h3>{{userProfileData.FirstName}} {{userProfileData.LastName}}</h3>
				<p class="status">{{userProfileData.Status == true ? 'Active' : 'Inactive'}}</p>
			</div>
			<span class="edit" (click)="editUserProfile(userProfileData)" *ngIf="loggedInUserId == userId">Edit</span>
			</div>
			<hr>
			<div class="pleft40">
				<p>{{userProfileData.Description}}</p>
			</div>
			<ul class="uInfo pleft40">
			<li><span class="email"></span>{{userProfileData.EmailId}} / @{{userProfileData.HandleName}}</li>
			<li><span class="call"></span>{{userProfileData.PhoneNumber}}</li>
			<li><span class="adrs"></span>{{getAddress(userProfileData)}}</li>
			<li *ngIf="loggedInUserId == userId">
				<span class="date"></span>Date of joining<br/>	
				{{getDate(userProfileData.DateOfJoining) | date:'dd/MM/yyyy'}}
			</li>
			
			</ul>
			<ul class="tag pleft40">
				<li *ngFor="let tag of userProfileData.Tags">
					<a href="/">#{{tag.Name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>