@media screen and (max-height: 985px) {
  .loginCover{display: flex;}
}
@media screen and (max-height: 2000px) and (min-height: 984px) {
  .loginCover{display: block;}
}

@media screen and (max-width: 1903px) {
  .libWrapper .libCol.editable,
  .libWrapper .libCol{width: 14.5%;margin: 1%;}
  .libWrapper .libCol.editable .innerData,
  .libWrapper .libCol .innerData{width: 100%;}
  .libWrapper .dcFoldr{padding-top: 1%;}
  .libWrapper .dcFoldr .libCol{margin:0;}
  .libWrapper.colm .libCol{width: 100%;}
  .libWrapper.colm .ui-sortable-handle{min-width: 170px;max-width: 170px;width: 170px;margin: 0 10px 10px;}
  .foldrEdit{margin: 10px 0 0;width: 100%;}
}
@media screen and (max-width: 1590px) {
  .libDetilsView .ldLeft .libWrapper .libCol .innerData,
  .libDetilsView .ldLeft .libWrapper .libCol{width: 100% !important;}
  .custom-select.w270,
  .teamName{min-width: 260px;width: 260px;}
  .teamDetailsBox{width: calc(100% - 260px);}
  .teamDetailsBox .tableWrapBorder table th, .teamDetailsBox .tableWrapBorder table td{padding: 10px;}
  // .teamDetailsBox .tableWrapBorder table th, .teamDetailsBox .tableWrapBorder table td{font-size: 15px;}
  .tableWrapBorder table{min-width: 900px;}
  .teamData ul.tagsList{margin-top: 10px;}
  .loginCover .loginWrap .whiteBg{padding: 40px 80px;}
  .vdoRightTab{min-width: 300px;width: 300px;margin-left: 15px;}
  .vdoRightTab .tab-pane{padding: 10px;}
  .vdoRightTab .nav-tabs .nav-link{padding: 6px 15px;font-size: 15px;}
  .vdoRightTab .nav-tabs a{min-width: 1px;}
  .libDetilsView.videoDetailWrap .ldLeft{min-width: 185px;width: 185px;}
  .libDetilsView .libWrapper .libCol .innerData{height: 185px;width:185px;}
  .libDetilsView .libWrapper .libCol .innerData h1{font-size: 5rem;}
  .vdoRightTab .card p.card-text{font-size: 12px;}
  .vdoRightTab .card p.card-text:last-child{font-size: 13px;}
  .vdoRightTab .card-body{padding: 0 0 0 10px;}
  .libWrapper .libCol.editable,
  .libWrapper .libCol{width: 18%;margin: 1%;}

}
@media screen and (max-width: 1450px) {
  .sldierCover{padding: 20px 15px}
  .sldierCover .carousel-caption{top: 36px;}
  .loginCover .loginWrap .inputCol{margin: 30px 0 20px;}
  .loginCover .loginWrap .whiteBg{padding: 60px;}
  .performerWrap{min-width: 330px;}
  .performerWrap ul li img{margin: 0 10px;}
  .performerWrap ul li{padding: 10px;}
  .tabSection .playListWrap .listCol{padding: 12px;}
  .plylistDetails td{padding: 10px;}
  .pageHeader .w320{width: 240px;}
  .badgeCol{margin: 0 15px 15px 12px;}
  .plylistDetails.plylistTableDts td{padding: 10px;}
  .madelList li{margin: 0 5px;}
  .teamData ul li{padding: 0 30px;}
  .libWrapper .libCol .innerData h1 {font-size: 4rem}
  .libWrapper .libCol .innerData{height: 146px}
  
}
@media screen and (max-width: 1365px) {
  .teamData ul li{padding: 0 10px;}
  .mainWrap.mobileSmall{max-width: 840px}
  .libWrapper .libCol.editable,
  .libWrapper .libCol{width:23%;}
  .teamData ul li h2{font-size: 15px;}

}
@media screen and (max-width: 1321px) {
  .pageHeader.conentHead h4{margin-bottom: 10px;}
  .pageHeader .w320{width: auto;}
  .plyListAbout{max-width: 100%;}
  .sldierCover{margin-left: 30px;}
  .videoWrap{width: 48%;min-width: 48%;margin: 1%;}
}
@media screen and (max-width: 1280px) {
  /*.libWrapper .libCol{width: 23%;}*/
  .planWrap.planNewWrap .plns{padding: 20px 18px}
}
@media screen and (max-width: 1200px) {
  .sldierCover{padding: 15px}
  .libDetilsView,
  .sideSpace,
  .selectedDir.minDir,
  .userColstpr,
  .bs-wizard,
  .pageHeader {padding: 15px 20px;}
  .bs-wizard{margin: 0;}
  .libWrapper {padding: 10px;}
  .userInfo .info h3{font-size: 18px;}
  .tabSection .userInfo .info h3 {font-size: 16px;}
  .tabList {padding: 15px 20px 0;}
  .tabSection {padding: 15px 20px;}
  .tabAll .userInfo {padding: 0;}
  #backstretch{background-position:  center center;}
  .planWrap.planNewWrap .plns{ width:33.33%;min-width: 33.33%;}
  .planWrap.planNewWrap .plns:nth-child(4){border-left: 2px solid #C8D6D6;}
  .nav-tabs{padding:20px 20px 0;}
  .tab-content{padding: 20px;}
}
@media  screen and (max-width: 1099px) {
  .toggleBtn{display: none;}
  .sideNav ul li.active a::after,
  .sideNav ul li a:hover::after{display: none;}
  .sideNav ul li.active a small, .sideNav ul li:hover a small{font-size: 14px;}
  .mainWrapper .rightContent{width: calc(100% - 70px);}
  .sldierCover{margin-left: auto;}
}
@media  screen and (max-width: 1099px) and (min-width: 681px) {
  .sldierCover .carousel-caption{max-width: 98%;min-width: 98%;text-align: center;left:0;right: 0;margin: auto;top:15px;}
  .sldierCover .carousel-caption h5{font-size: 2em;}
  .sldierCover .carousel-caption a{margin: 10px 0 0;}

}
@media screen and (max-width: 1024px) {
  .frmBox {padding: 40px;}
  .userDeatil h2 {font-size: 17px;}
  .userInfo {padding: 0;}
  .userInfo .info h3 {font-size: 16px;}
}
@media  screen and (max-width: 991px) {
  .libDetilsView.videoDetailWrap .ldLeft .libWrapper .libCol .innerData{min-width: 185px;}
  .loginCover .loginWrap {margin: 0 auto;float: none;}
  .subsWrap h1, .grdntBG h1{font-size: 30px;}
  .dashbordArea{display: block;}
  .performerWrap h3{margin: 0 0 10px;padding-top: 10px;}
  .teamData{padding: 10px;}
  .libDetilsView.videoDetailWrap{display: block;}
  .teamTable{display: block;}
  .teamTable .createTeam{margin-top: 50px;}
  .teamTophedr{padding-bottom: 0;}
  .libWrapper .libCol .innerData{height: 166px}
  .libWrapper .libCol .innerData h1 {font-size: 4.8rem;}
  .process-section .overlay{
    top:0;
    left: -100%;
  }
  .process-section .overlay.show{
      left: 0;
      animation: mymove linear 500ms ;
    }
    @keyframes mymove {
      from {left: -100%;}
      to {left: 0;}
    }
}
@media screen and  (max-width: 991px) and (min-width: 680px){
  .libDetilsView.videoDetailWrap .ldLeft{min-width: 1px;width:auto;display: flex;margin: 0 0 15px 0;}
  .libDetilsView.videoDetailWrap .libWrapper .libCol{margin-right: 10px;}
}
@media screen and (max-width: 930px) {
  .modal-content .planWrap .plns,
  .subsWrap .planWrap .plns,
  .planWrap .plns {width: 48%;margin: 1%;}
  .mainWrap h3 {font-size: 20px;}
  .globlCol{width: 100%;}
  .plylistDetails.plylistTableDts td{display: block;border-bottom: none}
  .plylistDetails.plylistTableDts td:last-child{border-bottom: 2px solid #c8d6d6;}
  .libWrapper .libCol.editable,
  .libWrapper .libCol{width:31%;}
  .planWrap.planNewWrap .plns{ width:33.33%;min-width: 33.33%;margin: 0;}
  .planWrap.planNewWrap .plns:nth-child(4){border-left: 2px solid #C8D6D6;}

  .tabContent{padding:15px;}
  .container-fluid.resultWrap{padding:0;}
  .row.vResult{display:block;margin:0;}
  .verTab{border:none;min-width: 100%;max-width: 100%;padding:15px 5px}
  .verTab .flex-column{flex-direction: row !important;flex-wrap:nowrap;overflow: auto;}
  .verTab .nav-item{margin:0 10px;}
}
@media screen and (max-width: 891px) {
  .pageHeader.conentHead .form-inline{flex-wrap: wrap;}
  .pageHeader.conentHead .w320{width: 45%;margin-bottom: 10px}
  .pageHeader.conentHead .w170{width: 35%;margin-bottom: 10px}
  .pageHeader.conentHead .btn{margin: 0 10px 0 0;}
  .tab-content .tab-pane{overflow: auto;}
  .tabContent table{min-width: 705px;max-width: 705px;width: 705px;}
}

@media  screen and (max-width: 840px) {
  .sldierCover .carousel-caption{padding: 15px;left: 20px;right: 20px;top: 20px;max-width:100%;min-width: 1px;}
  .sldierCover .carousel-caption h5{font-size: 1.8rem}
  .sldierCover .carousel-caption a{font-size: 13px;min-width: 1px;padding: 5px 20px}
  .tabSection h2 {font-size: 18px;}
  .tabSection .userDeatil h1 {font-size: 17px;}
  .tabSection .userInfo {flex-wrap: wrap;justify-content: flex-start;}
  .tabSection .userInfo .info {width: 50%;padding:6px 0;background-size: 24px !important;padding-left: 35px !important;}
  .tabSection .listCol.myPlan table td {vertical-align: top;}
  .tabSection .listCol.myPlan table td span {display: block;padding: 0;}
  .tabSection .userInfo .info.contact{background-size: 10px !important;background-position: 6px 13px;}
  .tabSection .userInfo.plystInfo{padding-top: 5px;margin-top: 5px;justify-content: space-between;}
  .tabSection .userInfo.plystInfo .info{width: auto;
    h3{
      font-size: 14px;
    }
  }
  .videoWrap{width: 98%;min-width: 98%;margin: 1%;}
  .tabSection.minMrin.playListWrap .userInfo .info{padding-left: 0 !important}
  .tabSection.minMrin.playListWrap .userInfo.plystInfo{margin-top: 20px;}
  .instrtion .d-flex{display: block !important}
  .instrtion .d-flex p{align-items: center;padding: 5px 0;}
  // tab
  .nav-tabs.nav a{min-width: 40px;font-size: 15px;padding: 8px 10px;}
  .tab-content .userCol{flex-wrap: wrap;}
  .tab-content .userCol .form-inline{min-width: 100%;justify-content: space-between;}
  .addMore, .tab-content .userCol p.addMore{margin:10px 0 0 auto}
}
@media screen and (max-width: 800px) {
  .relPos{height: calc(100% - 90px);}
  .pageLoctin{min-width: 100%;}
  .teamData ul li{border:none;}
  .loginCover{display: block;}
  .pageHeader .form-inline {flex-wrap: nowrap;width: 100%;}
  .pageHeader label {min-width: 50px;}
  .pageHeader .cust-field {width: 46%;}
  .pageHeader .navbar h4 {min-width: 100%;margin-bottom: 10px;}
  .pageHeader.minFlex .navbar h4{min-width: auto;margin: 0;}
  .pageHeader .navbar .pageLoctin h4{min-width: 1px;}
  .beforeLogin .header .navBeforLogin ul li {margin: 0 5px;}
  .beforeLogin .header.afterLogin .logo {min-width: 10px;box-shadow: none;padding: 10px;}
  .beforeLogin .header.afterLogin .rightHead {padding: 15px 10px;}
  .loginCover .loginWrap {margin: 0 auto;float: none;}
  .loginCover .loginWrap .whiteBg {padding: 30px 50px;}
  .profileCol{display: block;padding: 15px;}
  .profileCol .userRightDetails .pleft40{padding-left: 0;}
  .profileCol .profileImg .uploaadBtn{bottom: 33%;left: auto;right: -21px;}
  .feature li img{max-width: 30px;}
  .teamData ul{display: block;}
  .teamData ul.tagsList{display:flex;}
  .teamData ul.tagsList li{margin: 2px;}
}
@media screen and (max-width: 768px) {
  .tableWrapBorder{overflow: auto;padding: 5px;}
  .tableWrapBorder table th{padding-bottom: 5px;}
  .tableWrapBorder table{width: 700px;max-width: 700px;}
  .mainWrapper .rightContent{width: calc(100% - 70px);}
  .tabSection .listCol.myPlan table td {display: block;margin-bottom: 5px;}
  .tabSection .listCol.myPlan table td span {display: inline;}
  .tabSection .userInfo .info {width: 100%;}
  .tabSection .userInfo .info.userUT {padding-left: 45px;}
  .tabList {padding: 20px 15px 0;}
  .tabList a {font-size: 14px;min-width: 1px;padding: 6px;}
  .tabSection {padding: 15px;}
  .tabAll .userInfo {flex-wrap: wrap;}
  .tabAll .userInfo .info {width: 33%;margin-bottom: 4px;}
  .tabSection .userCol .form-inline{flex-wrap: wrap;}
  .tabSection .userCol .form-inline label{display: block;}
  .tabSection .userCol .form-inline .form-control,
  .tabSection .userCol .form-inline .custom-select{min-width: 100%;margin: 4px 0 !important;}
  .teamWrapper{display: block;}
  .teamDetailsBox, .teamName{min-width: 100%;width: 100%;margin-bottom: 10px;}
  .teamDetailsBox{border-left: 2px solid #afc6c6;}
  .teamName ul{max-height: 300px;}
  .teamData ul li{padding:0;border-right:none;}
  .teamName ul li{padding: 5px 10px;
    &:after{
      top:11px;
    }
  }

  .libWrapper .libCol.editable,
  .libWrapper .libCol{width: 48%}
  .starting-section  #myVideo{
    min-height: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .vdoRightTab .card-body{padding: 10px 0 0;}
  .modal.customModal .modal-content {min-width: 100px;width: auto;max-width: 100%;}
  .modal.customModal .modlVideo{margin: 0 -5px;}
  .vCover{margin: 0 5px;min-width: 110px;max-width: 150px;}
  .tabSection.minMrin.playListWrap .titlL.borderbotm  h2{font-size: 15px;flex:1;}
  .titlL.borderbotm .mlAuto .btn{padding: 6px;}
  .nav-tabs.nav a{
    padding:8px 10px;
    margin-right: 6px;
  }
}

@media (max-width: 710px) {
  .tab-content .userCol .form-inline{
    flex-wrap: wrap;
    .custom-select{min-width: 140px;}
    .form-control{margin: 0 6px 0 0 !important;min-width: 196px;}
  }
  
}

@media (max-width: 680px) {
  .bs-wizard > .bs-wizard-step.complete .bs-wizard-dot::after {margin: 3px 2px 0px;}
  .loginCover .loginWrap .whiteBg .socialLogin.text-col div{margin-top: 15px;}
  .loginCover {padding: 0px!important;display: block;}
  .loginCover .loginWrap {padding: 5px;}
  .loginCover .loginWrap .whiteBg {padding: 20px!important;min-width: 100%;}
  .loginCover .loginWrap .whiteBg .sprtr {padding: 10px 0;}
  .loginCover .loginWrap .whiteBg .inputCol {margin: 30px 0 0;}
  .loginCover .loginWrap .whiteBg .socialLogin {margin: 0;}
  .loginCover .loginWrap .whiteBg .socialLogin button.btn{margin: 0 0 10px;}
  .loginCover .d-flex.socialLogin {display: block !important;}
  .loginCover .d-flex.socialLogin .text-right {text-align: left !important;margin-top: 10px;}
  .loginCover .loginWrap .checkCol .custom-control-label, .loginCover .loginWrap .checkCol a {font-size: 13px;}
  .carousel-item .d-block{display: none !important;}
  .carousel-item .d-none{display: block !important;}
  .ldRight .videoDetails{display: block;}
  .vdoRightTab{margin: 10px 0 0;width: 100%;min-width: 1px;}
  .libDetilsView.videoDetailWrap .ldLeft{width: 100%;padding-bottom: 15px;}
  .bs-wizard{flex-wrap: wrap;}
  .bs-wizard > .bs-wizard-step{width: 100%;}
  .bs-wizard > .bs-wizard-step > .progress{display: none;}
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum{text-align: left !important;padding-left: 25px;margin-bottom: 10px;}
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot{height: 20px;width: 20px;margin: 0;top:0px;left: 0;z-index: 1;}
  .bs-wizard > .bs-wizard-step:after{content: '';height: 100%;width: 2px;background: #afcfcf;top:0;bottom: 0;left:9px;position: absolute;}
  .bs-wizard > .bs-wizard-step.active .bs-wizard-dot::after {margin: 3px 1px 0px;}
  .bs-wizard > .bs-wizard-step:last-child:after{display: none;}
  .relPos.stepr{height: calc(100% - 280px);}
  .libWrapper.colm .ui-sortable-handle{min-width: 29%;max-width: 29%;width: 29%;}
  // tab
  .nav-tabs{flex-wrap: wrap;padding:15px 12px 0;}
  .nav-tabs .nav-item{margin: 0;width: 50%;}
  .nav-tabs.nav a{margin:3px 3px 0;}
  .changePasswordForm { 
    padding: 20px;
  }
  
}
@media (max-width: 640px) {
  .profileCol.p20{padding: 20px;}
  .createTeam table th, .createTeam table td{padding: 10px 6px;}
  .tableItemCover table{width: 600px;}
  .tabSection.minMrin.playListWrap .assoList .badgeCol,
  .assoList .badgeCol{width: 60px;min-width: 60px;margin: 0 1px 1px 0;}
  .tabSection .userInfo.plystInfo .info{padding: 0 !important;}
  .planWrap .custom-control.custom-radio{padding-left: 1.5rem;}
  .tabSection .userCol {align-items: flex-start;}
  .listCol {padding: 10px;}
  .listCol .d-flex .d-flex {margin: 10px 5px 0;}
  .listCol .userCol {flex-direction: column;padding-bottom: 10px;margin-bottom: 0px;}
  .tabAll .userInfo .info {width: 100%;}
  .userInfo {flex-direction: column;}
  .tabSection.minMrin.playListWrap .titlL.borderbotm{flex-wrap: nowrap;}
  .tabSection.minMrin.playListWrap .titlL.borderbotm .mlAuto{min-width: 1px}
  /*.tabSection.minMrin.playListWrap .titlL.borderbotm h1{flex:1;}*/

  .userInfo .info {padding-left: 25px !important;margin-top: 10px;}
  .userInfo .info.contact {background-size: 2%;}
  .userInfo .info.location {background-size: 4%;}
  .userInfo .info.plyList {background-size: 5%;}
  .userInfo .info.student {background-size: 4%;}
  .userInfo .info.team {background-size: 5%;}
  .custom-control-label {margin-right: 0;}
  .bgCover .frmBox {padding: 20px;}
  .bgCover .frmBox h3 {margin: 0 0 14px;font-size: 18px;}
  .text-right {text-align: left !important;margin-top: 15px;}
  .paymentTable td {padding: 5px 0;}
  .paymentTable td strong {font-size: 20px;}
  .paymentTable td .space {margin: 0 10px;}
  .beforeLogin .header {flex-wrap: wrap;padding: 20px 15px 8px;}
  .beforeLogin.minSize .header .logo{width: auto;}
  .beforeLogin .header .logo {width: 100%;margin-bottom: 10px;}
  .beforeLogin .header .navBeforLogin ul {justify-content: flex-start;}
  .modal-content .planWrap .plns{width: 100%;margin: 0 0 10px;}
  .profileCol{padding: 0;}
  .profileCol .userRightDetails h3{font-size: 17px;margin: 10px 0 0;}
  .plylistDetails td{display: block;border-bottom: none;}
  .plylistDetails .flexTbl{justify-content: flex-start;}
  .plylistDetails .text-right{text-align: left !important; padding-left: 10px;}
  .plylistDetails tr:last-child td{border-bottom: 2px solid #c8d6d6;}
  .plylistDetails tr:last-child td,
  .plylistDetails.plylistTableDts td{display: block;border-bottom: none;}
  .plylistDetails.plylistTableDts td:last-child{border-bottom: 2px solid #c8d6d6;}
  .badgeCol{min-width: 90%;margin:0 auto 20px;}
  .titlL.borderbotm{flex-wrap: wrap;}
  .titlL.borderbotm .mlAuto{min-width: 100%;}
  .titlL.borderbotm .mlAuto .btn{margin:10px 5px 0 0}
  .titlL.borderbotm .mlAuto .btn-info.btn{margin:0px 0px 0 5px;}
  .libDetilsView{display: block;}
  .videoWrap, .ldLeft{min-width: 100%;width: 100%;margin: 0 0 10px;}
  .videoWrap .p10{padding: 10px 0;}
  .videoWrap{margin: 0 0 20px;}
  .libWrapper .libCol.editable,
  .libWrapper .libCol{width: 98%}
  .libWrapper .dcFoldr{padding-right: 10px;}
  .planWrap.planNewWrap .plns{ width:50%;min-width: 50%;margin: 0;border:2px solid #c8d6d6;}
  .userColstpr{display: block;}
  .userColstpr p{margin-top: 10px;}
  .createTeam .tableItemCover table{width: 100%;}
}
@media (max-width: 575px) {
  .modalTag li{width: 47%;}
  .header.afterLogin .rightHead{padding: 0 10px 0 0;}
  .sldierCover .carousel-caption h5{font-size: 1.5rem;}
  .sldierCover .carousel-caption a{margin: 10px 0 0}
  .pageHeader .form-inline {flex-wrap: wrap;}
  .pageHeader.conentHead .btn{width: 100%;margin: 10px 0 0;}
  .pageHeader .form-inline .cust-field {width: 100%;}
  .pageHeader .form-inline label {margin-top: 5px;}
  .tabList {flex-wrap: wrap;}
  .tabList a{width: 100%;margin: 0;border-radius: 0;margin: 0 0 2px;text-align: left;}
  .tabSection .btn {margin: 10px 6px 0 0 !important;}
  // .tabSection.minMrin.playListWrap .btn{margin: 0 0 0 10px !important;}
  .tabSection .listCol {font-size: 12px;padding: 12px;}
  .tabSection .listCol h4 {font-size: 16px;}
  .tabSection .listCol .userCol {display: block;}
  .tabSection .text-right {text-align: left !important;}
  .planWrap .plns {height: auto;}
  .frmBox {padding: 10px;}
  .subsWrap .planWrap .plns,
  .planWrap .plns {width: 100%;margin: 1% 0;}
  .planWrap .plns h2 {font-size: 18px;}
  .planWrap .plns .price strong {font-size: 22px;}
  .text-right {text-align: left !important;margin-top: 10px;}
  .tabOuterWrap .closeBtn {right: 18px;bottom: -30px;}
  .libWrapper.colm .ui-sortable-handle{min-width: 48%;max-width: 48%;width: 48%;margin: 1%;}
  .feature li{width: 50%;}
  .btnWrap{margin-bottom: 20px;}
  .globlCol{display: block;padding: 10px;}
  .globlCol h2{font-size: 20px;}
  .globlCol h5{font-size: 14px;margin-bottom: 10px}
  .footer{display: block;padding: 4px 20px;text-align: center;}
  .footer p a{font-size: 13px;padding: 0 0 0 10px}
  .footer p:last-child{text-indent: -5px;}
  .plylistDetails.plylistTableDts td{padding: 4px;}
  .madelList li{margin: 0 2px 0 0;}

  .modal.customModal .modlVideo{margin: 0;align-items: center;}
  .vCover{min-width: 290px;max-width: 290px;display: block;height: auto;margin: 0 0 20px;}

  .vCover figure{padding: 5px;}
  .vCover figure, .vCover video{width: 100%}
  .vCover video{height: auto;}
  .vCover h4{max-width: 100%;width: 100%}
  .modal.customModal .modal-content{width: 100%;}
  .modal.customModal .modlVideo{flex-direction: column;}
  .plylistHead .custom-select.w270,
  .planWrap.planNewWrap .plns{ width:100%;min-width: 100%;margin: 0;}
  .plylistHead{display: block;}

  .createTeam .pr-20{padding: 0;}
  .createTeam .pr-20 table.membrHead tr{display: block;}
  .createTeam .pr-20 table.membrHead tr th:last-child{width: 100%;display: block;padding: 0 6px 10px;height: auto;}
  .createTeam .tableItemCover table{width: 450px;}
  .badgeCol .madel{left: -10px;top: -16px;}
  
  // tab
  .nav-tabs .nav-item{margin: 0;width: 100%;}
  .nav-tabs.nav a{margin:3px 0 0;}
  .titlL.borderbotm .mlAuto .btn-info.btn{margin:0px 0px 0 5px !important;}

}
@media (max-width: 480px) {
  .libWrapper.colm .ui-sortable-handle{min-width: 100%;max-width: 100%;width: 100%;margin: 1% 0;}
  .libWrapper .libCol.editable .innerData .checkBtn{right: 10px;}
  .libWrapper .libCol.editable,
  .libWrapper .libCol{margin: 10px 0;}
  .paymentTable td .grnTxt{display: block;}
  .libWrapper .otherFoldr, .tabSection .userCol,
  .libWrapper {flex-direction: column;}
  .beforeLogin.minSize .header .rightHead{width: auto;}
  .libWrapper .libCol {max-width: 100%;}
  .libDetilsView .libWrapper .libCol .innerData h1{font-size: 5rem;}
  .libDetilsView .libWrapper .libCol .innerData{height: auto;}
  .libDetilsView .libWrapper .libCol .innerData p{padding-bottom: 15px;}
  .libWrapper .libCol .innerData, 
  .libDetilsView .libWrapper .libCol .innerData,
  .libWrapper .dcFoldr .innerData {width: 100%;}
  .listCol .d-flex {align-items: flex-start;flex-direction: column;}
  .listCol .d-flex .d-flex {margin: 0 0 5px 0;}
  .tabSection .listCol .d-flex .d-flex{margin: 8px 10px 0;width: 100%;align-items: flex-start;}
  /*.tabSection .listCol .d-flex .d-flex{margin: 10px 10px 0 0;}*/
  .tabList a{min-width: 1px;padding: 7px 12px;}
  .beforeLogin .header .logo {min-width: 10px;box-shadow: none;}
  .beforeLogin .header .logo img {max-width: 125px;}
  .beforeLogin .header .navBeforLogin ul li {margin: 0 5px 0 0;}
  .beforeLogin .header .navBeforLogin ul li a {font-size: 15px;}
  .beforeLogin .header .rightHead {width: 100%;}
  .header.afterLogin .logo {min-width: 10px;box-shadow: none;padding: 10px;}
  .header.afterLogin .logo img {max-width: 125px;}
  .header.afterLogin .rightHead {padding: 15px 10px;}
  .header.afterLogin .rightHead strong {font-size: 12px;display: none;}
  .header.afterLogin .rightHead .rightAction img {margin: 0 10px;width: 40px;}
  .topLevel .madl{display: none;}
  .topLevel .fstDtls p, .topLevel .fstDtls h3{font-size: 15px}
  .performerWrap{min-width: auto;max-width: 100%;}
  .topLevel img{margin: 0 5px;}
  .topLevel{padding: 5px 10px;}
  .vdoRightTab .nav-tabs .nav-link{padding: 8px 14px;font-size: 14px;}
  .tabSection.minMrin.playListWrap .titlL.borderbotm{flex-wrap: wrap;}
  .tabSection.minMrin.playListWrap .titlL.borderbotm .mlAuto{min-width: 100%;margin: 10px 0 0 10px;}
  .planToggle h5, .planToggle h4{font-size: 15px;}
  .planToggle .switch{margin: 0 4px;}
  .modal-sm.width420 .modal-content{padding: 0;}
  .selectedDir.minDir{padding: 10px;}
  .selectedDir.minDir .closeBtnWrap{display: block}
  .selectedDir.minDir .closeBtnWrap .btn{display: block;min-width: 100%;margin: 0 0 5px;}
  .modalTag li{width: 100%;margin: 10px 0 0 }
  .userColstpr select{width: 100%;}
 

}

/*Style for IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .floating-label{
      top:-8px;
    }
}
/*Style for IE*/

@media (orientation: portrait) and  (max-height: 1024px) {
  .relPos{
    height: calc(100% - 130px);
  }
  .selectedDir{
    position: relative;
    z-index: 1;
  }
}
