<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Change Plan</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true" class="closeBtn"></span>
  </button>
</div>
<div class="modal-body no-vp">
  <div class="planToggle bgBlue">
    <h4 [ngClass]="{ opc1: togglePlanTypeClass }">Monthly</h4>
    <label class="switch">
      <input
        type="checkbox"
        [checked]="planData.PlanType == 1"
        (change)="changePlanType($event.target.checked ? true : false)"
      />
      <span class="slider"></span>
    </label>
    <h5 [ngClass]="{ opc1: !togglePlanTypeClass }">Yearly (Save 10%)</h5>
  </div>

  <div class="planWrap planNewWrap">
    <div
      class="plns"
      [ngClass]="{ active: updatedPlanData.PlanId == plan.PlanId }"
      *ngFor="let plan of plans"
      (click)="selectPlanData(plan)"
    >
      <h2>{{ plan.PlanName }}</h2>
      <p class="users">up to {{ plan.NumberOfUsers }} users</p>
      <div class="price showF">
        <div>
          <div style="display: inline-block">
            <span>$</span> <strong>{{ plan.Price }}</strong>
          </div>
          <div style="display: inline-block">
            <p *ngIf="plan.PlanType == 2">/ Per Month</p>
            <p *ngIf="plan.PlanType == 1">/ Yearly</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="planStatus" cellspacing="50">
    <tr>
      <th width="30%">Your Current Plan</th>
      <th>Plan you are looking for</th>
    </tr>
    <tr>
      <td>{{ oldPlanName }}</td>
      <td>{{ newPlanName }}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button
    type="button"
    data-dismiss="modal"
    class="btn btn-primary"
    (click)="updatePlanData()"
  >
    Change
  </button>
</div>
