.pointsLevel{
    ul{
        padding-left: 20px;
    }
    h4{
        font-size: 16px;
        color: #666666;
        font-weight: bold;
        margin-bottom: 2px;
    }
    p{
        font-size: 13px;
        color: #666666;
    }
}