<!-- <section class="pointsLevel popup">
  <div class="modal-header">
    <div class="modal-title">
      <h2 class="box-title">Points Level</h2>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>
        <h4>1st Place - 100 pts</h4>
        <p>
          When a user scores the highest number of correct questions in a playlist, they are awarded first place. The
          user banks 100 points for winning, and the appropriate subsequent point value as outlined below.
        </p>
      </li>
      <li>
        <h4>2nd Place - 75 pts</h4>
        <p>
          When a user scores the second highest number of correct questions in a playlist, they are
          awarded second place. The user banks 75 points for winning, and the appropriate subsequent
          point value as outlined below.
        </p>
      </li>
      <li>
        <h4>3rd Place - 50 pts</h4>
        <p>
          When a user scores third highest number of correct questions in a playlist, they are awarded
          third place. The user banks 50 points for winning, and the appropriate subsequent point value
          as outlined below.
        </p>
      </li>
      <li>
        <h4>Runner up - 30 pts</h4>
        <p>
          When a user scores the fourth highest number of correct questions in a playlist, they are
          awarded “runner up”. The user banks 30 points for winning, and the appropriate subsequent
          point value as outlined below.
        </p>
      </li>
      <li>
        <h4>Pass - 25 pts</h4>
        <p>
          Once a user completes a playlist they are awarded 25 points and the subsequent appropriate
          points if applicable (First Finished, Triple Play, etc).
        </p>
      </li>
      <li>
        <h4>Triple Play - 50 pts</h4>
        <p>When user finishes a bundle of three playlists they bank 50 additional points.</p>
      </li>
      <li>
        <h4>First Finished +25 pts</h4>
        <p>
          Upon Finishing their first playlist they receive 25 points. They also are awarded their “pass”
          award of 25 additional points.
        </p>
      </li>
      <li>
        <h4>Star Finisher (6 playlists) +250 pts</h4>
        <p>
          Upon Completion of 6 playliist the user is awarded the Star Finisher badge and bank 250 points.
        </p>
      </li>
    </ul>
  </div>

  <div class="modal-header">
    <div class="modal-title">
      <h2 class="box-title">Rules</h2>
    </div>
  </div>
  <div class="modal-body">
    <h4>Actions in play that earn points include</h4>
    <ol>
      <li>
        25 pts (for posting a challenge)
      </li>
      <li>
        100 pts (for winning a challenge)
      </li>
      <li>
        50 pts (for first 100 views a topic)
      </li>
    </ol>
    <h4>
      Special notes include
    </h4>
    <ol type="a">
      <li>
        The earned points can be redeemed in the Prize Store. <a routerLink="/prize-store" (click)="close()">Click here to redirect to Prize Store</a>   
      </li>
    </ol>
  </div>
</section> -->

<section class="pointsLevel popup">
  <div class="modal-header">
    <div class="modal-title">
      <h2 class="box-title">Rules</h2>
    </div>
  </div>
  <div class="modal-body">
    <h4>Actions that earn points include</h4>
    <ol>
      <li>
        5 points for watching a video
      </li>
      <li>
        25 points for starting a topic
      </li>
      <li>
        50 points for first 100 views on your topic
      </li>
      <li>
        100 points for winning a topic
      </li>
    </ol>
    <h4>
      Special notes include
    </h4>
    <ol type="a">
      <li>
        The earned points can be redeemed in the Prize Store. <a routerLink="/prize-store" (click)="close()">Click here to redirect to Prize Store</a>   
      </li>
    </ol>
  </div>
</section>