<div class="modal fade customModal" id="folderDetails" tabindex="-1" role="dialog" aria-labelledby="folderDetailsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="folderDetailsLabel">
          {{ folderData.FolderName }}
          <p>{{ folderData.NoOfVideo }} Videos | {{ folderData.NoOfDocs }} Documents | {{ folderData.NoOfImages }}
            Images</p>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="closeBtn" (click)="close()"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modlVideo" *ngIf="folderData.ContentList?.length > 0">
          <div class="vCover" *ngFor="let content of folderData.ContentList">
            <figure>
              <img [src]="content.ThumbnailURL">
            </figure>
            <h4>{{ content.ContentName }}</h4>
          </div>
        </div>
        <div class="modlVideo" *ngIf="folderData.ContentList == null">
          There are no files to preview right now..
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="buttonData != ''" (click)="toggleFolder()">{{ buttonData }}</button>
        <button type="button" class="btn btn-primary" #loadButton>Loading..</button>
        <button type="button" class="btn btn-primary" routerLink="/masterlibrary/{{ folderData.FolderName }}/{{folderData.FolderId}}" data-dismiss="modal">View More</button>
      </div>
    </div>
  </div>
</div>