<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLongTitle">Capture Video</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true" class="closeBtn" (click)="close()"></span>
	</button>
</div>

<div class="modal-body">
	<video id="video_{{idx}}" class="video-js vjs-default-skin" playsinline></video>
</div>

<!-- <div class="modal-footer justify-content-center">
	<button type="button" class="btn btn-primary" [disabled]="!croppedImage" (click)="submit()">Save changes</button>
</div> -->