<app-header></app-header>
<div class="mainWrapper">
	<app-sidemenu class="leftContent"></app-sidemenu>
	<div class="rightContent" [ngClass]="{'mainMaxWidth': toggleRightSide}">
		<div class="pageHeader">
			<div class="navbar justify-content-between align-item-center">
				<p class="changePassword">
					Change Password
				</p>
			</div>
		</div>
		<div class="changePasswordForm forgetPass">
			<form [formGroup]="changePasswordForm">
			<div class="row">
	  
			  <div class="col-md-6">
				<div class="wrap">
					<span class="floating-label">Old Password<small>*</small></span>
					<input type="password" class="control" placeholder="" formControlName="OldPassword" autocomplete="new-password"/>
				  
				  <div *ngFor="let messages of validationMessages.OldPassword">
					<small class="text-danger"
					  *ngIf="(!isFormValid || changePasswordForm.controls['OldPassword'].touched || changePasswordForm.controls['OldPassword'].dirty) && changePasswordForm.controls['OldPassword'].invalid && changePasswordForm.controls['OldPassword'].errors[messages.type]">{{messages.message}}</small>
				  </div>
				</div>
			  </div>
	  
			  <div class="col-md-6">
				<div class="wrap">
					<span class="floating-label">New Password<small>*</small></span>
					<input type="password" class="control" placeholder="" formControlName="NewPassword" />
				  <div *ngFor="let messages of validationMessages.NewPassword">
					<small class="text-danger"
					  *ngIf="(!isFormValid || changePasswordForm.controls['NewPassword'].touched || changePasswordForm.controls['NewPassword'].dirty) && changePasswordForm.controls['NewPassword'].invalid && changePasswordForm.controls['NewPassword'].errors[messages.type]">{{messages.message}}</small>
				  </div>
				</div>
			</div>
	
			<div class="col-md-6">
				<div class="wrap">
					<span class="floating-label">Confirm Password<small>*</small></span>
					<input type="password" class="control" placeholder="" formControlName="ConfirmPassword" />
				  <div *ngFor="let messages of validationMessages.ConfirmPassword">
					<small class="text-danger"
					  *ngIf="(!isFormValid || changePasswordForm.controls['ConfirmPassword'].touched || changePasswordForm.controls['ConfirmPassword'].dirty) && changePasswordForm.controls['ConfirmPassword'].invalid && changePasswordForm.controls['ConfirmPassword'].errors[messages.type]">{{messages.message}}</small>
				  </div>
				</div>
			</div> 
			
			  <div class="col-sm-12">
				<button type="button" class="btn btn-grn" (click)="changePassword(changePasswordForm.valid)">Change Password</button>
			  </div>
			</div>
		  </form>
	  
		  </div>
	</div>
</div>