<a href="https://twitter.com/intent/tweet?source=tweetbutton&text=&url={{ environment.SITE_URL }}contentView/{{ contentId }}/{{ type }}"
    target="_blank">
    <span class="scl-icon twitter"></span>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ environment.SITE_URL }}contentView/{{ contentId }}/{{ type }}"
    target="_blank">
    <span class="scl-icon facebook"></span>
</a>