.scl-icon {
    width: 24px;
    height: 23px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 0 0;                    
    background: url(/assets/img/sprite.png) no-repeat;
}
.twitter {
    background-position:  -630px -373px;
    margin-right: 8px;
}
.facebook {
    background-position: -660px -373px;
}