<section class="tabUser tab-pane fade show tabSection" id="nav-all-games" role="tabpanel"
    aria-labelledby="nav-allGames-tab">
    <div class="userCol">
        <div class="form-inline">
        </div>
        <button class="btn-info btn" (click)="startGame()">Start a topic <i class="arowRight"></i></button>
    </div><!-- =userCol End//= -->
    <div class="container-fluid box-container">
        <div class="row" *ngIf="gameData && gameData?.length > 0">
            <section class="vbpCol" *ngFor="let data of gameData; let i=index;">
                <div class="listCol">
                    <div class="user-name">
                        <a href="javascript:void(0)">
                            <img [src]="data.ProfilePicture" class="pic-block" />
                            <span class="name">{{ data.FirstName + " " + data.LastName }}</span>
                        </a>
                        <!-- <span class="fa fa-trash pull-right" *ngIf="data.CanDelete && vbPlayServices.currentNav == 1" (click)="delete(i)" data-tooltip-text="Remove"></span> -->
                        <span class="fa fa-trash pull-right" *ngIf="data.CanDelete && vbPlayServices.currentNav == 3" (click)="delete(i)" data-tooltip-text="Remove"></span>
                        <span class="completedText" *ngIf="vbPlayServices.currentNav != 1 && data.IsCompleted"><b>Completed</b></span>
                        <span class="expiredTxt" *ngIf="!data.CanJoin">Expired <img src="/assets/img/expired.png"></span>
                        <span class="fa fa-ban expiredTxt" title="Report" (click)="reportVideo(i)"><b></b></span>
                    </div><!-- user-name/ -->
                    <h2 class="box-title"><a routerLink="/inner/viewJoinedContest"
                            (click)="routeTo('brandworks-play/game-details/' + data.ContestId)">{{ data.Name }}</a></h2>
                    <p class="lbl-txt">{{ data.Description }}</p>
                    <div class="video-frame">
                        <div class="video-container" (click)="openVideo(i,data)">
                            <img [src]="data.ThumbnailUrl">
                            <span class="play-btn"></span>
                        </div><!-- video-frame End// -->
                        <div class="social-share-count">
                            <a class="social-lbl like" (click)="like(i)" [ngClass]="{'is-liked': data.IsLikedByUser}">
                                <i class="sprite icon-like"></i>
                                <span class="text">{{ data.Likes }} {{ data.Likes > 1 ? "Likes" : "Like" }}</span>
                            </a>
                            <a class="social-lbl views">
                                <i class="sprite icon-view"></i>
                                <span class="text">{{ data.Views }} Views</span>
                            </a>
                            <a class="social-lbl users">
                                <i class="sprite icon-user"></i>
                                <span class="text">{{ data.Users }} Users</span>
                            </a>
                        </div>
                    </div><!-- Video Frame End// -->

                    <div class="chalange-end-frame">
                        <div class="chalange-dtl-col">
                            <label class="lbl">Topic Ends on</label>
                            <strong class="date">{{ data.EndDate | date: "mediumDate" }} at
                                {{ data.EndDate | date: "shortTime" }}</strong>
                        </div>
                        <label class="rules-lbl" data-toggle="modal" focus-element="autofocus"
                            data-target=".bs-rules-modal-lg" (click)="openRules(i)" data-tooltip-text="Rule">
                            <span>Rules</span>
                        </label>
                    </div><!-- chalange-end-frame// -->

                    <div class="tag-listing" *ngIf="data.Tags && data.Tags?.length > 0">
                        <span class="tag" *ngFor="let tag of data.Tags">{{ tag.Name 
                            + " " }}</span>
                    </div><!-- tag-listing End// -->

                    <button color="primary" class="btn-join-now" *ngIf="vbPlayServices.currentNav==1 && !data.IsJoinedByUser && data.CanJoin" (click)="startGame('join', data.ContestId, i)">Join Now</button>
                    <button color="primary" class="btn-join-now" (click)="routeTo('brandworks-play/game-details/' + data.ContestId)">View Topic</button>
                    <div class="social-share-frame">
                        <label class="lbl">Share</label>
                        <p class="social-icons">
                            <a *ngIf="!data.IsBroadCasted && vbPlayServices.currentNav == 3" (click)="broadcast(i)">
                                <i class="bcast" data-tooltip-text="Broadcast"></i>
                            </a>
                            <app-social-share [contentId]="data.ContestId" type="2"></app-social-share>
                            <select (change)="changeStatus(i, $event.target.value)" *ngIf="vbPlayServices.currentNav == 3">
                                <option value="1" [selected]="data.Visibility == 1">Private</option>
                                <option value="2" [selected]="data.Visibility == 2">Public</option>
                            </select>
                        </p>
                    </div><!-- social-share-frame End// -->
                    <div class="view-contest-content-frame" *ngIf="data.IsJoinedByUser && data.ChallengeEntry && !data.IsSubmitted">
                        <div class="user-name">
                            <a>
                                <img src="{{ data.ChallengeEntry.ProfilePicture }}" class="pic-block" />
                                <span class="name">{{ data.ChallengeEntry.FirstName }}
                                    {{ data.ChallengeEntry.LastName }}</span>
                            </a>
                        </div><!-- user-name/ -->
                        <h2 class="box-title"><a>{{ data.ChallengeEntry.Name }}</a></h2>
                        <p class="lbl-txt">{{ data.ChallengeEntry.Description }}</p>
                        <div class="video-frame">
                            <div class="video-container" data-toggle="modal" focus-element="autofocus"
                                data-target=".bs-video-modal-lg">
                                <!-- <img src="https://i.ndtvimg.com/i/2015-04/cocktails_625x350_61427970371.jpg"
                                    alt="dummy Video Img" class="dummy-img" />
                                <span class="play-btn"></span> -->
                                <!-- <video controls>
                                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                        </video> -->
                                <div class="dataWrapRel">
                                    <img [src]="data.ChallengeEntry.ThumbnailUrl">
                                    <label class="status not-submitted">Your entry is not submitted</label>
                                </div>
                            </div><!-- video-frame End// -->

                            <div class="btn-frame">
                                <button class="btn btn-submit"
                                    (click)="submitContest(data.ChallengeEntry.ContestEntryId,true)" *ngIf="!data.IsCompleted">Submit</button>
                                <button class="btn btn-edit"
                                    (click)="startGame('update',data.ChallengeEntry.ContestEntryId,i)" *ngIf="!data.IsCompleted">Edit</button>
                            </div><!-- btn-frame End// -->
                        </div><!-- Video Frame End// -->
                    </div><!-- =View Contest content frame End//= -->
                </div><!-- listCol End// -->
            </section>
        </div>
        <div class="row" *ngIf="!gameData || gameData?.length == 0">
            <p>No Topic Found</p>
        </div>
    </div><!-- =box-container End//= -->
</section><!-- =nav-all-games End//= -->