<section class="popup bs-join-now-modal-lg">
    <div class="modal-header pt-3">
        <div class="modal-title" id="myModalLabel">
            <h5 *ngIf="type == 'create'">Start Topic</h5>
            <h5 *ngIf="type != 'create'">Join Topic</h5>
            <h5 *ngIf="contestName">{{ contestName }}</h5>
        </div><!-- modal-title End//-->
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <form class="join-form" #f="ngForm" [formGroup]="startGameForm" (ngSubmit)="create(startGameForm.value);">
            <div class="form-group">
                <label for="">Content Title</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Content Title"
                    [formControl]="startGameForm.controls['Name']">
                <div *ngFor="let messages of validationMessages.Name">
                    <small class="text-danger"
                        *ngIf="(startGameForm.controls['Name'].touched || startGameForm.controls['Name'].dirty) && startGameForm.controls['Name'].invalid && startGameForm.controls['Name'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="">Description Text (Topic description)</label>
                <textarea class="form-control" [formControl]="startGameForm.controls['Description']"></textarea>
                <div *ngFor="let messages of validationMessages.Description">
                    <small class="text-danger"
                        *ngIf="(startGameForm.controls['Description'].touched || startGameForm.controls['Description'].dirty) && startGameForm.controls['Description'].invalid && startGameForm.controls['Description'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="fileUpload mb-3">
                <label for="">Upload your content (You can upload up to 5 mins video of .mp4 and .mov formats) </label>

                <div class="uploadblock">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 px-4 mb-4 mb-lg-0" appUpload
                            (files)="fileBrowserHandler($event)">
                            <h3>Drag and drop your file here</h3>
                            <span class="ico cam"></span>
                            <button class="tapUpload" (click)="fileInput.click()" type="button">Tap to upload</button>
                            <span class="ico web"></span>
                            <button class="tapUpload" type="button" (click)="openVideoModal()">Tap to Capture video</button>
                            
                            <input type="file" #fileInput class="form-control fileInput"
                                (change)="upload($event.target.files)">
                            <div class="or">Or</div>
                            <div class="row align-items-center">
                                <div class="col-2 pr-0">
                                    <img src="/assets/img/yt.png" alt="">
                                </div>
                                <div class="col-10 pl-0">
                                    <div class="form-group m-0">
                                        <input type="text" [formControl]="startGameForm.controls['YoutubeUrl']"
                                            class="pasteHere form-control" id="" placeholder="Paste link here" (change)="preview($event.target.value, 'youtube')">
                                    </div>
                                    <div *ngFor="let messages of validationMessages.YoutubeUrl">
                                        <small class="text-danger"
                                            *ngIf="(startGameForm.controls['YoutubeUrl'].touched || startGameForm.controls['YoutubeUrl'].dirty) && startGameForm.controls['YoutubeUrl'].invalid && startGameForm.controls['YoutubeUrl'].errors[messages.type]">{{messages.message}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="or">Or</div>
                            <div class="row align-items-center">
                                <div class="col-2 pr-0">
                                    <img src="/assets/img/fb.png" alt="">
                                </div>
                                <div class="col-10 pl-0">
                                    <div class="form-group m-0">
                                        <input type="text" [formControl]="startGameForm.controls['FacebookUrl']"
                                            class="pasteHere form-control" id="" placeholder="Paste link here" (change)="preview($event.target.value, 'facebook')">
                                    </div>
                                    <div *ngFor="let messages of validationMessages.FacebookUrl">
                                        <small class="text-danger"
                                            *ngIf="(startGameForm.controls['FacebookUrl'].touched || startGameForm.controls['FacebookUrl'].dirty) && startGameForm.controls['FacebookUrl'].invalid && startGameForm.controls['FacebookUrl'].errors[messages.type]">{{messages.message}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <button class="btn btn-primary" (click)="reset()" type="button">Reset file and
                                    url(s)</button>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="previewBox">
                                <video *ngIf="files?.length > 0" width="320" height="240" controls
                                    [attr.src]="files[0].url" (loadedmetadata)="getDuration($event)">
                                </video>                                
                                <iframe *ngIf="socialUrl && files?.length == 0" [src]="socialUrl" frameborder="0"></iframe>
                                <span *ngIf="files?.length == 0 && !socialUrl">Preview Here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2" *ngIf="type == 'create'">
                <div class="col-lg-6 col-md-12 rulesForGame">
                    <label for="">Type rules for the topic</label>
                    <p>You can type rules for your topic</p>
                    <textarea class="form-control" [formControl]="startGameForm.controls['Rules']">
                    </textarea>
                    <div *ngFor="let messages of validationMessages.Rules">
                        <small class="text-danger"
                            *ngIf="(startGameForm.controls['Rules'].touched || startGameForm.controls['Rules'].dirty) && startGameForm.controls['Rules'].invalid && startGameForm.controls['Rules'].errors[messages.type]">{{messages.message}}
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="">Tags</label>
                    <p>The tags will help you to reach your audience</p>
                    <app-tags (sendTags)="getSelectedTags($event)"></app-tags>
                </div>
            </div>
            <div class="row" *ngIf="type == 'create'">
                <div class="col-lg-6 col-md-12">
                    <div class="row calenderBlock">
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">Start Date</label>
                            <div class="date">
                                <input type="text" [formControl]="startGameForm.controls['StartDate']"
                                    class="form-control is-valid" readonly (click)="d.toggle()" placeholder="DD/MM/YYYY"
                                    ngbDatepicker #d="ngbDatepicker" [minDate]="minStartDate">
                                <span class="clIcon"></span>
                            </div>
                            <div *ngFor="let messages of validationMessages.StartDate">
                                <small class="text-danger"
                                    *ngIf="(startGameForm.controls['StartDate'].touched || startGameForm.controls['StartDate'].dirty) && startGameForm.controls['StartDate'].invalid && startGameForm.controls['StartDate'].errors[messages.type]">{{messages.message}}
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6 date">
                            <label for="exampleInputEmail1">End Date</label>
                            <div class="date">
                                <input type="text" readonly [formControl]="startGameForm.controls['EndDate']"
                                    class="form-control is-valid" (click)="e.toggle()" placeholder="DD/MM/YYYY"
                                    ngbDatepicker #e="ngbDatepicker" [minDate]="minEndDate">
                                <span class="clIcon "></span>
                            </div>
                            <div *ngFor="let messages of validationMessages.EndDate">
                                <small class="text-danger"
                                    *ngIf="(startGameForm.controls['EndDate'].touched || startGameForm.controls['EndDate'].dirty) && startGameForm.controls['EndDate'].invalid && startGameForm.controls['EndDate'].errors[messages.type]">{{messages.message}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <app-handle-tags (sendTagsHandle)="getSelectedTags_1($event)"></app-handle-tags>
                    <p>send directly to a teammate to challenge them 1:1</p>
                </div>
            </div>

            <div class="mt-3">
                <button class="btn-join-submit w-auto px-3" type="submit" *ngIf="type == 'create'">Submit Topic</button>
                <button class="btn-join-now" type="submit" *ngIf="type != 'create' && !contentId">Save</button>
                <button class="btn-join-submit ml-4" type="button" *ngIf="type != 'create' && contentId"
                    (click)="submitJoinGame()">Submit</button>
            </div>
        </form>
    </div>
</section>