<div class="selectedDir">
    <div class="dirList">
        <ul>
            <li *ngFor="let folder of selectedFolders; let i = index;">
                <span>{{ folder.Name }}</span> <i (click)="unselectFolder(i)"></i>
            </li>
        </ul>
    </div>
    <div class="closeBtnWrap">
        <span class="closeBtn" (click)="hideFooterFolder()"></span>
    </div>
</div>