.btn.btn-primary{margin: 0 5px;}

.addQues{
    .subText{
        font-size: 14px;
    }
    textarea.form-control{
        border: 1px solid #afc6c6;
        padding: 10px;
        height: 80px;
        resize: none;
        border-radius: 0;
        font-size: 14px;
    }
    label{
        font-weight: bold;
        font-size: 14px;
        span{
            font-weight: normal;
        }
    }
    .quesBlock{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        .innerQue{
            display: flex;
            width: 100%;
        }
        .custom-radio{
            .custom-control-label::before{
                border: 2px solid #afc6c6;
            }
            .custom-control-input:checked ~ .custom-control-label::before{
                border-color: #4ab486;
                background-color: transparent;
            }
            .custom-control-input:checked ~ .custom-control-label::after{
                background-color: #4ab486;
            }
            label{
                margin-right: 9px;
                
            }
            span{
                color: #5e6f6f;
                font-size: 14px;
                font-weight: bold;
            }            
        }
        textarea{
            font-size: 14px;
            width: 100%;
            border: 1px solid #afc6c6;
            margin-top: 4px;
            padding: 10px;
            height: 80px;
            resize: none;
            border-radius: 0;
            &:focus{
                border: 1px solid #afc6c6;
                background: #e7fff5;
                outline: none;
            }
            &.active{
                background: #e7fff5;
            }
        }
    }

    .questEditBlock{
        position: relative;
        border: 2px solid #afc6c6;
        padding: 22px 17px 1px;
        @media (max-width: 767px){
            padding-top: 25px;
        }
        .edit{
            color: #3aacc5;
            text-decoration: underline;
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            right: 10px;
            top: 7px;
            cursor: pointer;
        }
        h5{
            font-size: 14px;
            font-weight: bold;
            color: #5e6f6f;
            margin-bottom: 18px;
        }
        p{
            font-size: 14px;
            font-weight: bold;
            color: #5e6f6f;
            margin-bottom: 16px;
        }
    }
}

.libWrapper .col-wrap-min{
    margin: 10px 9px;
    .libCol {
        margin: 0;
        .innerData{
            min-width: 166px;
        }
    }
    .foldrEdit{
        width:100%;
        margin: 10px 0;
    }
}