<div class="addQues">
    <div class="modal-header pb-0 px-4">
        <h5 class="modal-title">Update Question</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span class="closeBtn"></span>
        </button>
    </div>
    <div class="modal-body pt-0 px-4">

        <form #f="ngForm" [formGroup]="updateQuestionForm" (ngSubmit)="submit(updateQuestionForm.value);">
        <div class="form-group">
            <label for="">Type Question</label>
            <textarea class="form-control" id="" rows="3"
                [formControl]="updateQuestionForm.controls['Question']" [(ngModel)]="questionDataCopy.Question.Question"></textarea>
            <div *ngFor="let messages of validationMessages.Question">
                <small class="text-danger"
                    *ngIf="(updateQuestionForm.controls['Question'].touched || updateQuestionForm.controls['Question'].dirty) && updateQuestionForm.controls['Question'].invalid && updateQuestionForm.controls['Question'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Type your Answer options <span>(Select right option)</span></label>

            <div class="quesBlock">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                        [formControl]="updateQuestionForm.controls['IsRightAnswer']" value="1">
                    <label class="custom-control-label" for="customRadio1">
                        <span>A.</span>
                    </label>
                </div>
                <textarea name="" id="" placeholder="Type here"
                    [formControl]="updateQuestionForm.controls['Answer1']" [(ngModel)]="questionDataCopy.Answers[0].Answer"></textarea>
                <div *ngFor="let messages of validationMessages.Answer1">
                    <small class="text-danger"
                        *ngIf="(updateQuestionForm.controls['Answer1'].touched || updateQuestionForm.controls['Answer1'].dirty) && updateQuestionForm.controls['Answer1'].invalid && updateQuestionForm.controls['Answer1'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                        [formControl]="updateQuestionForm.controls['IsRightAnswer']" value="2" [checked]="questionDataCopy.Answers[1].Answer.IsRightAnswer">
                    <label class="custom-control-label" for="customRadio2">
                        <span>B.</span>
                    </label>
                </div>
                <textarea name="" id="" placeholder="Type here"
                    [formControl]="updateQuestionForm.controls['Answer2']" [(ngModel)]="questionDataCopy.Answers[1].Answer"></textarea>
                <div *ngFor="let messages of validationMessages.Answer2">
                    <small class="text-danger"
                        *ngIf="(updateQuestionForm.controls['Answer2'].touched || updateQuestionForm.controls['Answer2'].dirty) && updateQuestionForm.controls['Answer2'].invalid && updateQuestionForm.controls['Answer2'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input"
                        [formControl]="updateQuestionForm.controls['IsRightAnswer']" value="3" [checked]="questionDataCopy.Answers[2].Answer.IsRightAnswer">
                    <label class="custom-control-label" for="customRadio3">
                        <span>C.</span>
                    </label>
                </div>
                <textarea name="" id="" placeholder="Type here"
                    [formControl]="updateQuestionForm.controls['Answer3']" [(ngModel)]="questionDataCopy.Answers[2].Answer"></textarea>
                <div *ngFor="let messages of validationMessages.Answer3">
                    <small class="text-danger"
                        *ngIf="(updateQuestionForm.controls['Answer3'].touched || updateQuestionForm.controls['Answer3'].dirty) && updateQuestionForm.controls['Answer3'].invalid && updateQuestionForm.controls['Answer3'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div class="quesBlock">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input"
                        [formControl]="updateQuestionForm.controls['IsRightAnswer']" value="4" [checked]="questionDataCopy.Answers[3].Answer.IsRightAnswer">
                    <label class="custom-control-label" for="customRadio4">
                        <span>D.</span>
                    </label>
                </div>
                <textarea name="" id="" placeholder="Type here"
                    [formControl]="updateQuestionForm.controls['Answer4']" [(ngModel)]="questionDataCopy.Answers[3].Answer"></textarea>
                <div *ngFor="let messages of validationMessages.Answer4">
                    <small class="text-danger"
                        *ngIf="(updateQuestionForm.controls['Answer4'].touched || updateQuestionForm.controls['Answer4'].dirty) && updateQuestionForm.controls['Answer4'].invalid && updateQuestionForm.controls['Answer4'].errors[messages.type]">{{messages.message}}
                    </small>
                </div>
            </div>
            <div *ngFor="let messages of validationMessages.IsRightAnswer">
                <small class="text-danger"
                    *ngIf="(updateQuestionForm.controls['IsRightAnswer'].touched || updateQuestionForm.controls['IsRightAnswer'].dirty) && updateQuestionForm.controls['IsRightAnswer'].invalid && updateQuestionForm.controls['IsRightAnswer'].errors[messages.type]">{{messages.message}}
                </small>
            </div>
            <button class="btn btn-outline-secondary" type="submit">+ Update</button>
        </div>
        </form>
    </div>
</div>