<app-header></app-header>
<div class="mainWrapper">
  <!-- <div> -->
  <app-sidemenu class="leftContent"></app-sidemenu>
  <!-- </div> -->
  <div class="rightContent" [ngClass]="{'mainMaxWidth': toggleRightSide}">
    <router-outlet></router-outlet>
  </div>
</div>