<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
      <h4>Playlist Folders</h4>
    </div>
  </div>
  <div class="relPos stepr">
  
    <div class="libWrapper colm">
      <div class="instrtion">
        <h5>Your selected folders</h5>
        <div class="d-flex">
          <p><img src="../assets/img/icon-hand.png" alt=""> You can reorder the folder by simply drag and drop</p>
          <p><img src="../assets/img/icon-edit.png" alt=""> Select the content which you would like to assign your users</p>
        </div>
      </div>
  
      <div class="otherFoldr" id="sortable" cdkDropList (cdkDropListDropped)="drop($event)">
        
        <div cdkDrag [cdkDragData]="folder" *ngFor="let folder of folders; let i = index;">
        <div class="libCol acitve" [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3 }">
          <div class="innerData">
            <div class="d-flex">
              <span> </span>
              <span>{{ folder.NumberOfContent }}</span>
            </div>
            <h1>{{ folder.FolderShortName }}</h1>
            <p>{{ folder.FolderName }}</p>
            </div>
          </div>
          <button class="foldrEdit" routerLink="/build-playlist/content/{{ folder.PlayListFolderId }}/{{ folder.PlayListId }}">Edit</button>
        </div>
      </div>
    </div>
  
    <div class="selectedDir rightAlgn">
     
      <div class="closeBtnWrap">
        <button class="btn btn-primary" routerLink="/build-playlist" [queryParams]="{routeHome: true}"><i class="arowRight arowLeft"></i> Prev </button>
        <button class="btn btn-success" routerLink="/build-playlist/playlist-content/{{ playlistId }}">Next <i class="arowRight"></i></button>
      </div>
    </div>
  </div>