.btn.btn-primary{margin: 0 5px;}

@media screen and (max-width: 1903px) {
    .foldrEdit{
        width:calc(100% - 18px);
        margin: 0 9px;
    }
    .libWrapper .libCol{
        margin: 10px 9px;
        width:auto;
    }
    .libWrapper .libCol .innerData{
        height: 166px;
        width: 166px;
    }
}

@media screen and (max-width: 1499px) {
    .libWrapper .libCol {margin: 10px 4px;}
    .foldrEdit{width:calc(100% - 8px);margin: 0 4px;}
    .libWrapper .libCol .innerData{height: 145px;width: 145px;}
    .libWrapper .libCol .innerData h1{font-size: 4rem;}
}

@media screen and (max-width: 480px) {
    .libWrapper .libCol .innerData{
        height: auto;
        width: 100%;
    }
}

