<app-header></app-header>
<div class="mainWrapper">
    <app-sidemenu class="leftContent"></app-sidemenu>
    <section class="tabUser tabSection section" id="nav-all-games" role="tabpanel"
    aria-labelledby="nav-allGames-tab"  style="width: 100%;">

    <div class="rightContent">
        <div class="pageHeader minFlex">
            <div class="navbar justify-content-between align-item-center">
                <h4 >Reported Videos</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid box-container">
    <div class="row container" *ngIf="gameData && gameData?.length > 0">
        <section class="vbpCol" *ngFor="let data of gameData; let i=index;">
            <div class="listCol">
                <div class="user-name">
                    <a href="javascript:void(0)">
                        <img [src]="data.ProfilePicture" class="pic-block" />
                        <span class="name">{{ data.FirstName + " " + data.LastName }}</span>
                    </a>
                    <span class="fas fa-undo-alt unReport" data-tooltip-text="Unreport" (click)="unReport(i)"></span>
                    <span class="fa fa-trash pull-right" data-tooltip-text="Remove" (click)="delete(i)"></span>
                    <!-- <span class="completedText" *ngIf="vbPlayServices.currentNav != 1 && data.IsCompleted"><b>Completed</b></span> -->
                    <!-- <span class="expiredTxt">Expired <img src="/assets/img/expired.png"></span> -->
                </div>
                <h2 class="box-title"><a routerLink="/inner/viewJoinedContest"
                        (click)="routeTo('brandworks-play/game-details/' + data.ContestId)">{{ data.Name }}</a></h2>
                <p class="lbl-txt">{{ data.Description }}</p>
                <div class="video-frame">
                    <div class="video-container" (click)="openVideo(i,data)">
                        <img [src]="data.ThumbnailUrl">
                        <span class="play-btn"></span>
                    </div>
                    <div class="social-share-count">
                        <span class="social-lbl like" [ngClass]="{'is-liked': data.IsLikedByUser}">
                            <i class="sprite icon-like"></i>
                            <span class="text">{{ data.Likes }} {{ data.Likes > 1 ? "Likes" : "Like" }}</span>
                        </span>
                        <a class="social-lbl views">
                            <i class="sprite icon-view"></i>
                            <span class="text">{{ data.Views }} Views</span>
                        </a>
                        <a class="social-lbl users">
                            <i class="sprite icon-user"></i>
                            <span class="text">{{ data.Users }} Users</span>
                        </a>
                    </div>
                </div>
                <div class="row reportedBy">
                   <span class="col-md-12"> Video Reported by: </span>
                </div>
                <select class="form-control" style="width: -webkit-fill-available;margin-top: 5px;">
                    <option *ngFor="let users of data.ReportedByUsers">{{ users }}</option>
                </select>
            </div>
        </section>
    </div>
    <div clas="noReportVideoStatus" *ngIf="!gameData || gameData?.length == 0">
        <p>No Reported Video Found</p>
    </div>
    </div>
    </section>
</div>