a:hover {
    text-decoration: none;
}
.rightContent{
    width: 100%;
}
.vbpCol{
    width: calc(100% / 4 - 20px);
    margin:0 10px 0;
    @media (max-width: 1500px) {
      width: calc(100% / 3 - 20px);
    }
    @media (max-width: 1300px) {
      width: calc(100% / 2 - 20px);
    }
    @media (max-width: 991px) {
      width: calc(100% / 1 - 20px);
    }
}
.btn-start-game {
    height: 34px;
    padding: 0 12px;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background-color: #4E72B1;
    border: 0 none;
    .text {
        margin-right: 6px;
    }
    .fa {
        font-weight: 400;
    }
}
.btn-start-game:hover {
    background-color: #284C8A; 
}

.tabSection .userCol{
    flex-wrap: wrap;
}
.tab-content .userCol .form-inline{
    @media (max-width: 700px){
        margin-bottom: 10px;
    }
}
.section{
    width: 100%;
}
.noReportVideoStatus {
    padding: 5px 27px;
}
.unReport{
    color:#007bff
}
.reportedBy{
    padding-right: 8px
}
.tabSection {
    padding:0;
    .listCol {
        padding: 15px 15px 7px;
        background: #fff;
        margin-top:0;
    }
    
    .box-container {
        padding: 20px 0 0 5px;
        
        .listCol {
            .user-name {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                border-bottom: 2px solid #afc6c6;
                padding-bottom: 10px;
                margin-bottom: 5px;

                a {
                    color: #1F6575;
                    cursor: text;
                }

                .pic-block {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;
                    overflow: hidden;
                    position: relative;
                }
                .name {
                    font-size: 14px;
                    font-weight: 600;
                }
                .completedText{
                    font-size: 14px;
                    color: #c2282c;
                }
            }

            .chalange-end-frame {
                position: relative;
                margin: 10px 0;
                padding-bottom: 10px;
                border-bottom: 1px solid #BED1D1;

                .chalange-dtl-col {
                    width: calc(100% - 60px);
                    position: relative;
                    padding-left: 37px;
                    
                    &::before {
                        content:'';
                        display: block;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        background: url(/assets/img/sprite.png) no-repeat;
                        background-position: -770px -250px;  
                    }

                    .lbl, .date {
                        display: block;
                    }
                    .lbl {
                        font-size: 12px;
                        margin-bottom: 0;
                    }
                    .date {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.3;
                    }
                }

                .rules-lbl {
                    width: 55px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 12px;
                    color: #666;
                    font-weight: bold;
                    padding-left: 18px;
                    cursor: pointer;             

                    &:before {
                        content:'';
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        top: 3px;
                        background: url(/assets/img/sprite.png) no-repeat;
                        background-position: -607px -381px;                        
                    }
                    a { color: #666; }
                }
            }// chalange-end-frame //

            .tag-listing { 
                display: flex;
                flex-wrap: wrap;
                
                .tag {
                    background: #E5F2F2;
                    padding: 3px 7px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #666;
                    margin: 0 4px 4px 0;
                }                
            }//tag-listing End//

            .btn-join-now {
                background: #5CA375;
                height: 36px;
                font-size: 14px;
                color: #ffffff;
                font-weight: bold;
                text-align: center;
                width: 100%;
                margin: 15px 0 10px;
                border: 0 none;
                border-radius: 0;
            }

            .social-share-frame {
                display: flex;
                justify-content: space-between;
                align-content: center;                

                .lbl {
                    margin-bottom: 0;
                    margin-top: 8px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #666;
                }
                .social-icons {
                    margin-bottom: 0;
                    align-items: center;
                    a{display: inherit;}
                    .bcast{display: inline-block;height: 24px;width: 24px;background: url(/assets/img/broadcast.png) no-repeat;margin-right: 4px;}
                }
                .scl-icon {
                    width: 24px;
                    height: 23px;
                    display: inline-block;
                    position: relative;
                    margin: 10px 10px 0 0;                    
                    background: url(/assets/img/sprite.png) no-repeat;
                }
                .twitter {
                    background-position:  -630px -373px;
                    margin-right: 8px;
                }
                .facebook {
                    background-position: -660px -373px;
                }
            }//Social Share Frame End//

            .btn.btn-view-contest {
                width: 100%;
                margin: 10px 0;
                color: #fff;
                font-weight: 500;
                background: #6ABCCE;
                border-radius: 2px !important;
            }

            .view-contest-content-frame {
                border-top: 1px solid #afc6c6;
                padding-top: 10px;
                margin-top: 5px;
                .user-name {
                    border-bottom: 0 none;
                    padding-bottom: 0;
                }
                a {
                    cursor: text;
                }

                .box-title {
                    a {
                        color: #C32A2E;
                        cursor: text;
                    }
                }
                .video-frame {
                    padding: 12px 0;
                    border: 0 none;

                    .status.not-submitted {
                        background-color: rgba($color: #C2282C, $alpha: 0.85);
                        width: 100%;
                        font-size: 14px;
                        text-align: center;
                        padding: 10px 0;

                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
                .btn-frame {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0 0;

                    .btn {
                        margin-left: 0;
                        text-align: center;
                        color: #fff;
                        width: 45%;
                        border-radius: 0 !important;
                    }
                    .btn-submit {
                        background: #5CA375;
                    }
                    .btn-edit {
                        background: #6ABCCE;
                    }
                }
            }
        }// List Col End//
    }// Box Container End //
}

.right-content {
    position: relative;
    display: block;
    text-align: right;
}
.box-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
    cursor: pointer;
    color: #1f6575;

    a {
        color: #1f6575;
        text-decoration: underline;
        word-wrap: break-word;
    }
}
.lbl-txt {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 1.2;
    margin: 5px 0 0;
    word-wrap: break-word;
}

.video-frame {
    margin: 6px 0;
    padding: 10px 0;
    border-bottom: 1px solid #BED1D1;
    h4{
        font-weight: 600;
    }
    video, iframe, .video-container {
        // width: 100%;
        // position: relative;
    }
    .video-container {
        cursor: pointer;

        .play-btn {
            background: url(/assets/img/sprite.png) no-repeat -652px -174px;
            width: 41px;
            height: 32px;
            margin: auto;
            display: block;
            position: absolute;
            left: 50%;
            top: 51%;
            cursor: pointer;
            transform: translate(-50%, -50%);
            
        }
    }
    

    .social-share-count {
        display: flex;
        justify-content: space-between;                    
        padding-top: 10px;
        align-items: center;

        .social-lbl {
            font-size: 12px;
            font-weight: 500;
            display: flex;
            align-content: center;

            .sprite {
                width: 20px;
                max-height: 20px;
                margin-right: 4px;
                background: url(/assets/img/sprite.png) no-repeat;
            }
            .icon-like {
                background-position: -487px -377px;
            }
            .icon-view {
                width: 24px;
                background-position: -539px -379px;
            }
            .icon-user {
                background-position: -516px -379px;
                width: 16px;
            }
        }
    }


    .chalange-end-frame {
        position: relative;
        margin: 10px 0;
        // padding-bottom: 10px;
        // border-bottom: 1px solid #BED1D1;

        .chalange-dtl-col {
            width: calc(100% - 60px);
            position: relative;
            padding-left: 37px;
            
            &::before {
                content:'';
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 5px;
                background: url(/assets/img/sprite.png) no-repeat;
                background-position: -770px -250px;  
            }

            .lbl, .date {
                display: block;
            }
            .lbl {
                font-size: 12px;
                margin-bottom: 0;
            }
            .date {
                font-size: 14px;
                font-weight: bold;
                line-height: 1.3;
            }
        }

        .rules-lbl {
            width: 55px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 12px;
            color: #666;
            font-weight: bold;
            padding-left: 18px;
            cursor: pointer;             

            &:before {
                content:'';
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 3px;
                background: url(/assets/img/sprite.png) no-repeat;
                background-position: -607px -381px;                        
            }
            a { color: #666; }
        }
    }// chalange-end-frame //
}// Video Frame //

.popup {
    .modal-header {
        label{
            font-weight: bold;
        }
        .close {
            float: inherit;
            position: absolute;
            padding: 0;
            top: 40px;
            right: 30px;
            text-indent: -9999px;
            display: block;
            width: 31px;
            height: 31px;
            background: url(/assets/img/sprite.png) no-repeat -595px -14px;       
            
            &:hover{
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }
    }
    .box-title {        
        a {        
            text-decoration: none;
        }
    }
    .btn-join-now {
        width: 103px;
        height: 36px;
        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
        background-color: #6abcce;
        border: 0 none;
    }
    .video-frame{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        .chalange-end-frame{
            padding-bottom: 10px;
            border-bottom: 1px solid #afc6c6;
        }
    }
}

.rules-listing-frame {
    margin-top: 20px;
    h5{
        font-weight: 700;
    }
    .rl-list {
        padding-left: 18px;

        li {
            padding-left: 10px;
            font-size: 14px;
            color: #666;
            margin-bottom: 12px;
        }
    }
    .rl-list-alpha{
        list-style: lower-alpha;
    }
}
.points-result-row{
    display: flex;
    margin: 0 -10px;
    @media (max-width: 1200px){
        margin: 0;
        flex-wrap: wrap;
    }
    .points{
        border: 2px solid #c8d6d6;
        background: #fbfcfd;
        padding: 16px 0 21px;
        border-radius: 4px;
        margin: 0 10px;
        flex-grow: 1;
        @media (max-width: 1200px){
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 100%;
            margin:0 0 10px;
        }

        h4{
            font-size: 22px;
            color: #1f6575;
            font-weight: 700;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #dde6e7;
            @media (max-width: 1300px){
                font-size: 18px;
            }
        }

        .pointsRow{
            display: flex;
            justify-content: center;
            @media (max-width: 700px){
                flex-wrap: wrap;
            }
            .pointsList{
                display: flex;
                justify-content: center;
                padding: 0;
                flex-grow: 1;
                position: relative;
                @media (max-width: 700px){
                    flex-basis: 100%;
                }
                &:after{
                    content: "";
                    border-right: 2px solid #afc6c6;
                    height: 100%;
                    width: 2px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @media (max-width: 700px){
                        display: none;
                    }
                }
                &:last-child{
                    &:after{
                        border: 0;
                    }
                }
                .numbers{
                    padding: 0 10px;
                    span{
                        color: #666666;
                        font-size: 9px;
                        font-weight: 600;
                    }
                    h4{
                        color: #666666;
                        font-size: 22px;
                        border: 0;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}
.pointsTable{
    border: 2px solid #c8d6d6;
    background: #fbfcfd;
    border-radius: 4px;
    padding: 20px;
    overflow: auto; 

    table {
        overflow: auto; 
        tr{
            &.redemed{
                background: #f7dede;
            }
            &:hover{
                background: #e5f2f2;
                
            }
        }
        
        thead{
            border-bottom: 2px solid #c8d6d6;
            th{
                border: 0;
                padding: 15px;
                color: #666666;
                font-weight: bold;
                font-size: 16px;
                white-space: nowrap;
            }
        }
        td{
            border-top: 0;
            border-bottom: 1px dashed #cacacb;
            padding: 15px;
            font-size: 14px;
            color: #666666;
        }
    }
}
.btm-border{
    border-bottom: 2px solid #afc6c6;
}
.join-form{
    .form-control{
        border: 1px solid #c8d6d6;

        &.pasteHere{
            height: 30px;
        }
    }
    textarea{
        height: 146px;
        resize: none;
    }
    .modal-title-txt{
        font-weight: 700;
    }
    label{
        font-size: 14px;
        font-weight: 700;
    }
    .uploadblock{
        border: 1px solid #c8d6d6;
        padding: 15px;
        h3{
            font-weight: 600;
            text-align: center;
            font-size: 22px;
        }
        button.tapUpload{
            display: block;
            padding: 7px ;
            text-align: center;
            margin-bottom: 15px;
            width: 100%;
            border: 1px solid #83a6a6;
            font-weight: 600;
            background: #fff;
        }
        .or{
            margin-bottom: 7px;
            text-align: center;
        }

        .previewBox{
            border: 2px dashed #c8d6d6;
            height: 290px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: 14px;
                font-weight: 600;   
            }
        }
        
    }
    .tagsBlock{
        border: 1px solid #c8d6d6;
        padding: 7px;
        .tagRow{
            margin-bottom: 10px;
            span{
                display: inline-block;
                background: #eeeeee;
                font-size: 14px;
                color: #666666;
                border: 1px solid #d2d2d2;
                padding: 5px;
                border-radius: 3px;
                position: relative;
                min-width: 113px;
                font-weight: bold;
                margin:0 12px 12px 0;
                i{
                    position: absolute;
                    right: 6px;
                    top: 8px;
                }
            }
        }
        .addTag{
            input[type="text"]{
                border: 1px solid #afc6c6;
                border-radius: 0;
                color: #5e6f6f;
            }
            .add{
                border: 2px solid #83a6a6;
                border-radius: 0;
                font-size: 14px;
                color: #5e6f6f;
                padding: 6px 12px;
                font-weight: bold;
                background: #fff;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .rulesForGame{
        p{
            font-size: 14px;
        }
    }

    .calenderBlock{
        .date{
            position: relative;
        }
        .form-control{
            padding-right: 22px;
        }
        .clIcon{
            background: url(/assets/img/sprite.png) no-repeat -693px -379px;
            height: 15px;
            width: 15px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
.btn-join-submit{
    background: #5CA375;
    width: 103px;
    height: 36px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    border: 0 none;
}
.shareBrodcast{
    background: #5CA375;
    height: 22px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    border: 0 none;
    margin-top: 10px;
}

.social-share-frame {
    display: flex;
    justify-content: space-between;
    align-content: center;                

    .lbl {
        margin-bottom: 0;
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
    }
    .social-icons {
        margin-bottom: 0;
        display: flex;
    }
    .scl-icon {
        width: 24px;
        height: 23px;
        display: inline-block;
        position: relative;
        margin: 10px 10px 0 0;                    
        background: url(/assets/img/sprite.png) no-repeat;
    }
    .twitter {
        background-position:  -630px -373px;
        margin-right: 8px;
    }
    .facebook {
        background-position: -660px -373px;
    }
}
.pic-block {
    max-width: 100% !important;
}
.is-liked {
    color: #007bff !important;
}
.is-liked:hover {
    color: #007bff
}
.view-contest-content-frame {
    border-top: 1px solid #afc6c6;
    padding-top: 10px;
    margin-top: 5px;
    .user-name {
        border-bottom: 0 none;
        padding-bottom: 0;
    }
    .user-name a {
        cursor: text !important;
        font-size: 20px;;
    }

    .box-title {
        a {
            color: #C32A2E;
            word-wrap: break-word;
        }
    }
    .video-frame {
        padding: 12px 0;
        border: 0 none;

        .status.not-submitted {
            background-color: rgba($color: #C2282C, $alpha: 0.85);
            width: 100%;
            font-size: 14px;
            text-align: center;
            padding: 10px 0;

            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            margin-bottom: 0;
        }
    }
    .btn-frame {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0;

        .btn {
            margin-left: 0;
            text-align: center;
            color: #fff;
            width: 45%;
            border-radius: 0 !important;
        }
        .btn-submit {
            background: #5CA375;
        }
        .btn-edit {
            background: #6ABCCE;
        }
    }
}
.fa {
    cursor: pointer;
}

[data-tooltip-text]:hover:after {
	top: -27px;
    left: 0;
}
.dataWrapRel{
    position:relative;
}
@media (max-width: 991px){
    .vbpCol{width: calc(100% - 30px);margin:0 auto;}
}
img {
    max-height: 180px;
}