<div class="tabWrapper">
	<div ngbNav #nav="ngbNav" class="tabList nav nav-tabs" [(activeId)]="activeId" (navChange)="onNavChange($event)">

		<span [ngbNavItem]="1" *ngIf="loggedInUserRole == 'Admin' || loggedInUserRole == 'Trainer'">
			<a ngbNavLink>My Created Playlist</a>
			<ng-template ngbNavContent>
				<playlist-list [playlistType]="createdPlaylistType"></playlist-list>
			</ng-template>
		</span>

		<span [ngbNavItem]="loggedInUserRole == 'User' ? 1 : 2">
			<a ngbNavLink>My Playlist</a>
			<ng-template ngbNavContent>
				<playlist-list [playlistType]="playlistType"></playlist-list>
			</ng-template>
		</span>

		<p class="addMore" *ngIf="loggedInUserRole == 'Admin' || loggedInUserRole == 'Trainer'"
			(click)="openCreatePlaylist()">+ Create Playlist</p>

	</div>

	<div [ngbNavOutlet]="nav" class="tabSection minMrin tab-content playListWrap"></div>
</div>