.tabWrapper .tabList{
    position: relative;
    .addMore{
        position: absolute;
        right: 40px;
        top: 35px;
        margin: 0;
    }
}


@media screen and (max-width :680px){
    .tabWrapper .tabList .addMore{
        position: unset;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
}