<app-header></app-header>
<div class="mainWrapper">
    <!-- <div> -->
    <app-sidemenu class="leftContent"></app-sidemenu>
    <!-- </div> -->
    <div class="rightContent" [ngClass]="{'mainMaxWidth': toggleRightSide}">
        <div class="pageHeader minFlex">
            <div class="navbar justify-content-between align-item-center">
                <h4>Broadcast</h4>
            </div>
        </div>

        <div class="tab-content">
            <div class="userCol">
                <div class="form-inline">
                    <input class="form-control mr-sm-4 cust-field w320 searchIco" [(ngModel)]="searchText"
                        (keyup)="searchBroadcastContent()" type="search" placeholder="Search" aria-label="Search" />

                </div>
            </div>

            <div class="broadcastBlock">
                <div class="broadcastCol" *ngFor="let broadcastContents of broadcastContent; let i = index;">
                    <div class="listCol active">
                        <div class="user-name">
                            <a href="javascript:void(0)" class="remove-cursor">
                                <img src="{{ broadcastContents.ProfilePicture }}" class="pic-block" />
                                <span class="name">{{ broadcastContents.FirstName }}
                                    {{ broadcastContents.LastName }}</span>
                            </a>
                        </div>
                        <h2 class="box-title">{{ broadcastContents.Name }}
                            
                        </h2>
                        <p class="lbl-txt">
                            {{ broadcastContents.Description }}
                        </p>
                        <div class="video-frame">
                            <div class="video-container" (click)="openVideo(i)" data-toggle="modal"
                                focus-element="autofocus" data-target=".bs-video-modal-lg">

                                <img [src]="broadcastContents.ThumbnailUrl"
                                    *ngIf="!broadcastContents.MimeType || !broadcastContents.MimeType.match('video') || broadcastContents.IsYoutubeContent || broadcastContents.IsFacebookContent">
                                <video
                                    *ngIf="broadcastContents.IsCompanyLibraryContent && broadcastContents.MimeType && broadcastContents.MimeType.match('video') || (broadcastContents.IsAwsContent && broadcastContents.MimeType && broadcastContents.MimeType.match('video'))">
                                    <source type="video/mp4" [src]="broadcastContents.ContentUrl">
                                </video>
                                <span class="play-btn" *ngIf="!broadcastContents.IsCompanyLibraryContent || (broadcastContents.MimeType && broadcastContents.MimeType.match('video'))"></span>
                            </div>
                            <div class="social-share-count">
                                <a class="social-lbl like" *ngIf="!broadcastContents.IsCompanyLibraryContent"
                                    [ngClass]="{'is-liked': broadcastContents.IsLikedByUser}" (click)="like(i)">
                                    <i class="sprite icon-like"></i>
                                    <span class="text">{{ broadcastContents.Likes }}
                                        {{ broadcastContents.Likes > 1 ? "Likes" : "Like"}}</span>
                                </a>
                                <a class="social-lbl views">
                                    <i class="sprite icon-view"></i>
                                    <span class="text">{{ broadcastContents.Views }} Views</span>
                                </a>
                            </div>
                        </div>

                        <app-social-share [contentId]="broadcastContents.ContentId"
                            [type]="broadcastContents.IsCompanyLibraryContent?1:broadcastContents.IsContestEntry?3:2"></app-social-share>
 
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>