.broadcastBlock {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .broadcastCol {
      width: calc(100% / 4 - 20px);
      margin: 0 10px 0;
      @media (max-width: 1500px) {
        width: calc(100% / 3 - 20px);
      }
      @media (max-width: 1300px) {
          width: calc(100% / 2 - 20px);
      }
      @media (max-width: 991px) {
          width: calc(100% / 1 - 20px);
      }
    }
  
    .listCol {
      padding: 15px 15px 6px;
      .user-name {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        border-bottom: 2px solid #afc6c6;
        padding-bottom: 10px;
        margin-bottom: 5px;
  
        a {
          color: #1f6575;
        }
  
        .pic-block {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          margin-right: 10px;
          overflow: hidden;
          position: relative;
        }
        .name {
          font-size: 14px;
          font-weight: 600;
        }
        .completedText {
          font-size: 14px;
          color: #c2282c;
        }
      }
  
      .chalange-end-frame {
        position: relative;
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #bed1d1;
  
        .chalange-dtl-col {
          width: calc(100% - 60px);
          position: relative;
          padding-left: 37px;
  
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 5px;
            background: url(../../../assets/img/sprite.png) no-repeat;
            background-position: -770px -250px;
          }
  
          .lbl,
          .date {
            display: block;
          }
          .lbl {
            font-size: 12px;
            margin-bottom: 0;
          }
          .date {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.3;
          }
        }
  
        .rules-lbl {
          width: 55px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 12px;
          color: #666;
          font-weight: bold;
          padding-left: 18px;
          cursor: pointer;
  
          &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 3px;
            background: url(../../../assets/img/sprite.png) no-repeat;
            background-position: -607px -381px;
          }
          a {
            color: #666;
          }
        }
      }
  
      .tag-listing {
        display: flex;
        flex-wrap: wrap;
  
        .tag {
          background: #e5f2f2;
          padding: 3px 7px;
          font-size: 12px;
          font-weight: bold;
          color: #666;
          margin: 0 4px 4px 0;
        }
      }
  
      .btn-join-now {
        background: #5ca375;
        height: 36px;
        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 15px 0 10px;
        border: 0 none;
        border-radius: 0;
      }
  
      .social-share-frame {
        display: flex;
        justify-content: space-between;
        align-content: center;
  
        .lbl {
          margin-bottom: 0;
          margin-top: 8px;
          font-size: 14px;
          font-weight: bold;
          color: #666;
        }
        .social-icons {
          margin-bottom: 0;
        }
        .scl-icon {
          width: 24px;
          height: 23px;
          display: inline-block;
          position: relative;
          margin: 10px 0 0 0;
          background: url(../../../assets/img/sprite.png) no-repeat;
        }
        .twitter {
          background-position: -630px -373px;
          margin-right: 8px;
        }
        .facebook {
          background-position: -660px -373px;
        }
      }
  
      .btn.btn-view-contest {
        width: 100%;
        margin: 10px 0;
        color: #fff;
        font-weight: 500;
        background: #6abcce;
        border-radius: 2px !important;
      }
  
      .box-title {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 0;
        
        color: #1f6575;
  
        a {
          color: #1f6575;
          text-decoration: underline;
        }
      }
      .lbl-txt {
        color: #7b7b7b;
        font-size: 14px;
        line-height: 1.2;
        margin: 5px 0 0;
        word-wrap: break-word;
      }
      .video-frame {
        padding: 12px 0 0;
        border: 0 none;
  
        .status.not-submitted {
          background-color: rgba($color: #c2282c, $alpha: 0.85);
          width: 100%;
          font-size: 14px;
          text-align: center;
          padding: 10px 0;
  
          position: absolute;
          left: 0;
          bottom: 0;
          color: #fff;
          margin-bottom: 0;
        }
      }
      .btn-frame {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0;
  
        .btn {
          margin-left: 0;
          text-align: center;
          color: #fff;
          width: 45%;
          border-radius: 0 !important;
        }
        .btn-submit {
          background: #5ca375;
        }
        .btn-edit {
          background: #6abcce;
        }
      }
    }
  }
  .video-frame {
    margin: 6px 0;
    padding: 10px 0;
    border-bottom: 1px solid #bed1d1;
    h4 {
      font-weight: 600;
    }
    // video,
    // iframe,
    // .video-container {
    //   // width: 100%;
    //   // position: relative;
    // }
    .video-container {
      cursor: pointer;
  
      .play-btn {
        background: url(../../../assets/img/sprite.png) no-repeat -652px -174px;
        width: 41px;
        height: 32px;
        margin: auto;
        display: block;
        position: absolute;
        left: 50%;
        top: 51%;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
    }
  
    .social-share-count {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      padding-bottom: 14px;
      align-items: center;
      border-bottom: 2px solid #afc6c6;
  
      .social-lbl {
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-content: center;
  
        .sprite {
          width: 20px;
          max-height: 20px;
          margin-right: 4px;
          background: url(../../../assets/img/sprite.png) no-repeat;
        }
        .icon-like {
          background-position: -487px -377px;
        }
        .icon-view {
          width: 24px;
          background-position: -539px -379px;
        }
        .icon-user {
          background-position: -516px -379px;
          width: 16px;
        }
      }
    }
  
    .chalange-end-frame {
      position: relative;
      margin: 10px 0;
      // padding-bottom: 10px;
      // border-bottom: 1px solid #BED1D1;
  
      .chalange-dtl-col {
        width: calc(100% - 60px);
        position: relative;
        padding-left: 37px;
  
        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          left: 0;
          top: 5px;
          background: url(../../../assets/img/sprite.png) no-repeat;
          background-position: -770px -250px;
        }
  
        .lbl,
        .date {
          display: block;
        }
        .lbl {
          font-size: 12px;
          margin-bottom: 0;
        }
        .date {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.3;
        }
      }
  
      .rules-lbl {
        width: 55px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 12px;
        color: #666;
        font-weight: bold;
        padding-left: 18px;
        cursor: pointer;
  
        &:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          left: 0;
          top: 3px;
          background: url(../../../assets/img/sprite.png) no-repeat;
          background-position: -607px -381px;
        }
        a {
          color: #666;
        }
      }
    } // chalange-end-frame //
  } // Video Frame //
.is-liked {
    color: #007bff !important;
}
.is-liked {
    color: #007bff !important;
}
.is-liked:hover {
    color: #007bff;
}
.remove-cursor {
  cursor: text;
  text-decoration: none;
}
