<div class="bgCover">
  <div class="mainWrap fPassWrp">
    <h3>Reset Password</h3>
    <div class="frmBox forgetPass">

      <h4>Please Enter your email id</h4>
      <form #f="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value);">
        <div class="row">
          <div class="col-sm-12">
            <div class="wrap">
              <input type="text" class="control" placeholder=""
                [formControl]="forgotPasswordForm.controls['Email']" />
              <!-- <span class="floating-label">Email Id<small>*</small></span> -->
              <div *ngFor="let messages of validationMessages.Email">
                <small class="text-danger"
                  *ngIf="(forgotPasswordForm.controls['Email'].touched || forgotPasswordForm.controls['Email'].dirty) && forgotPasswordForm.controls['Email'].invalid && forgotPasswordForm.controls['Email'].errors[messages.type]"><strong></strong>{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-grn" [disabled]="!forgotPasswordForm.valid">Send Code</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>