.mainWrapper{
    display: flex;
    position: relative;   
    min-height: calc(100% - 150px);
    .leftContent{
        // background: url(../../assets/img/bg.png) repeat-x #abd6bf;
    }
    .rightContent{
        width: 100%;
        background: #f8f8f8;
    }
}
.plylistDetails .flexTbl .ico.team{background-position: -283px -167px;min-width: 47px;height: 37px;}

