﻿
@{
    Layout = null;

}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/font.css">
    <link rel="stylesheet" href="~/content/style.css">
    <link rel="stylesheet" href="~/content/media.css">

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/Scripts/StripeScript.js"></script>

    <title>Welcome to Virtual Brand Works</title>
</head>
<body>
    <!-- Header -->
    <div class="headerWrap beforeLogin minSize">
        <div class="header d-flex justify-content-between align-items-center">

            <div class="logo">
                <img src="~/Images/logo-sml.png" alt="logo">
            </div>


            <div class="rightHead">
                <div class="dropdown">
                    <button class="btn" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </button>
                    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="login.html">Login</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item asp" href="signup.html">Signup</a>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <!-- payment page -->
    <div class="bgCover">
        <div class="mainWrap mobileSmall">
            <h3>@VirtualBrandWork.Entity.Constants.PAYMENT_SUCCESSFULL_SUBJECT</h3>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }

            <div class="frmBox">
                <h6>
                @VirtualBrandWork.Entity.Constants.PAYMENT_SUCCESSFULL
                </h6>
            </div>
        </div>
    </div>
    <!-- payment page -->
    <!-- footer? -->
    <div class="footer">
        <p>&copy;Virtualbrandworks.com</p>
        <p>
            <a href="">Terms and Conditions</a>
            <a href="">Privacy Policy</a>
        </p>
    </div>

    <!-- footer? -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
