<div class="dirList">
    <h6>Master Library</h6>
    <ul>
        <li *ngFor="let folder of selectedMasterFolders; let i = index;">
            <span>{{ folder.Name }}</span> <i (click)="unselectFolder(i, true)"></i>
        </li>
    </ul>

    <h6>Company Content</h6>
    <ul>
        <li *ngFor="let folder of selectedCompanyFolders; let i = index;">
            <span>{{ folder.Name }}</span> <i (click)="unselectFolder(i)"></i>
        </li>
    </ul>
</div>