// .starting-section{
//     background: url('/assets/img/home-new/home-banner-min.png') center/cover no-repeat;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 150px;


//     h2{
//         font-family: 'Oswald', sans-serif;
//         color: #fff;
//         position: relative;
//         font-size: 45px;
//         text-align: center;
//         font-weight: 600;
//         text-transform: uppercase;
//         letter-spacing: 12px;
//         margin-bottom: 40px;

//         &::after{
//             content: "";
//             display: block;
//             height: 7px;
//             width: 220px;
//             margin: 35px auto 0;
//             background-color: #8DC640;
//         }
//     }

//     h1{
//         font-family: 'Oswald', sans-serif;
//         color: #fff;
//         font-weight: 700;
//         position: relative;
//         font-size: 80px;
//         text-align: center;
//         text-transform: uppercase;
//         margin-bottom: 95px;
//     }

//     a{
//         font-family: "Oswald", sans-serif;
//         color: #fff;
//         text-transform: uppercase;
//         font-size: 30px;
//         text-align: center;
//         font-weight: 600;

//         &:hover{
//             text-decoration: none;
//         }
//         img{
//             margin-left: 20px;
//         }
//     }
// }

// .team-work{
//     background: url('/assets/img/VirtualBrandworks_BlueBackground-min.jpg') center/cover no-repeat;
//     padding: 100px 0 40px;
//     font-family: "Oswald", sans-serif;
//     color: #fff;
//     text-align: center;

//     h2{
//         font-size: 44px;
//         font-weight: 700;
//         line-height: 60px;
//         text-transform: uppercase;
//         margin-bottom: 60px;
//     }
//     h2.process-heading{
//         margin-top: 100px;
//         position: relative;
//         margin-bottom: 0;
//         &::after{
//             content: "";
//             display: block;
//             height: 6px;
//             width: 135px;
//             margin: 20px auto 0;
//             background-color: #fadd13;
//         }
//     }
//     p{
//         font-family: 'Noto Sans', sans-serif;
//         font-size: 26px;
//         margin-bottom: 15px;

//     }
// }
// .process-section{
//     text-align: center;
//     color: #fff;
//     .row{
//         margin: 0;
        
//         [class^="col-"]{
//             padding: 0;
//         }
//     }
//     .overlay{
//         background: rgba(129,44,143,0.8);
//         display: none;
//         height: 100%;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         position: absolute;
//         width: 100%;
//         height: 100%;

//         h2{
//             font-size: 76px;
//             line-height: 60px;
//             font-family: "Oswald", sans-serif;
//             font-weight: 700;
//             text-transform: uppercase;
//         }

//         i{
//             font-size: 67px;
//             margin-top: 55px;
//             color: #fddd16;
//         }
//     }
//     .overlay-content{
//         padding: 100px;
//         background: rgba(129,44,143,0.8);
//         height: 100%;
//         visibility: hidden;
         
//         &.active{
//             visibility: visible;
//         }
//         h3{
//             font-family: "Oswald", sans-serif;
//             font-weight: 600;
//             font-size: 66px;
//             text-transform: uppercase;
//             margin-bottom: 40px;


//             &:after{
//                 content: "";
//                 display: block;
//                 height: 7px;
//                 width: 85px;
//                 margin: 10px auto 0;
//                 background-color: #fddd16;
//             }
//         }

//         p{
//             font-family: 'Noto Sans', sans-serif;
//             font-size : 31px;
//             font-weight: 400;
//             line-height : 44px;
//         }
//     }

//     .build{
//         background: url('/assets/img/home-new/build-min.jpg') 15% 0/cover no-repeat;
//         cursor: pointer;

//         &:hover .overlay{
//             display: flex;
//         }
//     }
//     .make{
//         background: url('/assets/img/home-new/make-min.jpg') 95% 0/cover no-repeat;
//         cursor: pointer;

//         &:hover .overlay{
//             display: flex;
//         }
//     }
//     .play{
//         background: url("/assets/img/home-new/play-min.jpg") 58% 0%/cover no-repeat;
//         cursor: pointer;
//         &:hover .overlay{
//             display: flex;
//         }
//     }
// }
// .feature-section{
//     background-color: #000;
//     color: #fff;
//     text-align: center;
//     padding: 45px 0 115px;

//     h2{
//         font-family: "Oswald", sans-serif;
//         font-weight: 600;
//         text-transform: uppercase;
//         font-size : 44px;
//         margin-bottom: 100px;
//         line-height : 60px;

//         &:after{
//             content: "";
//             display: block;
//             height: 6px;
//             width: 135px;
//             margin: 20px auto 0;
//             background-color: #fadd13;
//         }

//     }
//     .col-20{
//         margin-bottom: 30px;

//         img{
//             max-width: 100%;
//         }
//         div{
//             font-family: 'Noto Sans', sans-serif;
//             font-weight: 600;
//             font-size: 22px;
//             margin-top: 45px;
//         }
//     }
//     @media (min-width: 768px){
//         .col-20 {
//             flex: 0 0 20%;
//             max-width: 20%;
//         }
//     }
// }
// .plan-section{
//     padding: 50px 0;
//     text-align: center;
//      h2{
//         font-size : 44px;
//         margin-bottom: 40px;
//         line-height : 60px;
//         color : #1E95D3;
//         font-family: "Oswald", sans-serif;
//         font-weight: 600;
//         text-transform: uppercase;

//         &:after{
//             content: "";
//             display: block;
//             height: 4px;
//             width: 135px;
//             margin: 20px auto 0;
//             background-color: #8DC640;

//         }
//      }
//      p{
//         font-family: 'Noto Sans', sans-serif;
//         font-size : 26px;
//         color : #000;
//         max-width: 1370px;
//         margin: auto;
//      }

// }
// .coming-soon-section{
//     padding-top: 50px;
//     text-align: center;
//     h2{
//         font-family: "Oswald", sans-serif;
//         font-weight: 600;
//         text-transform: uppercase;
//         font-size : 44px;
//         color : #812c8f;
//     }
//     p{
//         font-family: 'Noto Sans', sans-serif;
//         font-size : 26px;
//         color: #000;
//         margin-bottom: 20px;
//     }
//     a{
//         font-family: "Oswald", sans-serif;
//         font-weight: 300;
//         font-size: 36px;
//         text-transform: uppercase;
//         color: #fff;
//         background-color: #812c8f;
//         padding: 6px 37px;
//         display: inline-block;
//         margin-top: 15px;

//         &:hover{
//             text-decoration: none;
//         }
//     }
// }
// .col-20{
//     position: relative;
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
// }

// @media (min-width: 1200px){
//     .container {max-width: 1586px;
//     }
// }
// @media screen and (max-width: 1360px){
//     .starting-section{
//         padding-top: 130px;
        
//         h2{
//             font-size: 40px;
//             letter-spacing: 10px;
//             margin-bottom: 35px;
    
//             &::after{
//                 height: 5px;
//                 width: 200px;
//                 margin: 30px auto 0;
//             }
//         }
    
//         h1{
//             font-size: 70px;
//             margin-bottom: 70px;
//         }
//         a{
//             font-size: 25px;

//             img{
//                 margin-left: 15px;
//                 width: 45px;
//             }
//         }
//     }

//     .team-work{
//         padding: 80px 0 35px;    
//         h2{
//             font-size: 40px;
//             line-height: 50px;
//             margin-bottom: 50px;
//         }
//         h2.process-heading{
//             margin-top: 80px;
//             &::after{
//                 height: 5px;
//                 width: 130px;
//                 margin: 18px auto 0;
//             }
//         }
//         p{
//             font-size: 24px;
//             margin-bottom: 12px;
    
//         }
//     }
//     .process-section{
  
//         .overlay{
    
//             h2{
//                 font-size: 70px;
//                 line-height: initial
//             }
    
//             i{
//                 font-size: 60px;
//                 margin-top: 48px;
//             }
//         }
//         .overlay-content{
//             padding: 80px;
//             h3{
//                 font-size: 60px;
//                 margin-bottom: 35px;
    
    
//                 &:after{
//                     height: 6px;
//                     width: 80px;
//                     margin: 8px auto 0;
//                 }
//             }
    
//             p{
//                 font-size : 28px;
//                 line-height : initial;
//             }
//         }
    
//     }
//     .feature-section{
//         padding: 40px 0 105px;
    
//         h2{
//             font-size : 40px;
//             margin-bottom: 80x;
//             line-height : initial;
    
//             &:after{
//                 height: 5px;
//                 width: 130px;
//                 margin: 18px auto 0;
//             }
    
//         }
//         .col-20{
    
//             img{
//                 max-width: 100px;
//             }
//             div{
//                 font-size: 20px;
//                 margin-top: 40px;
//             }
//         }
//     }
//     .plan-section{
//         padding: 48px 0;
//          h2{
//             font-size : 40px;
//             margin-bottom: 35px;
//             line-height : initial;
    
//             &:after{
//                 width: 130px;
//                 margin: 18px auto 0;
//             }
//          }
//          p{
//             font-size : 24px;
//          }
        
//     }
//     .coming-soon-section{
//         padding-top: 45px;
//         h2{
//             font-size : 40px;
//         }
//         p{
//             font-size : 22px;
//             margin-bottom: 18px;
//         }
//         a{
//             font-size: 32px;
//             padding: 5px 34px;
//         }
//     }
// }
// @media screen and (max-width: 1200px){
//     .starting-section{
//         padding-top: 113px;
        
//         h2{
//             font-size: 30px;
//             letter-spacing: 7px;
//             margin-bottom: 30px;
    
//             &::after{
//                 height: 4px;
//                 width: 180px;
//                 margin: 20px auto 0;
//             }
//         }
    
//         h1{
//             font-size: 60px;
//             margin-bottom: 60px;
//         }
//         a{
//             font-size: 22px;

//             img{
//                 margin-left: 10px;
//                 width: 40px;
//             }
//         }
//     }

//     .team-work{
//         padding: 70px 0 30px;    
//         h2{
//             font-size: 36px;
//             line-height: 40px;
//             margin-bottom: 40px;
//         }
//         h2.process-heading{
//             margin-top: 70px;
//             &::after{
//                 height: 4px;
//                 width: 120px;
//                 margin: 15px auto 0;
//             }
//         }
//         p{
//             font-size: 22px;
//             margin-bottom: 12px;
    
//         }
//     }

//     .process-section{
  
//         .overlay{
    
//             h2{
//                 font-size: 60px;
//             }
    
//             i{
//                 font-size: 50px;
//                 margin-top: 42px;
//             }
//         }
//         .overlay-content{
//             padding: 70px;
//             h3{
//                 font-size: 50px;
//                 margin-bottom: 30px;
    
    
//                 &:after{
//                     height: 5px;
//                     width: 80px;
//                     margin: 8px auto 0;
//                 }
//             }
    
//             p{
//                 font-size : 24px;
//             }
//         }
    
//     }
//     .feature-section{
//         padding: 30px 0 90px;
    
//         h2{
//             font-size : 35px;
//             margin-bottom: 70px;
    
//             &::after{
//                 height: 4px;
//                 width: 120px;
//                 margin: 15px auto 0;
//             }
    
//         }
//         .col-20{
    
//             img{
//                 max-width: 80px;
//             }
//             div{
//                 font-size: 18px;
//                 margin-top: 35px;
//             }
//         }
//     }
//     .plan-section{
//         padding: 45px 0;
//          h2{
//             font-size : 36px;
//             margin-bottom: 30px;
//             &:after{
//                 width: 120px;
//                 margin: 15px auto 0;
//             }
//          }
//          p{
//             font-size : 20px;
//          }
//     }
//     .coming-soon-section{
//         padding-top: 40px;
//         h2{
//             font-size : 36px;
//         }
//         p{
//             font-size : 20px;
//             margin-bottom: 15px;
//         }
//         a{
//             font-size: 28px;
//             padding: 4px 30px;
//         }
//     }
// }
// @media screen and (max-width: 991px){
//     .starting-section{
//         padding-top: 105px;
        
//         h2{
//             font-size: 26px;
//             letter-spacing: 5px;
//             margin-bottom: 25px;
    
//             &::after{
//                 height: 4px;
//                 width: 150px;
//                 margin: 20px auto 0;
//             }
//         }
    
//         h1{
//             font-size: 50px;
//             margin-bottom: 50px;
//         }
//         a{
//             font-size: 20px;

//             img{
//                 margin-left: 8px;
//                 width: 35px;
//             }
            
//         }
//     }
//     .team-work{
//         padding: 60px 0 25px;    
//         h2{
//             font-size: 30px;
//             line-height: initial;
//             margin-bottom: 30px;
//         }
//         h2.process-heading{
//             margin-top: 50px;
//         }
//         p{
//             font-size: 18px;
//             margin-bottom: 10px;
    
//         }
//     }

//     .process-section{
  
//         .overlay{
    
//             h2{
//                 font-size: 50px;
//             }
    
//             i{
//                 font-size: 40px;
//                 margin-top: 30px;
//             }
//         }
//         .overlay-content{
//             padding: 60px;
//             h3{
//                 font-size: 40px;
//                 margin-bottom: 30px;
    
    
//                 &:after{
//                     height: 4px;
//                     width: 80px;
//                     margin: 5px auto 0;
//                 }
//             }
    
//             p{
//                 font-size : 20px;
//             }
//         }
    
//     }
//     .feature-section{
//         padding: 30px 0 70px;
    
//         h2{
//             font-size : 28px;
//             margin-bottom: 50px;    
//         }
//         .col-20{
    
//             img{
//                 max-width: 70px;
//             }
//             div{
//                 font-size: 16px;
//                 margin-top: 30px;
//             }
//         }
//     }
//     .plan-section{
//         padding: 40px 0;
//          h2{
//             font-size : 30px;
//             margin-bottom: 30px;
//             &:after{
//                 width: 100px;
//                 margin: 15px auto 0;
//             }
//          }
//          p{
//             font-size : 17px;
//          }

//     }
//     .coming-soon-section{
//         padding-top: 35px;
//         h2{
//             font-size : 32px;
//         }
//         p{
//             font-size : 18px;
//             margin-bottom: 12px;
//         }
//         a{
//             font-size: 24px;
//             padding: 4px 25px;
//         }
//     }
// }

// @media screen and (max-width: 767px){
//     .starting-section{
//         padding-top: 92px;
        
//         h2{
//             font-size: 20px;
//             letter-spacing: 5px;
//             margin-bottom: 25px;
    
//             &::after{
//                 height: 2px;
//                 width: 100px;
//                 margin: 15px auto 0;
//             }
//         }
    
//         h1{
//             font-size: 40px;
//             margin-bottom: 30px;
//         }
//         a{
//             font-size: 16px;

//             img{
//                 margin-left: 5px;
//                 width: 25px;
//             }
            
//         }
//     }
//     .team-work{
//         padding: 50px 0 20px;    
//         h2{
//             font-size: 20px;
//             line-height: initial;
//             margin-bottom: 20px;
//         }
//         h2.process-heading{
//             margin-top: 40px;
//             &::after{
//                 height: 3px;
//                 width: 100px;
//                 margin: 10px auto 0;
//             }
//         }
//         p{
//             font-size: 14px;
//             margin-bottom: 8px;
    
//         }
//     }

//     .process-section{
  
//         .overlay{
    
//             h2{
//                 font-size: 35px;
//             }
    
//             i{
//                 font-size: 28px;
//                 margin-top: 20px;
//             }
//         }
//         .overlay-content{
//             padding: 60px;
//             h3{
//                 font-size: 28px;
//                 margin-bottom: 20px;
    
    
//                 &:after{
//                     height: 3px;
//                     width: 50px;
//                     margin: 4px auto 0;
//                 }
//             }
    
//             p{
//                 font-size : 15px;
//             }
//         }
    
//     }
//     .feature-section{
//         padding: 30px 0 50px;
    
//         h2{
//             font-size : 22px;
//             margin-bottom: 30px;   
//             &::after{
//                 height: 3px;
//                 width: 100px;
//                 margin: 10px auto 0;
//             } 
//         }
//         .col-20{
    
//             img{
//                 max-width: 50px;
//             }
//             div{
//                 font-size: 15px;
//                 margin-top: 10px;
//             }
//         }
//     }
//     .plan-section{
//         padding: 40px 0;
//          h2{
//             font-size : 26px;
//             margin-bottom: 24px;
//             &:after{
//                 height: 3px;
//                 width: 80px;
//                 margin: 12px auto 0;
//             }
//          }
//          p{
//             font-size : 15px;
//          }
//     }
//     .coming-soon-section{
//         padding-top: 30px;
//         h2{
//             font-size : 28px;
//         }
//         p{
//             font-size : 15px;
//             margin-bottom: 10px;
//         }
//         a{
//             font-size: 20px;
//             padding: 4px 20px;
//         }
//     }
// }