<section>
    <div class="starting-section">
        <div class="container">
            <div class="text-center">
                <h2>Virtual bandworks</h2>
                <h1>building the world's best teams</h1>
                <a href="home#subscription-tab">Start now <img src="../../assets/img/home-new/right-arrow.png" alt="logo"></a>
            </div>
        </div>
        
        <video id="myVideo" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="https://homevideo147852.s3.us-west-2.amazonaws.com/vrbx_header.mp4" type="video/mp4">
        </video>
        
    </div>

    <div class="team-work">
        <div class="container">
            <h2>Video Content is fast becoming a leading way teams communicate, learn and create together.</h2>

            <p>At <span class="font-700">Virtual Brandworks</span>, we are committed to building the world's best teams by helping them collaborate using a centralized video sharing platform we call Virtual Brandworks GO.</p>
            <div id="process"></div>
            <p>You’ve already got a great team- now give them the tools to be the best! 
            <span>
                Whether you are making training videos for the whole company or just filming some fun ideas for your next event, <span class="font-700">Virtual Brandworks</span> GO is your team’s space for sharing, learning and creating together.
            </span> 
            </p>

            <h2 class="process-heading">The Process</h2>
        </div>
    </div>

    <div class="process-section">
        <div class="row">
            <div class="col-lg-4 build" (mouseleave)="focuslost()">
                <div class="overlay show" (click)="setbuildClass()" [ngClass]="hideBuild">
                    <h2>Build</h2>
                    <i class="fas fa-plus" aria-hidden="true"></i>

                </div>
                <div class="overlay-content" [ngClass]="buildClass">
                    <h3>Build</h3>
                    <p>First, build your team roster. Virtual Brandworks GO is perfect for teams of all sizes. You can create teams across stores, across regions, or even within the same location. Build your dream team in just a few clicks!</p>
                </div>
            </div>
            <div class="col-lg-4 make" (mouseleave)="focuslost1()">
                <div class="overlay show" (click)="setmakeClass()" [ngClass]="hideMake">
                    <h2>Make</h2>
                    <i class="fas fa-plus" aria-hidden="true"></i>

                </div>
                <div class="overlay-content" [ngClass]="makeClass">
                    <h3>Make</h3>
                    <p>Lights Camera Action! It's as simple as recording a video on your device. Simply choose a topic for your team to collaborate on, make a short video and upload it to the platform. You can add #tags to your video to help it be searchable to your whole team.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 play" (mouseleave)="focuslost2()">
                <div class="overlay show" (click)="setplayClass()" [ngClass]="hidePlay">
                    <h2>Go</h2>
                    <i class="fas fa-plus" aria-hidden="true"></i>

                </div>
                <div class="overlay-content" [ngClass]="playClass">
                    <h3>Go</h3>
                    <p>Once a video topic is uploaded, challenge your team to create their own. Watch as your team shares valuable content, filling up your library with new ideas, trusted techniques and valuable learning.</p>
                </div>
            </div>
        </div>
    </div>

    

    <div class="feature-section">
        <div id="features"></div>
        <div class="container">
            <h2>features</h2>
            <div class="row justify-content-center">
                <div class="col-20 col-sm-4">
                    <img src="/assets/img/home-new/icon1.png" alt="icon1">
                    <div>Short Form Videos</div>
                </div>
                <div class="col-20 col-sm-4">
                    <img src="/assets/img/home-new/icon2.png" alt="icon1">
                    <div>Searchable Topics</div>
                </div>
                <div class="col-20 col-sm-4">
                    <img src="/assets/img/home-new/icon3.png" alt="icon1">
                    <div>Gamification and Prizes</div>
                </div>
                <div class="col-20 col-sm-4">
                    <img src="/assets/img/home-new/icon4.png" alt="icon1">
                    <div>Broadcast Feature</div>
                </div>
                <div class="col-20 col-sm-4">
                    <img src="/assets/img/home-new/icon5.png" alt="icon1">
                    <div>New Way To Train Staff</div>
                </div>
            </div>
        </div>
    </div>

    <div class="plan-section" id="subscription-tab">
        <div class="container">
            <h2>A PLAN FOR EVERY SIZE TEAM</h2>
            <p>Get creative and have fun with Virtual Brandworks Go. A collaborative space to create together, VRBX Go is an easy way to train your employees, keep everyone excited and build a stronger team. Get in touch today for a no stress conversation about how adding Virtual Brandworks Go could be the right move to you and your team.</p>

            <app-plans-new></app-plans-new>
        </div>
    </div>
    <div class="coming-soon-section">
        <div class="container">
            <h2>COMING SOON! </h2>
            <p>Virtual Brandworks is excited to announce Virtual Brandworks LEARN (Arriving Spring 2022). </p>
            <p class="maxWidth-1369">Virtual Brandworks LEARN delivers an entirely new team training experience. With many of the features used in Virtual Brandworks Go, users can also send video libraries to their team rosters as well as featured content by thought leaders in their industry. Better teams, happier customers, more wins for everyone!</p>            
            <p>Want to know more?</p>
            <p class="btnContact" (click)="contactus()">stay in the know</p>
        </div>
        <img src="/assets/img/home-new/ToolsCoffeeFlowers-min.jpg" alt="ToolsCoffeeFlowers" class="w-100 btmImage">
    </div>
   
</section>