<!-- payment page -->
<div class="bgCover">
  <div class="mainWrap mobileSmall">
    <h3>Sign up</h3>
    <div class="frmBox">
      <h3>Plan Details</h3>
      
      <table class="paymentTable">
        <tr>
          <td *ngIf="planData.PlanType == 1"><strong> <sup>$</sup> {{ planData.Price/12 }}</strong> <strong
              class="space">x</strong> <strong>12 <sub>Months</sub></strong>
          </td>
          <td *ngIf="planData.PlanType == 2"><strong> <sup>$</sup> {{ planData.Price }}</strong> <strong
              class="space">x</strong> <strong>1 <sub>Month</sub></strong>
          </td>
          <td><strong> <sup>$</sup> {{ planData.Price }}</strong></td>
        </tr>

        <tr>
          <td>Total</td>
          <td>Amount payable <strong class="grnTxt"><sup>$</sup>{{ planData.Price }}</strong></td>
        </tr>
      </table>

      <div class="row">
        <div class="col-sm-7">
          <button type="button" class="btn btn-primary" (click)="createCheckoutSession()">Pay</button>
          <p class="itlBold">For payment you will be landed to our payment gateway page.</p>
        </div>
        <div class="col-sm-5 text-right">
          <span class="itlBold">Powered by</span> <img src="../assets/img/dummy-logo.png">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- payment page -->