﻿@model VirtualBrandWork.Entity.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <p class="sprtr">Or Login with</p>
        <div class="d-flex socialLogin justify-content-between">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block"  name="provider" value="Facebook">
                <span>Facebook</span>
                <i class="f-facebook"></i>
            </button>

            <button type="submit" class="btn btn-outline-danger btn-lg btn-block" name="provider" value="Google">
                <span>Google</span>
                <i class="f-google"></i>
            </button>
        </div>

        @*<div id="socialLoginList">
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                }
            </p>
        </div>*@
    }
}
