﻿@model VirtualBrandWork.Entity.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal customMinFrm", role = "form" }))
{
    @Html.AntiForgeryToken()
    if (TempData["PasswordChanged"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["PasswordChanged"]
        </div>
    }
    if (TempData["Failed"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["Failed"]</div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Change Password" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
