﻿@model VirtualBrandWork.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_AdminTrainerLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}
@{
    Html.EnableClientValidation(true);
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="bgCover">
        <div class="mainWrap fPassWrp">
            <h3>Forgot Password?</h3>
            <div class="frmBox forgetPass">

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                         @ViewBag.Error
                    </div>
                }
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success" role="alert">
                         @ViewBag.Success
                    </div>
                }
                <h4>Please enter your email</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="wrap">
                            @Html.TextBoxFor(m => m.EmailId, new { @class = "control" })
                            <span class="floating-label">Email<small>*</small></span>
                            @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Send Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}