﻿@model LoginViewModel
@using VirtualBrandWork.Models
@using VirtualBrandWork.Entity.ViewModels
@{
    Html.EnableClientValidation(true);
}
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
@ViewBag.Message

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/media.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/PreLoader.css" rel="stylesheet" />

    <title>Welcome to Virtual brandworks!</title>
</head>
<body>
   
        @Html.AntiForgeryToken()
    <!-- Login page -->
    <div class="backstretch"></div>
        <div class="loginCover">
            <div class="loginWrap">
                <div class="whiteBg">
                    <img src="~/Images/logo_vbx_big.png" alt="logo">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @id = "loginFormId" }))
{
                    <div class="inputCol">
                        <div class="wrap">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["Success"]
                                </div>
                            }
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["Error"]
                                </div>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                        </div>
                        <div class="wrap">
                            @Html.TextBoxFor(m => m.Email, new { @class = "control", @id = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <span class="floating-label">User Name</span>
                        </div>
                        <div class="wrap">
                            @Html.PasswordFor(m => m.Password, new { @class = "control", @id = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="floating-label">Password</span>
                        </div>
                    </div>

                    <div class="d-flex  justify-content-between checkCol">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input", @id = "customCheck1" })
                            <label class="custom-control-label" for="customCheck1">Remember Me</label>
                        </div>
                        <p>
                            @Html.ActionLink("Forgot Password?", "ForgotPassword")
                        </p>
                    </div>
                    <button type="submit" class="btn btn-grn btn-lg btn-block" id="btnLogin">
                        <span>Enter</span>
                        <i class="fa fa-angle-right"></i>
                    </button>
                    }
                    @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                    @*<p class="sprtr">Or Login with</p>
                    <div class="d-flex socialLogin justify-content-between">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                            <span>Facebook</span>
                            <i class="f-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-outline-danger btn-lg btn-block">
                            <span>Google</span>
                            <i class="f-google"></i>
                        </button>
                    </div>*@

                    @*<div class="d-flex socialLogin text-col justify-content-between">
                        <div>
                            <p>Need Help?</p>
                            <a href="mailto:helpme@virtualbrandworks.com">helpme@virtualbrandworks.com</a>
                        </div>

                        <div>
                            <p>Don't have an account</p>
                            <a href="@Url.Action("SignUp","Account")">Sign Up</a>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    <div class="footer">
        <p>&copy;Virtualbrandworks.com</p>
        <p>
            <a href="@Url.Action("TermsAndConditions","Home")">Terms and Conditions</a>
            <a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a>
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
      $.backstretch([
          "../Images/bg1.jpg", "../Images/bg2.jpg", "../Images/bg4.jpg"], {
          duration: 3000,
          fade: 750
      });
    </script>
</body>
</html>