﻿@model VirtualBrandWork.Entity.ViewModels.SignUpViewModel
@using VirtualBrandWork.Entity.ViewModels
@{
    Layout = null;
    Html.EnableClientValidation(true);
    string activeClass = string.Empty;
    string plnsId = string.Empty;
    string planType = Model.SelectedSubscription.PlanType == (int)VirtualBrandWork.Entity.Constants.PlanType.Monthly ? "Month" : "Year";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/media.css">

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/script.js"></script>

    <title>Welcome to Virtual Brand Works!</title>
    <style type="text/css">
        #spnChangePlan {
            cursor: pointer !important;
        }
    </style>
    <script>
        function SetClass(senderId, id, planName, sppId, ptype) {
            jQuery('.planWrap div').removeClass('active');
            $("#" + senderId).addClass('active');
            $("#hdnSelectedPlan").val(id);
            $("#lblPlanMsg").text("");
            $("#tdNewPlan").text(planName);
            $("#hdnSelectedPlanPrice").val(senderId);
            $("#hdnSubscriptionPlanPriceId").val(sppId);
            $("#hdnSelectedPlanType").val(ptype);
        }

        function ShowPlan(Pid) {

            $("#tdNewPlan").text("");

            var ckbox = $('.planToggle input');
            if (@Model.SelectedSubscription.PlanType == 1) {
                if (!ckbox.is(':checked')) {
                    ckbox.checked = true;
                    ckbox.click();
                }
            }else if (ckbox.is(':checked')) {
                ckbox.checked = true;
                ckbox.click();
            }

            jQuery('.planWrap div').removeClass('active');
            $("#" + Pid).addClass('active');
        }

        var isValid = true;
        ////////////
        $(document).ready(() => {

            $("#btnSubmit").click((event) => {
                //stop submit the form, we will post it manually.
                //event.preventDefault();
                $("#companyValidation").text("");
                $("#emailValidation").text("");
                isValid = true;
                ///chech compnay and email ID must be unique
                if ($("#CompanyName").val() != "" || $("#Email").val() != "") {
                    ValidateUserEmailAndCompanyName();
                    if (!isValid)
                        window.scrollTo(0, 0);
                    return isValid;
                }
                else return true;

            });
        });

        ////Verify user email and company name is unique or not
        function ValidateUserEmailAndCompanyName() {
            $.ajax({
                url: "../Account/ValidateUserEmailAndCompanyName",
                data: { companyName: $("#CompanyName").val(), email: $("#Email").val() },
                type: 'POST',
                async: false,
                success:
                 function (data) {
                     $.each(data, function (index, itemData) {
                         if (itemData.ColumnName == "Company") {
                             $("#companyValidation").text(itemData.ColumnValue);
                             isValid = false;
                         } else if (itemData.ColumnName == "Email") {
                             $("#emailValidation").text(itemData.ColumnValue);
                             isValid = false;
                         }
                     });
                     return isValid;
                 }
            });
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("PaymentConfirmation", "Payment", FormMethod.Post, new { @id = "signUpForm" }))
    {
    <!-- Header -->
        <div class="headerWrap beforeLogin minSize">
            <div class="header d-flex justify-content-between align-items-center">

                <div class="logo">
                    <a href="@Url.Action("Index", "Home")"> <img src="~/Images/logo-sml.png" alt="logo"></a>
                </div>

                <!--         <div class="navBeforLogin">
                          <ul>
                            <li><a href="">Overview</a></li>
                            <li><a href="">Subscription Plan</a></li>
                            <li><a href="">Write to us</a></li>
                          </ul>
                        </div> -->

                <div class="rightHead">
                    <div class="dropdown">
                        <button class="btn" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Header -->
    <!-- Signup page -->
        <div class="bgCover">
            <div class="mainWrap">
                <h3>Sign up</h3>
                <div class="frmBox">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.LabelFor(Model => Model.SelectedRole.RoleId, Model.SelectedRole.Name, new { @class = "control" })
                                @Html.HiddenFor(Model => Model.SelectedRole.RoleId)
                                @Html.HiddenFor(Model => Model.SelectedRole.Name)
                                <span class="floating-label">User Type</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "control" })
                                <span class="floating-label">Company Name <small>*</small></span>
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger", @id = "companyValidation" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.DropDownListFor(Model => Model.SelectedCategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), "Select",
              new { @class = "control custom-select", @id = "ddlCategory" })
                                <span class="floating-label">Industry <small>*</small></span>
                                @Html.ValidationMessageFor(model => model.SelectedCategoryId, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "control" })
                                <span class="floating-label">First Name <small>*</small></span>
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "control" })
                                <span class="floating-label">Last Name <small>*</small></span>
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.Email, new
                           {
                               @class = "control"
                           })
                                <span class="floating-label">Email<small>*</small></span>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "emailValidation" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "control", @maxlength = "15" })
                                <span class="floating-label">Phone No. <small>*</small></span>
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.Password, new { @class = "control", @type = "Password" })
                                <span class="floating-label">Password<small>*</small></span>
                                @Html.ValidationMessageFor(model => model.Password, "", new { value = Model.Password, @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "control", @type = "Password" })
                                <span class="floating-label">Confirm Password<small>*</small></span>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { value = Model.ConfirmPassword, @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.AddressOne, new { @class = "control" })
                                <span class="floating-label">Address 1</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.AddressTwo, new { @class = "control" })
                                <span class="floating-label">Address 2</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">

                                @Html.DropDownListFor(Model => Model.SelectedCountryId, new SelectList(Model.Countries, "ID", "Name"), "Select",
new { @class = "control custom-select", @id = "ddlCountries" })
                                @Html.ValidationMessageFor(model => model.SelectedCountryId, "", new { @class = "text-danger" })
                                <span class="floating-label">Country</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">

                                @Html.DropDownListFor(Model => Model.SelectedStateId, new SelectList(Model.States == null ? new List<StateViewModel>() : Model.States, "ID", "Name"), "Select",
new { @class = "control custom-select", @id = "ddlStates" })
                                @Html.ValidationMessageFor(model => model.SelectedStateId, "", new { @class = "text-danger" })
                                <span class="floating-label">State</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap">

                                @Html.DropDownListFor(Model => Model.SelectedCityId, new SelectList(Model.Cities == null ? new List<CityViewModel>() : Model.Cities, "ID", "Name"), "Select",
new { @class = "control custom-select", @id = "ddlCities" })
                                @Html.ValidationMessageFor(model => model.SelectedCityId, "", new { @class = "text-danger" })
                                <span class="floating-label">City</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wrap">
                                @Html.TextBoxFor(m => m.ZipCode, new { @class = "control" })
                                <span class="floating-label">Zip/ Postal Code</span>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.SelectedPlan, new { @id = "hdnSelectedPlan" })
                    @Html.HiddenFor(m => m.SelectedPlanPrice, new { @id = "hdnSelectedPlanPrice" })
                    @Html.HiddenFor(m => m.SubscriptionPlanPriceId, new { @id = "hdnSubscriptionPlanPriceId" })
                    @Html.HiddenFor(m => m.SelectedPlanType, new { @id = "hdnSelectedPlanType" })

                    <h3>Your selected plan. <span id="spnChangePlan" onclick="ShowPlan('@Model.SelectedPlanPrice');" data-toggle="modal" data-target="#changePlan">Change Plan</span></h3>


                    <div class="planWrap planNewWrap">
                        <div class="plns acitve">
                            <h2>@Model.SelectedSubscription.PlanName</h2>
                            <p class="users">up to @Model.SelectedSubscription.NumberOfUsers users</p>
                            <div class="price">
                                <span>$</span> <strong>@Model.SelectedSubscription.Price</strong> <p>/ Per @planType</p>
                            </div>
                        </div>
                    </div>


                    <div class="form-check pl">
                        <span>*</span>Mandatory fields
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <button id="btnSubmit" type="submit" class="btn btn-primary">Continue</button>
                        </div>
                        <div class="col-sm-6 text-right">
                            Already member? <a href="@Url.Action("Login", "Account")">Login</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    <!-- Sigup page -->
    <!-- footer? -->

        <div class="footer">
            <p>&copy;Virtualbrandworks.com</p>
            <p>
                <a href="@Url.Action("TermsAndConditions", "Home")">Terms and Conditions</a>
                <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>
            </p>
        </div>
    <!-- footer? -->
    <!-- Plan Change Modal -->
        <div class="modal fade" id="changePlan">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="closeBtn"></span>
                        </button>
                    </div>
                    <div class="modal-body no-vp">
                        <div class="planToggle bgBlue">
                            <h4 class="">Monthly</h4>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                            <h5 class="opc1">Yearly (Save 10%)</h5>
                        </div>

                        <div class="planWrap planNewWrap">
                            @for (int index = 0; index < Model.Subscriptions.Count; index++)
                            {
                                if (Model.Subscriptions[index].Status == true)
                                {
                                    plnsId = Model.Subscriptions[index].PlanId;
                                    if (plnsId == Model.SelectedPlanPrice)
                                    {
                                        activeClass = "active";
                                    }
                                    else
                                    {
                                        activeClass = "";
                                    }
                                    if (Model.Subscriptions[index].PlanType == (int)VirtualBrandWork.Entity.Constants.PlanType.Monthly)
                                    {
                                        <div class="plns monthly @activeClass" id="@plnsId" onclick="SetClass('@Model.Subscriptions[index].PlanId', '@Model.Subscriptions[index].SubscriptionId', '@Model.Subscriptions[index].PlanName',@Model.Subscriptions[index].SubscriptionPlanPriceId, @Model.Subscriptions[index].PlanType)">
                                            <h2>@Model.Subscriptions[index].PlanName</h2>
                                            <p class="users">up to @Model.Subscriptions[index].NumberOfUsers users</p>
                                            <div class="price">
                                                <span>$</span> <strong>@Model.Subscriptions[index].Price</strong> <p>/ Per Month</p>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.Subscriptions[index].PlanType == (int)VirtualBrandWork.Entity.Constants.PlanType.Yearly)
                                    {
                                        <div class="plns yearly @activeClass" id="@plnsId" onclick="SetClass('@Model.Subscriptions[index].PlanId', '@Model.Subscriptions[index].SubscriptionId', '@Model.Subscriptions[index].PlanName',@Model.Subscriptions[index].SubscriptionPlanPriceId, @Model.Subscriptions[index].PlanType)">
                                            <h2>@Model.Subscriptions[index].PlanName</h2>
                                            <p class="users">up to @Model.Subscriptions[index].NumberOfUsers users</p>
                                            <div class="price">
                                                <span>$</span> <strong>@Model.Subscriptions[index].Price</strong> <p>/ Per Year</p>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>


                        <table class="planStatus" cellspacing="50">
                            <tr>
                                <th width="30%">Your Current Plan</th>
                                <th>Plan you are looking for</th>
                            </tr>
                            <tr>
                                <td>@Model.SelectedSubscription.PlanName</td>
                                <td id="tdNewPlan"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" formaction="@Url.Action("SignUpConfirmation")" formmethod="post" class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /Plan Change Modal -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</body>

</html>




<script type="text/javascript">
    $("#ddlCountries").change(function () {
        var id = $(this).val();
        $.getJSON("../Account/GetStatesByCountryId", { countryId: id },
               function (data) {
                   var select = $("#ddlStates");
                   select.empty();
                   select.append($('<option/>', {
                       value: "",
                       text: "Select"
                   }));
                   $.each(data, function (index, itemData) {
                       select.append($('<option/>', {
                           value: itemData.ID,
                           text: itemData.Name
                       }));
                   });
               });
    });

    $("#ddlStates").change(function () {
        var id = $(this).val();
        $.getJSON("../Account/GetCitiesByStateId", { stateId: id },
               function (data) {
                   var select = $("#ddlCities");
                   select.empty();
                   select.append($('<option/>', {
                       value: "",
                       text: "Select"
                   }));
                   $.each(data, function (index, itemData) {
                       select.append($('<option/>', {
                           value: itemData.ID,
                           text: itemData.Name
                       }));
                   });
               });
    });
</script>