﻿@model VirtualBrandWork.Entity.ViewModels.MasterFolderViewModel
@using VirtualBrandWork.Entity.ViewModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #div-error {
        display: none;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        // $("#ddlCategory").on("change", validateForm);
        $("#ddlCategory").on("change", SetValues);
        $("#txtNameText").on("keyup", validateCategoryAdd);

        $("#ddlCategory").change(function () {
            var ids = $(this).val();
            var n = ids.includes("999");
            $(".select2-search__field").val("");

            $("#CreateCategory").hide();
            if (n) {
                $("#txtNameText").val("");
                $("#txtDescriptionText").val("");
                $("#CreateCategory").toggle();

                if ($("#SelectedCategoryIds").val() == "") {
                    $("#ddlCategory").val("0");
                } else
                    $('#ddlCategory').val($("#SelectedCategoryIds").val().split(','));
            }
        });

        $("#btnAdd").click(function () {
            if (!validateCategoryAdd()) return false;

            var category = {};
            category.CategoryName = $("#txtNameText").val();
            category.Description = $("#txtDescriptionText").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateCategory", "MasterContent")',
                data: JSON.stringify(category),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Status == true) {
                        var select = $("#ddlCategory");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select Category"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.CategoryId,
                                text: itemData.CategoryName
                            }));
                        });

                        var selectedArray = $("#SelectedCategoryIds").val().split(',');

                        $('#ddlCategory option').map(function () {
                            if ($(this).text() == $("#txtNameText").val())
                                selectedArray.push($(this).val());
                            //return this;
                        });//.attr('selected', 'selected');
                        $('#ddlCategory').val(selectedArray).trigger("change");
                        $("#txtNameText").val("");
                        $("#txtDescriptionText").val("");
                        $("#CreateCategory").hide();
                    }
                    else {
                        document.getElementById("div-error").style.display = 'block';
                        $("#div-error").text(data.Message);
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        });

        $("#btnCancelCategory").click(function () {
            $("#txtNameText").val("");
            $("#txtDescriptionText").val("");
            $("#txtNameText-error").text("");
            $("#ddlCategory").val($("#ddlCategory option:first").val());
            $("#CreateCategory").hide();
        });

        function validateCategoryAdd() {
            if (!($("#ddlCategory").val() == "" && $("#ddlCategory").val() == "0")) {
                if ($("#txtNameText").val() == "") {
                    $("#txtNameText-error").text("The Industry name cannot be blank");
                    return false;
                }
                else {
                    $("#txtNameText-error").text("");
                }
            }
            return true;
        }
        function validateForm() {

            //category
            var reg = /^[a-zA-Z]{2}$/i;
            let valid = true;
            if ($("#ddlCategory").val() == "" || $("#ddlCategory").val() == "0") {
                $("#ddlCategory-error").text("The Industry cannot be blank");
                valid = false;
            }
            else {
                $("#ddlCategory-error").text("");
            }

            if ($("#Name").val() == "") {
                $("#Name-error").text("Folder Name cannot be blank");
                valid = false;
            }
            else if ($("#Name").val().length > 30) {
                $("#Name-error").text("The field Folder Name must be a string with a maximum length of 30.");
                isValid = false;
            }
            else {
                $("#Name-error").text("");
            }

            //folder
            if ($("#ShortName").val() == "") {
                $("#ShortName-error").text("Folder Short Name cannot be blank");
                valid = false;
            }
            else if (reg.test($("#ShortName").val()) == false) {
                $("#ShortName-error").text("Must be 2 characters long");
                valid = false;
            }
            else {
                $("#ShortName-error").text("");
            }

            return valid;
        }

        function validateFormForOther() {
            if (($("#ddlCategory").val() == "999")) {
                $("#ddlCategory-error").text("The Industry cannot be blank");
                return false;
            }
            else {
                $("#ddlCategory-error").text("");
            }
            return true;
        }

        var isValid = false;
        $(document).ready(() => {
            document.getElementById("div-error").style.display = 'none';
            $("#btnSave").click((event) => {
                //stop submit the form, we will post it manually.
                event.preventDefault();

                if (validateForm() && validateFormForOther()) {
                    validateFolderName();
                    if (isValid)
                        SaveForm();
                } else return false;
            });
        });

        $(document).on("keypress", 'form', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });

        function validateFolderName() {
            $.ajax({
                url: "@Url.Action("ValidateFolderName", "MasterFolder")",
                data: { Name: $("#Name").val(), ShortName: $("#ShortName").val(), SelectedCategoryIds: $("#SelectedCategoryIds").val(), MasterFolderId: $("#MasterFolderId").val() },
                type: 'POST',
                async: false,
                success:
                 function (data) {
                     if (data != null) {
                         isValid = data.Status;
                         if (!data.Status) {
                             document.getElementById("div-error").style.display = 'block';
                             $("#div-error").text(data.Message);
                         } else {
                             document.getElementById("div-error").style.display = 'none';
                             isValid = true;
                         }
                     }
                     return isValid;
                 }
            });
        }

        function SaveForm() {
            var data = $('#editfolderform').serializeArray();
            document.getElementById("loader-wrapper").style.display = "block";
            $.ajax({
                type: "POST",
                url: "@Url.Action("Edit", "MasterFolder")",
                data: data,
                datatype: 'json',
                success: function (result) {
                    if (result) {
                        window.location.href = "@Url.Action("Index", "MasterFolder")";
                    }
                    document.getElementById("loader-wrapper").style.display = "none";
                }
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }


        $('#ddlCategory').select2({
        });

        $('#ddlCategory').val($("#SelectedCategoryIds").val().split(',')).trigger("change");
    });

    function SetValues() {
        if (!$("#ddlCategory").val().includes("999"))
            $("#SelectedCategoryIds").val($("#ddlCategory").val());
    }
</script>

<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Folder</h4>
    </div>
</div>
<div class="alert alert-danger" role="alert" id="div-error">
</div>
@using (Ajax.BeginForm("Edit", "MasterFolder", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @id = "editfolderform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal customMinFrm">
        @Html.HiddenFor(Model => Model.MasterFolderId)
        @Html.HiddenFor(Model => Model.SelectedCategoryIds)
        @Html.HiddenFor(model => model.MasterFolderId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validateForm();" } })
                <span class="text-danger field-validation-error" data-valmsg-for="Name" data-valmsg-replace="true"><span id="Name-error" class=""></span></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validateForm();" } })
                <span class="text-danger field-validation-error" data-valmsg-for="ShortName" data-valmsg-replace="true"><span id="ShortName-error" class=""></span></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(Model => Model.CategoryId, Model.Categories == null ? new List<SelectListItem>() : Model.Categories, "Select Industry",
          new { @class = "form-control", @id = "ddlCategory", @onchange = "validateForm();", @multiple = true })
                <span class="text-danger field-validation-error" data-valmsg-for="ddlCategory" data-valmsg-replace="true"><span id="ddlCategory-error" class=""></span></span>
            </div>
        </div>
        <div class="form-group" id="CreateCategory" style="display:none">
            @Html.Label("Add New Industry", htmlAttributes: new { @class = "control-label" })
            <div>
                <div class="form-group">
                    <label for="name" class="sr-only"></label>
                    <input id="txtNameText" class="form-control input-group-lg reg_name" type="text" name="categorytname"
                           title="Industry name"
                           placeholder="Industry name" onkeyup="validateCategoryAdd();" />
                    <span class="text-danger field-validation-error" data-valmsg-for="txtNameText" data-valmsg-replace="true"><span id="txtNameText-error" class=""></span></span>

                </div>
                <div class="form-group"></div>
                <div class="form-group">
                    <label for="description" class="sr-only"></label>
                    <textarea maxlength="200" id="txtDescriptionText" class="form-control input-group-lg reg_name" type="text" name="description"
                              title="Description"
                              placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" id="btnAdd" value="Add" class="btn btn-primary" />
                    <input type="button" id="btnCancelCategory" value="Cancel" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input id="btnSave" type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

