<ul ngbNav #nav="ngbNav" class="nav-tabs vrplay" (navChange)="onNavChange($event)">
    <!-- <span class="closeBtn"></span> -->
    <li [ngbNavItem]="1">
        <a ngbNavLink>Prize Store</a>
        <ng-template ngbNavContent>
            <app-prize-list></app-prize-list>
        </ng-template>
    </li>
    <li [ngbNavItem]="2" *ngIf="userRole != 'User'">
        <a ngbNavLink>My Created Prize</a>
        <ng-template ngbNavContent>
            <app-prize-list></app-prize-list>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="tabSection minMrin"></div>