<div class="footer">
  <p>&copy;Virtualbrandworks.com</p>
  <a href="mailto:Hello@vrbx.com"><i class="fas fa-envelope"></i> Hello@vrbx.com</a>
  <p><i class="fas fa-map-marker-alt"></i> 608 Water Street Baltimore Maryland 21202</p> 
  <p>
    <a routerLink="/tnc" target="_blank">Terms and Conditions</a>
    <a routerLink="/privacypolicy" target="_blank">Privacy Policy</a>
  </p>
</div>