.footer{
    background: #fff;
    padding: 15px 20px;
    // position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    p{
        margin: 0;
        font-size: 14px;
        a{
            color: #444;
            display: inline-block;
            padding-left: 10px;
        }
    }
}

@media all and (max-width:680px){
    .footer {
        position: initial;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 426px){
    .footer p a:last-child:before {
        position: inherit;
    }
}