<div class="tabUser tab-pane fade  show active">
    <!-- Associated User -->
    <div class="userCol">
      <div class="tableRadioBtn">
        <div class="custom-control custom-radio custom-control-inline" *ngFor="let checkboxOption of userTeamOption">
          <input type="radio" id="{{checkboxOption.id}}" name="{{checkboxOption.id}}" class="custom-control-input" [value]=checkboxOption.value (change)="getSelectedCheckboxValue($event)" [(ngModel)]="checkedValue">
          <label class="custom-control-label" for="{{checkboxOption.id}}">{{checkboxOption.title}}</label>
        </div>
      </div>

      <div class="form-inline">
        <input #searchTeamUser class="form-control cust-field w320" type="search" placeholder="Search" aria-label="Search" [ngModel]="searchKey">
      </div>
    </div>


    <div class="tableWrapBorder">
      <table>
        <tr *ngIf="checkedValue == 'user'">
          <th>#</th>
          <th (click)="sort('')">Name <span><i class="up"></i><i class="down"></i></span></th>
          <th (click)="sort('TeamName')">Team Name <span><i class="up"></i><i class="down"></i></span></th>
          <!-- <th (click)="sort('AssociatedPlaylist')">Associated Playlist <span><i class="up"></i><i class="down"></i></span></th> -->
          <th (click)="sort('Status')">Status <span><i class="up"></i><i class="down"></i></span></th>
        </tr>
        <tr *ngIf="checkedValue == 'team'">
          <th>#</th>
          <th>Team Name</th>
          <th>Created on</th>
          <th (click)="sort('NumberOfUsers')">No of Users <span><i class="up"></i><i class="down"></i></span></th>
          <th (click)="sort('Status')">Status <span><i class="up"></i><i class="down"></i></span></th>
        </tr>
        <tr *ngFor="let userList of userListData; let i = index">
          <td>{{i+1}}</td>
          <td *ngIf="checkedValue == 'user'">{{userList.FirstName}} {{userList.LastName}}</td>
          <td *ngIf="checkedValue == 'user'">{{userList.TeamName}}</td>
          <!-- <td *ngIf="checkedValue == 'user'">{{userList.AssociatedPlaylist.join(', ')}}</td> -->

          <td *ngIf="checkedValue == 'team'">{{userList.Name}}</td>
          <td *ngIf="checkedValue == 'team'">{{userList.CreatedDate | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="checkedValue == 'team'">{{userList.NumberOfUsers}}</td>
          
          <td>{{userList.Status == true ? 'Active' : 'Inactive'}}</td>
        </tr>
      </table>
    </div>
    <div class="teamWrapper" *ngIf="!isResult">
      <p>No {{checkedValue == 'user' ? 'users' : 'teams'}} found</p>
    </div>
    <!-- Associated User -->
  </div>