<label for="inputAddress2"><strong>Tags</strong></label>
<div class="modalTag">
    <ul class="cf">
        <li *ngFor="let selectedTag of selectedTags;"><span>{{ selectedTag.Name }}</span> <span (click)="removeTag(selectedTag.TagId)"> x</span></li>
    </ul>
    <input #searchTag type="text" name="" class="form-control" placeholder="Add Tags" >
    <ul class="list-group custom-list" [ngClass]="routes ? 'teamRoute' : 'nonTeamRoute'" *ngIf="tags?.length > 0">
        <li class="list-group-item change-cursor" *ngFor="let tag of tags; let i = index;" (click)="pushTags(i)">
            {{ tag.Name }}
        </li>
    </ul>
</div>