.mainWrapper{  font-family: 'Noto Sans', sans-serif;}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  @-webkit-keyframes blinker {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes blinker {
    0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
  }

  .p-top {
    padding-top: 175px;
  }

  .largeFontSize {
    font-size: x-large;
  }

  .comingSoon{
    font-size: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    color: #b31322;    
  }
  @media (max-width: 600px) {
   .comingSoon{
      font-size: 30px;
    }
  }