<app-header></app-header>
<div class="mainWrapper">
	<app-sidemenu class="leftContent"></app-sidemenu>
	<div class="rightContent p-top" [ngClass]="{'mainMaxWidth': toggleRightSide}">
		<!-- <router-outlet></router-outlet> -->
		<div  class="comingSoon">
			Coming Soon
		</div>
	</div>
</div>