<div class="modal-header" *ngIf="quizData">
    <h5 class="modal-title">{{ quizData.QuizName }}</h5>
    <div class="flxBox">
        
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true" class="closeBtn"></span>
        </button>
    </div>
</div>
<div class="modal-body resultBody" *ngIf="quizData">
    <div *ngFor="let data of quizData.QuestionAnswers; let i = index;">
        <div class="insideBody">
            <h5>Q{{ i+1 }}. {{ data.Question.Question }}</h5>
            <div>
                <span (click)="updateQuestion(i)" *ngIf="folderType != 'master' || isTurnedOffExistingQuiz" class="minBtn">Edit</span>
                <span (click)="deleteQuestion(i)" *ngIf="folderType != 'master' || isTurnedOffExistingQuiz" class="minBtn  ml-1">Delete</span>
            </div>
        </div>

        <div *ngFor="let answer of data.Answers"  class="showQues">
            <div class="custom-control custom-radio custom-control-inline true">
                <label class="custom-control-label" for="customRadioInline1">{{ answer.Answer }}</label>
                <span [ngClass]="{'grnCheck': answer.IsRightAnswer}"></span>
            </div>
        </div>
    </div>  
</div>
<div class="modal-footer" *ngIf="quizData">
    <button class="btn btn-primary" (click)="openAddQuestions()" *ngIf="folderType != 'master' || isTurnedOffExistingQuiz">Add Questions</button>
    <button class="btn btn-primary" (click)="deleteQuiz()" *ngIf="folderType != 'master' || isTurnedOffExistingQuiz">Delete</button>
</div>
