<div class="userCol">
  <div class="tableRadioBtn">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1w" name="customRadioInline1w1" class="custom-control-input" value='team' [checked]="true" (change)="onItemChange($event.target.value)">
      <label class="custom-control-label" for="customRadioInline1w">Team</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2w" name="customRadioInline1w1" class="custom-control-input" value='user' (change)="onItemChange($event.target.value)">
      <label class="custom-control-label" for="customRadioInline2w">User</label>
    </div>
  </div>


</div>

<div class="teamWrapper">
  <div class="teamName" *ngIf="isTeam">
    <ul *ngIf="teams && teams?.length > 0 ">
      <li [ngClass]="{'active':selectedIndex == i}" (click)="getTeamData(i)" *ngFor="let team of teams; let i = index;">
        {{i+1}}. {{team.Name}}</li>
    </ul>
  </div>
  <div [ngClass]="{'teamBorder':!isTeam}" class="teamDetailsBox">
    <div class="teamData">
      <ul>
        <li *ngIf="isTeam">
          <p>Team Name</p>
          <h2>{{myPlaylistAssociatedUsersTeams?.TeamName}}</h2>
        </li>
        <li>
          <p>Users</p>
          <h2>{{myPlaylistAssociatedUsersTeams?.NumnberOfUsers}}</h2>
        </li>
        <li *ngIf="isTeam">
          <p>Associated Trainer</p>
          <h2>{{myPlaylistAssociatedUsersTeams?.TrainerFirstName}} {{myPlaylistAssociatedUsersTeams?.TrainerLastName}}
          </h2>
        </li>
      </ul>

    </div>
    <div class="tableWrapBorder">
      <table>
        <tbody *ngIf="myPlaylistAssociatedUsersTeams">
          <tr>
            <th width="5%">#</th>
            <th width="16%">User</th>
            <th width="16%">Completed</th>
            <th width="8%" *ngFor="let folderName of folderNames;let i=index;">
                {{folderName.ShortName}}
            </th>
            <!-- <th width="8%">HR</th>
              <th width="8%">SO</th>
              <th width="8%">BH</th>
              <th width="8%">IG</th>
              <th width="8%">HR</th> -->
            <th width="15%" (click)="sort()">Total Score <span><i class="up"></i><i class="down"></i></span></th>
          </tr>

          <tr *ngFor="let users of myPlaylistAssociatedUsersTeams.PlaylistUsers; let i = index;">
            <td>{{ i+1 }}.</td>
            <td (click)="viewResult(users.UserId)">
              <img [src]="users.ProfilePicture"
                alt="user profile" class="avatar">
              {{ users.FirstName }} {{ users.LastName }}
            </td>
            <td>{{users.CompletedPercentage}} %</td>
            <td *ngFor="let result of users.FolderResult;">{{result.MarksObtained || '-'}}</td>
            <!-- <td>96</td>
            <td>96</td>
            <td>96</td>
            <td>96</td>
            <td>96</td> -->
            <td>{{ users.TotalScore }}</td>
          </tr> 
        </tbody>
      </table>
      <div style="text-align: center;" *ngIf="!myPlaylistAssociatedUsersTeams">
        No Team is associated to playlist.
      </div>
    </div>
  </div>
</div>