<div class="planToggle bgBlue">
  <h4 [ngClass]="{'opc1': togglePlanTypeClass}">Monthly</h4>
  <label class="switch">
    <input type="checkbox" (change)="changePlanType($event.target.checked ? true : false)">
    <span class="slider"></span>
  </label>
  <h5 [ngClass]="{'opc1': !togglePlanTypeClass}">Yearly (Save 10%)</h5>
</div>
<div class="planWrap planNewWrap">
  <div class="plns" [ngClass]="{'active': selectedPlan.PlanId == plan.PlanId}" *ngFor="let plan of plans;" (click)="selectPlan(plan)">
    <h2>{{ plan.PlanName }}</h2>
    <p class="users">up to {{ plan.NumberOfUsers }} users</p>
    <div class="price showF">
      <span>$</span> <strong>{{ plan.Price }}</strong>
      <p *ngIf="plan.PlanType == 2">/ Per Month</p>
      <p *ngIf="plan.PlanType == 1">/ Yearly</p>
    </div>
  </div>
</div>