<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 class="red">Are you sure you want to cancel the plan</h3>
    <p class="txt">Cancellation will be at the end of your current billing period {{ data.ValidTill | date : "mediumDate" }}</p>

    <!-- <div class="successCol">
      <h3 class="grn">Your Plan will be cancelled</h3>
      <p class="txt">Your Plan will be cancelled at the end of your current period on May 12th, 2020</p>
    </div> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="cancel()">OK</button>
  </div>