<div class="custom-control custom-radio custom-control-inline" *ngIf="roleID == 1 || roleID == 2 || roleID == 3">
    <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input"
        [(ngModel)]="readioSelected" (click)="setTeamType('created')" value="radio1">
    <label class="custom-control-label" for="customRadioInline1">Created</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input"
        [(ngModel)]="readioSelected" (click)="setTeamType('assigned')" value="radio2">
    <label class="custom-control-label" for="customRadioInline2">Assigned</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input"
        [(ngModel)]="readioSelected" (click)="setTeamType('content')" value="radio3">
    <label class="custom-control-label" for="customRadioInline3">Associated content</label>
</div>


<div *ngIf="(readioSelected=='radio1') && (roleID == 1 || roleID == 2 || roleID == 3)">
    <app-team-common [IsTaggedContent]=false [teamTypeSelection]="teamType"></app-team-common>
</div>
<div *ngIf="readioSelected=='radio2'">
    <app-team-common [IsTaggedContent]=true [teamTypeSelection]="teamType"></app-team-common>
</div>
<div *ngIf="readioSelected=='radio3'">
    <app-team-common [IsTaggedContent]=true [teamTypeSelection]="teamType"></app-team-common>
</div>