@font-face {
    font-family: 'gothic';
    src: url('fonts/GOTHIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'gothic';
    src: url('fonts/GOTHICB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
 }
 @font-face {
    font-family: 'gothic';
    src: url('fonts/GOTHICBI.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
 }
 @font-face {
    font-family: 'gothic';
    src: url('fonts/GOTHICI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
 }