<div class="pageHeader">
  <div class="navbar justify-content-between align-item-center">
    <h4>My Folder Content</h4>
  </div>
</div>

<!--  -->

<!--  -->

<div class="relPos stepr">
  <div class="libWrapper colm">
    <div class="qustonHead">
      <h3 *ngIf="folders?.length > 0">{{ folders[0].PlaylistName || "null" }}</h3>
      <div class="d-flex">
        <label class="switch">
          <input type="checkbox" (change)="toggleAllQuiz()" [(ngModel)]="allQuizOff">
          <span class="slider"></span>
        </label>
        <span>Turn off all the Existing Quiz</span>
        <i placement="left" ngbTooltip="Tooltip information">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
            <circle cx="8" cy="4.5" r="1" />
          </svg>
        </i>
      </div>
    </div>
    <div class="container-fluid resultWrap">
      <div class="row vResult">
        <div class="verTab">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills flex-column" orientation="vertical">
            <li ngbNavItem="{{folder.FolderId}}" *ngFor="let folder of folders; let i=index;">
              <a ngbNavLink (click)="getFolderContent(i)">
                <div class="badgeCol">
                  <div class="upperBdgCol"
                    [ngClass]="{'orngYelw': i%4 == 0, 'violetBlu': i%4 == 1, 'blueGrn': i%4 == 2, 'redPink': i%4 == 3}">
                    <div class="innerData">
                      <p>{{folder.NumberOfContent}}</p>
                      <h1>{{folder.FolderShortName}}</h1>
                      <p><span>{{folder.FolderName}}</span></p>
                    </div>
                  </div>
                </div>
              </a>
              <ng-template ngbNavContent>
                <div class="ldRight" *ngIf="folderContent?.length > 0">
                  <div class="videoWrap active" *ngFor="let content of folderContent; let i = index;">
                    <div class="videoCol">
                      <img [src]="content.Content.ThumbnailURL" class="image-height"
                        *ngIf="!checkType(content.Content.MimeType)">
                      <video class="card-img-top image-height" controls
                        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
                        *ngIf="checkType(content.Content.MimeType)">
                        <source [src]="content.Content.ContentURL" type="content.Content.MimeType" />
                      </video>
                      <p>
                        <span>{{ content.Content.ViewCount }} views</span>
                        <span>{{ content.Content.CreatedDate | date: "mediumDate" }}</span>
                      </p>
                    </div>
                    <div class="p10">
                      <h3><a routerLink="/inner/videodetails">{{ content.Content.ContentName }}</a></h3>
                      <p>{{ content.Content.ContentDescription }}</p>

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="i" [name]="i"
                          [(ngModel)]="content.IsTurnedOffExistingQuiz" (change)="toggleQuiz(i)">
                        <label class="custom-control-label" [for]="[i]">Turn off existing Quiz</label>
                      </div>

                      <button class="btn btn-outline-secondary" *ngIf="content.Content.QuizId"
                        (click)="viewQuiz(i)">View Quiz</button>
                      <button class="btn btn-outline-secondary"
                        *ngIf="!content.Content.QuizId || content.IsTurnedOffExistingQuiz"
                        (click)="openCreateQuiz(i)">Create Quiz</button>
                    </div>
                  </div>

                </div>
                <div *ngIf="folderContent?.length == 0">
                  <h2>
                    No Content Found
                  </h2>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="tabContent">
          <div [ngbNavOutlet]="nav" class="tabSection"></div>
        </div>
      </div>
    </div>
  </div>



  <div class="selectedDir rightAlgn">
    <div class="closeBtnWrap">
      <button class="btn btn-primary" *ngIf="folders" routerLink="/build-playlist/list/{{ folders[0].PlayListId }}"><i
          class="arowRight arowLeft"></i> Prev
      </button>
      <button class="btn btn-success" *ngIf="folders" routerLink="/build-playlist/assign-users-teams/{{ folders[0].PlayListId }}/false">Next
        <i class="arowRight"></i></button>
    </div>
  </div>

</div>