.qustonHead{background: #e5f2f2;border:2px solid #afc6c6;border-bottom: none;border-radius: 3px 3px 0 0;padding: 10px 10px 10px 30px;display: flex;justify-content: space-between;align-items: center;min-height:52px;
    h3{margin: 0;font-size: 20px;font-weight: bold;color: #7d9696;}
    .d-flex{align-items: center;
        span{font-size: 12px;font-weight: bold;padding-left: 10px;}
    }
    i{height: 25px;margin-left: 5px;}
    .slider{background-color: #fff;}
    input:checked + .slider::before{background-color: #fff;}
    input:checked + .slider{background-color: #00a651;border-color:#00a651;}
}
.videoWrap .videoCol{min-height: 180px;}
.resultWrap{margin-top: 0;}
.btn.btn-primary{margin: 0 5px;}
.libWrapper.colm{max-width: 100%;}
.tab-content{padding: 0 0 15px;}
.tabContent{padding: 10px;}
.ldRight{padding: 8px;max-height: 656px;overflow: auto;margin:-8px;}
.verTab{max-height: 675px;overflow: auto;min-width: 160px;max-width: 160px;}
.videoWrap{border:2px solid #c8d6d6;padding:10px;border-radius: 2px;margin:8px;min-width: 23.7%;width: 23.7%;
    &.active,
    &:hover{
        border: 6px solid transparent;
        border-image: url(/src/assets/img/grnbluBg.JPG) 1 round;
        box-shadow: 0px 5px 15px #ccc;
    }
    .btn{
        border-radius: 0 !important;
        margin-right: 5px;
        padding: 4px 12px;
        height: 32px;
        margin-top: 10px;
    }
    .custom-checkbox{
        margin-top: 10px;
        
    }
    .custom-control-label{
        padding-top: 3px;
        font-weight: normal;
    }
    .custom-control-label::before {
        height: 21px;
        width: 21px;
    }
    .custom-control-label::after{
        height: 23px;
        width: 21px;
    }
}
@media screen and (max-width: 1775px) {
    .ldRight{
        margin: 0;
        padding: 0;
        .videoWrap{
            margin: 1%;
            padding: 0;
            min-width:23%;
            width:23%;
        }
    }
}
@media screen and (max-width: 1500px) {
    .ldRight .videoWrap{
        min-width: 48%;
        width: 48%;
    }
    .qustonHead h3{
        font-size: 15px;
    }
}
@media screen and (max-width: 930px) {
    .verTab{min-width: 100%;width: 100%;}
    .verTab .badgeCol,
    .verTab .upperBdgCol,
    .verTab .innerData,
    .verTab .nav-link{height: 100%;}
    
}
@media screen and (max-width: 640px) {
    .ldRight .videoWrap{
        min-width: 100%;
        width: 100%;
        margin: 10px 0;
        .p10{
            padding: 10px;
        }
    }
}
