﻿@model IEnumerable<VirtualBrandWork.Entity.ViewModels.SubscriptionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function Delete(id, productId){
        if(confirm("Are you sure you want to delete this Subscription plan?")){
            $.ajax({
                type: "POST",
                url: '../Subscription/Delete',
                data: addRequestVerificationToken({ "id": id , "ProductId": productId}),
                success: function (data) {
                    if (data.status == "Success") {
                        location.reload();
                    } else {
                        alert('Issue in delete process.Please contact administrator');
                    }
                }
            ,
                error: function (xhr) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
    }
</script>

<style type="text/css">
    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }

    .btn {
    width: 100px !important;
    }
</style>
<div class="pageHeader">
    <div class="navbar justify-content-between align-item-center">
        <h4>Subscription Plan</h4>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Subscription")';return false;">
            Add New
        </button>
    </div>
</div>
<hr />
@using (Html.BeginForm("Delete", "Subscription", FormMethod.Post, new { @id = "deleteform" }))
{
    @Html.AntiForgeryToken()
    <div class="custom-datatable-class">
    <table id="table_id" class="display table-bordered table-hover">
        <thead>
            <tr>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.PlanName)
                </th>
                <th width="30%">
                    @Html.DisplayNameFor(model => model.PlanDescription)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.NumberOfUsers)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.CostForMonthlyBilling)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.CostForAnnualBilling)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th width="20%">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlanName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlanDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfUsers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostForMonthlyBilling)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostForAnnualBilling)
                    </td>
                    <td>
                        @{
                            string parameterValue = item.Status ? "Active" : "Inactive";
                        }
                        @Html.DisplayFor(modelItem => (parameterValue))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SubscriptionId, pId = item.PlanId }, new { @class = "btn btn-primary" }) 
                        <input type="button" value="Delete" onclick="Delete(@item.SubscriptionId, '@item.ProductId');" class="btn btn-danger" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
}

