<div class="userCol">
    <div class="form-inline">
        <label for="">Sort by :</label>
        <select name="cars" class="custom-select cust-field ml-sm-2 w170" (change)="sort($event.target.value)">
            <option value="1">Name</option>
            <option value="2">Max Points</option>
            <option value="3">Min Points</option>
            <option value="4">End Date</option>
        </select>
    </div>
    <button class="btn btn-add-prize" (click)="openCreatePrize()" *ngIf="prizeService.currentNav == 2">
        <i aria-hidden="true" class="fa fa-plus"></i>
        <span class="text">Add Prize</span>
    </button>
</div>
<div class="awardsBlock" *ngIf="storeData?.length > 0">
    <div class="awardsCol" *ngFor="let data of storeData; let i = index;">
        <div class="listCol active">
            <h4>
            <div class="prizeTitleBox">
                <div class="prizeTitle">
                {{ data.Title }}
                </div>
            <div class="prizeOptions" class="fa fa-plus-square pull-right iconAlign" (click)="openDescription(i)" data-tooltip-text="Details"></div>
            <div class="prizeOptions" class="fa fa-trash pull-right" *ngIf="data.CanDelete" (click)="delete(i)"></div>
        </div>    
        </h4>

            <div class="awardBox">
                <img *ngIf="data.ThumbnailImage" [src]="data.ThumbnailImage">
                <img *ngIf="!data.ThumbnailImage" src="../../../../assets/img/prize.jpg">
            </div>

            <div class="pointsBox">
                <div class="d-flex align-items-start points"><div>Points {{ data.Points }}</div> <span class="divider">|</span> <div>{{ data.AvailableCount }} coupons left</div></div>
            </div>

            <div class="editBox" *ngIf="prizeService.currentNav == 2">
                <div class="switchBox">
                    <p for="">{{ data.IsActive ? "Active" : "Inactive" }}</p>
                    <label class="switch">
                        <input type="checkbox" [checked]="data.IsActive ? true : false" (click)="changeStatus(i)">
                        <span class="slider"></span>
                    </label>
                </div>

                <button class="edit" (click)="openUpdateModal(i)">Edit</button>

                <div class="available">
                    <span>Available till</span>
                    <p>{{ data.EndDate | date : "mediumDate" }}</p>
                </div>
            </div>
            <div class="editBox" *ngIf="prizeService.currentNav == 1">
                <button class="avail" (click)="getCoupon(i)" *ngIf="data.AvailableCount">Redeem</button>
                <div class="available">
                    <span>Available till</span>
                    <p>{{ data.EndDate | date : "mediumDate" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>