<!-- payment page -->
<div class="mainWrapper">
<app-sidemenu class="leftContent"> </app-sidemenu>
<div class="bgCover">
  <div class="mainWrap mobileSmall" *ngIf="showSuccess">
    <h3>Payment successful</h3>
    <div class="frmBox successBox">
      <div class="sucIco"></div>
      <h4>{{ name }}</h4>
      <h3>Success !</h3>
      <hr>
      <table *ngIf="!isCardChangeApi">
        <tr>
          <td>Amount Paid</td>
          <td>${{ amount }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mainWrap mobileSmall" *ngIf="!showSuccess">
    <h3>Payment cancelled</h3>
    <div class="frmBox successBox">
      <h3>Sorry !</h3>
    </div>
  </div>
</div>
</div>
<!-- payment page -->