.frmBox.successBox table{
	width: 360px;
	margin: 0 auto;
}
.frmBox.successBox table td{padding: 10px 0;border-bottom: 1px dashed #ccc;font-size: 15px;color: #8F8F8F;}
.frmBox.successBox table tr:last-child td{border:none}
.frmBox.successBox table tr td:nth-child(2n){text-align: right}
.frmBox.successBox h3,
.frmBox.successBox h4{
	text-align: center;
	color: #4ab486;
}
.frmBox.successBox p{text-align: center;}
.sucIco {
	background: url('/assets/img/sprite.png') no-repeat -707px -164px;
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto 10px;
}