﻿@{
    Layout = "~/Views/Shared/_CompanyAdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterLibrary</title>
</head>
<body>
    <div class="rightContent">

        <div class="pageHeader conentHead">
            <div class="navbar justify-content-between align-item-center">
                <div class="pageLoctin"><a href="@Url.Action("MasterLibrary", "Home")">Master Library</a>  <h4>Marketing</h4></div>
                <div class="form-inline">
                    <input class="form-control mr-sm-4 cust-field w320 searchIco" type="search" placeholder="Search" aria-label="Search">

                    <!-- <label for="">Filter :</label>

                    <select name="cars" class="custom-select cust-field ml-sm-2 w170">
                      <option selected="">Name</option>
                      <option value="volvo">Volvo</option>
                      <option value="fiat">Fiat</option>
                      <option value="audi">Audi</option>
                    </select> -->

                    <button class="btn btn-primary">+ Create Your own content</button>
                </div>
            </div>
        </div>

        <div class="libDetilsView">
            <div class="ldLeft">
                <div class="libWrapper">
                    <div class="libCol orngYelw">
                        <div class="innerData">
                            <div class="d-flex">
                                <span></span>
                                <span>5</span>
                            </div>
                            <h1>mk</h1>
                            <p>Marketing</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>

            <div class="ldRight">
                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <!-- <img src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg"> -->
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

                <div class="videoWrap">
                    <div class="videoCol">
                        <video controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <p>
                            <span>456 views</span>
                            <span>13, Dec 2019</span>
                        </p>
                    </div>
                    <div class="p10">
                        <h3><a href="videoDetails.html">Video title comes here</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>

            </div>
        </div>



    </div>

</body>
</html>