<div class="pageHeader">
  <div class="navbar justify-content-between align-item-center">
    <h4>Build Playlist</h4>
    <div class="form-inline">
      <input class="form-control mr-sm-4 cust-field w320 searchIco" type="search" placeholder="Search"
        aria-label="Search" #searchFolder>
    </div>
  </div>
</div>

<div class="relPos stepr">
  <div class="userColstpr">
    <select name="cars" class="custom-select cust-field" [disabled]="!playlistId" (change)="selectFolderType($event.target.value)">
      <option value="master">Master Library</option>
      <option value="company-content">Company Content</option>
    </select>
    <p class="addMore" (click)="openCreatePlaylist()">Create Playlist</p>
  </div>
  <app-folder [folderType]="folderType" [isPlaylist]="isPlaylist" *ngIf="playlistId"></app-folder>
  <div class="selectedDir minDir" *ngIf="playlistId">
    <app-playlist-folders [folderType]="folderType"></app-playlist-folders>
    <div class="closeBtnWrap">
      <button class="btn btn-primary" (click)="savePlaylist()">Next <i class="arowRight"></i></button>
    </div>
  </div>
</div>