<div class="modal-header">
    <h5 class="modal-title" *ngIf="quizData">Q{{ index+1 }}. {{ quizData.QuestionAnswers[index].Question.Question }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span class="closeBtn"></span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-body">        
        <ul class="quizOption" *ngIf="quizData">
            <li *ngFor="let answer of quizData.QuestionAnswers[index].Answers; let i = index;">
                <input type="radio" [value]="answer.AnswerId" name="check" [id]="answer.AnswerId" [checked]="submitQuiz.QuestionAttempt.length > 0 && submitQuiz.QuestionAttempt[index].AnswerId == answer.AnswerId" />
                <label [for]="answer.AnswerId" (click)="checkAnswer(answer.AnswerId)">{{ answer.Answer }}</label>
            </li>
        </ul>
        <p *ngIf="quizData && quizData.QuestionAnswers?.length == 0">No Question found</p>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <div class="navBtn" *ngIf="quizData">
        <button type="button" class="btn btn-primary" (click)="previous()" *ngIf="index > 0">
            Pre
        </button>
        <strong>{{ index+1 }}/{{ quizData.QuestionAnswers.length }}</strong>
        <button type="button" class="btn btn-primary" (click)="next()" *ngIf="index < quizData.QuestionAnswers?.length - 1">
            Next
        </button>
    </div>
    <div>
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <button type="button" class="btn btn-success" (click)="submit()" [disabled]="quizData && index != quizData.QuestionAnswers.length - 1">Submit Quiz</button>
    </div>
</div>