﻿@model VirtualBrandWork.Entity.ViewModels.QuestionAnswerViewModel
@{int cnt = 0; string option = string.Empty;
    Html.EnableClientValidation(true);
    string ansErrorId = string.Empty;
}

<style type="text/css">
    .width-options {
       width: 2% !important;
    margin-top: 4px !important;
    padding: 0px !important;
    }

    .width-radio {
        width: 5% !important;
        margin-right: 4% !important;
    }

    .txt-ans input {
        max-width: 100% !important;
    }

    .row {
        margin-top: 5px !important;
    }

    .col-lg-10 {
        width: 88% !important;
    }
</style>

<script type="text/javascript">

    function Close() {
        $('.modal').modal('hide');
        $('.modal-backdrop').remove();
      //  location.reload();
    }

    ////////////
    $(document).ready(() => {
        $("#btnSubmit").click((event) => {
            //stop submit the form, we will post it manually.
            event.preventDefault();

            if (validateFormAddQuestion()) {
                SaveQuestion();
            } else return false;
        });
    });

    function validate(id) {
        if ($("#" + id).val() == "") {
            var title = $("#" + id).attr('title');
            $("#" + id + "-error").text(title + " cannot be left blank");
            return false;
        } else $("#"+id+"-error").text("");
        return true;
    }

    function validateFormAddQuestion() {

        var isValid = true;

        if ($("#txtQueston").val() == "") {
            $("#txtQueston-error").text("Question cannot be left blank");
            isValid = false;
        }
        else {
            $("#txtQueston-error").text("");
        }

        if ($("#txtAns1").val() == "") {
            $("#txtAns1-error").text("Answer 1 cannot be left blank");
            isValid = false;
        }
        else {
            $("#txtAns1-error").text("");
        }

        if ($("#txtAns2").val() == "") {
            $("#txtAns2-error").text("Answer 2 cannot be left blank");
            isValid = false;
        }
        else {
            $("#txtAns2-error").text("");
        }

        if ($("#txtAns3").val() == "") {
            $("#txtAns3-error").text("Answer 3 cannot be left blank");
            isValid = false;
        }
        else {
            $("#txtAns3-error").text("");
        }

        if ($("#txtAns4").val() == "") {
            $("#txtAns4-error").text("Answer 4 cannot be left blank");
            isValid = false;
        }
        else {
            $("#txtAns4-error").text("");
        }

        var isAnsChecked = false;
        var radios = document.getElementsByName('RightAnsId');
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                $("#ans-option-error").text("");
                isAnsChecked = true; // checked
            }
        }

        if (!isAnsChecked && isValid) {
            $("#ans-option-error").text("Please check right answer");
            document.getElementById('RightAnsId').focus();
            return false;
        }


        return isValid;
    }

    function SaveQuestion() {
        var data = $('#quesform').serialize();
        document.getElementById("loader-wrapper").style.display = "block";

        $.ajax({
            url: '/Quiz/AddQuestion',
            data: data,
            type: 'POST',
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                if (result.Status == true) {
                    // $("#addQuestios").modal('hide');
                    $("#lblModalMessage").text(result.Message);
                    $("#lblModalMessage").fadeIn().show();
                    if (result.Status) {
                        $("#lblModalMessage").addClass("alert-success");
                    } else {
                        $("#lblModalMessage").removeClass("alert-danger");
                    }
                    sleep(1500).then(() => {
                        $("#txtQueston").val("");
                        $("#lblModalMessage").fadeOut().hide();
                        $("#txtAns1").val("");
                        $("#txtAns2").val("");
                        $("#txtAns3").val("");
                        $("#txtAns4").val("");

                        var radios = document.getElementsByName('RightAnsId');
                        for (var i = 0; i < radios.length; i++) {
                            radios[i].checked = false;
                        }

                    }, 2000);
                } else {
                    $("#msgQuesTitle").text('Error!');
                    //$("#addQuestios").modal('hide');
                    $("#msgModal").modal('show');
                }
                $("#lblQuesMessage").text(result.Message);
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
                //$("#addQuestios").modal('hide');
                $("#msgQuesTitle").text('Error!');
                $("#lblQuesMessage").text('Some error occurred, Please try later!');
                $("#msgQuesModal").modal('show');
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }
</script>

@using (Html.BeginForm("AddQuestion", "Quiz", FormMethod.Post, new { @id = "quesform" }))
{

    <div class="container">

        <!-- Add Question Modal -->
        <div class="modal fade" id="addQuestios" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Question</h4>
                        <button type="button" class="close" onclick="Close();">&times;</button>
                    </div>
                    <h6 id="lblModalMessage" style="display:none;"></h6>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <h5>Type Question</h5>
                            @Html.TextAreaFor(Model => Model.Question.Question, new { @class = "form-control txt-question", @id = "txtQueston", @required = "required", @onkeyup = "validate('txtQueston');", @title = "Question", @maxlength = "500" })

                            <span class="text-danger field-validation-error" data-valmsg-for="Question" data-valmsg-replace="true"><span id="txtQueston-error" class=""></span></span>

                        </div>

                        <div class="ans-section">
                            <h5>Type your answer options (Select right option)</h5>
                            @Html.HiddenFor(m => m.QuizId)
                            @for (int i = 0; i < Model.Answers.Count(); i++)
                            {
                                if (cnt == 0) { option = "A."; } else if (cnt == 1) { option = "B."; } else if (cnt == 2) { option = "C."; } else if (cnt == 3) { option = "D."; }
                                cnt = cnt + 1;

                                <div class="d-flex align-items-center mb-10">
                                    <div>
                                        @Html.RadioButtonFor(m => m.RightAnsId, Model.Answers[i].AnswerId, new { @onChange = "validateFormAddQuestion();" })
                                    </div>
                                    <div class="m-0-10">
                                        @option
                                    </div>

                                    @{ansErrorId = "txtAns" + cnt + "-error";
                                    }

                                    <div class="f1">
                                        @Html.HiddenFor(m => m.Answers[i].AnswerId)
                                        @Html.TextBoxFor(m => m.Answers[i].Answer, new { @class = "form-control", @id = "txtAns" + cnt, @title = "Answer " + cnt, @onkeyup = "validate('txtAns" + cnt + "');", @maxlength = "200" })
                                        <span class="text-danger field-validation-error" data-valmsg-for="@Model.Answers[i].Answer" data-valmsg-replace="true">
                                            <span id="@ansErrorId" class=""></span>
                                        </span>
                                    </div>

                                </div>
                                        }
                            <span class="text-danger field-validation-error" data-valmsg-for="@Model.RightAnsId" data-valmsg-replace="true">
                                <span id="ans-option-error" class=""></span>
                            </span>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnSubmit" type="submit" class="btn  btn-done">Done</button>
                        @*<div class="row">
                                <div class="col-lg-6 btn-add-more-ques">
                                    <button type="button" id="btnAddMoreQueston" class="btn btn-info">+ Add More Question</button>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn  btn-done">Done</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <!-- Add Question Modal -->
        <div class="modal fade" id="msgQuesModal" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="msgQuesTitle"></h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p id="lblQuesMessage"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


                                        }
