﻿
@model VirtualBrandWork.Entity.ViewModels.QuizViewModel
@{ int cnt = 0; string option = string.Empty; string addQuestionTitle = "Add More Question"; int quesCount = 0; }

<script type="text/javascript">
    function AddMoreQuestion(qId) {
        $('.modal').modal('hide');
        $('.modal-backdrop').remove()

        ///Show add question window
        var data = $('#viewQuiz').serializeArray();
        data.push({
            name: "QuizId",
            value: qId
        });

        $.ajax({
            url: '../Quiz/GetAddQuestionView',
            data: data,
            success: function (result) {
                $('.modalData').html(result);
                $("#addQuestios").modal('show');
            },
            error: function (xhr) {
            },
            complete: function (jqXHR, status) {
            }
        });
    }
</script>

<div class="container">

    <!-- Add Question Modal -->
    <div class="modal fade" id="editQuestions" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        @Model.QuizName - @Model.QuizShortName
                    </h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @Html.HiddenFor(m => m.QuizId)
                    @foreach (var quiz in Model.QuestionAsnwers)
                    {
                        quesCount = quesCount + 1;
                        <div>
                            @Html.Label(quiz.Question.Question, quiz.Question.Question)
                        </div>

                        for (int i = 0; i < quiz.Answers.Count(); i++)
                        {
                            if (cnt == 0) { option = "A."; } else if (cnt == 1) { option = "B."; } else if (cnt == 2) { option = "C."; } else if (cnt == 3) { option = "D."; }
                            cnt = cnt + 1;

                            <div class="row">
                                <div class="col-lg-1 width-1-per">
                                    @Html.RadioButton("Q" + quesCount, quiz.Answers[i].AnswerId, quiz.Answers[i].AnswerId)
                                </div>
                                <div class="col-lg-1 width-1-per">
                                    @option
                                </div>

                                <div class="col-lg-10 txt-ans">
                                    @Html.HiddenFor(m => quiz.Answers[i].AnswerId)
                                    @Html.TextBoxFor(m => quiz.Answers[i].Answer, new { @class = "form-control", @required = "required" })
                                </div>

                            </div>
                        }
                        cnt = 0;


                    }
                </div>



                @if (Model.QuestionAsnwers == null || Model.QuestionAsnwers.Count == 0)
                {
                    <div class="modal-body">
                        No question(s) added yet!
                    </div>
                    addQuestionTitle = "Add Question";
                }

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 btn-add-more-ques">
                            @if (Model.QuestionAsnwers.Count < 4)
                            {
                                <button type="button" id="btnAddMoreQueston" class="btn btn-info" onclick="AddMoreQuestion(@Model.QuizId);">+ @addQuestionTitle</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
