﻿@model QuizViewModel
@using VirtualBrandWork.Entity.ViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        ///Binding datatable
        $('#table_id').DataTable();

        ///get folders by category
        $("#ddlCategory").change(function () {
            var id = $(this).val();
            $.getJSON("../Quiz/GetFoldersByCategoyId", { categoryId: id },
                   function (data) {
                       var select = $("#ddlFolders");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select Folder"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.MasterFolderId,
                               text: itemData.Name
                           }));
                       });
                   });
        });
    });

    ///Show add question window
    function AddQuestion(qId) {
        document.getElementById("loader-wrapper").style.display = "block";
        var data = $('#quizform').serializeArray();
        data.push({
            name: "QuizId",
            value: qId
        });

        $.ajax({
            url: '../Quiz/GetAddQuestionView',
            data: data,
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                $('.modalData').html(result);
                $("#addQuestios").modal('show');
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }

    ///Show create quiz window
    function CreateQuiz(cId) {
        $("#txtQuizName").val("");
        $('#hdnCid').val(cId);
        $("#addQuiz").modal('show');
    }

    ////////////
    $(document).ready(() => {
        $("#btnSubmit").click((event) => {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            if (validateForm()) {
                SaveQuiz();
            } else return false;
        });
    });

    function validateForm() {
        var isValid = true;
        if ($("#txtQuizName").val() == "") {
            $("#txtQuizName-error").text("Quiz name cannot be left blank");
            isValid = false;
        }
        else if ($("#txtQuizName").val().length > 30) {
            $("#txtQuizName-error").text("The field Quiz name must be a string with a maximum length of 30.");
            isValid = false;
        }
        else {
            $("#txtQuizName-error").text("");
        }

        return isValid;
    }

    ///Save quiz
    function SaveQuiz() {
        if ($("#txtQuizName").val() == "")
            return;
        document.getElementById("loader-wrapper").style.display = "block";
        $.ajax({
            url: '/Quiz/SaveQuiz',
            data: { QuizName: $("#txtQuizName").val(), ContentId: $('#hdnCid').val() },
            type: 'POST',
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                if (result.Status == true) {
                    $("#addQuiz").modal('hide');
                    $('.modal').modal('hide');
                    $('.modal-backdrop').remove();
                    location.reload();
                    // $("#msgTitle").text('Success!');
                    // $("#msgModal").modal('show');
                    //sleep(500).then(() => {
                    //    $('.modal').modal('hide');
                    //    $('.modal-backdrop').remove();
                    //    location.reload();
                    //});
                } else {
                    $("#msgTitle").text('Error!');
                    $("#addQuiz").modal('hide');
                    $("#msgModal").modal('show');
                }
                $("#lblMessage").text(result.Message);
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
                $("#addQuiz").modal('hide');
                $("#msgTitle").text('Error!');
                $("#lblMessage").text('Some error occurred, Please try later!');
                $("#msgModal").modal('show');
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }

    ///Show edit question window
    function EditQuestions(qId) {
        document.getElementById("loader-wrapper").style.display = "block";
        var data = $('#quizform').serializeArray();
        data.push({
            name: "QuizId",
            value: qId
        });

        data.push({
            name: "IsEditRequest",
            value: true
        });

        $.ajax({
            url: '../Quiz/GetViewQuiz',
            data: data,
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                $('.modalData').html(result);
                $("#editQuestions").modal('show');
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }

    ///View Quiz
    function ViewQuiz(qId) {
        document.getElementById("loader-wrapper").style.display = "block";
        var data = $('#quizform').serializeArray();
        data.push({
            name: "QuizId",
            value: qId
        });

        $.ajax({
            url: '../Quiz/GetViewQuiz',
            data: data,
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                $('.modalData').html(result);
                $("#viewQuiz").modal('show');
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }


    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function DeleteQuiz(qid) {
        if (confirm("Are you sure to delete the quiz, all questions will be deleted?")) {
            document.getElementById("loader-wrapper").style.display = "block";
            $.ajax({
                url: '../Quiz/DeleteQuiz',
                data: { QuizId: qid },
                type: 'POST',
                success: function (result) {
                    document.getElementById("loader-wrapper").style.display = "none";
                    if (result.Status == true) {
                        $("#msgTitle").text('Success!');
                        $("#msgModal").modal('show');
                        sleep(1000).then(() => {
                            $('.modal').modal('hide');
                            $('.modal-backdrop').remove();
                            location.reload();
                        });
                    } else {
                        $("#msgTitle").text('Error!');
                        $("#updateQuestion").modal('hide');
                        $("#msgModal").modal('show');
                    }
                    $("#lblMessage").text(result.Message);
                },
                error: function (xhr) {
                    document.getElementById("loader-wrapper").style.display = "none";
                },
                complete: function (jqXHR, status) {
                    document.getElementById("loader-wrapper").style.display = "none";
                }
            });
        }
    }


</script>

<style type="text/css">
    #lblModalMessage {
        padding-left: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    hr {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }

    select {
        width: 100%;
        height: 30px;
        border-radius: 4px;
    }

    .select-panel {
        background-color: #f1f1f1;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .btn-content {
        margin-top: 6%;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 2px 10px !important;
    }
</style>
<style type="text/css">
    .txt-question {
        height: 60px;
        max-height: 60px;
        border-radius: 4px;
        width: 100% !important;
        max-width: 100% !important;
    }

    .ans-section textarea {
        height: 40px;
        max-height: 40px;
        margin-left: 5px;
        border-radius: 4px;
        width: 93%;
        max-width: 93% !important;
    }

    .ans-section input[type=radio] {
        vertical-align: top;
        cursor: pointer;
        height: 25px !important;
        width: 25px !important;
    }

    .ans-option {
        vertical-align: top;
        font-weight: normal !important;
    }

    .close {
        font-weight: 100 !important;
        font-size: 45px !important;
    }

    .btn-done, .btn-done:hover {
        background-color: #65865a !important;
        color: white;
        text-align: right;
    }

    .btn-add-more-ques {
        text-align: left !important;
    }

        .btn-add-more-ques button {
            width: 150px !important;
        }

    button {
        width: 100px !important;
        padding: 0px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        text-align: center !important;
    }

    #btnAddQuiz, #btnViewQuiz {
        width: 310px !important;
    }

    #txtQuizName {
        margin: 0px 5px 0px 0px;
        max-height: 55px;
        max-width: 100%;
    }

    .img-right {
        height: 24px;
    }


    #lnkEditQues img, #lnkDeleteQues img {
        cursor: pointer !important;
        height: 16px !important;
    }

    #quesContainer {
        height: 500px !important;
        overflow-y: auto !important;
    }
</style>

<div class="row">
    <div class="col-lg-1">
        <h2>Quiz</h2>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Result))
    {
        <div class="alert alert-info">
            <strong>Info!</strong> @ViewBag.Result
        </div>

        <script type="text/javascript">
            setTimeout(function () {
                $('.alert-info').fadeOut('slow');
            }, 2000);
        </script>
    }
    <div class="col-lg-11" align="right">
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add New
            </button>*@
    </div>
</div>
<hr />

@using (Html.BeginForm("GetContents", "Quiz", FormMethod.Post, new { @id = "quizform" }))
{
    if (Session["Categories"] == null)
    {
        Session["Categories"] = new List<CategoryViewModel>();
    }

    if (Session["Folders"] == null)
    {
        Session["Folders"] = new List<MasterFolderViewModel>();
    }

    <input type="hidden" id="hdnCid" />
    <div class="row select-panel align-items-end">
        <div class="col-lg-3">
            Industry
            @Html.DropDownListFor(Model => Model.CategoryId, new SelectList(Session["Categories"] as List<CategoryViewModel>, "CategoryId", "CategoryName"), "Select Industry",
               new { @class = "form-control", @id = "ddlCategory" })
        </div>

        <div class="col-lg-3">
            Folder
            @Html.DropDownListFor(Model => Model.FolderId, new SelectList(Session["Folders"] == null ? new List<MasterFolderViewModel>() : Session["Folders"] as List<MasterFolderViewModel>, "MasterFolderId", "Name"),
              "Select Folder", new { @class = "form-control", @id = "ddlFolders" })
        </div>

        <div class="col-lg-3">
            <button type="submit" id="btnGetContents" class="btn btn-primary btn-content">
                Get Contents
            </button>
        </div>
    </div>
    <hr />
    <div>
        <div class="custom-datatable-class quiz-table">
            <table id="table_id" class="display table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="45%">Content Name</th>
                        @*<th width="25%">Content Short Name</th>*@
                        <th width="25%">Quiz Name</th>

                        <th width="30%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var content in Model.Contents)
                    {
                        <tr>
                            <td>@content.ContentName</td>
                            @*<td>@content.ShortName</td>*@
                            <td>@content.QuizName</td>
                            <td>
                                @if (content.QuizId == null || content.QuizId == 0)
                                {
                                    <button type="button" id="btnAddQuiz" class="btn btn-primary" onclick="CreateQuiz(@content.ContentId);">Add Quiz</button>
                                }
                                else if (content.QuizId > 0)
                                {
                                    <button type="button" class="btn btn-primary" onclick="ViewQuiz(@content.QuizId);">View Quiz</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            onclick="AddQuestion(@content.QuizId);">
                                        Add Question
                                    </button>
                                        <button type="button" class="btn btn-danger" onclick="DeleteQuiz(@content.QuizId);">Delete Quiz</button>
                                }
                                else
                                {
                                    <button type="button" id="btnViewQuiz" class="btn btn-primary" onclick="ViewQuiz(@content.QuizId);">View Quiz</button>
                                    <button type="button" class="btn btn-danger" onclick="DeleteQuiz(@content.QuizId);">Delete Quiz</button>
                                        @*<button type="button" class="btn btn-primary" data-toggle="modal" onclick="EditQuestions(@content.MasterQuizId);">Edit Question   </button>*@
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
<div class="modalData">
</div>

<div class="container">
    <form>
        <!-- Add Question Modal -->
        <div class="modal fade" id="addQuiz" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Quiz</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        @Html.TextAreaFor(m => m.QuizName, new { @class = "form-control", @maxlength = "30", @placeholder = "Quiz name", @id = "txtQuizName", @onkeyup = "validateForm();" })
                        <span class="text-danger field-validation-error" data-valmsg-for="QuizName" data-valmsg-replace="true"><span id="txtQuizName-error" class=""></span></span>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnSubmit" type="submit" class="btn  btn-done">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container">

    <!-- Add Question Modal -->
    <div class="modal fade" id="msgModal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="msgTitle"></h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p id="lblMessage"></p>
                </div>
            </div>
        </div>
    </div>
</div>


