﻿@model VirtualBrandWork.Entity.ViewModels.QuizViewModel
@{ int cnt = 0; string option = string.Empty; string addQuestionTitle = "Add More Question"; }

<script type="text/javascript">
    function EditQuestion(QuestionId, qId) {
        document.getElementById("loader-wrapper").style.display = "block";
        $('.modal').modal('hide');
        $('.modal-backdrop').remove();

        ///Show add question window
        var data = $('#viewQuiz').serializeArray();
        data.push({
            name: "QuizId",
            value: qId
        });
        data.push({
            name: "QuestionId",
            value: QuestionId
        });

        $.ajax({
            url: '../Quiz/GetEditQuestionView',
            data: data,
            success: function (result) {
                document.getElementById("loader-wrapper").style.display = "none";
                $('.modalData').html(result);
                $("#updateQuestion").modal('show');
            },
            error: function (xhr) {
                document.getElementById("loader-wrapper").style.display = "none";
            },
            complete: function (jqXHR, status) {
                document.getElementById("loader-wrapper").style.display = "none";
            }
        });
    }

    function AddMoreQuestion(qId) {
        $('.modal').modal('hide');
        $('.modal-backdrop').remove();
        AddQuestion(qId);
    }

    function DeleteQuestion(qId) {
        if (confirm("Are you sure you want to delete the question?")) {
            document.getElementById("loader-wrapper").style.display = "block";
            $.ajax({
                url: '../Quiz/DeleteQuestion',
                data: { QuestionId: qId },
                type: 'POST',
                success: function (result) {
                    document.getElementById("loader-wrapper").style.display = "none";
                    $("#lblModalMessage").text(result.Message);
                    $("#lblModalMessage").fadeIn().show();
                    if (result.Status) {
                        $("#lblModalMessage").addClass("alert-success");
                    } else {
                        $("#lblModalMessage").removeClass("alert-danger");
                    }

                    sleep(1500).then(() => {
                        $("#lblModalMessage").text("");
                        $("#lblModalMessage").fadeOut().hide();
                        if (result.Status) {
                            $('.modal').modal('hide');
                            $('.modal-backdrop').remove();
                            ViewQuiz($("#hfQuizId").val());
                        }
                    });
                },
                error: function (xhr) {
                    document.getElementById("loader-wrapper").style.display = "none";
                },
                complete: function (jqXHR, status) {
                    document.getElementById("loader-wrapper").style.display = "none";
                }
            });
        }
    }
</script>

<div class="container">

    <!-- Add Question Modal -->
    <div class="modal fade" id="viewQuiz" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@Model.QuizName</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <h6 id="lblModalMessage" style="display:none"></h6>
                <!-- Modal body -->
                <div class="modal-body" id="quesContainer">
                    @Html.HiddenFor(m => m.QuizId, new { @id = "hfQuizId"})
                    @foreach (var quiz in Model.QuestionAsnwers)
                    {
                        <div>
                            <b>Q.</b>
                            @Html.Label(quiz.Question.Question, quiz.Question.Question)
                            <a id="lnkEditQues" onclick="EditQuestion(@quiz.Question.QuestionId, @Model.QuizId)"><img src="~/Images/edit.png" /></a>
                            <a id="lnkDeleteQues" onclick="DeleteQuestion(@quiz.Question.QuestionId, @Model.QuizId)"><img src="~/Images/Delete.png" /></a>
                        </div>

                        foreach (var ans in quiz.Answers)
                        {
                            if (cnt == 0) { option = "A."; } else if (cnt == 1) { option = "B."; } else if (cnt == 2) { option = "C."; } else if (cnt == 3) { option = "D."; }
                            <div>
                                <span class="ans-option"> @option</span>
                                @Html.Label(ans.Answer, ans.Answer, new { @class = "ans-option" })  @if (ans.IsRightAnswer)
                                { <img class="img-right" src="~/Images/Right.png" />}
                            </div>
                            cnt++;
                        }
                        cnt = 0;
                    }
                </div>

                @if (Model.QuestionAsnwers == null || Model.QuestionAsnwers.Count == 0)
                {
                    <div class="modal-body">
                        No question(s) added yet!
                    </div>
                    addQuestionTitle = "Add Question";
                }

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 btn-add-more-ques">
                            <button type="button" id="btnAddMoreQueston" class="btn btn-info" onclick="AddMoreQuestion(@Model.QuizId);">+ @addQuestionTitle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
