<div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
  
        <div class="inbox_chat scroll">
          <div class="chat_list" (click)="getUserChat(i,user.FirstName+' '+user.LastName)"
            [ngClass]="{'active_chat': selectedIndex === i}" *ngFor="let user of users; let i=index;">
            <div class="chat_people">
              <div class="chat_img"> <img [src]="user.ProfilePicture" alt="sunil" class="circleimage"> </div>
              <div class="chat_ib">
                <h5 class="make-inline">{{user.FirstName}} {{user.LastName}}</h5><p *ngIf="user.IsPlaylistTrainer">(Playlist Owner)</p>
                <i class="read-icon pull-right" *ngIf="user.UnreadMessageCount > 0">{{user.UnreadMessageCount}}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="mesgHead">
          <h1>{{userName}}</h1>
          <button class="callBtn"></button>
        </div>

        
  
        <div class="msg_history" #scrollBottom>
          <div class="" *ngIf="msgGroups?.length == 0">
            <h2>
              No Message Found
            </h2>
          </div>
          <div *ngFor="let msggroup of msgGroups; let i = index;">
            <div class="hr-sect">{{msggroup.date==currentDate?'Today':msggroup.date | date}}</div>
            <div class="incoming_msg" *ngFor="let message of msggroup.msgs; let i = index;" [ngClass]="{'rightAlign': userId != message.ReceiverId}">
              
              <div class="incoming_msg_img" *ngIf="userId == message.ReceiverId"> <img
                  [src]="loginId!=message.SenderId?message.SenderImage:message.ReceiverImage" class="circleimage" alt="sunil"> 
              </div>
              <div class="receiveCover">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <span class="time_date"><strong>
                        {{loginId!=message.SenderId?message.SenderName:message.ReceiverName}}</strong>,
                      {{message.Date | date: 'shortTime'}}</span>
                  </div>
                </div>
    
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <img src="{{message.Message}}" *ngIf="message.MessageType==1"  height="200" width="250" />
                    <p *ngIf="message.MessageType==2">{{message.Message}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
       
  
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" [(ngModel)]="message" placeholder="Type a message" (keyup)="enterToSend($event)" />
            <button class="msg_send_btn" type="button" [style.background-color]="sendBtnColor" [disabled]="sendBtnDisabled" (click)="sendMessage()"><i class="fa fa-paper-plane"
                aria-hidden="true"></i></button>
            <button class="msg_send_btn r75" ngbTooltip="Upload Image" [style.background-color]="btnColour"  (click)="hiddenfileinput.click()" type="button"><i class="fa fa-photo"
                aria-hidden="true"></i> </button>
          </div>
          <input style="display: none" type="file" (change)="handleFileInput($event.target.files)" #hiddenfileinput>
        </div>
  
      </div>
    </div>
  </div>