.btn.btn-danger{
    margin-left: 0;
}
.tabSection.minMrin .listCol{
    border:none;box-shadow: none !important;padding: 0;margin: 0;
}
.plyListAbout{
    max-width: 100%;
}
.lowerBdgCol .ico.loader{
    display: block;
    width: 41px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    padding: 11px 0px;
    font-weight: bold;
}
.lowerBdgCol p{
    color: #959595;
}
.teamData ul li:last-child{
    padding-left: 20px;
}
.teamData ul li .madelList li{
    padding: 0;border:none;
}
.teamDetailsBox .tableWrapBorder{
    max-height:600px;
}

.teamDetailsBox.fullWidth{
    width: 100%;
    border:2px solid #afc6c6;
}

@media screen and (max-width: 840px) {
    .teamData ul li:last-child{
        padding-left: 10px;
    }
    .teamData ul li .madelList li{
        margin: 0 2px;
    }
}
@media screen and (max-width: 800px) {
    .teamData ul li .madelList{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .teamData ul li:last-child{
        padding: 10px 0 0;
    }
}


// chat


.inbox_people {
	background: #fff;
	float: left;
	overflow: hidden;
	min-width: 320px;
	width: 320px;
	border-right: 2px solid #c8d6d6;
}

.inbox_msg {
	border: 2px solid #c8d6d6;
	clear: both;
	overflow: hidden;
	display: flex;
}

.top_spac {
	margin: 20px 0 0;
}





.chat_img {
	float: left;
	width: 15%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	padding: 0 0 0 15px;
	width: 84%;
	h5 {
		font-size: 15px;
		color: #464646;
		margin:0;
		text-decoration: underline;
	}
}

.chat_people {
	display: flex;
	align-items: center;
}

.chat_list {
	margin: 0;
	padding: 15px;
	cursor: pointer;
}

.inbox_chat {
	height: 775px;
	overflow-y: auto;
}

.active_chat {
	background: #e5f2f2;
}
.incoming_msg{
	display: flex;
	margin-bottom: 20px;
	width: 100%;
}
.incoming_msg_img {
	display: inline-block;
	width: 50px;
}

.incoming_msg_img img {
	width: 100%;
}
.receiveCover{
	padding: 0 0 0 20px;
	flex: 1;
}
.received_withd_msg p {
	background: #e5f2f2;
	border-radius: 1px;
	color: #646464;
	font-size: 15px;
	margin: 3px 0 0;
	padding: 5px 10px;
	display: inline-block;
}

.time_date {
	color: #999999;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.received_withd_msg {
	width: 100%;
}

.mesgs{
	padding:0;
	flex: 1;
}


.mesgHead{
	border-bottom: 2px solid #c8d6d6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 20px;
	h1{
		font-size: 20px;
		margin: 0;
		font-weight: bold;
	}
	.callBtn{
		background: url('../../../../assets/img/sprite.png') no-repeat -284px -300px;
		width: 45px;
		height: 45px;
		border:none;
	}
}


.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write{
	flex: 1;
	padding-right: 110px;
}
.input_msg_write input {
	background: #f8f8f8;
	border: 2px solid #afc6c6;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
	padding:0 50px 0 12px;
	position: relative;
}

.type_msg {
	position: relative;
	padding:15px;
	border-top: 2px solid #c8d6d6;
	display: flex;
}

.msg_send_btn {
	background: #afc6c6;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 24px;
	height: 48px;
	position: absolute;
	right: 75px;
	top: 15px;
	width: 50px;
	&.r75{
		right: 19px;
	}
}


.msg_history {
	height: 695px;
	overflow-y: auto;
	padding:15px;
}

.resultBlockWrap{
	.userResultDetail{
		display: flex;
		margin-bottom: 30px;
		.userResultDetailCol{
			padding-right: 30px;
			margin-right: 30px;
			border-right: 2px solid #afc6c6;
			&:last-child{
				border: 0;
			}
			p{
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			h3{
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
	.vResult{
		flex-wrap: nowrap;
		margin: 0;
		border: 2px solid #c8d6d6;
		.verTab{
			max-height: 675px;
			overflow: auto;
			min-width: 150px;
			max-width: 150px;
			@media (max-width: 930px){
				min-width: 100%;
				max-width: 100%;
			}
		}
		.tabContent{
			overflow: hidden;
			padding: 0;
			border: 0;
			.tabSection{
				padding: 0;
			}
		}

		.resultTable{
			max-height: 660px;
			overflow: auto;
			table{
				border-left: 1px solid #c8d6d6;
				th{
					padding: 20px 15px;
					border-bottom: 2px solid #afc6c6;
					white-space: nowrap;
					font-size: 16px;
					color: #97b1b1;
				}
				td{
					padding: 20px 15px;
					border-bottom: 1px solid #cedddd;
					white-space: nowrap;
					font-size: 16px;
					font-weight: bold;
					video{
						margin: 0;
					}
					p.title{
						font-weight: normal;
					}
					.madel{
						margin: 0 auto 4px;
					}
					.medalNm{
						display: block;
						text-align: center;
						font-size: 12px;
						font-weight: bold;
					}
					.btn .arowRight{
						background-position: -228px -31px;
					}
				}
			}
		}
	}
}

@media screen and (max-width:767px){
	.inbox_people{min-width: 200px;width: 200px;}
	.chat_list{padding: 8px 12px;}
	.received_withd_msg p, .chat_ib h5{font-size: 13px;}
	.inbox_chat{height:550px;}
	.mesgHead{padding: 10px;
		 h1{font-size: 16px;}
		.callBtn{background: url('../../../../assets/img/sprite.png') no-repeat -291px -307px;
			width: 30px;
			height: 30px;
		}
	}
	.msg_history{height: 405px;}
}
@media screen and (max-width:640px){
	.inbox_msg{display: block;
		.inbox_people{
			width:100%;
		}
		.inbox_chat{height: 190px;}
		.mesgHead{border-top: 2px solid #c8d6d6;}
		.chat_img{width:30px}
	}
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}


.rightAlign {
	text-align: right;
}

.circleimage {
	width: 50px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 9px 8px;
}
.make-inline {
	display: inline-block;
}
.read-icon {
	color: red;
}
