.vdoRightTab .tab-pane{padding: 0;border:1px solid #afc6c6;
    .card{
        border:none;
        padding: 15px;
        &:hover{
            background: #dee6e6;
        }
    }
   
}
.tab-pane{
    display: block;
    h4{
        color: #1f6575;
        font-size: 16px;
        padding: 10px 25px 10px;
        font-weight: bold;
        margin: 0 0 0 -10px;
    }
    .divScroll{
        max-height: 820px;
        overflow: auto;
    }
}

.plylistDetails{
    display: block;
    tbody, tr{display: block;}
    
    td{
        display: block;
        background: none;
        padding:25px 0;
        border:none;
        border-bottom: 1px solid #afc6c6;
        &:last-child{
            border-bottom: none;
        }
    }
    .flexTbl{
        justify-content: flex-start;
        padding-left: 10px;
        .pl-10{
            padding-left: 10px;
        }
    }
}

.relposiWrap{
    position: relative;
    video{
        display: block;
    }
    .quizCover{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        top:0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .btn{
            background-color: #fff;
            border: 6px solid transparent;
            border-image: url(../../../../../assets/img/grnbluBg.JPG) 1 round;
            width: 180px;
            color: #42a1bb;
            font-size: 18px;
        }
        span{
            color:#fff;
            font-size: 20px;
            font-weight: bold;
            margin: 20px 0 0;
            cursor: pointer;
        }
    }
}

.quizOption{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li{
        min-width: 50%;
        position: relative;
        padding: 10px;
        label{
            border:2px solid #c8d6d6;
            background: #eef5f5;
            justify-content: center;
            margin: 0;
            display: flex;
            width: 100%;
            align-items: center;
            height: 100px;
            font-weight: bold;
            font-size: 13px;
        }
        input[type=radio]{
            position: absolute;
            left: 0;opacity: 0;
        }
    }
}
.quizOption input[type=radio]:checked + label {
    border-color: #4ab486;
    background: #e9f2e8;
    color: #4ab486;
}
.modal-content{
    padding: 0;
    border: 6px solid url(../../../../../assets/img/grnbluBg.JPG);
    border: 6px solid transparent;
    border-image: url(../../../../../assets/img/grnbluBg.JPG) 1 round;
    .modal-body{
        padding: 0 5px 10px ;
    }
}
.modal-footer{
    background: #eef5f5;
    border-top: 2px solid #c8d6d6;
    .navBtn{
        strong{
            padding: 10px;
        }
        .btn{
            padding:10px 13px
        }
    }
    .btn{
        border-radius: 0 !important;
        margin: 0 4px;
        img{
            display: block;
        }
    }
    
}
@media  screen and (max-width: 991px) {
    .plylistDetails td{
        padding: 10px 0;
        .flexTbl{
            padding-left: 0;
        }
    }
}


.resultModal{
    border: 6px solid transparent;
    border-image: url(../../../../../assets/img/grnbluBg.JPG) 1 round;
    border-radius: 4px;
}
.resultable{
    table{
        width: 100%;
        thead{
           th{
            padding: 20px;
            font-size: 14px;
            color: #fff;
            &.pass{
                background: #5ca375;
                border: 1px solid #5ca375;
            }
            &.fail{
                background: #c65c5c;
                border: 1px solid #c65c5c;
            }
           }
        }
        td{
            border: 1px solid #c8d6d6;
            background: #f8f8f8;
            padding: 20px;
            span{
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                &:first-child{
                    margin-right: 10px;
                }
                &.correct{
                    color: #4ab486;
                }
                &.wrong{
                    color: #c65c5c;
                }
            }
        }
    }
}


.tableCol{
    
    
    &:nth-of-type(1){
        border-right: 0;
    }
}
.cursor {
    cursor: pointer;
}