<div class="libDetilsView videoDetailWrap">
    <div class="ldLeft">
      <div class="libWrapper">
        <div class="libCol orngYelw">
          <div class="innerData">
            <div class="d-flex">
              <span></span>
              <span>{{folderDetailData && folderDetailData.Folder ? folderDetailData.Folder.NumberOfContent : ''}}</span>
            </div>
            <h1>{{folderDetailData && folderDetailData.Folder ? folderDetailData.Folder.FolderShortName : ''}}</h1>
            <p>{{folderDetailData && folderDetailData.Folder ? folderDetailData.Folder.FolderName : ''}}</p>
          </div>
        </div>
      </div>
     <div>
      <table class="plylistDetails">
        <tbody>
          <tr>
            <td>
              <div class="flexTbl">
                <span class="ico date"></span>
                <div class="pl-10">
                  <p>Course Date</p>
                  <h3>{{folderDetailData && folderDetailData.StartDate  | date : 'd MMM, y'}} 
                    - {{folderDetailData && folderDetailData.EndDate | date : 'd MMM, y'}}</h3>
                  <!-- <h3>24th - 31st Dec, 1019</h3> -->
                </div>
              </div>
            </td>
            
            <td>
              <div class="flexTbl">
                <span class="ico time"></span>
                <div class="pl-10">
                  <p>Time left</p>
                  <h3>{{daysLeft}} {{daysLeft > 1 ? 'days' : 'day'}}  {{timeLeft}}</h3>
                </div>
              </div>
            </td>
            <td>
              <div class="flexTbl">
                <!-- <span class="ico loader"></span> -->
                <circle-progress
                    [percent]="folderDetailData && folderDetailData.Folder.PlaylistFolderCompletePercentage"
                    [radius]="20"
                    [maxPercent]="100"
                    [showTitle]="false"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeColor]="'#666666'"
                    [innerStrokeColor]="'#cccccc'"
                    [outerStrokeWidth]="4"
                    [space]="-4"
                ></circle-progress>
                <div class="pl-10">
                  <h3>{{folderDetailData && folderDetailData.Folder ? folderDetailData.Folder.PlaylistFolderCompletePercentage : ''}}%</h3>
                  <p>Completed</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
     </div>
    </div>
  
    <div class="ldRight m0">
  
       <div class="videoDetails">
        <div class="videoWrappr">
          <div class="relposiWrap">
            <video *ngIf="type == 'video'" #videoContainer controls data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
              <source [src]="folderContentDetail.Content && folderContentDetail.Content.ContentURL ? folderContentDetail.Content.ContentURL : ''" type="video/mp4">
            </video>
            <embed *ngIf="type == 'docs'" [src]="contentUrl" height="400px" width="400px">
            <img *ngIf="type == 'image'" [src]="folderContentDetail.Content && folderContentDetail.Content.ContentURL ? folderContentDetail.Content.ContentURL : ''">           
          </div>
          <!-- <h4>Action Inside an Indian Restaurant Bradford Zouk Tea Bar & Grill, U.K.</h4> -->
          <p>
            <strong>
              {{folderContentDetail.Content && folderContentDetail.Content.ViewCount ? folderContentDetail.Content.ViewCount : ''}} views
            </strong> |  
            <strong> 
              {{folderContentDetail.Content && folderContentDetail.Content.CreatedDate | date: 'd MMM, y'}}
            </strong>
          </p>
          <p> {{folderContentDetail.Content && folderContentDetail.Content.ContentName ? folderContentDetail.Content.ContentName : ''}}</p>
          <button *ngIf="folderContentDetail.Content && folderContentDetail.Content.QuizId > 0 && folderContentDetail.NumberOfQuizAttempts < 3 && !folderContentDetail.IsUserPassed" class="btn-info btn" (click)="playQuiz()">Play Quiz <i class="arowRight"></i></button>
        </div>
        
        <div class="vdoRightTab">
          <div class="tab-content">
            <div class="tab-pane">
              <h4>{{folderDetailData && folderDetailData.Folder ? folderDetailData.Folder.FolderName : ''}}</h4>
              <div class="divScroll">
                <div class="card" *ngFor="let contentList of playlistContentList">
                  <div class="row no-gutters">
                      <div class="col-md-5">
                        <video *ngIf="contentList.Content.MimeType.match('video') == 'video'" class="card-img-top" controls data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                          <source [src]="contentList.Content.ContentURL" [type]="contentList.MimeType">
                        </video>

                        <img *ngIf="contentList.Content.MimeType.match('image') == 'image' || contentList.Content.MimeType.match('docs') == 'docs' || contentList.Content.MimeType.match('pdf') == 'pdf' || contentList.Content.MimeType.match('text') == 'text'" [src]="contentList.Content.ThumbnailURL">
                      </div>
                      <div class="col-md-7 cursor" (click)="getPlaylistDetail(contentList.PlaylistContentMasterId)">
                          <div class="card-body">
                              <!-- <h5 class="card-title">Inside an Indian Restaurant Bradford Zouk Tea.</h5> -->
                              <p class="card-text">
                                {{contentList.Content.ViewCount}} views | 
                                {{contentList.Content.CreatedDate | date: 'd MMM, y'}}
                              </p>
                              <p class="card-text">
                                {{contentList.Content.ContentName}}
                              </p>                                  
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
       </div>
       
    </div>
  </div>