<div class="profileCol p0">
    <div class="userRightDetails">
        <div class="d-flex justify-content-between align-items-end">
            <div class="">
                <h3>{{ name }}</h3>
                <p class="status">{{ status ? "Active" : "Inactive" }}</p>
                <div class="logoCompany">
                    <img class="max-height" [src]="companyLogo ? companyLogo : '../../assets/img/noPhotoland.jpg'">
                </div>
                <p class="changeLogo" (click)="changeLogo()">
                    Change Logo
                </p>
            </div>
            <span class="edit" *ngIf="!update" (click)="update = true;">Edit</span>
        </div>
        <hr>
        <h5>About Company</h5>
        <p *ngIf="!update"> {{ aboutCompany }}</p>
        <div class="form-group" *ngIf="update">
            <textarea maxlength="500" class="form-control" [(ngModel)]="aboutCompany">{{ aboutCompany }}</textarea>
            <button class="btn btn-primary" (click)="updateAbout()">Update</button>
        </div>
    </div>
</div>
