.changeImage {
    border-radius: 0 !important;
    max-width: 150px;
    height: auto;
    max-height: 150px;
}
.changeImage img {
    border-radius: 0 !important;
}
.logoCompany{
    margin-top: 5px;
    .max-height{
        border:2px solid #afc6c6;
    }
}
.max-height {
    max-height: 140px;
}
.form-control {
    margin-bottom: 10px;
}