<div class="pageHeader minFlex">
    <div class="navbar justify-content-between align-item-center">
      <h4>Add Location</h4>
      <a routerLink="/manage-location"><span class="closeBtn"></span></a>
    </div>
  </div>
  
  <div class="relPos">
    <form [formGroup]="addLocationForm" (ngSubmit)="submitAddEditLocation(addLocationForm);">

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select"
                [formControl]="addLocationForm.controls['CountryId']" (change)="getStates($event.target.value)">
                <option value="">Select Country</option>
                <option *ngFor="let country of countries;" [value]="country.ID">{{ country.Name }}</option>
              </select>
              <div *ngFor="let messages of validationMessages.CountryId">
                <small class="text-danger"
                  *ngIf="(!isFormValid || addLocationForm.controls['CountryId'].touched || addLocationForm.controls['CountryId'].dirty) && addLocationForm.controls['CountryId'].invalid && addLocationForm.controls['CountryId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select" [formControl]="addLocationForm.controls['StateId']"
                (change)="getCities($event.target.value)">
                <option value="">Select State</option>
                <option *ngFor="let state of states;" [value]="state.ID">{{ state.Name }}</option>
              </select>
              <div *ngFor="let messages of validationMessages.StateId">
                <small class="text-danger"
                  *ngIf="(!isFormValid || addLocationForm.controls['StateId'].touched || addLocationForm.controls['StateId'].dirty) && addLocationForm.controls['StateId'].invalid && addLocationForm.controls['StateId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="wrap">
              <select name="" id="" class="control custom-select" [formControl]="addLocationForm.controls['CityId']">
                <option value="">Select City</option>
                <option *ngFor="let city of cities;" [value]="city.ID">{{ city.Name }}</option>
              </select>
              <div *ngFor="let messages of validationMessages.CityId">
                <small class="text-danger"
                  *ngIf="(!isFormValid || addLocationForm.controls['CityId'].touched || addLocationForm.controls['CityId'].dirty) && addLocationForm.controls['CityId'].invalid && addLocationForm.controls['CityId'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wrap">
              <input type="text" placeholder="Location" class="control" [formControl]="addLocationForm.controls['LocationName']">
              <div *ngFor="let messages of validationMessages.LocationName">
                <small class="text-danger"
                  *ngIf="(!isFormValid || addLocationForm.controls['LocationName'].touched || addLocationForm.controls['LocationName'].dirty) && addLocationForm.controls['LocationName'].invalid && addLocationForm.controls['LocationName'].errors[messages.type]">{{messages.message}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
				<button type="submit" class="btn btn-grn">Add Location</button>
			  </div>
        </div>
      </form>
  </div>