<div class="pageHeader conentHead">
    <div class="navbar justify-content-between align-item-center">
        <app-ng-dynamic-breadcrumb symbol="" bgColor="none" class="pageLoctin"></app-ng-dynamic-breadcrumb>
        <div class="form-inline" *ngIf="folderType != 'master'">
            <button class="btn btn-primary" (click)="createContent()">+ Create Your own content</button>
        </div>
    </div>
</div>

<div class="libDetilsView videoDetailWrap">
    <div class="ldLeft" *ngIf="folder">
        <div class="libWrapper">
            <div class="libCol orngYelw" [ngClass]="{'acitve': folder.IsSelectedFolder}">
                <div class="innerData">
                    <div class="d-flex">
                        <span></span>
                        <span>{{ folder.NumberOfContent }}</span>
                    </div>
                    <h1>{{ folder.ShortName }}</h1>
                    <p>{{ folder.Name }}</p>
                </div>
            </div>
        </div>
        <div>
            <p>
                {{ folder.Description }}
            </p>
        </div>
        <div *ngIf="folderType != 'master'">
            <label class="status-label">Select Status Of Content</label>
            <select class="select-status" (change)="changeStatus($event.target.value)">
                <option value="1" [selected]="contentDetails.Visibility == 1">Private</option>
                <option value="2" [selected]="contentDetails.Visibility == 2">Public</option>
            </select>
        </div>
    </div>

    <div class="ldRight m0">
        <div class="videoDetails" *ngIf="contentDetails">
            <div class="videoWrappr">
                <video *ngIf="type == 'video' && !contentDetails.IsYoutubeContent && !contentDetails.IsFacebookContent" #videoContainer controls data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                    <source [src]="contentDetails.ContentURL" [type]="contentDetails.MimeType">
                </video>
                <embed *ngIf="type == 'docs'" [src]="contentUrl" height="400px" width="400px">
                <img *ngIf="type == 'image'" [src]="contentDetails.ContentURL">
                <iframe *ngIf="contentDetails.IsYoutubeContent || contentDetails.IsFacebookContent" [src]="contentDetails.ContentUrl" frameborder="0" allowfullscreen></iframe>
                <h4>{{ contentDetails.ContentName }}</h4>
                <p><strong>{{ contentDetails.ViewCount }} views</strong> | <strong>{{ contentDetails.CreatedDate | date: "mediumDate" }}</strong></p>
                <p>{{ contentDetails.ContentDescription }}</p>
                <button class="btn btn-primary" *ngIf="!contentDetails.IsPublished && folderType != 'master'" (click)="publishContent()">Publish</button>
                <button class="btn-info btn" (click)="openCreateQuiz()" *ngIf="!contentDetails.QuizId && folderType != 'master'">Create Quiz <i class="arowRight"></i></button>
                <button class="btn-info btn" (click)="broadcast()" *ngIf="folderType != 'master'">{{ contentDetails.IsBroadcasted ? "Unbroadcast" : "Broadcast" }} <i class="arowRight"></i></button>
                <button class="btn-info btn" (click)="viewQuiz()" *ngIf="contentDetails.QuizId">View Quiz <i class="arowRight"></i></button>
            </div>

            <app-content-type-based [folderType]="folderType" [folderId]="folder.FolderId" [contentId]="contentDetails.ContentId"></app-content-type-based>
        </div>
    </div>
</div>