.contest-dtl-col{
    max-width: 25%;
    padding-right: 4px;
    border-right: 1px solid #666;
    @media (max-width: 1400px){
        max-width: 30%;
    }
    @media (max-width: 1100px){
        max-width: 100%;
        margin-bottom: 20px;
        border-right: 0;
    }
    .win-dtl-row {
        position: relative;
        .win-tag {
            width: 48px;
            height: 48px;
            position: absolute;
            margin-bottom: 0;
            right: 13px;
            top: 50px;
            background: url(/assets/img/sprite.png) no-repeat;
            background-position: -424px -228px;  
        }
        &.t45 .win-tag{top:-45px;right: -8px;}
    }
}
.contest-list-col{
    // max-width: calc(75% - 5px);
    flex:1;
    margin-left: 5px;
    @media (max-width: 1400px){
        max-width: calc(70% - 5px);
    }
    @media (max-width: 1100px){
        max-width: 100%;
        margin-left: 0;
    }
}
.entries-col{
    .win-dtl-row {
        position: relative;

        h5.win-lbl {
            font-size: 16px;
            font-weight: 700;
            color: #61A679;
            margin-bottom: 0;
            display: inline-block;    
            position: relative;
            top: 17px;
        }

        .win-tag {
            width: 48px;
            height: 48px;
            position: absolute;
            margin-bottom: 0;
            right: 13px;
            top: 23px;
            background: url(/assets/img/sprite.png) no-repeat;
            background-position: -424px -228px;  
        }
    }
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    @media (max-width: 1400px){
        width: calc(100% / 2 - 20px);
    }
    @media (max-width: 1100px){
        width: calc(100% / 1 - 20px);
    }
}
.top-breadcrum-section {
    display: flex;
    align-items: center;
    background: #e5f2f2;
    padding: 30px 40px;
    position: relative;

    .breadcum-col {
        color: #1F6575;
        font-size: 14px;

        .breadcum-txt {
            color: #1F6575;
            font-size: 14px;
            margin-right: 10px;
        }
        i.fa {
            margin-right: 10px;
        }
        a, .link {
            color: #1F6575;
            cursor: pointer;
        }
        .current {
            font-weight: 600;
        }
    }/** breadcum-col **/

    .closeBtn {
        position: absolute;
        right: 15px;
        bottom: 30px;
    }
}

.contest-dtl-container {
    padding: 20px 40px;
    .box-title {
        cursor: default !important;
    }
    img[src=""] {
        background: #83A6A6;
    }

    h3.title-lbl {
        font-size: 16px;
        color: #1f6575;
        font-weight: bold;
        margin: 15px 0 0;
        display: inline;
    }
    .point {
        color: #1F6575;
    }
    .btn-view-points {
        background: #6ABCCE;
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
        border-radius: 0 0 !important;

        &:hover {
            background: #58aabd;
        }
    } 
    .contest-list-col {
        .top-frame {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0 15px;
        }
        .top-frame h3 {
            font-size: 18px !important;
        }
        .form-inline {
            .form-control {
                min-width: 170px;
            }
        }
    }
    

    .listCol {
        padding-bottom: 5px;

        .user-name {
            display: flex;
            justify-content: space-between;
            align-content: center;            
            padding-bottom: 10px;
            
            a {
                color: #1F6575;
                text-decoration: none;
                cursor: text;
            }

            .pic-block {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-right: 10px;
                overflow: hidden;
                position: relative;
            }
            .name {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .chalange-end-frame {
            position: relative;
            margin: 10px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #BED1D1;

            .chalange-dtl-col {
                width: calc(100% - 60px);
                position: relative;
                padding-left: 37px;
                
                &::before {
                    content:'';
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    background: url(/assets/img/sprite.png) no-repeat;
                    background-position: -770px -250px;  
                }

                .lbl, .date {
                    display: block;
                }
                .lbl {
                    font-size: 12px;
                    margin-bottom: 0;
                }
                .date {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.3;
                }
            }

            .rules-lbl {
                width: 55px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: 12px;
                color: #666;
                font-weight: bold;
                padding-left: 18px;
                cursor: pointer;             

                &:before {
                    content:'';
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 0;
                    top: 3px;
                    background: url(/assets/img/sprite.png) no-repeat;
                    background-position: -607px -381px;                        
                }
                a { color: #666; }
            }
        }// chalange-end-frame //

        .tag-listing { 
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;
            border-bottom: 1px solid #BED1D1;
            
            .tag {
                background: #E5F2F2;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: bold;
                color: #666;
                margin: 0 4px 4px 0;
            }                
        }//tag-listing End//

        .social-share-frame {
            display: flex;
            justify-content: space-between;
            align-content: center;                

            .lbl {
                margin-bottom: 0;
                margin-top: 8px;
                font-size: 14px;
                font-weight: bold;
                color: #666;
            }
            .social-icons {
                margin-bottom: 0;
                align-items: center;
                .bcast{display: inline-block;height: 24px;width: 24px;background: url(/assets/img/broadcast.png) no-repeat;margin-right: 4px;}
            }
            .scl-icon {
                width: 24px;
                height: 23px;
                display: inline-block;
                position: relative;
                margin: 10px 10px 0 0;                    
                background: url(/assets/img/sprite.png) no-repeat;
            }
            .twitter {
                background-position:  -630px -373px;
                margin-right: 8px;
            }
            .facebook {
                background-position: -660px -373px;
            }
        }//Social Share Frame End//

        .btn.btn-view-contest {
            width: 100%;
            margin: 10px 0;
            color: #fff;
            font-weight: 500;
            background: #6ABCCE;
            border-radius: 2px !important;
        }

        .view-contest-content-frame {
            border-top: 1px solid #afc6c6;
            padding-top: 10px;
            margin-top: 5px;
            .user-name {
                border-bottom: 0 none;
                padding-bottom: 0;
            }

            .box-title {
                a {
                    color: #C32A2E;
                    word-wrap: break-word;
                }
            }
            .video-frame {
                padding: 12px 0;
                border: 0 none;
            }
            
        }
    }// List Col End//

    .listCol:hover {
        border: 2px solid #c8d6d6;
    }
    .listCol.active {
        border: 6px solid url(/assets/img/grnbluBg.JPG);
        border: 6px solid transparent;
        box-shadow: 0px 5px 15px #ccc;
        border-image: url(/assets/img/grnbluBg.JPG) 1 round;
        border-radius: 4px;
    }

    

    .box-title {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 0;
        cursor: pointer;
        color: #1f6575;
    
        a {
            color: #1f6575;
            text-decoration: none;
        }
    }
    .lbl-txt {
        color: #7b7b7b;
        font-size: 14px;
        line-height: 1.2;
        margin: 5px 0 0;
        word-wrap: break-word;
    }
    
    .video-frame {
        margin: 6px 0;
        padding: 10px 0;
        border-bottom: 1px solid #BED1D1;
    
        video, iframe, .video-container {
            // width: 100%;
            // position: relative;
        }
        .video-container {
            cursor: pointer;
    
            .play-btn {
                background: url(/assets/img/sprite.png) no-repeat -652px -174px;
                width: 41px;
                height: 32px;
                margin: auto;
                display: block;
                position: absolute;
                left: 50%;
                top: 51%;
                cursor: pointer;
                transform: translate(-50%, -50%);
                
            }
        }
        
        .video-dtl-frame {
            padding: 10px 0;
            color: #666666;
            border-bottom: 1px solid #BED1D1;

            .vid-title {
                font-size: 16px;
                font-weight: bold;
                word-wrap: break-word;
            }
            .vid-desc {
                font-size: 12px;
                margin-bottom: 0;
                word-wrap: break-word;
            }
        }
        .social-share-count {
            display: flex;
            justify-content: space-between;                    
            padding-top: 10px;
            align-items: center;
    
            .social-lbl {
                font-size: 12px;
                font-weight: 500;
                display: flex;
                align-content: center;
    
                .sprite {
                    width: 20px;
                    max-height: 20px;
                    margin-right: 4px;
                    background: url(/assets/img/sprite.png) no-repeat;
                }
                .icon-like {
                    background-position: -487px -377px;
                }
                .icon-view {
                    width: 24px;
                    background-position: -539px -379px;
                }
                .icon-user {
                    background-position: -516px -379px;
                    width: 16px;
                }
            }
        }
    }// Video Frame //
}

.is-liked {
    color: #007bff !important;
    font-weight: 600;
}

.is-liked:hover {
    color: #007bff !important;
    font-weight: 600;
}

@media (max-width: 1100px){
    .contest-dtl-container .top-frame{align-items: center;}
    .contest-dtl-container .top-frame h3.title-lbl{margin-top: 0;}
}
@media (max-width: 640px){
    .contest-dtl-container .top-frame{flex-direction: column;align-items: flex-start;}
    .contest-dtl-container .top-frame h3.title-lbl{margin-bottom: 10px;}
}