<section class="top-breadcrum-section" *ngIf="gameData">
    <div class="breadcum-col">
        <span class="breadcum-txt link" routerLink="/brandworks-play">Back To Topics</span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="breadcum-txt current">{{ gameData.Name }}</span>
    </div>
    <span class="icon-close closeBtn" routerLink="/brandworks-play"></span>
</section><!-- top-breadcrum-section End// -->

<div class="container-fluid contest-dtl-container">
    <div class="row contest-dtl-row">
        <section class="contest-dtl-col" *ngIf="gameData">
            
            <h3 class="title-lbl">Topic Challenge</h3><span class="point"> | You earned {{ gameData.EarnedPoints }} pts</span>
            <div class="listCol">
                <div class="win-dtl-row t45" *ngIf="gameData.IsWinner">
                    <label class="win-tag"></label>
                </div>
                <div class="user-name">
                    <span>
                        <img [src]="gameData.ProfilePicture" class="pic-block" />
                        <span class="name">{{ gameData.FirstName + " " + gameData.LastName }}</span>
                    </span>
                </div><!-- user-name/ -->
                <h2 class="box-title">{{ gameData.Name }}</h2>
                <p class="lbl-txt">{{ gameData.Description }}</p>
                <div class="video-frame">
                    <div class="video-container" data-toggle="modal" focus-element="autofocus"
                        data-target=".bs-video-modal-lg" (click)="openVideo(gameData)">
                        <img [src]="gameData.ThumbnailUrl" alt="dummy Video Img" class="dummy-img" />
                        <span class="play-btn"></span>
                    </div><!-- video-frame End// -->
                    <div class="social-share-count">
                        <a class="social-lbl like" (click)="like()" [ngClass]="{'is-liked': gameData.IsLikedByUser}">
                            <i class="sprite icon-like"></i>
                            <span class="text">{{ gameData.Likes }} {{ gameData.Likes > 1 ? "Likes" : "Like"}}</span>
                        </a>
                        <a class="social-lbl views">
                            <i class="sprite icon-view"></i>
                            <span class="text">{{ gameData.Views }} Views</span>
                        </a>
                        <a class="social-lbl users">
                            <i class="sprite icon-user"></i>
                            <span class="text">{{ gameData.Users }} Users</span>
                        </a>
                    </div>
                </div><!-- Video Frame End// -->

                <div class="chalange-end-frame">
                    <div class="chalange-dtl-col">
                        <label class="lbl">Topic Ends on</label>
                        <strong class="date">{{ gameData.EndDate | date: "mediumDate" }} at
                            {{ gameData.EndDate | date: "shortTime" }}</strong>
                    </div>
                    <label class="rules-lbl" data-toggle="modal" focus-element="autofocus"
                        data-target=".bs-rules-modal-lg" (click)="openRules()">
                        <span>Rules</span>
                    </label>
                </div><!-- chalange-end-frame// -->

                <div class="tag-listing" *ngIf="gameData.Tags && gameData.Tags?.length > 0">
                    <span class="tag" *ngFor="let tag of gameData.Tags">{{ tag.Name 
                        + " " }}</span>
                </div><!-- tag-listing End// -->

                <div class="social-share-frame">
                    <label class="lbl">Share</label>
                    <p class="social-icons">
                        <a *ngIf="gameData.IsCreator && !gameData.IsBroadCasted" (click)="broadcast()">
                            <i class="bcast" data-tooltip-text="Broadcast" aria-hidden="true"></i>
                        </a>
                        <app-social-share [contentId]="gameData.ContestId" [type]="2"></app-social-share>
                    </p>
                </div><!-- social-share-frame End// -->
            </div><!-- listCol End// -->

            <div class="btn-frame">
                <button class="btn btn-view-points w-100" routerLink="/earned-points">View Your Points</button>
            </div>
        </section><!-- contest-dtl-col// -->

        <section class="contest-list-col">
            <div class="top-frame">
                <h3 class="title-lbl">Topic Entries</h3>

                <div class="form-inline">
                    <label for="">Search :</label>
                    <input class="form-control cust-field w320 searchIco ml-2" type="search" placeholder="Search"
                        aria-label="Search" #searchText>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" *ngIf="gameEntries?.length > 0">
                    <section class="entries-col" *ngFor="let data of gameEntries; let i = index;">
                        <div class="win-dtl-row" *ngIf="data.IsWinner">
                            <h5 class="win-lbl">Win {{ data.Points }} pts</h5>
                            <label class="win-tag"></label>
                        </div>
                        <div class="listCol">
                            <div class="user-name">
                                <a href="javascript:void(0)">
                                    <img [src]="data.ProfilePicture" class="pic-block" />
                                    <span class="name">{{ data.FirstName + " " + data.LastName }}</span>
                                </a>
                            </div><!-- user-name/ -->
                            <div class="video-frame">
                                <div class="video-container" data-toggle="modal" focus-element="autofocus"
                                    data-target=".bs-video-modal-lg" (click)="openVideo(data,i+1)">
                                    <img [src]="data.ThumbnailUrl" alt="dummy Video Img" class="dummy-img" />
                                    <span class="play-btn"></span>
                                </div><!-- video-frame End// -->
                                <div class="video-dtl-frame">
                                    <h4 class="vid-title">{{ data.Name }}</h4>
                                    <p class="vid-desc">
                                        {{ data.Description }}
                                    </p>
                                </div>
                                <div class="social-share-count">
                                    <a class="social-lbl like" (click)="like(i, true)"
                                        [ngClass]="{'is-liked': data.IsLikedByUser}">
                                        <i class="sprite icon-like"></i>
                                        <strong class="text">{{ data.Likes }}
                                            {{ data.Likes > 1 ? "Likes" : "Like"}}</strong>
                                    </a>
                                    <a class="social-lbl views">
                                        <i class="sprite icon-view"></i>
                                        <strong class="text">{{ data.Views }} Views</strong>
                                    </a>
                                </div>
                            </div><!-- Video Frame End// -->

                            <div class="social-share-frame">
                                <label class="lbl">Share</label>
                                <p class="social-icons">
                                    <a *ngIf="!data.IsBroadCasted && (roleID == 2 || roleID == 3)" (click)="broadcast(i+1)">
                                        <i class="bcast" data-tooltip-text="Broadcast" aria-hidden="true"></i>
                                    </a>
                                    <app-social-share [contentId]="data.ContestEntryId" [type]="3"></app-social-share>
                                    <select (change)="changeStatus(i, $event.target.value)" *ngIf="data.IsCreator">
                                        <option value="1" [selected]="data.Visibility == 1">Private</option>
                                        <option value="2" [selected]="data.Visibility == 2">Public</option>
                                    </select>
                                </p>
                            </div><!-- social-share-frame End// -->
                        </div><!-- listCol End// -->
                    </section><!-- Entries Col End//-->
                </div><!-- Row End// -->
            </div>
        </section><!-- contest-list-col// -->
    </div><!-- contest-dtl-row// -->
</div><!-- contest-dtl-container// -->